[2016-01-12 22:36] ronaldoats opened #489 "close to the system tray"
Seria bien que haga eso.
System Tray.

[2016-01-18 11:31] SLiX69 opened #490 "playlist loading improvement"
Hi, I use the 'add to playlist' function very often (every time a song sounds good to me).
If i click the 'add to playlist' button, it takes about 10 seconds to load the playlist (way to long in my opinion)

I don't  want to report a bug, cause the issue is on soundcloud side, so it is more a feature request.

Playlists are loading generally slow, but on soundcloud they have a work around for this

[2016-01-19 15:01] nebulade commented on #454
Duplicate of #445

[2016-01-19 15:02] nebulade commented on #488
Duplicate of #445

[2016-01-19 15:04] nebulade commented on #445
I have the same issue, they do not work for me. I am on Archlinux, using soundnode 0.6.1.
There is also no indication of any issue in the terminal output.

Anything I can help with debugging?

[2016-01-19 20:47] #483 closed

[2016-01-19 20:48] weblancaster commented on #483
This was implemented and will be added to the next release.

[2016-01-22 17:43] cdtinney opened #494 "App CSS does not load - initial installation"
Hi,

First time attempting to install and and run this application. Running into a problem where the CSS does not load. See attached picture.

Windows 7 x64.

Is there a step I may have missed? No errors logged
![soundnode_bug](https://cloud.githubusercontent.com/assets/3266047/12518275/ab5aa0f6-c105-11e5-9ae3-9d1671670ac2.png)
 when installing or running.

[2016-01-22 17:46] cdtinney commented on #494
Beginning of the "npm install" output indicates some warnings:

npm WARN deprecated lodash@0.9.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0
npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0
npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN install C

[2016-01-22 17:47] weblancaster commented on #494
@cdtinney those are just warnings.. so nothing to worry about.

Now try running `grunt dev` that should build the css files.

[2016-01-22 17:48] cdtinney commented on #494
Works now - thanks a lot. Missed that step - my apologies.

[2016-01-22 17:48] #494 closed

[2016-01-22 17:52] weblancaster commented on #494
no problem

[2016-01-22 18:07] cdtinney commented on #494
Is it possible to have the application update its views if I modify CSS without relaunching?

Or do I just keep "grunt watch" running continuously and close/open the application each time I make a change?

Sorry if this is not the right place to ask questions.

[2016-01-22 18:17] Pitros commented on #494
@cdtinney use `location.reload()` in console (inside Dev Tools)

[2016-01-22 18:18] weblancaster commented on #494
@cdtinney So far we haven't add anything to reload automatically.. but what I do is just open the devtools and refresh (command + R).. or I do the changes in the devtools then copy over to the original file

[2016-01-22 19:03] cdtinney opened #495 "[BUG] Cannot unlike a track from track view"
Cannot unlike tracks from track view

Version: source (newest revision)
OS: Windows 7 x64

Steps to reproduce:
1) Open a track.
2) Click the "Like" button in the top right. A notification appears stating "Success! Song added to likes".
3) The button label changes to "Liked". If I hover, it changes to "Unlike".
4) Click the "Unlike" button.
5) "Success! Song added to likes" notification appears aga

[2016-01-22 19:06] cdtinney commented on #487
Currently, if you filter tracks (e.g. by > 30 minutes), only the tracks that have already been loaded onto the page are shown. You can no longer scroll (via pagination) to load more.

Would this enhancement solve this?

[2016-01-22 19:21] cdtinney opened #496 "[FEATURE SUGGESTION] Search and sort comments"
1) It would be useful to be able to search comments (e.g. "ID" or artist names). This is primarily useful for searching for comments identifying tracks in mixes/sets/podcasts/etc.

2) The ability to sort comments by either time (within the track) or time posted. Currently, they are automatically sorted by the time posted, with the most recent comments first.

[2016-01-22 21:35] Pitros commented on #487
If we add filtering using API it will only affect search and tag view (limitations of API), and that will each time return only tracks with are longer than X mins. Current implementation only hides tracks from actual track list (API returns all tracks) that's the main difference.
The other thing is, that currently pagination works partially - infinite loader breaks when there's no ability to scrol

[2016-01-22 22:49] cdtinney commented on #487
That makes sense  - thank you.

As far as sliders/inputs go, how does this look?

![filters_2](https://cloud.githubusercontent.com/assets/3266047/12525178/6b447d0e-c130-11e5-907f-367a1e5e2c61.png)

Should the input boxes be styled a different colour? I was unsure whether to add a dropdown for minimum/maximum (for length and listens). It would provide a bit more flexibility but would require more s

[2016-01-22 22:55] weblancaster commented on #487
No input texts to enter custom numbers.. that makes the UI too noise

[2016-01-22 23:09] cdtinney commented on #487
Okay. For sliders - what would be the min and max?

Length - 6hr45 is the maximum length allowed by SC.
Listens - Not sure what would be appropriate.

[2016-01-22 23:19] Pitros commented on #487
Sliders are wrong too, I thought about few ideas and clickable text with dropdown to choose between few options would be the best way. Something similar to what soundcloud already have.

That will obviously require some custom javascript code and styling but will be the most minimalistic way to do it, as well ux/ui friendly.

I wanted to find nice demo for you guys but I was unable to find where I

[2016-01-22 23:20] cdtinney commented on #487
@Pitros by "few options" you mean there is no user input at all?

[2016-01-22 23:52] Pitros commented on #487
Do you need to enter exact filter data? Let's say tracks from 4 to 8 mins long? Probably not so you will fit into eg. Less than 10 mins long etc. Keep in mind that you're still looking for music or podcasts.

Most likely no-one would use custom inputs, but it still might be an option - last one from list, as a pop-up or something. But from my perspective that might not be used at all.

So what you

[2016-01-23 00:05] cdtinney commented on #487
Yes, I think you're correct. I see a couple scenarios:

1) > 30 seconds/1 minute to filter out "preview" tracks/snippets
2) Less than 10-15 minutes (likely a track)
3) Greater than 30 (mixes, sets, etc.)

I guess these three don't warrant a custom input, but I do like the idea of the last element in a dropdown being an input box. I am sure that is possible with a jQuery dropdown plugin.

[2016-01-23 01:26] cdtinney commented on #327
SoundCloud does not verify users, so this is not possible. The best you could do is mark users that have paid for the "Pro" service (most professional artists) but you can't check this via the API either.

[2016-01-23 02:10] cdtinney commented on #445
Having the same issue on Windows 7.

If I have my media player open (which has bindings for media controls), I sometimes receive a segmentation fault as well, crashing Soundnode.

[2016-01-23 06:41] wb9688 commented on #487
I was thinking of a dropdown with the options that @cdtinney mentioned + a
"custom" option, where you have to type the range yourself...
Op 23 jan. 2016 01:05 schreef "Colin Tinney" <notifications@github.com>:

[2016-01-24 10:58] Pitros commented on #327
@cdtinney API gives information about user subscription plans.

[2016-01-25 03:58] CaioBianchi opened #498 "[FEATURE REQUEST] Needs a better icon"
It's barely visible right now on my dock. Plus, it doesn't resemble SoundCloud at all.

![screen shot 2016-01-24 at 10 56 27 pm](https://cloud.githubusercontent.com/assets/681326/12542178/ce3c927a-c2ed-11e5-907a-3d4e33fa0356.png)

[2016-01-25 03:59] contra opened #499 "header icons are ovals not circles"
![](https://cldup.com/XnlFTnma3u-3000x3000.png)

looks kind of wonky

[2016-01-25 04:26] weblancaster commented on #499
Mac or Win? @contra

[2016-01-25 04:29] weblancaster commented on #498
We are working on changing the icon.. and we are not trying to resemble Soundcloud we just use their API to be able to build the Desktop App.

[2016-01-25 04:35] #495 closed

[2016-01-25 04:36] weblancaster commented on #499
nvm.. I just noticed on Mac..

[2016-01-25 04:42] #499 closed

[2016-01-25 04:43] weblancaster commented on #499
this fix will be released in the next version.. thanks @contra

[2016-01-25 05:14] hmaesta opened #501 "OS X close/minimize/maximize buttons too big"
The **close, minimize, maximize buttons are too big in OS X**, not following the [OS X Human Interface Guidelines](https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/WindowTitleBarToolbar.html#//apple_ref/doc/uid/20000957-CH39-SW1).

Comparative below:

![im](https://cloud.githubusercontent.com/assets/741969/12542990/2896cce8-c309-11e5-9a99-75902c44ff88

[2016-01-25 08:03] edisonchee commented on #484
Seems trivial. The SoundCloud track resource is a JSON object which has track duration attribute, of which the app is already making use

[2016-01-25 09:58] jeremy-bruns commented on #447
check out mycloudplayers.com for an example, great filters!

[2016-01-25 10:08] atanasbozhkov opened #502 "Settings for HTTP Proxy."
It would be nice if we could configure a http/s proxy. This would make it usable for all those people sitting behind corporate firewalls.
Would it be straightforward to add a setting that we can tweak in a config file?

Furthermore - when I launch the app from behind a firewall it just comes up with a blank screen. It might be good to implement a simple connectivity check and display an error mess

[2016-01-25 11:29] loretoparisi opened #503 "Uncaught TypeError: Cannot read property 'visitor' of undefined"
I get this error when running with

`nwjs-v0.12.3-osx-x64/nwjs.app/Contents/MacOS/nwjs`

[code]

[2016-01-25 11:43] majksner opened #504 "Chromecast audio support"
Any plans for Chromecast Audio support?

[2016-01-25 11:44] ahmedlhanafy opened #505 "Please style the close, minimize and maximize buttons as the default system just like spotify or popcorn time"
These buttons have a weird shape I think they'd be as the default system at least for mac and windows

[2016-01-25 11:45] Faiz7412 opened #506 "[Feature suggestion] Adding keybindings for the host operating system."
It'd be great if there are key shortcuts for pause, stop, or next song.

[2016-01-25 12:28] sktguha commented on #506
:+1:

[2016-01-25 12:31] flexid commented on #504
It would be great to have a Cast / Airplay option.

[2016-01-25 12:39] valpinkman commented on #506
There are shortcuts, they are the same as soundcloud's website

[2016-01-25 12:42] Faiz7412 commented on #506
I didn't know if there were already shortcuts. But I'm talking about using the fn key for handling all that like we use in normal media player (ex. Rhythmbox in ubuntu)

[2016-01-25 12:48] theblixguy commented on #505
Agreed, looks ugly right now, please use default style

[2016-01-25 12:56] jvandenaardweg commented on #504
+1 ! Would be great!

[2016-01-25 13:02] jcvangent opened #508 "Mixcloud"
Can someone add mixcloud support into this one as well, that would be even more epic! ^_^

[2016-01-25 13:16] ErikFontanel opened #509 "[Feature] Search in likes"
I've accumulated a very long list of likes and it's a real hassle to find tracks I've liked a few weeks/months ago. It'd be great if it's possible to do a keyword search through likes.

[2016-01-25 13:28] om26er opened #510 "Need DPI scaling"
Hi!

I loved the App, worked well on a Linux distro. But the problem is the app does not scale on hidpi screens. So I am see very small, everything.

Could you please add DPI scaling? Telegram Desktop App on linux does DPI scaling so you might want to take that as an example. In the best case scenario, the app would just the OS dpi settings, but I am not sure if that's possible for the technologie

[2016-01-25 13:34] tiborsaas commented on #508
Mixcloud does not allow streaming throuh API unfortunately.

[2016-01-25 13:40] matt-curtis commented on #509
Yeah. I've been using monthly playlists to combat this problem, but it still sucks. Also Soundcloud's Likes API seems to be very rigid in terms of how you get results (batched, you can't specify date, etc.)

[2016-01-25 14:42] pussinboot opened #511 "[FEATURE SUGGESTION] last.fm scrobbling"

[2016-01-25 16:01] noahrinehart opened #512 "[Feature Suggestion] Show number of plays next to song in stream/likes"
Seems like a basic feature to show how may plays a song has, or favorites for that matter.
I'm surprised this hasn't been suggested earlier.

[2016-01-25 16:26] mdtusz commented on #481
@weblancaster looks like the cask package is pointing to `http://www.soundnodeapp.com/downloads/mac/Soundnode-App.zip`, but I see that on the downloads page, the OSX link is to `http://goo.gl/wDlo2c`.

If this is or can be changed to a static url for all future releases, I'd be happy to update the cask to reflect it.

[2016-01-25 16:32] theaccordance commented on #481
have at it :)

[2016-01-25 16:42] weblancaster commented on #481
@mdtusz I will change to a static link.. I don't need short link version anymore.

I will get back to you once I do that.

[2016-01-25 17:16] weblancaster commented on #508
Thanks for answering @tiborsaas

[2016-01-25 17:16] #508 closed

[2016-01-25 17:52] bellwood opened #513 "[Feature] smart playlists"
The current stream is way too busy if you want a simple list of specific artists podcasts or radio shows.

Right now I'm using youtube-dl to grab content via cron and moving stuff around.

It would be fantastic to have a unique feature where by you could "watch" an artist(s) and based upon some basic string/regex it will throw just that content into a playlist for easy listening.

Think of it as s

[2016-01-25 17:58] ahmedlhanafy opened #514 "Disable dragging MAIN menu items."
Add  -webkit-user-drag: none; to
.mainNav_button{
  -webkit-user-drag: none;
}

[2016-01-25 18:27] SilvM commented on #504
+1 Chromecast support would be awesome

[2016-01-25 18:36] tgjohnst commented on #347
I, too, use explore 90% of my SoundCloud time to play through the trending tracks playlists for various genres to discover new music. It would be wonderful if this were implemented at some point as right now I've had to go back to my hacky Fluid app as my only way to access SoundCloud Explore outside of my browser.

[2016-01-25 20:41] audacioustux opened #515 "[FEATURE SUGGESTION] media control in unity panel"
Please add media control panel like [this](http://i.stack.imgur.com/hvh8T.png)...

[2016-01-25 20:44] Pitros opened #516 "[BUG] Onmouse event for scrubbing doesnt end after leaving window"
If you scrub track max to the beginning and you release mouse button after the cursor left soundnode window the mouse event won't end - so later when you hover on progress bar you will constantly scrub trough track.
I might have some time to fix it (stop event after hitting 0 or max timespan), but I'm letting you know.

[2016-01-25 21:55] Chokapix commented on #511
+1

[2016-01-25 21:58] vulture916 opened #518 "[Improvement] Remove song from Playlist"
Not sure if this was intentional or not, but it is sort of a pain when trying to remove multiple songs from a playlist:

After removing a song from a specific playlist, Soundnode takes you back to a list of all playlists, rather than staying in the current playlist.

[2016-01-25 22:06] weblancaster commented on #511
Sorry @pussinboot and @Chokapix but we are trying to keep Soundnode focused on Soundcloud.

[2016-01-25 22:06] #511 closed

[2016-01-25 22:08] satyakb opened #519 "[BUG] Next/Prev hotkeys on Mac moves queue twice"
When using the cmd + right and cmd + left hotkeys on a Mac, the queue moves forward/backward twice, instead of just once. This behavior is only

Version: Release 0.5.7 for Mac
Downloaded from: soundnodeapp.com
OS: Mac

How to reproduce:
 - Open Soundnode App on a Mac
 - Play any song
 - Hit "cmd + right"
 - Hit "cmd + left"

Actual result:
 - It skips forward two songs and then skips backward two

[2016-01-25 22:09] weblancaster commented on #518
This is intentional @vulture916 we reload the view to "get" the latest. I guess we can improve that not reloading the view (I changed the title to improvement) and just remove the track from the list.

[2016-01-25 22:11] weblancaster commented on #519
@satyakb we are not maintain version 0.2.7 anymore.. I would suggest download the latest version.

[2016-01-25 22:14] weblancaster commented on #505
we will fix that.. this a duplicated issue though #501

[2016-01-25 22:14] #505 closed

[2016-01-25 22:15] vulture916 commented on #518
Right on - forgive the misclassification. This is my first "contribution" to any sort of project (I'm just learning to code, but love finding bugs) because your app is awesome.

Keep up the great work, man!

[2016-01-25 22:15] satyakb commented on #519
Sorry, I forgot to change that part of the template in CONTRIBUTING.md. I'm actually using version 0.5.7 for Mac.

[2016-01-25 22:16] weblancaster commented on #518
Thanks a lot for the feedback @vulture916

[2016-01-25 22:20] weblancaster commented on #484
Feel free to work on it @edisonchee

[2016-01-25 22:25] weblancaster commented on #506
There is shortcuts in place.. I'm going to add a "help" page though to show what are those for.

[2016-01-25 23:39] daxlab opened #521 "[INSTALL] How to install this from source code (ubuntu 64 bit)?"

[2016-01-25 23:40] weblancaster commented on #521
https://github.com/Soundnode/soundnode-app/wiki/Development let me know if you have any problem.. cc ( @jakejarrett )

[2016-01-25 23:40] #521 closed

[2016-01-26 00:36] jakejarrett commented on #521
@weblancaster I'll make a new VM and write down the dependencies needed :+1:

[2016-01-26 01:08] weblancaster commented on #521
Aren't you on Linux @jakejarrett ?

[2016-01-26 01:10] jakejarrett commented on #521
@weblancaster Yeah, but it'd be easier to write down which ones would be needed if i start from scratch (EG/ @daxlab might not have webpack installed)

[2016-01-26 01:10] weblancaster commented on #521
got it @jakejarrett cool.. thanks!

[2016-01-26 01:51] extensionsapp opened #522 "[Feature] Add charts"
Hi.

Nice app!

Add charts - https://soundcloud.com/charts/top

[2016-01-26 02:18] jakejarrett commented on #521
for grunt build to pass, You need webpack & grunt-cli install  globally.

I'm using nvm w/ Node v5 installed on the VM, and i get some errors (async missing)

Only need to add webpack to the requirements to build :+1:

[2016-01-26 03:18] Avishai2112 opened #524 "Stuck at "Authentificating your Soundcloud account" when developing locally"

[2016-01-26 03:37] jakejarrett commented on #524
Is this a build from the website & which operating system are you using?

[2016-01-26 03:43] weblancaster commented on #521
great thanks a lot @jakejarrett

[2016-01-26 03:44] weblancaster commented on #524
what option you tried to login.. `facebook` or `google` or `soundcloud account`

[2016-01-26 04:22] nabn opened #525 "[FEATURE SUGGESTION] last.fm integration"
I'm sure many users like me would like to enable last.fm scrobbling in all our audio sources.

If I have the official last.fm app installed on my device, it should catch track reported from the app and scrobble it. Still, it'd be nice to have the feature built in to the app.

[2016-01-26 04:23] #525 closed

[2016-01-26 04:23] nabn commented on #525
Didn't see that it was already on the works. sorry.

[2016-01-26 05:08] cdtinney commented on #327
@Pitros I see the *plan* property under the */me* endpoint, but not */user*. So you could only check the user subscription plan for yourself. Is that incorrect?

[2016-01-26 05:47] AhmedAtef07 opened #526 "[Feature Requst] Pasting SoundCloud link opens the song immediately"
Pasting a link anywhere, where there is no focus, opens the song if the link is valid.

[2016-01-26 06:05] jakejarrett commented on #510
You can currently scale the app With Control & + / -

[2016-01-26 07:21] Avishai2112 commented on #524
Hi, ya its the Windows build from the website ; i mean i didn't get any form to choose an option or anything about the connection to my soundcloud ... everytime i launch the exe file i stuck in the loading screen "Authenticating your soundcloud account"

[2016-01-26 07:31] christopherturner opened #527 "[FEATURE SUGGESTION] Offline Syncing"
Similarly to how Spotify can sync content locally for playback without an internet connection, a nice feature for future implementation in Soundnode would be offline syncing/playback.  One could do this song-by-song, for all of the songs in a particular playlist, or for all of the uploads by a particular user.

Thanks for all of the hardwork so far :+1:  Thoughts?

[2016-01-26 07:34] christopherturner commented on #498
:+1:

[2016-01-26 07:34] christopherturner commented on #484
This would be nice; looking forward to seeing it implemented.

[2016-01-26 07:36] christopherturner commented on #444
:+1:

[2016-01-26 08:35] killiansc opened #528 "Clicking on an artist name doesn't redirect to his page"
When going on the page where you can find all the artists you follow, you must click on the artist image to be redirected to his page. However, the mouse changes when hovering his name: it could be better if clicking on his name had the same behaviour as clicking on his image.
I can implement it if needed.

[2016-01-26 10:46] kjutbring commented on #527
This will violate the API terms of use of Soundcloud. See under "Caching and Downloading". https://developers.soundcloud.com/docs/api/terms-of-use

[2016-01-26 11:07] hassanzayan opened #529 "[Suggestion]"
when mouse hovers on a album artwork instead of the current pop up play button, use the new webkit blur filter together with a fade animation (-webkit-backdrop-filter: blur(10px);), this adds a transparent blur like in iOS and OSX. Also maybe add an option for different tile sizes.

Just noticed that when a track is on repeat the app downloads the track every time it repeats, might be troubling fo

[2016-01-26 12:53] #527 closed

[2016-01-26 13:27] kjutbring commented on #528
This could possibly also apply to when to play a song in a playlist. I.e. play song also when title is clicked. It's somewhat the same feature but on a different place.

[2016-01-26 13:55] krishnanandreddy opened #530 "[SUGGESTION]"
Allow us to add new songs to now playing instead of playlist.

[2016-01-26 14:31] loretoparisi commented on #504
According to latest NW.js beta 4 build, Chromium 48 brings Present to Cast Devices feature:
See: http://blog.chromium.org/2015/12/chrome-48-beta-present-to-cast-devices_91.html

Taken from: http://nwjs.io/blog/v0.13.0-beta4/

[2016-01-26 15:36] jghyllebert opened #531 "[FEATURE REQUEST] Full screen on mac"
At the moment it is not possible to use this app in Full screen mode.

If possible, this function should be able to be run with the shortcut "CMD + ^ + F", which is what the major apps seem to be using (eg. Chrome, Spotify, Skype, ...)

[2016-01-26 17:45] daxlab commented on #524
Me too facing same issue. Tried both building from source and website one. Linux 64 bit (Ubuntu). Node version 5.5.0

[2016-01-26 17:53] weblancaster commented on #524
Are you inside a private network? can you access Soundcloud from the same network.

[2016-01-26 17:54] weblancaster commented on #504
Great thanks @loretoparisi we will wait on that.. we have been thinking to move from NW.js to Electron.

[2016-01-26 17:55] weblancaster commented on #530
did you mean the queue list as now playing? if so you are able to do that by clicking.

[2016-01-26 17:58] weblancaster commented on #529
Interesting.. let me explore that some time.

[2016-01-26 18:01] daxlab commented on #524
Yes, I can access Soundcloud in browser. What I did was re-clone the repo in a different directory and reinstall from there, and the opens and asks for authentication but when I click on google account nothing happens.

[2016-01-26 18:06] OogieBoogieInJSON commented on #526
This might be a great improvement for UX. Many times you get a link from your friends via IM and might come handy to just paste it in the search field and auto-play. #my2cents

I'm not sure how feature/bugs get on waffle but I'd like to become a contributer and maybe I could pick this up. Any tl;dr of the process here ? @weblancaster @Pitros @jakejarrett

[2016-01-26 18:08] weblancaster commented on #526
@OogieBoogieInJSON feel free do implement this feature @OogieBoogieInJSON but we will need to review your code and test the app (of course) to make sure nothing broke or something.

[2016-01-26 18:10] OogieBoogieInJSON commented on #526
@weblancaster Sounds good!

[2016-01-26 18:11] iDuuck commented on #530
But then the whole queue is replaced with the list the song is currently in. It's a playing queue as Spotify has it.

[2016-01-26 18:13] iDuuck opened #533 "Make the title bar more appealing"
As the title says, I find the titlebar a bit ugly. Would do a pull request if accepted.

[2016-01-26 18:13] OogieBoogieInJSON opened #534 "[Feature Requst] Pasting SoundCloud link opens the song immediately"
As a user, I want to easily play a song by just pasting the soundcloud url in the search bar.

[2016-01-26 18:39] weblancaster commented on #533
Feel free to contribute @iDuuck we are just going to review the code and test the UX/UI (to see if makes sense as a use perspective)

[2016-01-26 19:15] Pitros commented on #524
@daxlab can you open dev tools (probably shortcut (`ctrl + /`) isn't working at that moment) so you would need to edit `package.json` and set `toolbar` to `true` and then give some info what shows up in console?

[2016-01-26 19:24] Pitros commented on #529
Backgdrop-filter starting from Chromium 46 is hidden behind flag, as well we're currently running Chromium 41, so we can't use it right now (first we need to move to nw.js 0.13 or electron.js).

Different size titles was mentioned before and it's still good idea, as well as list display for tracks.

[2016-01-26 19:27] jakejarrett commented on #327
@cdtinney I'm fairly certain there is a plan property when you call the users endpoint, but I could be mistaken.

[2016-01-26 19:31] Pitros commented on #504
@weblancaster nw.js seems recently really active (0.13 finally in beta) so we should check if it is really worth moving to electron.

[2016-01-26 19:35] jakejarrett commented on #515
That is added via mpris / dbus, which I plan on implementing

[2016-01-26 19:40] Pitros commented on #327
@cdtinney @jakejarrett uh, I was wrong...

SC has changed theirs API once again, earlier in each API call there was info about user subscription plan (as far as i remember), now it's gone. But something like `verified` has appeared, so they might add some day user verification.

[2016-01-26 19:41] kuhnerdm commented on #271
This looks really nice. Would be a very big step towards adoption by artists fed up with Soundcloud's front-end bugs and such.

[2016-01-26 19:41] daxlab commented on #524
@Pitros
![image](https://cloud.githubusercontent.com/assets/6784159/12592323/fc6d5bb6-c491-11e5-9aaf-f4fac0bb6701.png)

then I did, ```npm install async```

![image](https://cloud.githubusercontent.com/assets/6784159/12592454/6f69db12-c492-11e5-8a7f-4f17336e6f8d.png)

```npm install underscore``` doesn't make any difference.

[2016-01-26 19:50] jakejarrett commented on #524
Which node/npm version are you running? I'm pretty sure npm v3 installs all dependencies to the one folder which will cause a bunch of dependencies to be missing.

[2016-01-26 19:53] Pitros commented on #524
There might be an issue with `universal-analytics`, can you update node and npm to latest version and reinstall/rebuild `universal-analytics`. If that wont help, can you comment out some lines:
in: `app/public/js/system/settings.js`
```3: var ua = require('universal-analytics');```

and in `app/public/js/app.js`
[code]
And post the results.

[2016-01-26 19:56] daxlab commented on #524
node version : 5.5.0  and npm : 3.5.3

[2016-01-26 20:01] daxlab commented on #524
@Pitros after commenting above mentioned line, the app is working fine.

![image](https://cloud.githubusercontent.com/assets/6784159/12593132/862df150-c495-11e5-8c17-100744ae951f.png)

[2016-01-26 20:18] weblancaster commented on #481
I updated the website to use the absolute link.. let me know if that works

[2016-01-26 20:22] weblancaster commented on #529
@hassanzayan We can do nothing when the user have to repeat the track and Soundnode download again.. we have to stream the track from Soundcloud.. we can not download and store anywhere.

[2016-01-26 20:24] weblancaster commented on #534
No need to open another issue use #526

[2016-01-26 20:24] #534 closed

[2016-01-26 20:32] #476 closed

[2016-01-26 20:32] weblancaster commented on #476
This is fixed and will be on the next release

[2016-01-26 20:35] #519 closed

[2016-01-26 21:03] shreysaab15 opened #535 "[Feature Request] No option to play to song when going to the comments page"

[2016-01-26 21:04] imthekuni opened #536 "[Bug] Next song keyboard shortcut (Mac)"
When I try and skip to the next song on Mac (10.9.5) using keyboard shortcut (⌘→) it skips 2 songs ahead. Controlling via buttons in app has expected function (skip to next song)

[2016-01-26 21:08] weblancaster commented on #536
this is fixed @imthekuni and will be released in the next version

[2016-01-26 21:08] #536 closed

[2016-01-26 21:11] #518 closed

[2016-01-26 21:11] weblancaster commented on #518
this is done and will be released in the next version.. thanks @vulture916

[2016-01-26 21:27] #514 closed

[2016-01-26 22:21] Pitros commented on #535
I don't think, we really need to add that. So probably not going to happen, or at least not in near feature.

[2016-01-26 22:24] Avishai2112 commented on #524
After a source build its working fine for me, now i'm getting the "Connect with Soundcloud" window.

[2016-01-26 22:29] Pitros commented on #524
I would keep that open, @Avishai2112 did you just do a clean build (npm install etc.) and it started working, or you did something more?

[2016-01-26 22:30] #454 closed

[2016-01-26 22:30] #488 closed

[2016-01-26 22:35] weblancaster commented on #535
Agree with @Pitros but it's a good "nice to have" one day.

[2016-01-26 22:38] weblancaster commented on #522
I've never used (or seen) the charts section before.. looks pretty good so I will add to Soundnode soon

[2016-01-27 01:31] jakejarrett opened #540 "[Discussion] List unofficial install processes"
Given that there's projects like [Soundnode Brew](http://macappstore.org/soundnode/), [Soundnode AUR](https://aur.archlinux.org/packages/soundnode-app-bin/), [KaOS Soundnode Community Package](https://github.com/KaOS-Community-Packages/soundnode) (And potentially others, I haven't had the time to search for all packages)

Should we make a wiki page listing some of the projects for users who want t

[2016-01-27 01:32] krishnanandreddy commented on #530
weblancaster - What I mean is instead of adding a song to playlist while listening to another song, Allow us to add to "now playing" queue just like windows media player. And also background play if possible.

[2016-01-27 01:59] Riotherio commented on #498
This!

[2016-01-27 04:15] weblancaster commented on #540
Feel free to do whatever you want.

[2016-01-27 04:58] chocnut commented on #524
I can confirm, I'm using OSX El Capitan the popup window for sound cloud is not showing up.

[2016-01-27 06:19] Omgan commented on #540
Hi,
I have created the installer for Windows using inno setup.
to people to install it easily.

Installer : https://drive.google.com/file/d/0B74-lF3VDq9_eXZMUXpLaGtpUWs/view?usp=sharing
Code for installer Creation : https://drive.google.com/file/d/0B74-lF3VDq9_RzVRbnpMbkdoQ3c/view?usp=sharing

Let me know for clarification.
I don't know how to give you pull request.

Regards,
Subramaniam
subramani

[2016-01-27 06:49] wb9688 commented on #540
If we're making a Windows installer, I think that NSIS Unicode is a bit
better... I can make a NSIS Unicode installer if you want...
Op 27 jan. 2016 07:19 schreef "Omgan" <notifications@github.com>:

[2016-01-27 09:05] MyBoon commented on #526
Will love that!

[2016-01-27 09:31] wb9688 opened #541 "Unvalid license identifier in package.json"
The license property in both package.json's aren't valid, because they must be a valid [SPDX license identifier](https://spdx.org/licenses/). Currently the license property is set to `GNU`, but it must be ` GPL-3.0`.

[2016-01-27 10:48] AhmedAtef07 commented on #526
@OogieBoogieInJSON can I ask what will you do here, as I really want to help (contribute) in that.

[2016-01-27 11:51] vinkas opened #542 "Not all playlists are loading"
I have started to follow nightdrivehero but when I enter to it's page the track list is empty.

[2016-01-27 12:05] AhmedAtef07 commented on #498
+1

[2016-01-27 12:23] OogieBoogieInJSON commented on #526
Nothing much, im already done. Will make a pull request when i have some
free time.

On 12:48, Wed, Jan 27, 2016 Ahmed Atef <notifications@github.com> wrote:

[2016-01-27 12:34] bob6664569 opened #543 "[FEATURE SUGGESTION] Support LastFM API / Audioscrobbler"
It would be great to sync played tracks & loved ones with the LastFM API !

See http://www.last.fm/fr/api/scrobbling

[2016-01-27 13:41] wb9688 commented on #498
There's already #295 for this... Can someone (@weblancaster?) close this issue?

[2016-01-27 14:03] #498 closed

[2016-01-27 14:37] #522 closed

[2016-01-27 15:25] weblancaster commented on #543
Sorry @bob6664569 but we are focusing on Soundcloud only.

[2016-01-27 15:25] #543 closed

[2016-01-27 15:28] weblancaster commented on #542
Hey @vinkas we don't play playlists yet from another users nor not streamable tracks (which is not allowed).

[2016-01-27 15:28] #542 closed

[2016-01-27 15:37] bob6664569 commented on #543
Wait but... Lastfm isn't a streaming service. It's just used to keep tracks of the music you play on various supports (ie. feature supported in Spotify, on VLC, Banshee, and even some hifi players like Onkyo) : each time you play a song, you send the artist & title to the audioscrobber service for statistics, and that's it !
It would be really cool if we could keep tracks of the songs we play thro

[2016-01-27 15:42] weblancaster commented on #543
@bob6664569 I'm aware of that... but at the moment there is no plan to integrate with anything else.

This might change as soon as the major Soundnode feat are in place.

[2016-01-27 15:45] ahmedlhanafy opened #544 "Clicking away from the settings menu should close it automatically"
Clicking on where rather than the settings menu when it's opened should close it automatically.
![](https://cloud.githubusercontent.com/assets/7052827/12618694/ab532198-c51d-11e5-9b2c-c62016b0eb08.png)

[2016-01-27 16:13] IonicaBizau opened #546 "error while loading shared libraries: libgconf-2.so.4"
I downloaded the app, `unzip`ped and ran `./Soundnode-App`.

Getting the following error:

[code]

I tried to solve it by running `sudo apt-get install libgconf-2-4`, but the error is still there.

I'm using Ubuntu 15.10, 64bit.

[2016-01-27 16:16] wb9688 commented on #546
What's the output of `ls /usr/lib|grep libgconf`?
Op 27 jan. 2016 17:13 schreef "Ionică Bizău" <notifications@github.com>:

[2016-01-27 17:14] weblancaster opened #548 "[Feature] Add filter, #547 was removed"
I wasn't happy the way the current filter was working so I removed on #547..It need more attention

[2016-01-27 17:47] gkov commented on #524
Experienced this on filtered network where http://soundcloud.com/ would be filtered by websense however httpS://soundcloud.com/ was just fine.

[2016-01-27 17:59] insanexd commented on #347
I downloaded the app three days ago and it is awesome!
Playing with it I tried to find the "trending" tab but sadly i couldn't :(
So I thought to suggest this feature, it would be great to have it!
U r doing an extraordinary job guys! props!

[2016-01-27 18:02] weblancaster commented on #347
This was added #539

[2016-01-27 18:02] #347 closed

[2016-01-27 18:04] #409 closed

[2016-01-27 18:04] #396 closed

[2016-01-27 18:26] #259 closed

[2016-01-27 18:26] weblancaster commented on #259
For now I have added just the like button as per this issue.

[2016-01-27 18:31] weblancaster commented on #250
looks like this won't happen.

[2016-01-27 18:31] #250 closed

[2016-01-27 18:43] wmayner opened #550 "[FEATURE SUGGESTION] Make default track image the artist's profile picture instead of Soundnode icon"
Title says it all: when a track has no associated image, the image should default to the artist's profile picture rather than the Soundnode icon.

I'll try and submit a PR for this when I get a moment. Thanks for the app!

[2016-01-27 19:31] jakejarrett commented on #546
I don't think we have any gnome utilities as a dependency, was this downloaded from soundnodeapp.com?

[2016-01-27 20:14] IonicaBizau commented on #546
@wb9688 Just nothing.
@jakejarrett Yes, I downloaded the zip file and unzipped and ran the executable.

[2016-01-27 20:44] jakejarrett commented on #546
Turns out chrome requires libconf now, is this 32 or 64bit version of soundnode?

[2016-01-27 20:46] wb9688 commented on #546
@jakejerret it's 64bit, see issue start
Op 27 jan. 2016 21:44 schreef "Jake Jarrett" <notifications@github.com>:

[2016-01-27 20:52] jakejarrett commented on #546
I meant the application, not the OS haha.

[2016-01-27 20:54] wb9688 commented on #546
@jakejarrett Haha, indeed he must run the 64bit version, because 32bit applications (normally) don't work on 64bit Linux...

[2016-01-27 22:43] PhernandoPhelix opened #553 "Remind Last Resized Position"
Hi! I download **SoundNode** today via Product Hunt and the app is awesome!

I think that would be great  if SoundNode could be reopened on the last position that I closed the app.

I resize the app window, close the app, and when I reopen the app is resized on a different part of the screen.

I`m on a iMac, El Capitan 10.11.3 with SoundNode 0.5.7.

This is happening just with me? Can be "fixed"?

[2016-01-27 22:58] weblancaster commented on #443
This is now released.

[2016-01-27 22:58] weblancaster commented on #483
This is now released.

[2016-01-27 22:59] weblancaster commented on #259
This is now released.

[2016-01-27 22:59] weblancaster commented on #440
This is now released.

[2016-01-27 22:59] weblancaster commented on #475
This is now released.

[2016-01-27 22:59] weblancaster commented on #499
This is now released.

[2016-01-27 23:03] Chriz007 commented on #499
Wow, @weblancaster you've really been hustling this past week. Good to see all the improvement added to the app. Loving your work man!

[2016-01-27 23:04] weblancaster commented on #476
This is now released.

[2016-01-27 23:05] ahmedlhanafy opened #554 "Make the website open-source"
Make the website open-source so people can come out with better design for it

[2016-01-27 23:09] weblancaster commented on #518
This is now released.

[2016-01-27 23:10] weblancaster commented on #554
at some point was.. I will make available again.

[2016-01-27 23:11] weblancaster commented on #514
This is now released.

[2016-01-27 23:13] weblancaster commented on #522
This is now released @extensionsapp

[2016-01-28 04:01] IonicaBizau commented on #546
Ahhh, turns out that I downloaded the 32bit version, not 64. :smile: Sorry guys for confusion. Nice project, btw! :grin:

[2016-01-28 04:01] #546 closed

[2016-01-28 05:38] wb9688 commented on #554
@weblancaster And what about the sc-redirect.herokuapp.com (without the
SoundCloud API keys)?
Op 28 jan. 2016 00:10 schreef "Michael Lancaster" <notifications@github.com

[2016-01-28 07:19] christopherturner opened #555 "[FEATURE SUGGESTION] Close settings (gear) context menu on click outside of menu"
Essentially, when you click on the gear (top-right corner of the interface) and get the context menu (with about, settings, and news), to conform with UX standards, Soundnode should hide the context menu if the user clicks anywhere other than on one of the items in that menu.

[2016-01-28 11:30] negimaru opened #556 "Middle Click on Following blocks the App"
When the user does a middle click on a following channels the app goes white and stop working.

[2016-01-28 14:19] SamMarkiewicz opened #557 "[Feature suggestion] - Move user information into the top sidebar"
Hi !
By using the app, I noticed that the log out link was a bit "hidden", and the users' infos were slightly floating in the left column.

So, why not clear some space in the left column, in order to move users' info in the top bar.
By clicking on the profile picture, you can have access to some details AND the logout link.

I've made a quick layout to illustrate my purpose :)

![soundnode](https

[2016-01-28 14:45] extensionsapp commented on #522
Thank you @weblancaster. However, the choice of genres would be in great demand.

[2016-01-28 14:54] bob6664569 commented on #543
Alright ! Hope so, then you'll count me in :)

[2016-01-28 15:20] weblancaster commented on #554
@wb9688 that one I will keep private.

[2016-01-28 15:24] weblancaster commented on #556
Hmm.. that's because open a new blank view/page.. we have blocked the shortcuts.. I need to check that one though.. thanks for letting me know

[2016-01-28 15:26] weblancaster commented on #557
Thanks @SamMarkiewicz let's see if anyone else would vote on solutions for that. @jakejarrett @Pitros what's your thoughts on that?

[2016-01-28 15:27] weblancaster commented on #522
I will add filters for the next release.. this is a quick solution.

[2016-01-28 15:34] weblancaster commented on #295
(Finally) I have a friend working on it.. he showed me what he done and looks great.. he is also working on a couple of minor design changes (buttons minimize, maximize and close).

[2016-01-28 16:45] tgjohnst commented on #347
Awesome, thanks!! Suggestion for a future update - allow filtering by genre and/or new/hot rather than top, like the web version does. The overall site top 50 unfortunately doesn't change all too often.

[2016-01-28 16:56] weblancaster commented on #347
Yes @tgjohnst that's the plan I added top 50 just as quick feat.. I will add filter for the next release

[2016-01-28 19:56] jakejarrett commented on #557
Looks dope, personally I'd move the user icon to the right of the cog but it may better on the left

[2016-01-28 20:09] chrisatanasian opened #558 "[Suggestion] Permalink URL has "?client_id=*some_numbers_here*" at the end of the URL"
When clicking on the permalink button in Soundnode, a link in the browser is opened. The URL is normal except that it has `?client_id=*some_numbers_here*` at the end of it, making it annoying to copy paste the URL to other people.

Version: Release 0.5.7 for Mac
Downloaded from: soundnodeapp.com
OS: Mac OS X El Capitan 10.11.2 64bits

How to reproduce:
 - Open Soundnode App
 - Click on "permalink"

[2016-01-28 20:11] Cuvinisme opened #559 "[Bug/Suggestion] Hover over avatar changes the mouse to a hand."
Maybe fix so it doesn't change the mouse to a hand on over or make the avatar clickable and opens your profile page inside the app?

[2016-01-28 20:13] phw opened #560 "Positioned right between two screens in dual screen setup"
Using Soundnode 0.6.2 Gnome 3.18 on Arch Linux with a dual screen setup. Whenever I start soudnode it is displayed right in the center of both screens, having the UI half on each of the screens.

This is especially annoying on first startup when the login window is shown, which cannot be moved away.

[2016-01-28 20:15] Cuvinisme opened #561 "[Bug] Log out button doesn't work."
I get sent out to the previous application I used, but music is still playing and I'm logged in. Also, the cursor does not change to a hand on hover.

[2016-01-28 20:19] phw opened #562 "[FEATURE SUGGESTION] Do likes with click on heart, update count"
Clicking on the heart icon next to the likes of a song should actually perform the like action. Currently this only works with the like button in the upper right corner. Also Increasing the like should immediately update the like count.

Here is an animation to make this more clear:

![peek 2016-01-28 21-16](https://cloud.githubusercontent.com/assets/29852/12657593/6706fca2-c604-11e5-8c3f-29ff0fed

[2016-01-28 20:30] marcos1490 commented on #458
I think this is a nice feature, and it would be great to have it.

[2016-01-28 20:39] Pitros commented on #557
We might do that, but I never liked that cog so we might also replace it (change icon) or move it to separate section in menu. Also you have to remember that it would look different on Windows:

![image](https://cloud.githubusercontent.com/assets/6910670/12657848/d0cf6bb4-c605-11e5-8519-e509e2baf14e.png)

It also might be `image + nickname + dropdown icon` form, not just image itself.

[2016-01-28 20:42] weblancaster commented on #558
I updated your title to suggestion since this is not a bug. Also you can always remove the numbers if that annoys you. thanks,

[2016-01-28 20:42] #558 closed

[2016-01-28 20:42] Pitros commented on #562
No, it's not supposed to work, I never thought that someone would click that heart to like a track...
Liking track as well is paired with button.

[2016-01-28 20:43] weblancaster commented on #557
I have a couple of ideas that I'm going to try out and post here in the next days

[2016-01-28 20:44] Pitros commented on #561
Are you sure, that you're running latest version of Soundnode? It was fixed a while ago.

[2016-01-28 20:46] SamMarkiewicz commented on #557
Great ! If it's good for you I could also make some quick wireframes to iterate on a solution

[2016-01-28 20:46] Pitros commented on #555
That already exists #544

[2016-01-28 20:46] #555 closed

[2016-01-28 20:52] cenderin commented on #522
You read my mind on the top 50, if you get genres up I think it will be very helpful for the app to get more people using it :).

[2016-01-28 20:53] ahmedlhanafy opened #563 "Wrong styling when the name is long on the profile menu"
![screen shot 2016-01-28 at 10 52 27 pm](https://cloud.githubusercontent.com/assets/7052827/12658482/f89961ac-c611-11e5-81d0-906d1ae7372e.png)

[2016-01-28 20:59] weblancaster commented on #563
First.. what a long name my friend.. second we will fix that for the next release

[2016-01-28 21:03] Pitros opened #564 "[BUG] Duplicated tracks on favorites view"
Am I only having those duplicated tracks after scrolling down and new likes being added?

![image](https://cloud.githubusercontent.com/assets/6910670/12658678/c5bf617a-c60a-11e5-9c79-02093542dae7.png)

[2016-01-28 21:10] Cuvinisme commented on #561
Downloaded the version which is on this page like 30 min ago. http://www.soundnodeapp.com/
It's version 0.5.7 (0.5.7) - using the mac client

Is that the latest one? If not, where can I get the latest one?

[2016-01-28 21:13] Pitros commented on #561
The latest one is 0.6.2 so its really outdated. Those links should give you the latest version, I don't know what could happen.
@weblancaster

[2016-01-28 21:27] PhernandoPhelix commented on #561
I am having the same issue. I am stuck on 0.5.7 version. The link of the Mac client on http://www.soundnodeapp.com is linking to the 0.5.7 version and not to 0.6.2.

I really don`t know what to do to update... =/

[2016-01-28 21:29] weblancaster commented on #561
Can you guys go to the website and refresh until you see the image on the right of this link https://github.com/Soundnode/soundnode-app/commit/442575bfad7153cab56a55804f290cd29a02104f

if you are seeing the image on the left your browser cached the website.

[2016-01-28 21:29] ahmedlhanafy opened #565 "Soundnode should save the played track and its position when the app is closed"

[2016-01-28 21:30] weblancaster commented on #565
this is duplicated issue #484

[2016-01-28 21:30] #565 closed

[2016-01-28 21:35] weblancaster commented on #561
Oh you are actually right.. we all missed that. You can go to top right side and click on the gear icon then click in about you will see the latest version at the bottom of the modal that opened.

Also, I tried to log out although it does log me out since the app doesn't shut down completely it keep me logged in until I force to close.

[2016-01-28 21:37] weblancaster commented on #554
Done. you can find the website here https://github.com/Soundnode/soundnode-website

[2016-01-28 21:37] #554 closed

[2016-01-28 21:50] cenderin commented on #563
Fixed this, not sure if thats the way you want it fixed.  I can change it if you want something specific.

[2016-01-28 22:21] chrisatanasian commented on #558
@weblancaster: Ah, I thought it was unintentional. Why exactly is this a feature? I don't see why users would want their client_id to show up in the URL, and this is a one or two line fix.

[2016-01-28 22:30] weblancaster commented on #558
that's not a feature but to be able to see the link from an third party app you need the client id there.. I can't see that being a problem

[2016-01-28 22:40] chrisatanasian commented on #558
I'm not sure what you mean. If we go to `openExternalLinkDirective.js` and change the second part of the if statement (line 15 at the moment) to `el = attrs.href;` the link works fine. Am I missing something?

[2016-01-29 03:10] cdtinney commented on #548
I was planning on working on this on my own fork - why weren't you happy with it? Because you couldn't load more tracks if you had a filter selected? Or the way it was done in the UI?

[2016-01-29 04:30] weblancaster commented on #548
Because of the "out the box" filters that Soundnode API provide.. also because of the UI design was kinda bad.. I was thinking to add a select option (dropdown).

Although you can work on it if you want to.

[2016-01-29 05:14] Chriz007 commented on #295
@weblancaster Good progress!

[2016-01-29 05:40] wb9688 commented on #564
Nope, I also have it sometimes...
Op 28 jan. 2016 22:03 schreef "Piotr Cholewa" <notifications@github.com>:

[2016-01-29 09:01] thiboot commented on #489
Hey,
It would be a great thing if we could close or minimize to the tray :-)

[2016-01-29 09:17] edisonchee commented on #484
@weblancaster I've given this a go, 2448efd8c0f530a4e7a8369aa895651ac359add9. I've only tested it on OSX; if anyone could test it on Linux or Windows that'd be great. Maybe @LoreGas or @christopherturner can help?

[2016-01-29 09:30] LoreGas commented on #484
Is this in the new version or where can I download to test?

[2016-01-29 10:15] vladjerca commented on #562
I can take care of this and implement the feature.

[2016-01-29 10:36] edisonchee commented on #484
If you're familiar with git, you can add my fork as a remote and merge with a branch from your own fork. Otherwise, give me some time to test it on Linux and Windows and hopefully I can do a PR for this feature.

[2016-01-29 12:06] Josiah opened #567 "HighDPI support for linux?"
Love this app, any plans to add High DPI support for linux?

[2016-01-29 12:45] yeahoffline commented on #564
same here

[2016-01-29 14:21] negimaru commented on #556
No, problem, I suppose you are aware but it happens too when the user do the same on a link of the lateral panel(Top 50, Stream, etc... )

[2016-01-29 15:34] ELKOKACOLO commented on #489
Yes, definitely this would be useful or maybe even to minimize to a little player into a corner of the screen like AIMP3 does.

[2016-01-29 15:53] weblancaster commented on #567
@jakejarrett is the linux guy here.

[2016-01-29 15:55] weblancaster commented on #484
Nice work @edisonchee can you open a PR though? and besides descriptive title also put closes #484 on the title.. thanks

[2016-01-29 16:06] ELKOKACOLO opened #569 "[FEATURE SUGGESTION] Populate settings menu"
Add the keyboard shortcut list and being able to assign them as user wants.
Also allow to close settings menu without using the back arrow. Instead I think users will find more usable to click on a home button next to the settings button or any other similar solution.

[2016-01-29 16:14] ELKOKACOLO opened #570 "[FEATURE SUGGESTION] Explore section"
Add an explore section inside a track info for the related tracks to discover new artists or songs liked.
This could be a nice feature that soundcloud doesn't includes and it could use a graph (being the app called soundnode ;) ) user control to show the artists or tracks separated by genres or tags.

[2016-01-29 17:01] weblancaster opened #571 "[Improvement] Notify user when internet is down"

[2016-01-29 23:53] jakejarrett commented on #567
The css scaling added in a previous version should solve the issue for now, You can just Control & + / - to scale in/out. It does save the scale but sometimes doesnt apply on startup (am looking into that)

[2016-01-30 00:03] intrinsic opened #572 "Hitting Cmd+W in Mac closes application"
Hitting Cmd+W in Mac completely closes the application, can you make it so it treats it as a "hide" like Spotify does?

[2016-01-30 03:32] ALSchwalm commented on #445
This affects me as well (also on Arch linux). It looks like this may be a problem with NW.js. See their issue [3199](https://github.com/nwjs/nw.js/issues/3199). Soundnode seems to be using this interface at the relevant place: [here](https://github.com/Soundnode/soundnode-app/blob/a51a22f51deab37fd0faa2af5f2e481e6836e357/app/public/js/player/playerCtrl.js#L152-L184)

[2016-01-30 12:05] ELKOKACOLO commented on #564
Same here

[2016-01-30 16:27] Ajeey commented on #571
What is the approach ? Ajax calls on regular intervals to server to check connection status ?

[2016-01-30 19:16] weblancaster commented on #571
Nope.. I'm thinking to implement an listener to onLine.

https://developer.mozilla.org/en-US/docs/Online_and_offline_events

[2016-01-30 20:05] velagand commented on #564
Yup, I have this as well. Any thoughts on why this is happening?

[2016-01-31 01:03] velagand commented on #550
Yeah I was going to suggest this and found that you already had. I like how the soundcloud website defaults to the artist's profile picture, I think this app should do that as well, it looks nicer than having the SoundNode logo everywhere, especially for the artist profiles that don't upload pictures for any of their tracks.

[2016-01-31 02:55] jmp909 commented on #437
same here. it can see the length of them but it can't play them. note also when you click on them, the name of the playing track at the bottom of the screen is changed to the private track you clicked on but the duration is not updated and stays at the value of the last track succesfully played.

would rather not have private tracks hidden if I'm signed into my own account. a lock icon would be ni

[2016-01-31 03:50] weblancaster commented on #437
We have to filter to display just the public ones.

[2016-01-31 05:57] Ajeey commented on #531
What's the shortcut on Spotify? I tried "CMD + ^ + F" and nothing happens!
Chrome works on "Control + Command + F"

[2016-01-31 12:39] SLiX69 commented on #483
Thanks for that, does work very well!

[2016-01-31 12:55] hesselberg opened #582 "[FEATURE SUGGESTION] Hotkey for liking current track"
It would be nice if one could press for instance 'CMD+L' or 'CMD+F' for liking/favoriting the currently playing track.

[2016-01-31 18:02] Pitros commented on #509
I've played with that for a while, and got searching using title or/and author. Would that be engouh? I also thought about date selecting (eg. older than [week, month, 3 months, 6 months, year]).

![image](https://cloud.githubusercontent.com/assets/6910670/12703825/a1aae8b0-c84c-11e5-8000-5d95bc041140.png)

@weblancaster what do you think about that kind of filtering for favs? Also resolves issue

[2016-01-31 20:34] richard457 commented on #571
I think I can do something about this did you think about using ionic features

[2016-01-31 21:27] kylealvo opened #583 "Duplicate songs on Likes playlist"
<img width="1161" alt="screen shot 2016-01-31 at 3 29 17 pm" src="https://cloud.githubusercontent.com/assets/16992858/12705090/9b3426f8-c82f-11e5-96ee-bd51dbff3dfb.png">

[2016-02-01 05:14] weblancaster commented on #583
This is a duplicated of #564

[2016-02-01 05:14] #583 closed

[2016-02-01 05:16] weblancaster commented on #571
this was implemented I just need to review and test #580

[2016-02-01 10:56] foxgeere commented on #295
Just to throw in my thought - can we make sure it is the same size as the iTunes, spotify etc icons. The current one is larger than every other icon in the dock.

Also, really love the first icon by @Chriz007 - it might want some element of 'cloud' worked into it or 'nodes' coming off from the headphones. In addition, if the circle around the outside actually updated with the length of the track r

[2016-02-01 10:57] foxgeere opened #584 "Unable to move window after first login"
Steps to create

- Download and open on mac (el capitan) for first time
- Login to soundcloud
- Once login is complete it is NOT possible to drag the window around with the header bar
- Close the app
- Re-open
- Now possible to move the window around using the header bar

[2016-02-01 10:58] shinodoigt commented on #512
I want this too !

[2016-02-01 10:58] fille97 opened #585 "Can't move window"
System: OSX 10.10.5
Soundnode: 0.5.7

To reproduce:
- I move the window so that the bottom of the software is below the screen
- I resize the top of the software and drag it further down
- Now I can't move around the software to make the PLAY-button visible again
- By pressing the green button in upper left corner the software is resized to fill my whole screen and I can once again move around the

[2016-02-01 11:23] Ajeey opened #586 "Implement min-width & min-height"
The app should have a min-width and min-height. Below which it should not scale down.
[try spotify app as an example].

Any suggestions on what is a sensible min width and height ?

[2016-02-01 13:09] TAHassing opened #587 "[FEATURE SUGGESTION] (Managable) Play Queue"
First off thanks a lot for this great app. Love it! :)

My suggestion would be to add a 'Play Queue' functionality, that would appear on the left side menu list (under 'MAIN'). Song/tracks/playlists can then individually be added to this queue to create a desired order of playback. Clicking on the 'Play Queue' entry on the left side entry would display the current queue, and give the user the abil

[2016-02-01 13:24] vladjerca opened #588 "Toastr Notification Improvements"
Hi guys,

I've seen some minor annoyances while using the application regarding the notification toastrs.

1. Their position at the bottom-right cover the actual player controls.
2. Sometimes I play around with likes and when I unlike the song, I get a success toastr, this both are green and a bit hard to distinguish.
3. The 'default' css theme for toastr doesn't go well at all with the app.

Edit

[2016-02-01 16:47] ronaldoats commented on #489
Hey!!! this code is for Tray Icon for soundnode-app

code in "**app/public/js/system/guiConfig.js**"

after from
`// Store the GUI window
guiConfig.getGUI = gui.Window.get();`

Insertar este código :smile:

`// Tray Icon for System
var tray = new gui.Tray({ title: 'Tray', icon: 'soundnode.png' });

// Give it a menu
var menu = new gui.Menu();

var visible = false;
// Controlar visibilidad al dar c

[2016-02-01 16:59] ronaldoats commented on #489
haría un Fork al código pero es mas tardado y quienes quieran tener el Tray Icon estare compilando uno para que puedan descargarlo hasta esperar a que el sr. Lancaster tenga la versión oficial compilada y con un Tray Icon mas genial.

[2016-02-01 17:00] Pitros commented on #586
Min-height and min-width already exists, and are set respectivly to 710px and 350px. We only need to change them to better ones (somewhere near 690x600 for me).

[2016-02-01 17:28] ronaldoats commented on #489
unoficcial versión with Tray Icon
[http://bi-ni.com/Applications/soundnode-app/linux32.tar.gz](url)
[http://bi-ni.com/Applications/soundnode-app/linux64.tar.gz](url)
[http://bi-ni.com/Applications/soundnode-app/osx64.tar.gz](url)
[http://bi-ni.com/Applications/soundnode-app/win32.tar.gz](url)

[2016-02-01 17:38] weblancaster commented on #489
@ronaldoats is there anyway you can use english (maybe a translator)?

also, please do not share the code directly here you can send pull requests for that.. another thing is do not share your own version here.

for those reasons I'm closing this issue, since doesn't follow any good practice and doesn't help none of us to solve the problem.

[2016-02-01 17:38] #489 closed

[2016-02-01 17:50] weblancaster commented on #587
Hey @TAHassing thanks for the feedback.. I'm glad you liked Soundnode.

Now, you are already able to do that on the Queue list on the right side, see below.

![screen shot 2016-02-01 at 11 49 47 am](https://cloud.githubusercontent.com/assets/549394/12725778/f68c4684-c8d9-11e5-854b-e4af43eb4719.png)

[2016-02-01 17:50] #587 closed

[2016-02-01 17:50] ronaldoats commented on #489
Hi, sorry I'm not very good with English.

[2016-02-01 17:53] weblancaster commented on #585
@fille97 you probably need to select the `top orange bar` and before move up-down try moving sideways.

Let me know if that helps.

[2016-02-01 17:54] weblancaster commented on #512
We have that feature already to the current track playing.

[2016-02-01 17:56] weblancaster commented on #584
Hm weird.. I will get back to you once I have an answer.

[2016-02-01 18:12] weblancaster commented on #563
Closed by #566

[2016-02-01 18:12] #563 closed

[2016-02-01 18:25] #444 closed

[2016-02-01 18:41] Ajeey opened #590 "Apply css transition to the notification switch under settings menu"
Make the user experience more fluidic. We live in 2016 ;)

[2016-02-01 18:45] weblancaster commented on #590
Can you explain a bit more @Ajeey

[2016-02-01 18:55] TAHassing commented on #587
Right, it seems that I'm a complete moron ;) Thanks for the response, keep up the awesomeness.

[2016-02-01 18:57] weblancaster commented on #587
No worries.. It's actually a flaw that we don't have a way to tell the users the various shortcuts we have.. I will add this improvement in the next version.

Thanks.

[2016-02-01 19:05] roeeaizen opened #594 "[FEATURE SUGGESTION] Arrow key integration"
Allow user to:
Use left arrow key to go to the previous track
Use right arrow key to go to the next track
Press Alt+Left arrow key to go to the previous page viewed (similar to web browsers)
Press Alt+Right arrow key to go to the next page viewed (also similar to web browsers)

[2016-02-01 19:18] weblancaster commented on #594
we have shortcuts in place already @roeeaizen

`ctrl/cmd + left` or `ctrl/cmd + right`

[2016-02-01 19:18] #594 closed

[2016-02-01 20:07] #572 closed

[2016-02-01 20:11] weblancaster opened #596 "[Feat] Try reconnect after internet is down"
Refresh/reconnect app once the internet connection is back online in case the connection was down.

[2016-02-01 20:13] Pitros commented on #596
Why?

[2016-02-01 20:16] weblancaster commented on #596
@Pitros  That way the user doesn't need to close and open the app again (also because other apps have this feature)

[2016-02-01 20:42] Pitros commented on #596
If you've lost internet connection, nothing happens. There's no need to reload app. I don't get the idea of reloading app where there's no need for that.

[2016-02-01 20:43] weblancaster commented on #596
@Pitros If the track doesn't play automatically after the internet connection is back on we will need to reload the app.

[2016-02-01 21:53] Alexia opened #597 "Unable to load more tracks by scrolling when maximized."
If the application is maximized past a certain size, 2560x1440 monitor here, scrolling down to load more tracks breaks.  Shrinking the window down to a size where the scroll bar appears allows it to work again.  It looks like this happens because the default amount of tracks to load initially is not enough to force the initial scroll bar to appear on large window sizes.

Application Version: 0.5.7

[2016-02-01 23:06] sjntn opened #599 "[BUG] The tracks after loading more liked list are duplicated"
In liked list, the tracks after loading more are duplicated like below.

![loading_more_liked_list](https://cloud.githubusercontent.com/assets/3044172/12734397/9526363e-c983-11e5-973b-4523eaca4862.gif)

Application Version: 0.5.7
Mac OS: 10.11.1

[2016-02-01 23:30] weblancaster commented on #599
this issue is duplicated #564

[2016-02-01 23:30] #599 closed

[2016-02-02 04:24] edisonchee commented on #586
Wouldn't a common aspect ratio of 16:9 be better?

[2016-02-02 06:32] edisonchee commented on #582
I'd love to work on this, but I'll probably have to re-write the Favourite feature to be more robust to handle more conditions and have a more consistent behaviour.

Feel free to weigh in on this.

[2016-02-02 07:58] edisonchee commented on #596
I think it's a good idea.

[2016-02-02 10:38] mathiash98 commented on #586
@edisonchee there is no point to lock it to 16:9 minimum format, the point is to avoid users from scaling it down to the matter where functions gets hidden.

[2016-02-02 10:53] mansour-ahmed commented on #582
Hey I would like to contribute and implement this feature if nobody has already done?
Any suggestion where to start from??

[2016-02-02 13:43] Smogmsc opened #601 "Possible to add a "My Profile" tab to have the "reposted" tracks ?"
It can be cool ! :)

[2016-02-02 15:20] weblancaster commented on #586
I agree with @mathiash98

[2016-02-02 15:21] weblancaster commented on #582
What @edisonchee said is ideal.. now you guys can figure out who could work on this one.

[2016-02-02 15:26] weblancaster commented on #295
Just FYI people here's a PR for the new logo if anyone wants to follow #602

[2016-02-02 15:50] iDuuck commented on #295
#602 is definitely my favorite!

[2016-02-02 16:07] fille97 commented on #585
@weblancaster Thanks for your reply. Yes, pulling the small orange line right or left, makes it possible to move the window. But I don't think that behavior feels intuitive.
Would you like to keep these kind of "logical bugs", or shall I close this issue?

[2016-02-02 16:40] weblancaster commented on #585
Yeah I agree with you @fille97 that's not ideal but for now let's keep this way if more people complain I will do something about it.. thanks.

[2016-02-02 16:40] #585 closed

[2016-02-02 18:27] chrisatanasian opened #603 "[FEATURE SUGGESTION] Add ability to repost a track from the bottom left of the current playing window"
It would be right next to the heart for liking the currently playing song. This would be convenient and allow reposting from anywhere on the app.

[2016-02-02 19:25] weblancaster opened #604 "[Feature] add a copy to clipboard button next to the permalink"

[2016-02-02 19:26] devirto opened #605 "Only 50 playlists ... !!??"
"Playlists" list contains (shows) only 50 of them and I got more than 80 (atm) how to access (listen) the others 30 and more (and counting lol) Can you fix this please Thanks and keep up good job :)

App v.0.6.2
Win10Pro 64bit

[2016-02-02 21:26] cenderin commented on #605
Thats interesting, the api doesn't have a limit that I can find.  Not sure why only 50 is showing.  seems like a bug of some sorts.  I don't have an account with 50+ playlists to test this and fix it tho...

[2016-02-03 01:10] edisonchee commented on #586
Ah, I see. That's true :)

[2016-02-03 11:19] lollox opened #606 "[FB login] direct password request?"
Hi

I just downloaded Soundnode for testing purpose, but the direct request to insert my Facebook credentials leaves me a bit hesitant ... in other apps (Spotify for example) they used a more (a lot more) secure and trusted method to login, simply asking (in the browser) to gain access to the profile, but the password is NEVER exposed to thirdy parts

I really suggest you to implement it

[2016-02-03 11:39] Ajeey commented on #604
You mean here right ?
<img width="473" alt="screen shot 2016-02-03 at 5 07 59 pm" src="https://cloud.githubusercontent.com/assets/1799117/12781182/ce9528e2-ca98-11e5-8871-2ea104631475.png">

[2016-02-03 11:40] Ajeey commented on #596
@weblancaster  So the requirement is if the song does not resume, reload the app ?

[2016-02-03 13:02] wb9688 opened #607 "When a sing was liked, it doesn't shop up beneath"
When a song was already liked and I listen to it, then the lower heart isn't colored orange.
![Screenshot](http://i.imgur.com/RSOVMgi.png)

[2016-02-03 15:00] tseboho opened #608 "Add track to Playlist"
When adding a song that is currently playing to a Playlist, the song is skipped and the next song on the feed starts playing.

[2016-02-03 15:23] weblancaster commented on #606
@lollox your password isn't exposed to Soundnode at any point.. when you see the screen to login that's actually Soundcloud's way to authenticate (if you go to their website logout and login again you will see it's the same).

If you are not comfortable in using the App I understand your choice.

[2016-02-03 15:23] #606 closed

[2016-02-03 15:24] weblancaster commented on #604
Yep and also here
![image](https://cloud.githubusercontent.com/assets/549394/12786724/e683256c-ca57-11e5-8810-335d51ed1349.png)

[2016-02-03 15:25] weblancaster commented on #596
Yes @Ajeey

[2016-02-03 15:27] weblancaster commented on #607
Yeah @wb9688 I chose to left that out to ship the feature asap.. this will come to next version.

[2016-02-03 15:33] Ajeey commented on #604
I can implement this. Suggestions on images to be used would be helpful.

[2016-02-03 15:37] weblancaster commented on #604
@Ajeey we don't use images we use font-icons (https://fortawesome.github.io/Font-Awesome/icons/) in this case you can try using http://fortawesome.github.io/Font-Awesome/icon/clipboard/

[2016-02-03 15:46] Ajeey commented on #604
Awesome, thanks.

[2016-02-03 16:42] L3ice commented on #274
Now we have the "Top 50" Tab but still not the "New & hot" Tab
I would really like to have this Tab too.

[2016-02-03 16:58] jcvangent opened #609 "Spotify support"
With Spotify support, it could become the one to go to app for listening all of your music. This way you don't have to keep switching between apps.. :-)

[2016-02-03 17:16] thinking-sc commented on #443
:+1:  :clap:

[2016-02-03 17:23] lollox commented on #606
[Just to discuss it]

it's a bit different. Apart my concerns of a nerdy user, when you use Soundcloud in a browser you see very well that on Facebook login you are on "https://facebook.com", and not on "http://fake-pishing.com" :P ... In an app like Soundnode you don't, and even if an addressbar would be implemented, you can't really trust it ;)

just my opinion of course... good work ;)

[2016-02-03 19:01] mdtusz commented on #481
It will pull the latest version when a user installs, but `brew update` doesn't know that there's a new version so to upgrade, you need to manually `brew cask uninstall soundnode` then reinstall.

This could be added to your release step to bump the version in the brew cask, or just make a note maybe in the README.

[2016-02-03 19:07] mdtusz commented on #481
The cask for soundnode doesn't have a version specified so `brew cask update` won't properly update.

You can work around this by using

[code]

but it's not ideal. If the maintainers can just bump the version number of [this](https://github.com/caskroom/homebrew-cask/blob/master/Casks/soundnode.rb) on each release, it should all work though.

[2016-02-03 19:37] weblancaster commented on #606
It's very simple @lollox if you are a nerdy as you say you would understand how api's work, also If you don't trust don't use it.

thanks

[2016-02-03 19:38] weblancaster commented on #609
Agree @jcvangent although Soundnode is focused on Soundcloud only :/

[2016-02-03 19:38] #609 closed

[2016-02-03 19:39] weblancaster commented on #274
We have added a new version of top 50 @L3ice

[2016-02-03 19:48] jcvangent commented on #609
Okay to bad, could have been epic. But keep up the good work!

[2016-02-03 20:01] alimoenes opened #610 "Stuck at authenticating your soundcloud account"
Just downloaded windows version and it doesn't go past this page

[2016-02-03 20:23] L3ice commented on #274
You mean that we can now change genre? @weblancaster

[2016-02-03 20:25] weblancaster commented on #274
Yep @L3ice

[2016-02-03 20:48] devirto commented on #605
Sorry but no way to show you , have to believe me ... and I need this to be fixed, please

[2016-02-03 21:29] #484 closed

[2016-02-03 21:33] weblancaster opened #612 "[Feature] add toggle "resume last played" to settings"

[2016-02-03 21:35] #501 closed

[2016-02-03 21:35] #533 closed

[2016-02-03 21:49] #590 closed

[2016-02-03 23:44] dgattey commented on #531
This would be awesome. Native fullscreen is supported by NW.js. If I have some time in the next few weeks, I'll attempt a PR.

[2016-02-03 23:46] dgattey opened #613 "Update using Sparkle"
Is there a reason why we're not using Sparkle on OS X for automatic updates so users don't have to navigate a website? It would be a slick addition and remove the need for update available text in the upper right.

[2016-02-04 05:37] wb9688 commented on #531
And on Windows with F11?
Op 4 feb. 2016 00:44 schreef "Dylan Gattey" <notifications@github.com>:

[2016-02-04 05:39] wb9688 commented on #613
I think because it's Mac OS X only...
Op 4 feb. 2016 00:46 schreef "Dylan Gattey" <notifications@github.com>:

[2016-02-04 09:58] iDuuck opened #616 "Update screenshot in readme for new version of traffic lights"

[2016-02-04 10:08] mathiash98 opened #617 "Make heart red when listening to liked songs"
When listening to likes, the heart under current song is grey, but should be red I suppose?

[2016-02-04 10:10] #617 closed

[2016-02-04 11:36] wb9688 commented on #617
Can someone close it as a duplicate of #607?
Op 4 feb. 2016 11:08 schreef "Mathias Haugsbø" <notifications@github.com>:

[2016-02-04 12:06] elduderinow opened #618 "Stream doesn't auto load bug"
when stream is active, if you resize the window to max (24"+), leave streams and go back, the auto load doesn't work.

However, if you resize it back no a smaller size, it load again.

[2016-02-04 14:22] iDuuck commented on #613
But what about https://www.npmjs.com/package/nw-updater?

[2016-02-04 14:39] wb9688 commented on #613
`nw-updater` isn't updated for a year and Soundnode is (probably) going to
migrate to Electron, which has a built-in updater...
Op 4 feb. 2016 15:22 schreef "Dominik Schmidt" <notifications@github.com>:

[2016-02-04 16:00] weblancaster commented on #613
That's the ideal @wb9688

[2016-02-04 16:02] #295 closed

[2016-02-04 16:05] weblancaster commented on #295
New logo/icon/placeholders added.

[2016-02-04 16:09] weblancaster commented on #618
Duplicated of #597

[2016-02-04 16:09] #618 closed

[2016-02-04 19:51] jakejarrett commented on #553
I can fix this tonight, should be able to get a PR out this weekend :smile_cat:

[2016-02-04 20:56] Pitros commented on #605
Uh, @weblancaster probably didn't expect that somebody may have so many playlists, so app fetches only ~50 playlists, and there's no function to get more (for now at least).

[2016-02-04 21:03] cenderin commented on #605
@Pitros I don't see where its limited to 50~, is there some sort of dashboard that you can set that?

[2016-02-04 21:10] rmf34 opened #619 "[bug] wrong cursor when hovering over song name in playlist add"
wrong cursor when hovering over song name in playlist add

Version: Version 0.5.7 (0.5.7) OSX
Downloaded from: soundnodeapp.com
OS: OSX

Required setup:
 - must have a playlist
 - must have a "liked" track

How to reproduce:
 - Open Soundnode App
 - click likes in the left sidebar
 - click the ribbon to add to playlist
 - see list of playlists
 - hover over name of playlist
 - don't see cursor cha

[2016-02-04 21:14] Pitros commented on #605
@cenderin probably that's default value for SC API, setting param `limit=XX` might work (200 is max for likes, dunno how it works for playlists) but you can also do `linked=partitioning=1` so you will get link to next api call with rest of playlists.

[2016-02-05 08:30] iDuuck opened #622 "Strip away the "App" in the app title."
Don't know if it's just me, but the "-App" in the app title is really bugging me.

![](http://i.imgur.com/HW3GMfz.png)

**Edit:** Fix image link

[2016-02-05 16:05] #622 closed

[2016-02-05 18:34] cbuchler opened #629 "[Feature Suggestion] Chromecast support"
Hi,

Would it be possible to implement Chromecast support?

[2016-02-05 18:39] theaccordance opened #630 "Track not displayed in app"
Version: 0.6.2
OS: Mac OS X 10.11.3
Downloaded: soundenodeapp.com

Description:
Tracks that are visible from SC's native platform are missing from views in the app.  I've confirmed this behavior in the likes view, but I believe this extends into other views as well. This [track](https://soundcloud.com/eric-prydz/eric-prydz-space-miami-2015) for example  does not appear in my [likes](https://soundc

[2016-02-05 18:44] theaccordance opened #631 "Update version displayed in app"
There's a view in the app where the version information is out of date.

Version: 0.6.2
Platform: OS X 10.11.3
Downloaded from: official website

Steps to reproduce:
- From the top-menu bar, click Soundnode-app > About Soundnode

Result:
- View displays as version 0.5.7 instead of 0.6.2

Screenshots:
Accessing the view
![screen shot 2016-02-05 at 12 40 21 pm](https://cloud.githubusercontent.com/as

[2016-02-05 20:07] weblancaster commented on #631
I have updated a couple of days ago.. thanks @theaccordance

[2016-02-05 20:07] #631 closed

[2016-02-05 20:08] weblancaster commented on #630
@theaccordance some tracks are not available for third party streaming so we don't show them in that case.

[2016-02-05 20:08] #630 closed

[2016-02-05 20:08] weblancaster commented on #629
duplicated #504

[2016-02-05 20:08] #629 closed

[2016-02-05 21:47] devirto commented on #605
Hey it's good to see you all working on this Thanks guys ;-)
I really appreciate this.

[2016-02-05 21:50] cenderin commented on #605
For sure, the fix I added is tiny but I think it will work.

[2016-02-05 22:50] DJmRek commented on #480
This woud be a very usefull feature! I support this feature-request!

[2016-02-05 23:47] Pitros commented on #480
Duplicate of #262.

[2016-02-05 23:47] #480 closed

[2016-02-06 00:40] Fyburoptek opened #632 "Scrolling On "Stream" while playing song, skips to song at bottom of newly rendered list."
Windows 7 Home Premium - 64-bit
Soundnode Version 0.6.2

While on the main stream tab, while I play the last song in the list and scroll down to load more of the stream the "now player" scrolls through all the songs that will be loaded, resting on the final song of the newly rendered list.

[2016-02-06 17:11] devirto commented on #605
Can I test it ?

[2016-02-06 17:16] cenderin commented on #605
Only way to do that would to be clone my branch, build the app, and then open it up and check.  Or I could send you a build with my fix in it, email is on my page.

[2016-02-06 17:40] devirto commented on #605
You can send me a build with your fix in my email , much easier I think

[2016-02-07 09:49] LoreGas opened #633 "[Feature] GUI improvements"
- Close panel after interaction (Currently the volume panel needs to be manually closed same for the setting menu)
- (In Windows with the app maximized) if you put the mouse at the very top right corner it is not over the close button

[2016-02-07 10:45] LoreGas commented on #633
Is not really a feature is it.. just realized :/

[2016-02-07 12:49] wb9688 opened #634 "New logo looks ugly in taskmgr"
The new logo looks ugly in `taskmgr`:

![](http://i.imgur.com/FLlJEAf.png)

[2016-02-07 22:28] UdoKifferbrehl opened #636 "PortableApps.com"
Hey there,

can you publish Soundnode on the PortableApps.com platform?
Thanks.

[2016-02-08 06:34] GREEB opened #637 "Load all likes"
Could you put an load all likes button on the likes page?
thx (love the app)

[2016-02-08 06:41] GREEB commented on #637
if the user scrolls down like 3 "pages" (auto load pages) a button comes up because he may wants to load all, i like to shuffle all my likes so thats why i would love to have this :)

[2016-02-08 06:41] GREEB commented on #637
http://i.imgur.com/DkpnjAW.png

[2016-02-08 09:06] iDuuck opened #638 "Create a new release"

[2016-02-08 12:26] Pitros commented on #638
What?

[2016-02-08 16:12] weblancaster commented on #638
What do you mean? you want a new release out @iDuuck ?

[2016-02-08 18:25] cenderin commented on #638
What an interesting "Issue"...

[2016-02-08 19:07] devirto commented on #605
I just found another issue ... show it here or ... !!?

[2016-02-08 20:04] jakejarrett commented on #634
I haven't used win10 much but it looks like a scaling issue with their rendering engine

[2016-02-08 21:01] daxlab commented on #524
the problem still persists.

[2016-02-08 21:52] cenderin commented on #605
Make a new issue in my opinion.

[2016-02-08 22:23] weblancaster commented on #634
Honestly.. I don't really care how the logo looks on the taskmgr.. But I appreciate the feedback.

[2016-02-08 22:23] #634 closed

[2016-02-08 23:27] Pitros commented on #634
@weblancaster but logo doesn't look bad only in taskmgr
![image](https://cloud.githubusercontent.com/assets/6910670/12902803/b1b81aac-cec3-11e5-98d1-c56016ad2f70.png)
Icon that size looks really bad, probably too much details for icon, icon with less colors and less details would be better.

[2016-02-09 03:45] weblancaster commented on #634
@pmarquees anything you can help us? what's your thoughts?

[2016-02-09 05:25] christopherturner commented on #633
See enhancement #544

[2016-02-09 06:51] weblancaster commented on #633
closing because it's duplicated.. thanks for posting here though.

[2016-02-09 06:51] #633 closed

[2016-02-09 07:26] iDuuck commented on #638
Yeah, there are so many things changed. There should be updates on the app more regularly.

[2016-02-09 08:44] Chriz007 commented on #634
To be completely honest, does this really matter?

[2016-02-09 09:40] pmarquees commented on #634
It might be something on the way I built it, nothing to do with having too many colors. Firefox's icon is here to prove this.

I'll check if I did something wrong when saving the .ico file and get back here.

[2016-02-09 15:59] weblancaster commented on #634
Can always be how Windows render the icons also which is common.

[2016-02-09 16:02] wb9688 commented on #634
Doesn't an .ico contain an image for every resolution? Then you can create
a simple low-res icon with a S instead of the nodes...
Op 9 feb. 2016 16:59 schreef "Michael Lancaster" <notifications@github.com>:

[2016-02-09 16:04] weblancaster commented on #638
I agree with you @iDuuck we should release more often (bi-weekly based release), the problem is that at the moment we don't have a better system to release new versions, what I mean by that is that the user will need to go to the website and manually download the new release, this can be tedious and people already complained about it.

also, this spam time gives me time to test what is implemented

[2016-02-09 16:16] cenderin commented on #638
@weblancaster what kind bug? Maybe post a issue with more details and maybe some of us can debug with you.

[2016-02-09 16:35] weblancaster opened #639 "[Bug] Resume track where stop causing problems to queue"
I found out after merge #576 :/ that when restarting the App the queue doesn't pick up from where stopped.

[2016-02-09 16:35] weblancaster commented on #638
Yeah I should have created before.. but here it is #639

[2016-02-09 17:29] Pitros commented on #639
Queue works fine, just restored track isn't marked as active for me.

[2016-02-09 17:30] weblancaster commented on #639
My queue is empty when I start the App and resume the track "saved"

[2016-02-09 17:46] Pitros commented on #634
I found main problem - .ico only has low-res logo not multiple (from 16x16 to 256x256). I've generated new ico and it looks much better. Here's comparsion: old, new, spotify.
![image](https://cloud.githubusercontent.com/assets/6910670/12925026/a67d07f8-cf5c-11e5-88b4-e0b0c17d1108.png)

And that's how it looks when you have really big icons. (new, old, spotify)
![image](https://cloud.githubusercont

[2016-02-09 17:51] devirto opened #640 "Doubled Likes"
After scrolling down a page or two 'Likes' starts to show twice
Here's what Im talking about  >

![sc-sn](https://cloud.githubusercontent.com/assets/17032123/12925283/46411b0e-cf66-11e5-8ecc-93626ac55387.jpg)

App v.0.6.2
Win10 Pro 64bit

[2016-02-09 18:00] Pitros commented on #640
Duplicated issue #564.

[2016-02-09 18:00] #640 closed

[2016-02-09 18:10] devirto commented on #640
oops sorry

[2016-02-09 21:12] Pitros opened #641 "Different charts/top50 genre selector"
I've been thinking about different way for choosing genres for charts (~20 buttons it's way too much for me), so I came up with input with dropdown list. So you can both type part of genre and press enter to submit, or choose from list with or without filtering using input.

![image](https://dl.dropboxusercontent.com/u/25785523/ShareX/2016/02/2016-02-09_22-04-34.gif)

It's currently work in progre

[2016-02-09 21:14] Pitros commented on #616
Screenshot is changed mostly after each release.

[2016-02-09 21:14] #616 closed

[2016-02-09 21:15] Pitros commented on #610
Duplicate of #524

[2016-02-09 21:15] #610 closed

[2016-02-09 22:33] weblancaster commented on #641
Looks great @Pitros you can finish, I would just change the font size a bit and the arrow also the location of the dropdown and put below the title and above the track list (align to the left).

Other than that looks great. thanks

[2016-02-10 01:15] jakejarrett commented on #641
Looks good, i agree with @weblancaster's suggestions.

The arrow should be aligned vertically with the text & I think it might look good with an active class for the current genre inside the dropdown (EG/ If you type D and you're currently on dubstep, You can tell you're already in dubstep)

[2016-02-10 13:27] pmarquees commented on #634
I'll do it today! Commit is on it's way! I'll also create a folder with all the assets related to the logo! Thanks @Pitros !

[2016-02-10 13:40] Pitros commented on #641
That's just WIP version so no worries with text styles, arrow - it's barely styled. I'll post polished version later.

[2016-02-10 21:34] miketamis opened #642 "Your username should link to your page."
Your username in the top left corner should link to your page, as I would love to see what I have reposted.

[2016-02-11 01:52] Chriz007 commented on #641
I'm loving the dropdown menu @Pitros. Good work!

[2016-02-11 02:09] Chriz007 opened #643 "Any plans to add a New/Hot tab for the Charts?"
<img width="463" alt="screen shot 2016-02-10 at 5 55 17 pm" src="https://cloud.githubusercontent.com/assets/12990919/12967870/7aebe622-d01f-11e5-9ba0-af5e875068ac.png">

[2016-02-11 06:03] weblancaster commented on #643
We can add that too in the same style we have top 50

[2016-02-12 00:29] Chriz007 commented on #643
Thanks a plenty @weblancaster

[2016-02-12 14:42] danielhq opened #644 "How do i play..."
Hey, thanks for this awesome app, been using it since day 1.
One thing i always wondered, why there is no play button when I'm watchin a song page?
![screen shot 2016-02-12 at 15 41 43](https://cloud.githubusercontent.com/assets/1651415/13009886/22ca5344-d19f-11e5-8692-64e47fd0ebe2.png)
I have to go back to the previous screen and click on play

[2016-02-12 16:17] weblancaster commented on #644
Hey @danielhq we have added this feat and will be released in the next version.. planned for beginning of next week

[2016-02-12 16:18] weblancaster commented on #644
#444

[2016-02-12 16:18] #644 closed

[2016-02-12 16:22] danielhq commented on #644
Oh sorry didn't see there was already

[2016-02-12 17:41] weblancaster commented on #644
No problem @danielhq .. hard to see when was closed

[2016-02-13 00:22] jakejarrett commented on #612
@weblancaster Are you working on this feature, I'll start on this if not

[2016-02-13 00:47] weblancaster commented on #612
Nope @jakejarrett because resume last played feat is broken #639 and I haven't had the time to work on Soundnode for the past week

[2016-02-13 15:05] alexbw opened #647 "[FEATURE SUGGESTION] Don't quit app on closing window"
Would be great, like iTunes or Spotify, if music kept playing if the window was closed with Cmd+W on Mac, or equivalent on Windows.

[2016-02-13 21:11] phanrandy31 opened #648 "[Feature Suggestion] Radio"
Have a radio type feature similar to the mobile app's radio for easier song discovery.

[2016-02-15 16:27] Ajeey commented on #642
Open the link in the browser or in the app?

[2016-02-15 19:26] phanrandy31 opened #650 "[Bug] Queue error on shuffle mode"

[2016-02-16 08:40] Rorchackh commented on #415
bump

[2016-02-16 17:59] weblancaster opened #651 "Team PR rights"
The past 2 months I've been working on a new personal project which is taking most of my time aside work so since you guys have been contributing heavily in the past months @Pitros and @jakejarrett I'm giving you the right to accept PR and/or merge code in master so things can move quickly and I don't overwhelm myself.

I will keep contributing and checking the PR's but cc me on any change.

**Ple

[2016-02-16 18:15] weblancaster commented on #651
Let me know if you guys are able to merge PR's

[2016-02-16 18:44] jakejarrett commented on #415
linux keyboard support will have to come first (mpris) then we can set custom keyboard shortcuts from the settings page for all Operating systems (If its possible)

[2016-02-17 16:52] Firenox89 opened #652 "[Improvement Suggestion] add "&representation=compact" to initizial playlist request"
This will decrease the loading time for the playlist tab drastically for people with many/large playlists.
You then only get the track ids and names instead of the full information.
The more detailed informations, then have to be loaded when clicking on a playlist, but overall, less unneeded information has to be loaded/parsed.
e.g. representation=full (the default) for me loads a 1.3 MB json resp

[2016-02-17 19:59] jakejarrett commented on #651
Looks like we can merge PRs

Sounds good, thanks for the suggestions, they will be super useful when testing PRs :)

[2016-02-17 20:40] weblancaster commented on #651
Great thanks @jakejarrett

[2016-02-18 03:44] miketamis commented on #642
App, I love to play the songs I reposted.

[2016-02-18 12:24] rahilwazir opened #653 "Way of retrieving actual track url?"
Is there any way I can get the SC url of the track?

[2016-02-18 13:53] Ajeey commented on #653
You will be able to copy the track url to clipboard once #646 is merged

[2016-02-18 13:58] rahilwazir commented on #653
@Ajeey Ah perfect!

[2016-02-18 13:58] #653 closed

[2016-02-19 15:52] weblancaster commented on #650
Could you explain the issue please @phanrandy31

[2016-02-19 16:30] #639 closed

[2016-02-19 16:31] weblancaster commented on #647
We have that added and will be released in the next version

[2016-02-19 16:31] #647 closed

[2016-02-19 16:34] weblancaster commented on #612
@jakejarrett I fixed and closed #639 feel free to work on this when you want to.

[2016-02-19 16:41] #562 closed

[2016-02-19 20:54] Jmurray1018 opened #655 "[BUG] Duplicating tracks when I scroll down my LIKES to load more songs"
When I go into my 'LIKES' I scroll down to load more music, once the next group of tracks are loaded all them are doubled up. This also affects the random playlist that is generated causing all the songs in there to be doubled up as well
![screen shot 2016-02-19 at 3 51 56 pm](https://cloud.githubusercontent.com/assets/13137606/13188696/0683ffbe-d721-11e5-9087-25ede27320e3.png)

[2016-02-19 20:58] weblancaster commented on #655
Thanks for reporting @Jmurray1018 but we already have an issue about this bug #564.. and someone is already working on fix for this.

[2016-02-19 20:58] #655 closed

[2016-02-19 21:00] Jmurray1018 commented on #655
oh awesome! thanks for the timely update @weblancaster !! I love the app and just want to see it improved

[2016-02-19 22:50] Chriz007 opened #656 "Rainmeter Visualizer support?"
So I have this cool visualizer on my windows computer, and it works really well. Even though it picks up the sound, it doesn't pick up the **Song ID** and the **Track ID**. I'm not sure who would be the one responsible for changing/adding code into the app for it to work. Just give me your thoughts. Heres the website:
http://docs.rainmeter.net/manual/plugins/nowplaying#playerlist
https://www.rainm

[2016-02-20 07:14] wb9688 commented on #656
That would be nice indeed. Where did you download that Rainmeter skin or
did you make it yourself?
Op 19 feb. 2016 23:50 schreef "Chris" <notifications@github.com>:

[2016-02-20 10:07] Chriz007 commented on #656
Its the Monsterdcat Visualizer skin. Heres the download link if you want it.
http://marcopixel.deviantart.com/art/Monstercat-Visualizer-for-Rainmeter-1-3-486330771

[2016-02-21 16:31] ference commented on #567
Scaling in worked when using <CTRL>-<=> for me. <CTRL>-<+> did not have any effect. Good stuff anyway, love it!

[2016-02-21 19:26] calvwng commented on #642
+1 for this feature request because my profile (specifically the list of my reposted songs) is always my first stop when I don't want to pick-and-choose songs from my Following Stream.

[2016-02-21 19:33] calvwng commented on #648
+1 because this, along with the original "Related Tracks" feature of the SoundCloud website, is one of the strengths that SoundCloud has over most services. I can't count how many times I found myself going down the rabbit hole due to being caught in up in the discovery of related tracks.

[2016-02-21 19:34] calvwng commented on #601
Related to https://github.com/Soundnode/soundnode-app/issues/642

[2016-02-21 19:40] calvwng commented on #638
I think @iDuuck may have wanted to see the roadmap for what changes would be deployed in upcoming releases? If that's the case, I think the Waffle kanban board is the closest thing.
https://waffle.io/Soundnode/soundnode-app

[2016-02-21 19:52] #588 closed

[2016-02-21 19:53] weblancaster commented on #561
this was fixed while ago.

[2016-02-21 19:53] #561 closed

[2016-02-21 20:11] calvwng opened #657 "[FEATURE REQUEST] "Stream Groups" for Following"
I am following a lot of users/artists which all have particular musical aesthetics, but currently there's no way in SoundCloud (nor SoundNode) to group the users/artists I follow with similar styles into personalized, streams. I would like to request the ability to create, label, and manage these "Stream Groups."

*e.g. A stream called "Friends" to keep up with my friends' reposts, a stream called

[2016-02-21 20:19] wb9688 commented on #656
Thanks for that link!

BTW that must be done with either:

1. The Rainmeter team put that feature in Rainmeter
2. Someone makes a Rainmeter plugin for that
Op 20 feb. 2016 11:07 schreef "Chris" <notifications@github.com>:

[2016-02-21 20:21] Chriz007 commented on #656
Yeah, I emailed the team a while ago, they said they had no plans for it or probably won't in the future. I would have liked it but oh well.

[2016-02-22 00:00] weblancaster commented on #601
duplicated #642

[2016-02-22 00:00] #601 closed

[2016-02-23 21:37] SLiX69 commented on #582
I had the same idea, so I don't need to open an issue anymore.

What I would really love, would be the option to add a song directly to specified playlist - cause of #490
And the repost feature would be nice, too.

Like, repost, add to playlist, is there something important missing?

[2016-02-25 18:56] #604 closed

[2016-02-25 18:59] hiddenhen opened #658 "Adding active track to playlist causes <skip to next track>"
On soundnode 0.5.7 mac

i'm in the top 50 section and playing a track from there

whenever i add a track to a playlist, the player progresses to the next track

[2016-02-26 18:38] jbl92 opened #659 "Refreshing page"
Hello,

I just downloaded this soft yesterday, it's pretty cool but still some bugs I think.

When I am loading the tracks of a random artist all tracks are loaded proprely but when I scroll down to load more ...
first problem: the tracks loaded appear dupplicated.
second problem: the sound navigator is too wide when I'm scrolling down with my mouse I  accidentally click at the end of the track.
t

[2016-02-26 18:38] jbl92 commented on #659
![problemes](https://cloud.githubusercontent.com/assets/17500930/13361686/35feef5c-dc8e-11e5-8da8-597ff6036367.png)

[2016-02-26 20:11] jbl92 opened #660 "Where are the other tracks ??"
Hello,

In my list of following artist, impossible to access at all the tracks are not showed !

![p1](https://cloud.githubusercontent.com/assets/17500930/13364097/f77d3970-dc9a-11e5-952f-516f55c7581f.png)
![p2](https://cloud.githubusercontent.com/assets/17500930/13364101/fc3172a6-dc9a-11e5-9a49-23603adfed1b.png)

Thanks for fixing it please.

[2016-02-26 20:39] jbl92 opened #661 "Shortcuts please ?"
Hello,

This soft is cool , maybe some shortcuts could make it more pleasant ?

Like in the original website :

![sh](https://cloud.githubusercontent.com/assets/17500930/13364819/25305092-dc9f-11e5-844f-9699a5598ff1.png)

Thank you in advance.

[2016-02-26 22:33] weblancaster commented on #660
We display just streamable tracks therefore every track that doesn't allow soundnode to stream we don't show them..

[2016-02-26 22:33] #660 closed

[2016-02-26 22:34] weblancaster commented on #661
We have a lot of shortcuts in place but no where the user can discover them.. this will be added in the next version

[2016-02-26 22:34] #661 closed

[2016-02-28 05:25] Oliphaunte opened #662 "Issue when searching for 'flyin'"
Not sure if this is a local issue or app related issue, haven't had a chance to go into the code yet. If someone can test this on their machine and let me know just to see.

I'm on mac 10.11 and tried this on both app version 0.5.7 and the latest 0.6.2.

It's a bit tricky, but pretty much:
1. Type the word 'flyin' (All lowercase)
2. Wait a second
3. Erase the 'in' at the end
4. Wait a second
5. Re

[2016-02-28 05:40] Chriz007 commented on #662
Nope, typed the same thing in. Didn't happen to me

[2016-02-28 05:43] Oliphaunte commented on #662
Odd, I've literally tried it like 20 times just to make sure I'm not just seeing things, and re-installed like 3 times. Are you on a mac?

[2016-02-28 06:17] Chriz007 commented on #662
Yes I am.

[2016-02-28 06:20] Chriz007 commented on #662
edit: I tried it this time without pressing 'Enter'. It did take me to the page you were referring to. Don't know why this happens though. How did you come across this.. bug?

[2016-02-28 13:35] Recydywa commented on #524
I have this problem.

I've tried the Linux version 0.6.2 downloaded from website on Xenial (development version of Ubuntu, in April it will become 16.04 LTS).

Also I would like to know what are dependencies of this app if there are any. I know that for building you need Node.js and other things. But do I need this also for the precompiled version. If yes than I wonder why they aren't listed anywh

[2016-02-28 13:40] wb9688 commented on #524
There are no runtime dependencies (except a few on Linux, eg. X11, but you
should have them)
Op 28 feb. 2016 14:35 schreef "Recydywa" <notifications@github.com>:

[2016-02-28 13:52] jakejarrett commented on #524
gconf appears to be a dependency for all nwjs apps on linux.

Building, you only need the dependencies listed on the [Wiki](https://github.com/Soundnode/soundnode-app/wiki/Development)

[2016-02-28 15:04] wb9688 commented on #524
A fast enough processor is also required :smile:, because I get a
`segmentation fault` on my netbook with a 700 MHz processor...
Op 28 feb. 2016 14:52 schreef "Jake Jarrett" <notifications@github.com>:

[2016-02-28 17:56] daxlab commented on #524
the problem is with ```universal-analytics```

[2016-02-29 08:33] jakejarrett commented on #662
Could be an XSS exploit. It tries to download the APK the moment it opens the url.

[2016-02-29 16:12] weblancaster commented on #662
That happened to me as well once.. must be what @jakejarrett my concern now is that the second time did not happen so I'm wondering if on the first time it actually tried to do something and succeed.

[2016-02-29 16:13] weblancaster commented on #662
@Oliphaunte how did you find this bug? do you have a twitter or any presence online?

[2016-02-29 20:38] Pitros commented on #662
Well, here it is :smiley:
[code]

[2016-02-29 22:00] weblancaster commented on #662
That's a Soundcloud issue then @Pitros letting someone save that kinda of data.

[2016-02-29 22:01] weblancaster commented on #662
That's a Soundcloud issue then @Pitros letting someone save that kinda of data. It's definitely XSS attack.

[2016-03-01 05:43] wb9688 commented on #662
Why not add a sanitizer?
Op 29 feb. 2016 23:01 schreef "Michael Lancaster" <notifications@github.com

[2016-03-01 06:08] wb9688 commented on #662
Can't you use [Angular's $sanitize](https://docs.angularjs.org/api/ngSanitize/service/$sanitize) to prevent XSS attacks?

[2016-03-01 12:20] rahilwazir opened #663 "Preserve scroll position"
Is this possible to remember the last scroll position of the view?

I have a playlist with more than 150+ tracks, its annoying that you have to always scroll down to the end.

- **Soundnode-app**
    `0.6.2`

- **OS**
    Ubuntu 64bit

- **Steps to reproduce**

  1. Select any playlist which can trigger scroll
  2. Scroll down to the end
  3. Now navigate within the app somewhere
  4. Come back an

[2016-03-01 16:32] tematim opened #664 "Display and play likes twice"
Hello,

After 48 likes, my likes are displayed twice : https://gyazo.com/1c86608637120b1a2304a86432e612a8

FYI

[2016-03-01 16:56] Pitros commented on #664
That issue already exists. #564

[2016-03-01 16:56] #664 closed

[2016-03-02 18:40] Fyburoptek commented on #632
Was able to successfully recreate the bug.

After launching Soundnode-app I would play a song from my stream, when it reaches the end of the list of currently loaded songs it loops the last song on the list until I change it.

If I scroll down it skips to the last track.

[2016-03-04 09:52] foxgeere commented on #295
When is the new logo going to show up in a build release?

[2016-03-04 22:38] jakejarrett opened #665 "Missing play icon on hover state"
The font-awesome icon only appears on the currently playing track (will disappear once you start playing a track)

[Video of issue](https://vid.me/846i)

[2016-03-05 03:00] weblancaster commented on #295
I need to get a couple of bugs fixes and then release.. soon very soon

[2016-03-05 14:02] alexbw commented on #647
This works when clicking the red "X" button, but not when using the shortcut "Cmd+W"

[2016-03-05 18:00] wtrmlnjuc opened #666 "Slight static/skipping of currently playing track while scrolling and loading new information."
V0.6.2 on Windows 10

[2016-03-05 20:41] weblancaster commented on #647
Sorry @alexbw but I did not release the next version yet.. I'm going to try to do this today.

[2016-03-05 20:49] alexbw commented on #647
Ah, sorry!

On Sat, Mar 5, 2016 at 3:41 PM Michael Lancaster <notifications@github.com>
wrote:

[2016-03-06 00:19] Spaisekraft opened #667 "Missing tracks"
There are missing tracks for the artist "dark cat" (soundcloud.com/dark_cat/).

[2016-03-06 01:05] jakejarrett commented on #667
Duplicate of #630

Some of the tracks aren't listed as playable for third party services (EG/ Soundnode)

[2016-03-06 01:05] #667 closed

[2016-03-09 16:28] ianstrasser opened #670 "[Feature Suggestion] View Reposted Tracks on User Channel"
I usually go to Soundcloud for the curators of tracks, but with Soundnode, I can only see tracks which the user has directly posted, and not the one's that they have reposted from other user's pages.

UI could include something like:
[ All | Uploads | Reposts ]
For those who want to still keep only the uploads when they search a user

[2016-03-09 18:38] spamarian opened #671 "Soundnote - Issues"
Hello,

I have noticed some bugs during my daily use of your application:
1) SOme tracks seem twice into the list of the next that will play.
2) If I press start and the tracks start playing, from a point and later, the track remains the same.
When I check the availability and if it is the last one, it continues with the next tracks loaded.
IF I scroll way down, it moves to the next, but still the

[2016-03-10 22:04] tjcelaya opened #672 "[FEATURE REQUEST] Light Theme"
Is there any chance any work is being done on a "light" theme? I have a strange habit of using light themes everywhere possible and inverting the entire screen so that it's easier on the eyes. Did some searching through issues and didn't see anything so I thought I'd get some feedback first.

[2016-03-10 23:50] Chriz007 commented on #672
A light theme definitely sounds great. But I wouldn't leave it to just that. I'd like other themes as well.

[2016-03-11 00:33] tjcelaya commented on #672
Glad to hear I'm not the only one. I was ultimately thinking something along the lines of Slack's custom sidebar colors feature (attached below)

![screen shot 2016-03-10 at 4 27 56 pm](https://cloud.githubusercontent.com/assets/1973223/13689444/b2ddbd6a-e6dd-11e5-85fc-dd449155665d.png)

[2016-03-11 03:24] jakejarrett commented on #672
I'd like to implement the theme switching functionality tonight :+1: Would be awesome to play around with something like that! :smile_cat:

[2016-03-11 08:06] turntable1 opened #673 "Windows 7 minimize"
How can we minimize the program in Windows 7 ?

[2016-03-11 10:34] jamesbvaughan opened #674 "[FEATURE SUGGESTION] Option to hide the minimize/maximize buttons."
I run a tiling window manager and windows tend to look nicer without any minimize/maximize buttons, so it would be awesome to be able to hide them in Soundnode.

[2016-03-11 15:43] DarrylD commented on #502
i agree, this would be an awesome

[2016-03-11 15:46] jmackhh commented on #502
I too think this would be outstanding...

[2016-03-11 20:32] weblancaster commented on #673
Right top corner `minus` button.

[2016-03-11 20:32] #673 closed

[2016-03-11 21:32] Ajeey commented on #674
Where would the likely place for this option be? Settings tab?

[2016-03-11 22:42] TeeJayCS opened #675 "Multiple Audio Devices"
Please add an option on windows to select which audio device to output to.

[2016-03-11 22:57] jamesbvaughan commented on #674
Yep, having it in the settings tab would be perfect!

[2016-03-13 08:02] wb9688 commented on #524
@jakejarrett @weblancaster I made [a patch](https://gist.github.com/wb9688/e105d5179583e0294815) for the `universal-analytics` problem...

[2016-03-13 19:25] Lastin opened #676 "[FEATURE SUGGESTION] Track stations"
Could you implement the feature of track stations, such as the one available on the mobile applications?
They talked about it here: https://blog.soundcloud.com/2016/02/02/introducing-stations/

[2016-03-14 00:03] SaahilMehta opened #677 "[Feature Suggest?] Dedicated media controls on keyboard"
I've got a Daskeyboard Pro 4, and it has dedicated media control buttons for play/pause and skip/go back. The pause button works completely fine, but the skip and go back buttons aren't functional. Is this intentional, or something that can be worked on.

[2016-03-14 00:04] #677 closed

[2016-03-14 01:11] SaahilMehta opened #678 "[FEATURE SUGGESTION] Keyboard shortcut to refresh stream/likes"
Maybe something like 'F5' or any key really. Just someway to refresh the pages.

[2016-03-14 18:26] #665 closed

[2016-03-15 05:48] SaahilMehta commented on #655
Issue is still occurring

[2016-03-15 12:03] rahilwazir commented on #524
Same issue, here is the stack trace:

[code]

[2016-03-15 14:35] wb9688 commented on #524
@rahil download the source, apply my patch and compile it...
Op 15 mrt. 2016 13:04 schreef "Rahil" <notifications@github.com>:

[2016-03-15 14:53] rahilwazir commented on #524
@wb9688 Why don't you create PR to this repo?

[2016-03-15 15:02] wb9688 commented on #524
@rahil I wanted to do that, but I was on vacation and the firewall blocked
SSH...
Op 15 mrt. 2016 15:53 schreef "Rahil" <notifications@github.com>:

[2016-03-15 15:39] rahilwazir commented on #524
Ok :smile: don't forget to merge your patch here later.

[2016-03-16 13:09] Preau opened #680 "[FEATURE SUGGESTION] Start playback from Track page"
There seems to be no way to currently start a track from the track page itself, only from search results.

[2016-03-18 16:46] christianbundy opened #683 "Shuffle algorithm just picks a random song to play"
## Reproduction

This bug can be reproduced by clicking `.player_shuffle`.
## Expected

Shuffle randomizes the order of the items in front of `queueService.currentPosition`, leaving history as it is, and changing the future queue.
### Before
- A
- B (current position)
- C
- D
- E
- F
### After
- A
- B (current position)
- F
- E
- C
- D
## Actual

Using [`Utils.shuffle()`](https://github.com/Soundn

[2016-03-20 09:38] rahilwazir commented on #524
@wb9688 I'm getting error applying patch on my Windows machine, worked fine on my Linux machine.

[code]

[2016-03-22 12:05] Pro commented on #445
Same for me in Ubuntu Gnome 15.10

[2016-03-22 20:16] jakejarrett commented on #445
I've been working on a Linux fix #645 if you wish to test the PR but I'm currently working on Windows/OSX fixes for the dbus dependency that it introduces.

[2016-03-22 21:16] xelite opened #685 "[FEATURE SUGGESTION] control soundone-app from console"
I would like to control soundnode-app from linux console. Something like tihs:
[code]

[2016-03-22 22:07] jakejarrett commented on #685
Once media key support is added to soundnode, You can actually do this relatively easy (somewhat, it wouldn't be via --option parameters)

[Xbindkeys / XF86Audio](https://wiki.archlinux.org/index.php/Xbindkeys)

then setup some aliases like.

[code]

which would only require you to type **play** into your terminal.

There are other tools like playerctl, But i haven't personally tested these with m

[2016-03-23 05:41] wb9688 commented on #685
@jakejarett and what about Windows?

[2016-03-23 07:55] jakejarrett commented on #685
@wb9688 the original question was regarding Linux, There might be a way of setting up parameters for Soundnode, but i believe nwjs will execute the entire program instead of running in a daemon state/pass through commands without executing. I could be wrong.

[2016-03-23 08:30] xelite commented on #685
@jakejarrett thanks for a tip. Maybe Soundnode should have API listening on lo interface? Then users on every platform could control/recive information from app by POST/GET via curl or something. I care about like and rewind songs.
[code]

[2016-03-23 19:49] yekohat opened #686 "[FEATURE REQUEST] Control the app with play, next keyboard touches"

[2016-03-23 19:50] yekohat commented on #686
It would be easier to control the app without oppening the window each time.

[2016-03-23 20:05] jakejarrett commented on #686
@yekohat which OS?

[2016-03-23 21:56] yekohat commented on #686
First on Windows, then on Linux systems maybe. These keys are compatible on Linux (as Windows) because Spotify support them.

[2016-03-23 22:02] Chriz007 commented on #686
Don't forget Macs as well.

[2016-03-24 05:39] ddawson90 opened #687 "Tracks are shown twice (OSX)"
I am using the Soundnode application on OSX and I found that quite often tracks are duplicated ie there are two of every track. This is especially annoying when you are trying to listen to tracks in order and each one plays twice. Can't work on any rhyme or reason for it but it seems that it affects older uploads.
![screenshot 2016-03-24 16 37 44](https://cloud.githubusercontent.com/assets/1726057

[2016-03-24 08:11] jakejarrett commented on #686
@yekohat They should be supported on Windows/Mac. Linux is currently in progress. I'll test a windows build sometime this weekend when i get a chance.

[2016-03-24 15:00] yekohat commented on #686
@Chriz007 Ok ok I should said UNIX systems

[2016-03-24 15:02] yekohat commented on #686
@jakejarrett Do you mean that these keys are already supported ? Doesn't work for me :(

[2016-03-24 15:05] wb9688 commented on #686
@yekohat you should've said POSIX-compliant systems, because Linux + OS X
!== UNIX :-)

[2016-03-24 15:08] wb9688 commented on #686
@yekohat there's already code to support media keys using nwjs' API, but
that has no support for Linux and @jakejarett is busy with the media kays
using mpris
Op 24 mrt. 2016 16:04 schreef "Wout B" <wbertrums@gmail.com>:

[2016-03-24 15:57] weblancaster commented on #687
This is duplicated #564

[2016-03-24 15:57] #687 closed

[2016-03-24 17:10] yekohat commented on #686
@wb9688 Oh I tought that POSIX was just a list of standards for UNIX systems. (As Wikipedia says)
Ok ok we'll wait his answer,

[2016-03-24 19:11] wb9688 commented on #686
@yekohat POSIX is a list of standards, but UNIX is an old, commercial operating system from AT&T...

[2016-03-24 20:30] yekohat commented on #686
@wb9688 Thank you, I understand better all theses things :)

[2016-03-24 22:02] jakejarrett commented on #686
@yekohat Keyboard controls work on windows. Some apps can interfere with keyboard shortcuts at times (Chrome with Google Play Music)

@wb9688 It can also be referred to as simply [*nix](https://en.wikipedia.org/wiki/Unix-like) :smile_cat:

[2016-03-24 22:06] jakejarrett opened #688 "Play icon on player controls no longer updates"
The play icon on player controls can be interacted with, but the icon no longer switches state.

Might be related to #668

[2016-03-24 23:20] Sean-LeBlanc opened #689 "[UI improvement suggestion] Hover for play button faster animation"
A very basic suggestion, I just feel the UI for the play button when hovering mouse over track image should pop up faster in say 1/2 the time it does now (I estimate it at 700-1000ms so I would say something between 300-500ms would appear better from my experience with hover overlays like this)

[2016-03-25 05:36] wb9688 commented on #686
@jakejarett I hadn't thinked of that

[2016-03-25 08:17] xelite commented on #685
@jakejarrett i don't see Soundnote in my dbus.
[code]

[2016-03-25 08:59] jakejarrett commented on #685
@xelite try PR #645

[2016-03-26 09:15] 10jasper10 opened #693 "UI customization"
could u add UI customization and mayby even support for gifs,
and mayby a way to make the cover from the song u are listening part of the skin so if u listen a new song the skin changes to the album cover.

[2016-03-26 10:45] yekohat commented on #686
@jakejarrett Ouch... I tought about that but they don't work. With just Soundnode opened the keys don't work. Can someone try for me (on Windows 7) ?

[2016-03-26 10:55] wb9688 opened #694 "Remapped key not working"
My keyboard has no media keys, so I remapped my numpad dot to the play/pause media key with [AHK](https://autohotkey.com/) using `NumpadDot::Media_Play_Pause`, but Soundnode is not playing/pausing when I press numpad dot...

[2016-03-26 14:08] wb9688 commented on #686
@yekohat it works on our school laptops with Windows 8, but I didn't tested
it on Windows 7 or 10, because I don't have media keys on the 3 keyboards I
have...

[2016-03-26 14:41] Ajeey opened #695 "Getting error - "Use of const in strict mode" after latest pull."
Debugged and found out the line causing that  - const SONG_TIMEOUT_THRESHOLD = 3;

Whats the fix though ?

[2016-03-26 15:08] weblancaster commented on #693
thanks for your feedback @10jasper10 but at the moment we are not planning to add any custom theme or anything related to that.

[2016-03-26 15:08] #693 closed

[2016-03-26 18:35] Recydywa commented on #524
Todays release v0.6.3 resolved the issue for me.

[2016-03-26 20:39] devirto commented on #605
FYI ... 0.6.3 playlists window is EMPTY , all the playlists are gone now

[2016-03-26 22:04] weblancaster commented on #605
@devirto looks like it's fine.. check your network, if your playlists are private or streamable.

[2016-03-26 22:17] jakejarrett commented on #686
On my windows 7 machine it works.

[2016-03-26 22:32] zestyr opened #697 "The "shortcuts" button does nothing"
When I click the "shortcuts (shift + ?)" button, nothing happens. I looked at the [code](https://github.com/Soundnode/soundnode-app/blob/d3bfbc0d3ce39ea8c8232542964fba39a560d5e3/app/public/js/components/header/settingsNav.jsx#L25) and it seems it just doesn't call anything. Why not? If it can be opened with the shortcut shift+?, it shouldn't be a problem opening it with the button.

[2016-03-26 22:36] zestyr commented on #637
I second this, would be a nice feature

[2016-03-26 22:36] weblancaster commented on #697
Ha I just wanted to show the user how to use that way they can get the habit instead of going to the menu and clicking ;)

[2016-03-26 22:38] zestyr commented on #564
This bug is still prevalent under likes and when viewing an artist's songs. Stream and Top 50 works fine though.

[2016-03-26 22:39] weblancaster commented on #564
I need to investigate that @zestyr

[2016-03-26 22:39] zestyr commented on #697
Ah, alright, it was just a little bit confusing when clicking it did nothing :)

[2016-03-26 22:40] yekohat commented on #686
@jakejarrett Hum.. I'll go check what's wrong on my Win7. Thank you for trying, this request became useless (at least for Windows).

[2016-03-26 22:43] rahilwazir commented on #524
@Recydywa Not sure, updated to the latest release still having same issue as OP on Windows.

[2016-03-26 22:43] jakejarrett commented on #686
@yekohat I can test again after the weekend with the latest build if needed

[2016-03-26 22:45] zestyr commented on #564
Not sure if it matters, but I experience the issue on both Arch Linux and Linux Mint.

[2016-03-26 22:46] weblancaster commented on #524
@rahilwazir can you describe your workflow please and what account (facebook or google?) you are using.

[2016-03-26 22:47] weblancaster commented on #564
Thanks for reporting but yeah it's going to happen in every platform @zestyr

[2016-03-26 22:49] weblancaster commented on #686
@yekohat do you have any other application that makes use of media keyboard? is your keyboard "special" like for gamers? can you tell you what keyboard you are using please? thanks.

[2016-03-26 22:50] yekohat commented on #686
@jakejarrett No no its ok don't lose time on this :) I'm already creating a Win7 VM to test

[2016-03-26 22:53] zestyr commented on #564
Hmm, could [this](https://github.com/Soundnode/soundnode-app/blob/9e60387b708c95405f32bb19142f551faea475fa/app/public/js/favorites/favoritesCtrl.js#L35) have anything to do with it? When the next page is loaded, it gets added twice (albeit into two different lists).

[code]

[2016-03-26 22:54] yekohat commented on #686
@weblancaster I have a Logitech Comfort Keyboard K290, the keys work with Spotify.
But for testing I closed Spotify and tried the keys on Soundnode but nothing

[2016-03-26 23:44] Pitros commented on #564
@zestyr yep, that's the problem. I made a PR with fix #591 a while ago, but...

[2016-03-27 01:44] jakejarrett commented on #695
@Ajeey where does this error occur? I'm unable to reproduce (Just playing songs & restarting some songs)

[2016-03-27 01:47] iRuisu opened #698 "Play button stuck on ▸when track is playing"
Pretty much the pause button || is now broken.

[2016-03-27 01:49] iRuisu commented on #698
Tbh, what did this latest 'update' even bring to the table? I love this application and appreciate the work that goes towards it but this update has only brought more bugs..

[2016-03-27 05:03] Adam-Bronfin opened #699 "Soundnode app not syncing with main soundcloud website"
Running Version 0.6.3 on Mac OS X 10.10.5 Yosemite 64 bit

Steps:

1. Like, add to a playlist, or repost any song from soundcloud website.
2. See that it doesn't appear in sound node app.

No developer tool console errors except google font failing to load:

http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext Failed to load resource: net::ERR_EMPTY_RESPONSE

[2016-03-27 08:33] rahilwazir commented on #524
- I clone the latest master
- grunt build (succeed)
- Run win32 binary
- Login through SoundCloud. (no SSO)
- Stuck at authenticating screen

Windows 10 x64

[2016-03-27 12:02] neji013 opened #700 "(feature suggestion) download sound from the app"
Just a quick message to say it is a shame and a waste of time, everytime i click the download button of a track my browser opened. your app is the best by far but this could make the whole even more fluid.

best regards

[2016-03-27 15:16] devirto commented on #605
Network is fine, playlists are not private or streamable ...

![emptypllsts_181105](https://cloud.githubusercontent.com/assets/17032123/14066008/a5e0ec00-f447-11e5-9fea-dd0bd9c75800.jpg)

also LIKEs still show twice ... = no change till 0.6.2

[2016-03-27 15:52] darknessAlex opened #701 "Problem with somes Profiles"
Hi guys, I have a problem with somes profiles.
![soundnode](https://cloud.githubusercontent.com/assets/8302155/14066214/faa2217e-f400-11e5-820f-1663844c87f1.PNG)

I can't acces to tracks of somes artists. This has happened over the previous version.

Thanks a lot! Great app!

[2016-03-27 17:49] Exani opened #702 "Songs Duplicating"
Songs duplicate everytime a new page is loaded.
![soundnode_2016-03-27_19-48-23](https://cloud.githubusercontent.com/assets/18103205/14066819/f03d3828-f454-11e5-94f4-44b7ec2c57c1.png)

[2016-03-27 22:00] DrJosepon commented on #702
Fixed: https://github.com/Soundnode/soundnode-app/pull/703

[2016-03-27 23:36] weblancaster commented on #698
Hey @iRuisu can you describe the bug please?

[2016-03-27 23:40] weblancaster commented on #699
@Adam-Bronfin Soundnode won't keep a real-time state of your changes on Soundcloud..

here's a quick flow.

On Soundcloud you like a track and you have Soundnode open on the like view, that won't update with latest.. Soundnode will always get latest when you visit (return) the view/page again so in this case I'm mentioned you would have to go to any other section of Soundnode and then come back to

[2016-03-27 23:40] #699 closed

[2016-03-27 23:41] weblancaster commented on #702
This is duplicated issue #583

[2016-03-27 23:41] #702 closed

[2016-03-27 23:45] weblancaster commented on #701
hey @darknessAlex a lot of artists/profiles doesn't allow third party apps to stream/show their tracks.. this is one of those artists. thanks for the feedback though.

[2016-03-27 23:45] #701 closed

[2016-03-27 23:46] weblancaster commented on #605
No you shouldn't need to do that @devirto if you keep having that issue let me know please.

[2016-03-27 23:46] #605 closed

[2016-03-27 23:47] weblancaster commented on #700
@neji013 agree this is a shame. Been planning to migrate to a better platform that way automatic updates would be available.

[2016-03-28 02:53] cyberhck commented on #698
I'm also having same issue with latest release, I can play and pause but the icon remains the same.

[2016-03-28 05:03] Adam-Bronfin commented on #699
@weblancaster Shouldn't have closed so quick.....I definitely tried that multiple times.

In fact, I went as far as un-authenticating my soundcloud account with soundnode-app, and tried a complete new install and login of my account to no avail. Newly liked tracks are simply not showing up.

[2016-03-28 05:18] #698 closed

[2016-03-28 05:18] weblancaster commented on #698
Fixed. although this will land in the next version.

[2016-03-28 05:21] weblancaster commented on #699
if you tried what I said multiple times that is the problem.. Soundnode does not keep a real time data of your Soundcloud data.

Thanks for your feedback @Adam-Bronfin

[2016-03-28 05:29] weblancaster commented on #700
@neji013 Oh reading again what you said I just noticed you are talking about downloading the track not the App..

Third party apps are not allowed to download tracks.

[2016-03-28 05:29] #700 closed

[2016-03-28 06:48] Adam-Bronfin commented on #699
@weblancaster Is there anything that can be done to manually sync the two?

Reason I report this is because after I downloaded the most recent version, this occurred where as before it was showing newly liked songs on soundcloud within the soundnode-app right away.

[2016-03-28 11:36] rahilwazir commented on #524
@weblancaster Latest release worked fine on Linux x64 without applying the [patch above](https://github.com/Soundnode/soundnode-app/issues/524#issuecomment-195911605)

[2016-03-28 11:48] rahilwazir commented on #524
Damn! Sorry ignore my previous comment.
Linux x64 also causing the same problem.

[code]

Nor the [patch above](https://github.com/Soundnode/soundnode-app/issues/524#issuecomment-195911605) is being applied now

[2016-03-28 12:08] rahilwazir commented on #524
Arrgghh :sob: , the [build](http://www.soundnodeapp.com/downloads/linux64/Soundnode-App.zip) from main website is working fine.

[2016-03-28 13:40] dequeues opened #705 "Keyboard shortcut keys not working unless application is at front"
Before I could use the Pause/Skip keys without the app being focused on.

Now they don't work unless I have the app opened.

EDIT: Looks like Microsoft's software had something to do with this. Odd. Uninstalled it and it now works.

[2016-03-28 13:54] #705 closed

[2016-03-28 17:22] weblancaster commented on #699
at the moment there is no way to do manually @Adam-Bronfin

[2016-03-28 17:24] weblancaster commented on #524
Ah ok can you tell me the node version and the npm version you are running please @rahilwazir

[2016-03-28 17:30] weblancaster commented on #442
@PachowStudios @SLiX69 @Nightshaxx can you check if #705 solution can solve your issue?

[2016-03-28 17:31] weblancaster commented on #686
@yekohat try to do the same thing #705 and see if fixes your issue.

[2016-03-28 18:22] devirto commented on #605
Sure

[2016-03-28 18:56] Adam-Bronfin commented on #699
@weblancaster Then I have to say this is a bug.

Soundnode-app will simply not pull new songs in from soundcloud, real time or not.

[2016-03-28 19:22] weblancaster commented on #699
the track need to be streamable otherwise we won't display on Soundnode @Adam-Bronfin

[2016-03-29 02:18] iRuisu commented on #698
Awesome, thanks dude!

[2016-03-29 06:55] rahilwazir commented on #524
@weblancaster

node: v5.9.1
npm: v3.7.3

[2016-03-29 08:48] JelmerL opened #706 "Program icon does not display soundnode logo when program is pinned to taskbar"
Issue speaks for itsself. Below I've attached two pictures, one where the program is pinned and one where it's not to illustrate further. This behavior is observed on windows build 10586.164 version 1511.

![pinned](https://cloud.githubusercontent.com/assets/16581452/14102514/5b55149a-f59b-11e5-89fb-2e8f86ebed5a.png)

Pinned
![unpinned](https://cloud.githubusercontent.com/assets/16581452/14102513/

[2016-03-29 15:31] weblancaster commented on #524
Ah have you tried downgrade to npm < 3 @rahilwazir ?

[2016-03-29 20:44] jakejarrett commented on #524
@rahilwazir Could you try using npm with [nvm](https://github.com/creationix/nvm) if you aren't already? That should make it easy to test if its npm breaking or not

[2016-03-29 20:59] weblancaster commented on #524
I'm positive that the issue is because of the use of NPM 3 so downgrading will be a goo try.

[2016-03-29 21:01] weblancaster opened #707 "[Bug] Removing track from the Queue list cause the play next"
the issue is that when removing a song from the current queue list the current track playing will be the next in the queue because the size of the array changes.

[2016-03-30 00:05] iRuisu opened #708 "Tracks in Top 50 not queuing the next track in the list but plays the next queued track in Stream"
Only the track you choose to play in the Top 50 will play, once that track ends it jumps back to the Stream queue and plays which ever track was up next within it. So pretty much the Top 50 doesn't seem to be queuing any of its track list.

[2016-03-30 04:34] wb9688 commented on #708
@Lewis it does, but only if your queu is empty...

[2016-03-30 06:48] rahilwazir commented on #524
@jakejarrett @weblancaster Yes, downgraded to npm 2x and it works.
Can you tell me why that happen?

[2016-03-30 07:54] jakejarrett commented on #524
@rahilwazir npm changed how dependencies were being handled/installed
[differences between npm3 & npm2 dependencies](https://docs.npmjs.com/how-npm-works/npm3)

[2016-03-30 10:15] yekohat commented on #686
Hi all I was a little busy these days.

Let me explain:
On my keyboard, natively, if you dont use the SetPoint software to invert them, the media keys doesn't need to press them with the "Fn" key. That's really not convenient, so I needed the software to invert them, to get an easier acces to F1, F2 ... keys. With this installation, media keys don't work with Soundnode.

So I unistalled SetPoint (

[2016-03-30 12:17] zestyr opened #709 "Like button doesn't update"
The little like button in the bottom left doesn't update on liked songs. When you play an already liked song, it doesn't light orange. If you click it, it lights orange and says "Song added to likes", even though you've already liked it. If you click it again, it unlikes.

![image](https://cloud.githubusercontent.com/assets/9434921/14141835/f22e54da-f681-11e5-8622-16fe92c1a949.png)

This also caus

[2016-03-30 12:37] xelite commented on #685
@jakejarrett works but not all methods, Seek() do nothing, eg:
[code]
...and can't get some properties or there are not true:
[code]
Position is empty and mpris:length is always 0. Is the way to add "like" method or property to set?

[2016-03-30 14:30] weblancaster commented on #524
Great.. closing this issue.

[2016-03-30 14:30] #524 closed

[2016-03-30 14:42] weblancaster commented on #709
We don't have that feat in place yet.. soon to be build

[2016-03-30 20:38] KeeganScott opened #710 "Shuffle feels very "not random""
When I choose shuffle, I keep getting the same song 3 or 4 times within 10 songs.

[2016-03-30 20:42] jakejarrett commented on #685
@xelite Those features were not added yet. There are other complications i have to fix before working on those (will cause npm to fail on windows/osx) Once those are fixed, i'll definitely finish the PR and add in position, length & other features.

[2016-03-30 21:53] weblancaster commented on #710
Yeah the shuffle algorithm (if I can that) isn't a facy one.. although there is a PR to improve how the shuffle works just waiting the person fix it #684

[2016-03-30 22:03] Adam-Bronfin opened #711 "Soundnode app displays songs multiple times & skips song on page lazy load"
Running Mac OS X 10.10.5 Yosemite & Soundnode Version 0.6.3, the following issue is experienced:

Songs are loaded a duplicate number of times as indicated by the screen shot, and when lazy load is activated by scrolling to the bottom of currently loaded songs on the page, the currently playing song is skipped/restarted.

<img width="936" alt="soundnode-bug" src="https://cloud.githubusercontent.co

[2016-03-30 23:42] weblancaster commented on #711
duplicated #564

[2016-03-30 23:42] #711 closed

[2016-03-30 23:45] max-schu opened #712 "duplicate track on lazy load"
reporting this,

on my like page, after scrolling down it duplicate lazy loads all track so of each one i get two.
to be honest the last version was way more stable.

[2016-03-31 00:01] weblancaster commented on #712
Hey @max-schu thanks for the feedback we are aware of this bug already. closing this issue because it's duplicated #564

[2016-03-31 00:01] #712 closed

[2016-04-01 04:22] weblancaster commented on #688
this was fixed.

[2016-04-01 04:22] #688 closed

[2016-04-01 04:43] #707 closed

[2016-04-01 07:14] aimanbaharum commented on #658
Same issue here.

Version: Release 0.6.3 for Windows
Downloaded from: soundnodeapp.com
OS: Windows 7 64bits

How to reproduce:
 - Play a song in Stream
 - Click **Add to playlist** button on any song
 - The currently playing song will skip to the next song

[2016-04-01 15:15] weblancaster commented on #658
I'm working on that fix.. thanks for reporting

[2016-04-01 16:48] liamgee opened #715 "[FEATURE SUGGESTION] Add to Playlist button on current track"
Would be really nice to have an Add to Playlist button right next to the like button on the current track playing. I hate having to hunt for the track that is playing to add to a playlist.

[2016-04-01 19:37] Charlesbjerg opened #716 "[FEATURE SUGGESTION] Hotkey to like a song"
A keyboard shortcut or a hotkey of some kind that would allow the user to like the current song they're listening to.

[2016-04-02 10:52] Nixontira opened #717 "iTunes like control in MacOs Control Center"
Hey,

i would like to have a quick view with a swipe from right to the left. For information an control of a song in the control center, like it is possible with iTunes.

Maybe in addition of Cover, like, repost and add to playlist buttons.

[2016-04-02 10:59] Nixontira commented on #717
just like <a href="http://i.imgur.com/F2XjZtr.png" target="_blank">that</a>. What do you guys think? plus the additions i named upwards.

[2016-04-03 09:12] alexbw opened #718 "Can we pay for this?"
Seems like a lot of work. How can I pay for a copy or donate in some way?

[2016-04-03 09:58] weblancaster commented on #718
It is although contributors have been helping greatly.

also, although I'm glad you see such value in it @alexbw when I chose to build Soundnode was mainly to have fun while solving one of my own problems (not having Soundcloud for desktop) but turned out to be a lot of people problems which I'm happily to continue work on it without requiring any type of payment.

Anyway, Thanks for considering i

[2016-04-03 09:58] #718 closed

[2016-04-03 10:07] Ajeey commented on #718
Haha @alexbw, thank you for the thought. But this is an open source software and it is free. You can promote this app though so that the contributors are motivated (as more people would use it) and contribute more.

[2016-04-03 21:40] weblancaster opened #719 "User name overlapping when is too long"

[2016-04-04 11:19] rashthedude opened #720 "Play/Pause button not updating correctly"
Version -> 0.6.3, OS -> Mac os X 10.9.5. When playing a song the pause button does not show up and vice versa.

[2016-04-04 15:17] weblancaster commented on #720
that was fixed and will be release in the next version @rashthedude

[2016-04-04 15:17] #720 closed

[2016-04-04 19:21] grant-h commented on #709
I'd also like to point out that when the song is paused, the like button in the bottom left is hidden, which seems strange to me. Maybe when spelunking that could be addressed if it's not a feature.

[2016-04-04 19:23] weblancaster commented on #709
you can open a new issue for that @grant-h

[2016-04-04 19:32] grant-h opened #722 "Soundnode song status like button disappears on pause"
While the current song is playing this is visible

<img width="313" alt="screen shot 2016-04-04 at 3 26 31 pm" src="https://cloud.githubusercontent.com/assets/3030665/14260478/ade4cb0a-fa79-11e5-9408-6200244b3d64.png">

after pausing this is what I see

<img width="307" alt="screen shot 2016-04-04 at 3 26 42 pm" src="https://cloud.githubusercontent.com/assets/3030665/14260477/ade3c0ac-fa79-11e5-8e

[2016-04-04 19:33] grant-h commented on #722
Based on the code `<span class="player_favorite" ng-click="favorite($event)" ng-hide="!isSongPlaying">` it seems like this was meant as a feature. Not sure I feel that way, but open to opinions.

[2016-04-04 20:10] weblancaster commented on #722
Yes we did on purpose @grant-h but now we should do it the right way.

[2016-04-04 20:18] grant-h commented on #722
@weblancaster Thanks for the response! Would you like me to submit a PR or should I let you handle it?

[2016-04-04 20:39] weblancaster commented on #722
Feel free do contribute @grant-h the only thing is that we are going to review and test your code.

[2016-04-04 20:40] weblancaster commented on #722
What need to be done here isn't just to always display the "heart" but for each song playing we should check if that song was liked before and mark if so.

[2016-04-05 15:17] Cerx-pw opened #723 "[FEATURE REQUEST] Localisation support"
I wanted to contribute and help translate this to Czech (my native language).
Went trought the code and saw the locale folder was created 8 months ago - but all the strings are hardcoded in code.
Would it be possible to make a separate file with all the english strings and let the app take the words from there? This would allow (not only me) for future localisation purposes.

[2016-04-05 15:38] Pitros commented on #723
It would require some work, but it's possible, as well there's already issue with that #134.
Locale folder is for NW.js, not for Soundnode.

But to be honest this probably won't be added in near future, there are still more important things to do. But maybe someone will make PR someday.

[2016-04-05 17:25] Ajeey commented on #719
@weblancaster Screenshot please.

[2016-04-05 17:30] wb9688 commented on #524
@jakejarrett you can use npm's old behaviour with the `--legacy-bundling` flag, I already changed the wiki to include that

[2016-04-05 19:18] weblancaster commented on #719
Oh actually this was fixed long time ago.. I saw a friend using it and then forgot to ask him the version he was running turns out its a old version.

[2016-04-05 19:18] #719 closed

[2016-04-06 18:22] jeancarlozapata opened #724 "[FEATURE SUGGESTION] Changelog not available"
Hello!

Great work on this application. Is there a way to have a changelog when updating?

That would be great, it could be as a file in the repository or in the main Soundnode website.

Thank you and keep up the good work guys!

[2016-04-06 18:55] wb9688 commented on #724
There is already a changelog on
https://github.com/Soundnode/soundnode-app/releases

[2016-04-06 19:18] jeancarlozapata commented on #724
Great! I didn't find it because I looked at the source code, not the releases page, and I downloaded it from the main website (http://www.soundnodeapp.com), sorry :smiley:

Thank you for the quick reply

[2016-04-06 19:18] #724 closed

[2016-04-07 20:08] otherdaniel opened #725 "[UI Suggestion]"
Love the new icon! Huge step up from the last one. However i think it could be improved further by removing the subtle lowpoly effect in the background. In my opinion it unnecessarily muddies up an already small image space. Thanks!

[2016-04-09 04:11] metal450 opened #726 "[FEATURE SUGGESTION] Minimize To Windows System Tray"
I'd love to be able to minimize this to the Windows system tray (like iTunes / WinAmp).  This was also suggested here (https://github.com/Soundnode/soundnode-app/issues/489?_pjax=%23js-repo-pjax-container), but the issue closed?

Typically I use a program like RBTray (http://rbtray.sourceforge.net) to minimize apps to the tray when they don't natively support it - but somehow, it doesn't work with

[2016-04-09 08:42] alexsteinerde opened #727 "Add to Up Next/Play Next"
A fuction that allows the user to add a various song to the current playing list on the right-hand side like in other players.

[2016-04-10 06:48] Ajeey commented on #726
On which OS are you using this?

[2016-04-10 06:50] metal450 commented on #726
Windows 7

[2016-04-10 11:27] niceguyluca opened #728 "Double liked songs"
When I go to the likes section, as soon as i scroll to the bottom to load more songs, they all appear as double, and dis-liking one of the two also dis-likes the other(duh, because it's the same song)

[2016-04-10 22:54] weblancaster commented on #728
Yes, this was a known issue and it's fixed.

[2016-04-10 22:54] #728 closed

[2016-04-11 01:57] EpiCxGoDz opened #729 "[BUG] Songs Disappeared"
Not completely sure if this a bug or if some songs can't be streamed, but for me a bunch of songs that were showing up before stopped showing up for some reason.

[2016-04-11 03:13] dgattey commented on #608
Doesn't appear to be a problem in the latest version. To be clear, you start playing a song, then click the button below the song to add it to a playlist, and it skips to the next song in addition to adding it to a playlist? Which version of the app are you using on which platform?

[2016-04-11 04:17] dgattey commented on #663
Yeah, I would love this. Just looked into implementing it and realized it's going to be a bit of a headache. First of all, it's also an issue on the main stream page, and anywhere else where there's a scrollable view that contains dynamic content.

We don't only need to save the scroll position, but also all the web content that has been loaded in via requests to the Soundnode API. We can save a J

[2016-04-11 04:18] dgattey commented on #671
1) was fixed already. Hasn't made it into a release. Can you explain 2) some more? I'm not understanding what the bug is. It's useful if you write a step by step, how to reproduce the issue.

[2016-04-11 04:24] dgattey commented on #659
1) has already been fixed, just hasn't made it into a release. 2) is a design decision, but I can see how that might be tough to use. I'm working on a fix fo 3) at the moment, so stay tuned. Does 4) continue to be a problem when you open & close app?

[2016-04-11 05:26] Chriz007 commented on #663
I've also been asking this, but sadly my suggestions have been dismissed.

[2016-04-11 08:34] dgattey commented on #662
Yeah, I'm pretty sure sanitizing would fix this. Anyone working on this?

[2016-04-11 08:36] dgattey commented on #650
Looks like a duplicate of #683

[2016-04-11 08:38] dgattey commented on #632
I'm trying to figure out the cause of this. I'll let you know what I find out. Definitely a bug that's reproducible.

[2016-04-11 08:38] #613 closed

[2016-04-11 13:05] niceguyluca commented on #728
But it's still present in 6.3

[2016-04-11 13:06] niceguyluca commented on #706
I have this too

[2016-04-11 14:24] dimohamdy opened #732 "Play Button Bug"
Play button not reflect the current state when use short cut Mac OS

[2016-04-11 14:56] weblancaster commented on #732
This is a known bug and was fixed.. will be released in the next version thanks @dimohamdy

[2016-04-11 14:56] #732 closed

[2016-04-11 14:57] weblancaster commented on #728
I forgot to mention that this is going to be in the next release @niceguyluca

[2016-04-11 15:20] weblancaster commented on #650
Very possibly @dgattey so for that reason and for no new updates I'm closing this issue.

[2016-04-11 15:20] #650 closed

[2016-04-11 15:21] weblancaster commented on #662
I don't think anyone is working on this at the moment @dgattey

[2016-04-11 15:22] weblancaster commented on #663
Let's have this as a nice to have and add to the roadmap.. right now let's focus on the major issues.

[2016-04-11 15:25] weblancaster commented on #729
Yes @EpiCxGoDz you are correct.. we just display tracks that we are allowed to display.

[2016-04-11 15:25] #729 closed

[2016-04-11 15:45] #659 closed

[2016-04-11 15:46] weblancaster commented on #722
This is fixed and will be available in the next release.

[2016-04-11 15:46] #722 closed

[2016-04-11 15:47] weblancaster commented on #709
This is fixed and will be available in the next release.

[2016-04-11 15:47] #709 closed

[2016-04-11 15:47] weblancaster commented on #607
This is fixed and will be available in the next release.

[2016-04-11 15:47] #607 closed

[2016-04-11 15:48] niceguyluca commented on #728
Oh i see, thanks ☺
On 11 Apr 2016 16:57, "Michael Lancaster" <notifications@github.com> wrote:

[2016-04-11 15:59] #619 closed

[2016-04-11 16:06] rmf34 commented on #619
:+1:

[2016-04-11 16:10] weblancaster commented on #619
Thanks reporting @rmf34 this is fixed and it's available in the next release

[2016-04-11 16:17] rmf34 commented on #619
thanks to @dgattey for fixing! love soundnode. keep it up hope to contribute down road.

[2016-04-12 13:47] yosbiome commented on #675
+1

[2016-04-12 18:54] grant-h commented on #725
Personally, I would agree that on the Mac taskbar the poly in the background is hard to make out. The first time I saw it I thought my screen was smudged.

<img width="72" alt="screen shot 2016-04-12 at 2 53 14 pm" src="https://cloud.githubusercontent.com/assets/3030665/14471835/6373a140-00be-11e6-87d1-8e9bf14a53d2.png">

Besides that, I really like the new logo's design and coloring.

[2016-04-12 19:03] grant-h opened #734 "Mac OSX double-click on titlebar to maximize"
Mac's native action when double clicking on the title bar is to switch between expanding the to the screen (without being occluded by the app tray or menu bar) and shrinking back to the original position. This is the maximize action (+).

I usually use this feature when switching from a larger screen size (an external monitor) to a smaller one and my app is offscreen (including the resize controls

[2016-04-13 08:23] daniellbg opened #735 "[FEATURE SUGGESTION] Remember expanded/collapsed playlist while running"
OS X v0.6.4
Navigating away from the playlist pane and then back will reset the view. Ideally expanded playlist(s) and scroll position would be remembered for convenient non-consecutive song navigation.

[2016-04-13 08:28] daniellbg opened #736 "[FEATURE SUGGESTION] Filter reposts from Stream"
OS X v0.6.4
This is a common request by the community using the standard web client as well.
Reposts are clogging up the Stream if you are following a large number of people, since you usually are following someone for their own music, not the music they in turn like/promote.

[2016-04-13 19:16] dgattey opened #737 "Bug: Certain Artist Pages don't load Tracks"
Specifically, Calvin Harris's page gives a `401: Unauthorized` error, making loading his tracks or description impossible. Can't figure out why it's happening either.

[2016-04-13 20:27] Chriz007 commented on #736
Exactly. This has kind of turned me off from using soundcloud or this app because of unnecessary spam

[2016-04-13 20:43] weblancaster commented on #736
I have been pretty busy but I have that on my todo's.. I even had implemented at some point but I wasn't happy with the design and removed.

[2016-04-13 21:41] Pitros commented on #737
Okay, so that's SoundCloud issue. Many api calls returns nothing or empty arrays etc. I don't know if they   did that on purpose or it's just a bug because both api-v2 and offical api doesn't work as it should.

As well if your would try to run some API calls that previously worked, now those won't work because those are not calld by SC website scripts. So API-V2 works partialy for us.

I asked SC

[2016-04-13 21:43] Pitros commented on #736
Just a quick question, removing track reposts it's something that you would turn on and woudn't turn off (toggle in settings) or it would be nice to have quick access to toggle that - let's say from stream view?

[2016-04-13 21:55] dgattey commented on #737
Hmm, interesting. Seems weird that their API would just fail for certain profiles, but makes sense.

[2016-04-13 21:56] daniellbg commented on #736
In my case, definitely a quick toggle from stream. I mostly find reposts annoying but it serves a purpose at times if I feel like broadening my horizons outside of my comfort zone.

[2016-04-13 22:00] dgattey commented on #736
Toggle from stream or Top 50 would be nicest.

[2016-04-13 22:02] dgattey commented on #735
Duplicate of #663 (though more specific, and I agree, a really nice feature to have)

[2016-04-14 01:49] ShaunDreclin commented on #726
Oh I just tweeted about this exact issue haha didn't think to check the github page. I would also love this feature, I'm running on windows 10.

[2016-04-14 09:30] tsiiiboho commented on #608
It was the first version on OSX, the issue went away 2 updates ago.

[2016-04-14 11:25] dimohamdy opened #739 "play other music"
play other music file when scroll down

[2016-04-14 12:17] titenis commented on #708
can confirm this bug still exists

[2016-04-14 16:05] weblancaster commented on #708
Yes by design that's how should work if you want the top 50 to be entirely on your queue list you will have to start fresh.. e.g once you start the app navigate to top 50 and play a track.

That being said the design isn't great :( so I started working on a fix and will be available in the next release.

thanks for the feedback

[2016-04-14 16:06] #737 closed

[2016-04-14 16:08] weblancaster commented on #735
as @dgattey said this is duplicated for that reason I'm closing this issue.. for further info please check #663

[2016-04-14 16:08] #735 closed

[2016-04-14 17:38] wb9688 commented on #708
@weblancaster can you add a remove everything from queue button?

[2016-04-14 19:26] weblancaster commented on #708
Yes @wb9688

[2016-04-14 19:29] Pitros commented on #739
Please provide more info.

[2016-04-15 08:17] howard611 commented on #666
Getting the same error too. Using v0.6.3 on Mac OS X 10.11.1.

Whenever I scroll to the bottom and more songs are rendered, the app moves on to the next song automatically.

[2016-04-15 10:18] CrazyLemon opened #742 "Can not sign with Google/Facebook on Linux"
So i tried downloading from your http://www.soundnodeapp.com/ website and i tried building from the latest release (0.6.4) and i can't get it to sign with Google at all (not responding to clicks on the button) or with Facebook (responds to clicks but i get a white page with no progress).

Here is the log

[11560:0415/121410:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See htt

[2016-04-15 22:38] jakejarrett commented on #742
@CrazyLemon the facebook error appears to be an issue with [TLS 1.2](https://github.com/nwjs/nw.js/issues/4017)

[2016-04-17 12:43] dimohamdy commented on #739
i play song then open details of this song then back when scroll down to other songs the app play other song ,and while scroll other songs play

[2016-04-17 23:04] Chriz007 commented on #739
@dimohamdy what exactly are you trying to say? English is clearly not your first language, so can you tell us with as much detail as you can if you are facing a problem with music playback, or if there is a feature you want put in?

[2016-04-18 01:21] jakejarrett commented on #739
@dimohamdy Do you mean when you scroll down a page, it will skip and play a new song like #632 ?

[2016-04-18 08:34] fmartingr commented on #742
No response from Google+ link button too on Arch + i3.

[2016-04-18 19:22] evilnoxx commented on #648
I'd love to have this feature too. It's the reason I started using soundcloud again after using spotify premium for a long time.
Having this on my laptop would be great!

[2016-04-18 22:13] dimohamdy commented on #739
@jakejarrett  it's the same

[2016-04-18 22:13] #739 closed

[2016-04-19 13:39] dn5 opened #744 "Get current song [Linux/SIGNAL]"
So, I'm wondering if there is a way to get current song that is being played through Linux signal or internal command as in (gettext) msgid, msgstr or such. Anyone had this issue? Any advice is appreciated.

Thank you.

[2016-04-19 19:46] Pitros opened #745 "New tracks aren't loaded on queue end while minimized."
If app is minimized and you reach end of the queue new track won't load untill you unminimize the app.

Also last track is being constantly repeated if you wont unminimize.

It happens at least on Windows 10.

[2016-04-19 20:56] gbegur opened #746 "[Feature Suggestion] Compatibility with Simplify"
Currently, the Simplify app (https://mmth.us/simplify/) supports Soundcloud playback through Safari & Chrome. I would love to see SoundNode updated for Simplify!

[2016-04-19 22:08] weblancaster commented on #746
@gbegur we don't have plan to integrate to any third party API/service besides Soundcloud.

[2016-04-19 22:08] #746 closed

[2016-04-21 01:30] dgattey commented on #697
This can be closed @zestyr

[2016-04-21 01:31] dgattey commented on #695
Don't think this is an issue in the latest?

[2016-04-21 01:32] dgattey commented on #680
There is - hover the album artwork and there should be a play button. Please follow up if that's not what you're seeing.

[2016-04-21 01:32] dgattey commented on #678
Command + R (ctrl + R if on PC/Linux) does it for me!

[2016-04-21 01:34] dgattey commented on #662
I'll try fixing this over the weekend.

[2016-04-21 08:16] virgili555 opened #747 "Tracks can be duplicated when adding to a playlist, unable to remove duplicates"
Reproduction steps:

- Create two playlists
- Search for a track
- Click the "add to playlist" button
- Rapidly click on the playlist you wish to add the track to.

This will add the track to the playlist multiple times only on the soundnode interface (not on soundnode itself). When you visit your playlist via the app, you can remove the duplicates, however they are re-added whenever the playlist

[2016-04-21 08:59] #697 closed

[2016-04-21 13:30] stephdgenius opened #748 "launch soundnode"
How to launch soundnode on nwjs ? because soundnode not charging in my nwjs

[2016-04-21 13:48] Pitros commented on #748
First of all you need to install node.js and NPM to install dependencies if you want to run Soundnode from source code. Then run `npm install` and after that you need to run `grunt dev` to compile css etc. and finally you can drag app directory on nw.js executable.

For faster launching you can create script in package.json by simply adding:
[code]
and then run from command npm start, or just simp

[2016-04-21 14:04] stephdgenius commented on #748
i ha ve a new message : Loading "Gruntfile.js" task...ERROR

[2016-04-21 14:09] Pitros commented on #748
Try `npm i -g grunt-cli webpack` and then `grunt dev`

[2016-04-22 15:00] AdityaNG opened #749 "Unable to Play a Private Track"
Issue : refer to title

How to recreate : Upload a track to soundcloud, set it to be private and attempt to play it on Soundnode

Error Message : **Oh No** Something went wrong. I can't play this track :(

[2016-04-23 02:28] sillero commented on #451
ATM the current api will retrieve an empty username when fetching either a track or the user info.
Soundcloud is using the api-v2 and it fetches the correct username.

[2016-04-23 17:17] weblancaster commented on #451
So maybe we should change to the API-V@?

[2016-04-24 10:48] mathiash98 commented on #716
That should be quite doable, I will take a look at it

[2016-04-24 14:40] mathiash98 opened #751 "Favorite button disappears when pause"

[2016-04-24 15:08] #751 closed

[2016-04-24 23:08] AlexLeung opened #753 "[FEATURE SUGGESTION] Link to Related Tracks list when viewing song page"
This is one of my favorite features on SoundCloud which is either not implemented on SoundNode or its location is not obvious to me.

I could fork this and work on the feature myself, or if someone else wants to take this on / collaborate with me on this that'd be cool too.

[2016-04-25 13:37] cyphunk opened #754 "[FEATURE REQUEST] Best way to find new music - reverse chronological order of reposts"
The absolute best method I have found for finding new music is by following users that repost a track I liked. This is similar to how one finds new music on Soulseek: look at other music shared by a user that currently shares music you like.

If I could get a list of users that reposted a track I liked, and get this list in reverse chronological order (first users to repost first) this serves as a

[2016-04-25 21:15] weblancaster commented on #749
Hey @AdityaNG private tracks are not streamable for that reason Soundnode isn't able to play.

I'm going to close this issue. thanks for the feedback.

[2016-04-25 21:15] #749 closed

[2016-04-25 21:17] weblancaster commented on #695
I haven't seen this issue when opening the app.. for that reason closing this issue.

[2016-04-25 21:17] #695 closed

[2016-04-26 17:04] weblancaster commented on #680
Thanks for answering @dgattey

[2016-04-26 17:04] #680 closed

[2016-04-27 13:28] daniellbg opened #755 "[FEATURE SUGGESTION] Keep local playlist DB"
Not quite sure how to implement this one, but here is the scenario:
You add a track to you playlist. The track is then removed or made private by the author. You are now left wondering why your playlist track count has decreased and what was removed.

What I'm after is some sort of playlist history function that can show tracks removed from a playlist that has been removed via any other means than

[2016-04-29 16:12] devirto commented on #605
0.6.4 report
... same as 0.6.3 "Playlists are starts to showing after I clean local storage, log out and log in again"

[2016-04-30 23:05] jvtrigueros commented on #223
@bsara I've created a [package](https://chocolatey.org/packages/soundnode-app) for installation using `chocolatey`, I've given proper attribution to this project :)

[2016-05-01 13:56] stephdgenius commented on #748
okay

[2016-05-02 13:24] RedstoneGeek223 commented on #710
...In order to make something seem more "random" you have to make the random generator less random. I'll let Vsause explain link => [https://www.youtube.com/watch?v=9rIy0xY99a0](url)

[2016-05-03 14:33] rhys0178 opened #756 "[Feature request]"
Could we enable the right hand side sidebar again please? I'm not sure why it's hidden, and I've looked at the source but I couldn't wrap my head around it

[2016-05-03 16:01] weblancaster commented on #756
Hey @rhys0178 if you are talking about the Queue list you should be able to see it.. try shift + q to toggle or click the icon at the bottom right

[2016-05-04 00:46] austinulmer opened #757 "[Request] Website integration"
Being able to integrate with a php or even ASP script would be awesome.

Have the app running on a local network, and when someone connects and goes to a domain they can push a song to the local PC.

This would be good for business or gatherings where music is being played.

[2016-05-04 14:52] weblancaster commented on #757
@austinulmer for security reasons this won't be implemented, thanks for suggesting though.

[2016-05-04 14:52] #757 closed

[2016-05-04 15:14] rhys0178 commented on #756
@weblancaster Hi Michael, soo sorry didn't realise that :-). thanks.

[2016-05-04 16:46] weblancaster commented on #756
no problem.

[2016-05-04 16:46] #756 closed

[2016-05-04 19:41] pendar747 opened #758 "Stuck on loading the authentication"
Launching the app produces the following error:
[code]
Which leaves the *Authentication your soundcloud account* running forever.

### My system and installation
- Ubuntu 16.04
- npm v2.15.1
- node v4.4.3

Could be of help: I had previously logged in using a .deb package through facebook login.

[2016-05-05 22:39] SupDos opened #759 "[FEATURE SUGGESTION] Show how much of the track has loaded on the progress bar"
Currently you can't see how much of the track has loaded. I think you should add a light gray on the progress bar for the parts of the track that have downloaded for people with unstable internet connections (or anyone really)
Talking about the progress bar, you should probably disable the ability to move it using right click, because it isn't really used to do that specific action, and might conf

[2016-05-06 23:10] rafirafirafi opened #760 "[FEATURE SUGGESTION] Global hotkeys"
Would be nice to have global hotkeys to be able to control the app while out of focus (at least on windows)

[2016-05-06 23:11] rafirafirafi commented on #727
+1

[2016-05-06 23:14] rafirafirafi opened #761 "[FEATURE SUGGESTION] Filter reposts from UI"
That would be great to be able to hide reposts from my stream

[2016-05-07 04:48] weblancaster commented on #760
@rafirafirafi what do you mean? we do have support for media plyer keyboard

[2016-05-07 04:54] rafirafirafi commented on #760
my bad! I don't have media keys and I am used to winamp w/ global keys. like Ctrl+PageDown = Next, Ctrl+PageUp = Previous Track etc... I guess i should get a new keyboard :)

[2016-05-07 04:59] wb9688 commented on #760
Ctrl+PageUp/Down would be good idea as hotkey for people without media
keys. BTW I als don't have media keys on my keyboard and AFAIK you can't
get another keyboard in a laptop :-)

[2016-05-07 11:28] cyphunk commented on #754
An alternative to this suggestion would be: Just keep track of the users whose posts I repost. And then list my users based on the users I repost the most. Then I can just remove the ones on the bottom

[2016-05-09 13:07] HonzaMac commented on #745
This happens to me also on MacOsx

[2016-05-09 21:26] weblancaster commented on #760
@rafirafirafi if you don't have the media keys in your keyboard at the moment there is no way to use shortcuts when not focusing on App.

[2016-05-10 03:16] rafirafirafi opened #762 "[bug] middle click on an artist will bring blank page and hide the UI"
In the stream when I click with the middle mouse button on an artist, the UI goes white. I can press backspace to come back to it

[2016-05-10 03:17] rafirafirafi commented on #760
ok fair enough !

[2016-05-10 03:17] #760 closed

[2016-05-10 12:43] brunolanevik commented on #666
I get this problem too on 0.6.4 Mac OS X 10.11.4. It happens if I switch between views while playing a song in a view and then scroll in that view.

[2016-05-10 18:50] #41 closed

[2016-05-10 18:50] #134 closed

[2016-05-10 18:50] #261 closed

[2016-05-10 18:50] #262 closed

[2016-05-10 18:50] #277 closed

[2016-05-10 18:50] #297 closed

[2016-05-10 18:50] #300 closed

[2016-05-10 18:50] #305 closed

[2016-05-10 18:50] #315 closed

[2016-05-10 18:50] #322 closed

[2016-05-10 18:50] #327 closed

[2016-05-10 18:50] #332 closed

[2016-05-10 18:50] #341 closed

[2016-05-10 18:50] #274 closed

[2016-05-10 18:51] #346 closed

[2016-05-10 18:52] #356 closed

[2016-05-10 18:52] #361 closed

[2016-05-10 18:52] #363 closed

[2016-05-10 18:53] #398 closed

[2016-05-10 18:53] #399 closed

[2016-05-10 18:53] #400 closed

[2016-05-10 18:53] #405 closed

[2016-05-10 18:53] #423 closed

[2016-05-10 18:53] #426 closed

[2016-05-10 18:53] #431 closed

[2016-05-10 18:54] #502 closed

[2016-05-10 18:55] #470 closed

[2016-05-10 18:55] #481 closed

[2016-05-10 18:55] #531 closed

[2016-05-10 18:55] #529 closed

[2016-05-11 07:19] eigenstil commented on #417
Why has this been closed? It isn't implemented. The only thing which was implemented is the heart-button.

[2016-05-11 07:19] eigenstil commented on #400
Why was this closed?

[2016-05-11 08:06] weblancaster commented on #400
yes, we won't be implementing the toolbar sorry.

[2016-05-12 16:54] shudder commented on #504
+1 for Chromecast Audio support

[2016-05-13 09:06] NilsEckelt opened #763 "OS X fullscreen"
To give the player undistracted attention I want as a user to have the app in fullscreen mode.

[2016-05-13 14:12] Rocrafwer opened #764 "Soundcloud Go support ?"
Will you realase a soundcloud go support version ?
It would be great if we can download sounds and access to the "Go" songs.
Thx.

[2016-05-13 14:25] weblancaster commented on #764
If Soundcloud allow third party apps using their api to use Soundclound go (I still need to check it out).. yes Soundnode will support otherwise nope.

[2016-05-14 08:14] vexersa opened #765 "View User's Likes"
Is it possible to add functionality to play a followed user's likes? Currently when navigating to a users page it only shows their tracks. Unless I'm just missing something.

[2016-05-15 03:23] GENERAL-AN opened #766 "[FEATURE SUGGESTION] Global hotkeys"
Will you please add global hotkeys?  I hate that I have to click the app to pause it.

[2016-05-15 03:31] jakejarrett commented on #766
This is a duplicate of #760

[2016-05-15 03:31] #766 closed

[2016-05-17 18:49] RedstoneGeek223 opened #767 "Running from the master"
I downloaded the "master" code (from [Here](https://github.com/Soundnode/soundnode-app)) to make sure that my program is fully up to date and want to compile it so i can use it in Windows/Linux/OSX how would I go about doing that?

P.S. I know it might be buggy but hey no harm in trying right?

[2016-05-17 22:25] jakejarrett commented on #767
There's a guide on building [here (wiki)](https://github.com/Soundnode/soundnode-app/wiki/Development)

[2016-05-18 07:41] jaayys opened #768 "Recomendation"
Each song on desktop website has it's own recommendations. App does not feature this at all.

[2016-05-18 14:20] frdmn opened #769 "Use 0-9 numeral keys to skip into 0%, 10%, 20%, 30%, ..., 90% of the current track"
Quite a lot of web players offers such a feature (YouTube.com, SoundCloud.com, Vimeo, DailyMotion) and I would love to see this in Cumulus as well. :)

[2016-05-19 13:14] RedstoneGeek223 commented on #767
Thanks!

[2016-05-19 13:14] #767 closed

[2016-05-20 03:02] patricktyndall opened #770 "Scrubbing affected by Zoom In/Out"
Scrubbing Changes/is Inaccurate when Zoomed In/Out

Version: Release 0.6.4 for Mac
Downloaded from: soundnodeapp.com
OS: OSX El Capitan 10.11.5

How to reproduce:
 - Open Soundnode App
 - Play any song
 - Zoom in or out using ⌘ + or ⌘ -
- Try to scrub to any location in the song
Actual result:
 - the song play cursor doesn't move to the location where the mouseclick happened - the zoom shouldn't a

[2016-05-20 10:51] esarandon opened #771 "[FEATURE SUGGESTION] option to see all activity from artits"
Hi,

(I am not sure how to name this feature... if you find a better name, please change it!)

When you look in an artist page on soundcloud.com, you have 4 tabs where you can see their activity (all, tracks, play list and reposts). But in Soundnode you can only see the tracks that have been posted by the artist.
It will great if you can see all their activity and not just their tracks.

I attache

[2016-05-22 05:06] jaayys opened #772 "Resposts"
Reposts not visible/available on artist's profile

[2016-05-22 05:07] jaayys opened #773 "Windows Icon/Tile"
Need a clean, slick icon to match with gorgeous UI.

[2016-05-22 05:08] jaayys opened #774 "Artists Social Links"
Social links of artists (FB,Twitter etc.) not visible

[2016-05-22 20:30] husnain-ahmad opened #775 "Ubuntu Usage Help"
I cannot find any instructions about how to use this app on Ubuntu. I have downloaded a .zip file from the [soundnode](http://www.soundnodeapp.com/ ) site and unzipped it. After extraction I got an executable named `Soundnode`.
When I try to run it from terminal using `./Soundnode`, I get `bash: ./Soundnode: No such file or directory`. I have used `chmod +x Soundnode` but no success.
Please guide

[2016-05-23 17:47] crossdsection commented on #758
Found the same error on my system.

**My system and installation**

- Fedora Release 23
- npm v1.3.6
- node v0.10.42

[2016-05-23 19:50] crossdsection commented on #758
I may have found a reason of this happening,

` popUp = gui.Window.open('http://sc-redirect.herokuapp.com/', {
        show: false
    });

    authenticationId = window.setInterval(function () {
        console.log(popUp);
        that.verification(popUp);
    }, 1500);`

In this code, `http://sc-redirect.herokuapp.com/` this URL needs to get hit and a popup of logging in comes automatically. I t

[2016-05-23 19:51] brainscript commented on #773
+1

[2016-05-23 20:34] brainscript commented on #634
**Another bug, kinda related to this:**
If you start Soundnode on Windows and pin it to the taskbar, you will see this icon (red):
![soundnodescreenshot](https://cloud.githubusercontent.com/assets/8706734/15483262/134bb662-2134-11e6-8f7a-26312dd9acf9.jpg)
If you unpin it again or hover over the taskbar icon, you can see the "normal" icon (green).

I think that's because the `.exe` file still conta

[2016-05-23 20:43] wb9688 commented on #634
That's the logo of nw.js, there was already a seperate issue for that…

[2016-05-23 20:44] brainscript commented on #634
@wb9688 Didn't know that. :smile:

[2016-05-23 22:12] jakejarrett commented on #758
You need to run it via nwjs, there's instructions on the wiki on how to build it

[2016-05-24 00:01] crossdsection commented on #758
I did followed [the](https://github.com/Soundnode/soundnode-app/wiki/Development) wiki, and ran it with nwjs only.. But still I was getting this error. So is the problem is with my nwjs installation?

[2016-05-24 14:29] JonasGroeger commented on #775
Ideally, this project should have an up-to-date package in a package repository like [Bintray](https://bintray.com/account/pricing).

[2016-05-24 14:55] JonasGroeger opened #776 "Cloning this repository takes ages (>20m)"
Cloning this repository takes very long, since its big and the cloning speed is only at about 150 - 200 KiB/s.

Any chance we can get it smaller?

[2016-05-24 16:07] wb9688 commented on #776
By me it doesn't take ages, btw by me the cloning speed is 5MiB/s…

[2016-05-25 08:43] JonasGroeger commented on #776
[code]

Clearly, its not my internet connection:
![SpeedTest](https://abload.de/img/535261954065p2d.png)

[2016-05-25 09:07] jakejarrett commented on #776
git is slow with large files, ideally it should use something like [git-lfs](https://git-lfs.github.com/)

[2016-05-25 09:25] JonasGroeger commented on #776
Why not get the contents of the `/cache` directory from somewhere else?

[2016-05-25 14:47] JonasGroeger commented on #775
@husnain-ahmad I'm in the process of setting up a correct package repository so that you can easily install that on Ubuntu.

[2016-05-25 16:59] thislooksfun commented on #763
It is possible with El Capitan to put it into full screen by entering Mission Control and dragging the SoundNode (or any other app) between (or to either side of) two desktops until a gray `+` appears.

However, as that is a pain, I would also really like to have the green button do that. Or at the very least, add the `Enter Full Screen` menu option.

[2016-05-26 03:57] husnain-ahmad commented on #775
@JonasGroeger That would be awesome. Should I use Bintray repo for now?

[2016-05-26 09:37] JonasGroeger commented on #775
I'm not sure what you mean. Sure, if it works for you?!

[2016-05-27 12:51] GaussianBlurs opened #778 "Empty playlists section"
Hi, I just started using Soundnode and I really like the app, great work !

There is a problem though, when I click on the "Playlists" tab, no items are displayed, I just get an empty window. My playlists are set to "private", so t I tried making them public but that didn't work. The other features such as "Likes" and "Tracks" work fine.

Any ideas why this is happening ?

Cheers

[2016-05-27 16:29] weblancaster commented on #778
If your playlist is marked as private Soundnode won't be able to display them.. now after you marked as public you would have to wait until Soundcloud make that info available to third party apps.

You will need to restart the App.

[2016-05-27 16:43] GaussianBlurs commented on #778
Sorry, I forgot to mention some of my playlists are public but they don't show up either.

[2016-05-29 13:52] pwittchen opened #779 "System integration on Linux"
Hi!

Thanks for the cool project! It would be great if it would have system integration on Linux based systems like Spotify or other players have (see attached screenshot). I'm currently using Ubuntu 14.04 LTS with Gnome.

![system_integration](https://cloud.githubusercontent.com/assets/695319/15633718/d062d0a8-25b4-11e6-942a-67703e8624be.png)

Alternatively, you can provide some tips how to do th

[2016-05-29 22:26] jakejarrett commented on #779
@pwittchen This is implemented in #645 but needs to be tested on Windows/OSX versions & some small fixes.

[2016-05-30 16:17] sn1p3r46 commented on #768
What do you mean? Could you argue a bit?

[2016-05-30 23:01] pwittchen commented on #779
Thanks for the comment! Do you know, when it's gonna be merged to the master branch? The last comment on that issue is almost one-month-old.

[2016-05-31 00:22] jaayys commented on #768
When you open/view a song individually on the desktop website, there is always a 'recommendation' or 'songs you might like' panel.  It's missing in Soundnode, it's one the main features that I use in SoundCloud

[2016-05-31 14:05] rijnhard opened #780 "[FEATURE SUGGESTION] Ubuntu PPA"
Hi

Instead of downloading the application again for each release it could benefit a lot of users to have a ppa available, that way updates are practically automatic for users.

[2016-05-31 14:34] JonasGroeger commented on #780
Duplicate of #775. I'm working on it. Once #777 is merged into `master`, I will provide a package repository.

[2016-05-31 14:37] JonasGroeger commented on #638
See #777 and #780 and #775

[2016-05-31 15:49] rijnhard commented on #780
@JonasGroeger my apologies, i did try to search, somehow missed it.

[2016-05-31 15:49] #780 closed

[2016-05-31 15:59] JonasGroeger commented on #780
Nothing to apologize for :)

[2016-06-01 09:39] Aggelos010 opened #781 "Shortcuts"
Hi ,

Can you add a shortcut to repost and/or like the current song thats playing.

Regards,
T

[2016-06-01 17:56] JonasGroeger commented on #748
@stephdgenius Did it work? Then we can close this here.

[2016-06-01 19:50] pendar747 commented on #758
This is most likely an issue with nw js `window.open()` method. For some reason it returns `undefined` instead of a window instance and also it doesnt redirict the page once `'http://sc-redirect.herokuapp.com/'` is loaded. I tried this with nw js 0.15.0

[2016-06-01 22:01] juliusklaus opened #782 "[Feature Suggestion] Reposts Section"

[2016-06-02 17:24] alexmorral opened #783 "Keyboard media keys stop working when osx sleep"
Running a mbp with OSX 10.11.5 El Capitan

Soundnode version 0.6.4

To reproduce:

Just closing the lid and opening back again when macbook is sleeping. The media keys stopped working.

Also (not) working when putting the mac to sleep using the top-left menu.

[2016-06-02 20:51] emckenna commented on #675
yes yes yes please
+1

[2016-06-04 18:10] poacher2k commented on #672
Would be cool if this was pluggable as well! As in, dropping `{name}.css` into the `skins\` folder would make the theme appear in the theme selector.

[2016-06-05 14:42] DeVoePack opened #784 "Add Program to Notification Area of the Taskbar"
It would be awesome if you could control the soundnode app through the notification area of the taskbar. It could be like a mini controller so you don't have to go into the app all the time to skip music, favorite it, skip to another part of the music, etc.

[2016-06-05 14:42] #784 closed

[2016-06-05 21:16] Mycorvette opened #785 "[Feature Recommendation] game GUI plugin suport"
for example, the ability to create a Gui plugin to control music while playing a game or being in a full-screen program; for example, Curse Voice uses an overlay for many games that allows you to control and see your current call.

[2016-06-05 23:43] SLiX69 commented on #785
Don't you have media keys?

[2016-06-06 03:29] GENERAL-AN opened #786 "Playlist section is blank!!"

[2016-06-06 07:11] rhys0178 commented on #786
Hi, Could you please describe your issue, what should be in your playlist (by looking at [SoundCloud](www.soundcloud.com)) and any other relevant information

[2016-06-06 07:15] rhys0178 commented on #726
This can be done with the [minime tool](https://sourceforge.net/projects/minime-tool)

[2016-06-06 16:39] GENERAL-AN commented on #786
The playlist section has no playlist(s) when I click the "Playlist" button.

    On Monday, June 6, 2016 2:11 AM, rhys0178 <notifications@github.com> wrote:

 Hi, Could you please describe your issue, what should be in your playlist (by looking at SoundCloud) and any other relevant information—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub,

[2016-06-06 16:51] weblancaster commented on #786
@GENERAL-AN if your playlist view is empty, make sure you have them public on Soundcloud

[2016-06-06 18:44] Pitros commented on #776
Next time use `--depth=1`.

[2016-06-06 19:09] JonasGroeger commented on #776
@Pitros The libffmpeg (`libffmpegsumo.so`) is just under 2MB. The issue is with nwjs. It's big.

[2016-06-06 22:18] jakejarrett commented on #781
@Aggelos010 these already exist, You can view a cheat sheet of shortcuts by pressing Shift + ?

[2016-06-07 16:30] JonasGroeger commented on #775
@husnain-ahmad Which version of Ubuntu do you have? You can find it under `Information` in the start menu (gear icon)

[2016-06-07 16:34] husnain-ahmad commented on #775
I am using Ubuntu 14.04.4 LTS.

[2016-06-07 16:50] JonasGroeger commented on #775
I just uploaded a soundnode version to packagecloud for 16.04 (xenial). Can you try if this works for you anyway?

[code]

[2016-06-07 17:08] husnain-ahmad commented on #775
I have a machine with xenial installed onto it. I'll let you know in a short while after giving this a try.
Thank you so much for you efforts and support. You Rock!

[2016-06-07 20:56] JonasGroeger commented on #780
@rijnhard Look at https://github.com/Soundnode/soundnode-app/issues/775#issuecomment-224342781

[2016-06-07 22:15] rijnhard commented on #780
I'll give it a go and get back to you. (Going to set it up in a docker
container)

On Tue, 7 Jun 2016, 22:56 Jonas Gröger, <notifications@github.com> wrote:

[2016-06-08 07:56] husnain-ahmad commented on #775
This is working like a charm, I am properly impressed. You ROCK big time Sir.
Attaching a snapshot from my Xenial Machine.
![screenshot from 2016-06-08 12-41-10](https://cloud.githubusercontent.com/assets/9768275/15886820/6d219f94-2d78-11e6-8520-ea3000ef5e56.png)

[2016-06-08 08:05] JonasGroeger commented on #775
@husnain-ahmad Thanks :) Do you want it for another distribution aswell?

[2016-06-08 09:58] husnain-ahmad commented on #775
No issues with playlist, account or the playback. This is gold.
Nah, I am good with Ubuntu. Thank you so much.
One last question: Will it work on 14.04 as well? If i curl the same bash script to a 14.04 machine will it work?

[2016-06-08 10:18] JonasGroeger commented on #775
@husnain-ahmad I have added the packages for Ubuntu 14.04 (trusty) aswell. You can try them using the same procedure.

[2016-06-08 10:29] wb9688 commented on #775
@jonasgroeger Can you add a Debian Jessie package?

[2016-06-08 11:16] jaayys opened #787 "Reposts not visible on artist's profile."

[2016-06-08 11:18] jaayys opened #788 "Related tracks not visible when viewing individual tracks."

[2016-06-08 19:11] Joe-LB-03 opened #789 "Audio Not Working"
I just downloaded Soundnode. i run the program, sign in and select my favourite song. I hit play - and nothing happens! The now playing bar says the song is playing, but there is no sound. I the volume on the desktop, the volume on the software. Nothing. Please help!

[2016-06-08 20:18] wb9688 commented on #789
What OS are you using?

[2016-06-08 20:20] hcjoel commented on #771
I would also love a feature like this

[2016-06-08 20:57] JonasGroeger commented on #775
@wb9688 Done.

[2016-06-08 20:57] JonasGroeger commented on #775
@weblancaster This can be closed.

[2016-06-08 21:08] #775 closed

[2016-06-09 10:28] AdrianSkar opened #790 "[FEATURE SUGGESTION] Global keyboard shortcuts."
Hi guys, love the app, use it every day but I'd also love to have global keyboard shortcuts (as in apps like Clementine, VLC) just for the basic things at least (Play/pause and Next track).

Great work, thank you!!

[2016-06-09 10:30] wb9688 commented on #790
They already are there: the media keys (if your keyboard has them)

[2016-06-09 10:32] AdrianSkar commented on #790
Couldn't get them working on Ubuntu (at least with this one), thats why I needed to use this feature also on those other apps. Ty.

[2016-06-09 10:37] wb9688 commented on #790
For Linux try #645

[2016-06-09 11:05] AdrianSkar commented on #790
My knowledge of git is basic and I don't even know where to start but I'll try. Thank you.

[2016-06-09 12:06] JonasGroeger opened #791 "Promote Ubuntu/Debian packages"
Hi @weblancaster!

I am maintaining a [Debian and Ubuntu repository on packagecloud.io](https://packagecloud.io/JonasGroeger/soundnode). This is very nice for Debian and Ubuntu users since the installation and updates are very convenient:

    # Installation
    curl -s https://packagecloud.io/install/repositories/JonasGroeger/soundnode/script.deb.sh | sudo bash
    sudo apt-get update
    sudo ap

[2016-06-09 13:42] wb9688 commented on #791
I have time today to update Soundnode/soundnode-website#7, which will be
merged if I changed the suggestions in it. I'll also add instructions to
install the Ubuntu/Debian packages.

[2016-06-09 13:45] wb9688 commented on #790
`git clone -b mpris https://github.com/jakejarrett/soundnode-app.git` iirc

[2016-06-09 14:16] JonasGroeger commented on #791
@wb9688 That'd be great!

[2016-06-09 14:50] wb9688 commented on #791
Off-topic: @jonasgroeger `sudo apt-get install soundnode` doesn't
automatically install it's dependencies…

[2016-06-09 15:20] JonasGroeger commented on #791
@wb9688 I'm not sure what you mean? Which dependencies?

[2016-06-09 15:28] wb9688 commented on #791
libgconf-2-4 and some others
Op 9 jun. 2016 17:20 schreef "Jonas Gröger" <notifications@github.com>:

[2016-06-09 15:32] JonasGroeger commented on #791
@wb9688 You're probably trying that in a docker environment?

[2016-06-09 15:39] wb9688 commented on #791
No, a real machine with Debian Jessie and just openbox

[2016-06-09 16:13] JonasGroeger commented on #791
@wb9688 Ehhm :sweat_smile: see #792

[2016-06-09 18:23] Joe-LB-03 commented on #789
SteamOS which is pretty much Debian.

Get Outlook for iOS

On Wed, Jun 8, 2016 at 9:18 PM +0100, "wb9688" <notifications@github.com> wrote:

What OS are you using?

---
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub:
https://github.com/Soundnode/soundnode-app/issues/789#issuecomment-224714639

[2016-06-09 22:02] jakejarrett commented on #789
@Joe-LB-03 I haven't tested steamOS before, Can you check if soundnode is listed on the applications tab in sound?

If you're unsure on how,
Go to desktop mode, Settings -> Sound -> Applications tab at the end

[2016-06-09 22:06] jakejarrett commented on #790
@AdrianSkar You can do a git clone, but you'll need to install all the dependencies
[code]

should do the trick once you've got it cloned

[2016-06-10 15:11] AdrianSkar commented on #790
I've managed to get it built but it doesn't work (the app launches but no content is shown, just the Main menu and controls).
I'll stick with the current version and try to get the media keys working globally for my distro.
Thank you guys, you're great.

[2016-06-13 15:23] rijnhard commented on #775
@JonasGroeger not to necro this but  i get `E: Unable to locate package soundnode` when trying to install this in Linux Mint 17.3 (Ubuntu 14.04)

It looks like the GPG key and the repo is being added properly, but the package isn't listed, probably becasue apt doesn't think its compatible.

[2016-06-13 17:23] JonasGroeger commented on #775
did you run apt-get update?

after that, whats the output of apt-cache show soundnode

?

----- Originale Nachricht -----
Von: Rijnhard Hessel <notifications@github.com>
Gesendet: 13.06.2016 - 17:23
An: Soundnode/soundnode-app <soundnode-app@noreply.github.com>
Betreff: Re: [Soundnode/soundnode-app] Ubuntu Usage Help (#775)

[2016-06-13 21:17] JonasGroeger commented on #775
@rijnhard Can you check if the package is found? See http://serverfault.com/questions/252333/list-all-packages-from-a-repository-in-ubuntu-debian

[2016-06-13 22:03] JakubMatyka opened #794 "feature/hdpi screens support"
As mentioned in title ;)

[2016-06-14 00:13] dequeues commented on #744
I'd like to see something like this. Same on Windows.

[2016-06-14 08:02] rijnhard commented on #775
[code]

[2016-06-14 08:11] rijnhard commented on #775
Interesting `/var/lib/apt/lists/packagecloud.io_JonasGroeger_soundnode_linuxmint_dists_rosa_InRelease` looks like this

[code]

[2016-06-14 08:14] wb9688 commented on #744
That would also be handy for eg. Conky's.

[2016-06-14 11:00] JonasGroeger commented on #775
@rijnhard Yup. You might just change it manually.

[2016-06-14 11:47] rijnhard commented on #775
@JonasGroeger I will but there is probably a permanent solution for others, since its obvious the slack installer was configured to install the debian jessie repo.
Thank you though

[2016-06-15 12:00] dn5 commented on #744
Hey guys, this is now possible, check MPRIS integration @ https://github.com/Soundnode/soundnode-app/pull/645 which is for a few days supported on

[2016-06-15 12:05] dn5 commented on #779
The mpris is now in a latest build and work on all supported platforms.

[2016-06-15 12:09] pwittchen commented on #779
Thanks! I'll check it later.

[2016-06-15 18:51] pwittchen commented on #779
Is version with that feature already released? I have version 0.6.4 and it says it's the latest version, but it doesn't integrate with the system.

[2016-06-15 21:54] jakejarrett commented on #779
mpris support isn't merged yet. Hopefully it gets merged soon :smile_cat:

[2016-06-15 22:05] pwittchen commented on #779
Nice. Can't wait. :)

[2016-06-18 15:33] Pitros opened #796 "Update to lastest nw.js"
I've been trying to update nw.js to latest version (0.15.3) but there's an issue with opening authentication window - webpage scripts are unable to open new window by using `window.open()`.

So I thought we could rework how authentication works by removing hidden window which points at `sc-redirect.herokuapp.com` which @weblancaster uses, and make each time authentication is needed the localhost s

[2016-06-20 20:29] #785 closed

[2016-06-23 08:27] jcvangent opened #797 "SoundCloud discover support?"
SoundCloud released a new feature yesterday called "discover" (http://thenextweb.com/insider/2016/06/22/soundcloud-finally-brings-algorithmic-song-recommendations-with-suggested-tracks/).

It is available on their website, any plans for adding this in SoundNode as well?

[2016-06-23 08:53] loretoparisi commented on #797
@jcvangent it seems that the [Suggested Tracks](https://blog.soundcloud.com/2016/06/22/introducing-suggested-tracks/) are not on the api yet.

[2016-06-23 15:35] weblancaster commented on #797
Once they make available through the API yes we will support

[2016-06-23 15:43] jackie11 commented on #797
Question. Will this app let my iphone connect to my pc to control the music from my phone?????

Other apps like spotify desktop app lets you do this. Hope it exists for soundcloud??? If it doesn't, where should I post this question to request this feature???

[2016-06-23 15:55] wb9688 commented on #797
@weblancaster it's available in the SC v2 API @
api-v2.soundcloud.com/me/personalized-tracks
Op 23 jun. 2016 17:43 schreef "jackie11" <notifications@github.com>:

[2016-06-23 15:56] jackie11 commented on #797
What does that mean? Sorry, I'm new to this and you may need to explain this like I'm a child... lol/

[2016-06-23 15:58] jackie11 opened #798 "Can I use my iphone to connect to soundcloud desktop to control songs????"
I have a desktop computer that has speakers connected to it that can play outside.... Apps like spotify have a desktop client that will lets you connect to your WIFI and control your songs....

can I do this with soundcloud? This will let me control the volume and tracks from my backyard.... I just don't like spotify as much as I like soundcloud.. Can I do this????

[2016-06-23 19:34] Pitros commented on #798
Currently it's not possible, but I also thought aobut remote control for soundnode, so this might be added in future.

[2016-06-23 19:46] #403 closed

[2016-06-23 19:47] #404 closed

[2016-06-23 19:47] #415 closed

[2016-06-23 20:03] #564 closed

[2016-06-23 20:04] #586 closed

[2016-06-23 20:04] #636 closed

[2016-06-23 20:07] #748 closed

[2016-06-24 08:38] loretoparisi commented on #798
@Pitros which protocol would use to do the remote control?

[2016-06-24 11:25] Pitros commented on #798
@loretoparisi i thought about http server running with soundnode, so you could simply control soundnode with web browser on any device, no apps required.

[2016-06-24 15:27] loretoparisi commented on #798
@Pitros right that's the simpler solution 👍

[2016-06-24 15:36] wb9688 commented on #798
@loretoparisi I'm currently busy with it on #799…

[2016-06-24 15:59] Pitros commented on #797
@jackie11 about controlling Soundnode from phone, this is currently in progress.

But discussion here was about discover function, and the result is that it's possible to make.

[2016-06-24 16:02] wb9688 commented on #797
@Pitros it isn't impossible, like I said it's available in the SC v2 API @
api-v2.soundcloud.com/me/personalized-tracks

[2016-06-24 16:05] Pitros commented on #797
@wb9688 read once again what I wrote. I saw your reply and I probably will take a look at it.

[2016-06-24 16:11] wb9688 commented on #797
@Pitros I read it wrong, I thought you said:

[2016-06-24 17:34] loretoparisi commented on #797
@Pitros very curios that after several `like` and `play` I get no collections from

`https://api-v2.soundcloud.com/me/personalized-tracks?limit=10&oauth_token=xxxx`

but

[code]

[2016-06-24 17:46] wb9688 commented on #797
By me it gives lot of output see imgur.com/U6UWbGY

[2016-06-24 17:51] wb9688 commented on #797
@loretoparisi I get the following:

[code]

[2016-06-25 02:51] jakejarrett commented on #797
@wb9688 Just so we can easily follow the conversation, can you please convert that into a gist. that one json output is longer than all the other comments

[2016-06-27 13:01] GaussianBlurs commented on #778
Hi, my public playlists are still not showing up, any progress on this issue ?

[2016-06-28 15:35] jackie11 commented on #798
Oh wow, so you think you can do it?

Apple has "remote" which works good, but I don't want to control itunes, and spotify has a remote app too.. Thanks again. How's the progress?

[2016-06-28 15:46] Pitros commented on #798
@jackie11 check reply above yours, there's link to @wb9688 pull request and you can check the progress

[2016-06-28 18:12] wb9688 commented on #798
@jackie11 If you want to test it you can download it [here](https://wb9688.stackstorage.com/index.php/s/J1sFfcQN2RqVA4S). You need to enable it in the settings of Soundnode and then restart Soundnode. You van access it on port 8319. If you encounter any bugs or have feedback, please post it in #799.

[2016-06-29 16:23] GrayedFox opened #801 "[FEATURE SUGGESTION] Resolve Web links / sound cloud player to Soundnode"
Hey all, will write this out as a user experience story.

As a user, if I see an embedded Sound Cloud player while browsing and press play, I want my Soundnode app (if open) to respond by playing the track inside the app instead of inside the browser.

Would be happy to contribute to this feature request. Can only test on Linux however.

[2016-06-29 16:32] wb9688 commented on #801
That would be *REALLY HARD* to make…

[2016-06-30 02:08] kiingkiller opened #802 "tracks will not play"
it was working fine this morning but when i got home when ever i try and play a track nothing happends and if i try and click into the track i get the oh no message.

[2016-06-30 04:28] wb9688 commented on #802
Try removing the LocalStorage in the Soundnode setting and then rrstart
Soundnode…

[2016-06-30 06:51] Flukky commented on #802
Problem appeared 30.06.2016. It is not possible to listen any track. Everything I got it is silence. When I try to move forward a current track, I got the message: "Oh No. Something went wrong. I can't play this track :(". I tried to clean up local storage, run as admin. It didn't help.

[2016-06-30 08:08] eisenbergrobin commented on #802
Same here :( Tried removing the LocalStorage, no help. Version 0.6.4.

[2016-06-30 08:18] clemlycao commented on #802
Same problem i clean the LocalStorage and download the app again from the website. It's work now :)

[2016-06-30 10:48] clivend commented on #802
Same here :( Tried removing the LocalStorage, no help. Version 0.6.4 on Ubuntu 14.04

[2016-06-30 11:51] Mattijah commented on #802
Exactly same problem here. Version `0.6.4`, appeared yesterday.

[2016-06-30 11:56] jakejarrett commented on #802
It appears that we exceeded the [Rate limit](https://developers.soundcloud.com/docs/api/rate-limits)

[code]

[2016-06-30 12:05] GrayedFox commented on #802
@jakejarrett hey there, how did you find that log message? I haven't built from source (should probably do that) - but since it's a nodejs app - can I enable logging somehow? view a console even? would be good to know so I can make more meaningful bug reports!

also +1 on this issue. Clearing local cache and restarting app resolved for me.

[2016-06-30 12:13] jakejarrett commented on #802
@GrayedFox You can just press Control (Command on Mac) + / and it will open the devtools :smile:

[2016-06-30 12:19] GrayedFox commented on #802
And on Linux? :penguin:

[2016-06-30 12:53] jakejarrett commented on #802
Linux is Control + / :smile_cat:

[2016-06-30 13:19] GrayedFox commented on #686
Since this issue was in fact a software conflict, would suggest closing!

[2016-06-30 13:20] GrayedFox commented on #686
P.S more than happy to act as an issue mediator on this project and close non-issues etc, would love to be a regular contributor

[2016-06-30 13:31] wb9688 commented on #802
@jakejarrett how could we avoid exceeding the rate limit? I was thinking of
at least implementing session-based caching (so when you listen again to a
song you won't make a new request) as allowed in the [Terms of Use](
https://developers.soundcloud.com/docs/api/terms-of-use#caching):

reasonably necessary for the operation of your app during that session, and
any cached content must cease to be a

[2016-06-30 16:07] weblancaster commented on #802
We hit the Soundclou API limit that's the reason we can't play tracks.

[2016-06-30 16:17] weblancaster opened #803 "As a user I want to be able to know when we hit API limit"
At the moment the "solution" in place isn't helpful.. perhaps letting the user know before the start playing tracks

[2016-06-30 16:46] weblancaster commented on #789
closing this since we haven't heard on this for a while

[2016-06-30 16:46] #789 closed

[2016-06-30 16:56] wb9688 commented on #802
@weblancaster Jake Jarrett has already said that, what about my idea above
to hit the rate limit less fast?

[2016-06-30 17:01] Pitros commented on #802
Cache doesn't sound good for me, especially that most queries comes from playing stream, so cache would let us save maybe few percents at most.

[2016-06-30 17:03] wb9688 commented on #802
And what about adding an option for using the user's Client ID?

[2016-06-30 17:06] GrayedFox commented on #802
Eh? Cache would potentially save the end user a lot of data usage, and reduce how many times we hit the API. Not sure the best way to get the stats, but I could record all my traffic coming from Soundnode over several sessions using a proxy and gather data based on those requests most repeated. This would give us a base to decide what to cache first, based on traffic. Would be more useful with a l

[2016-06-30 17:09] eisenbergrobin commented on #802
I think caching will barely (if at all) help with this issue.

How about using a rotating pool of clientIds/tokens? If we just generate a few tokens and rotate between them wouldn't that mitigate the problem?

[2016-06-30 17:13] Pitros commented on #802
When soundcloud added limits, we talked about that but I don't remember what @weblancaster thought when I proposed using more api tokens and just randomly assigning them while user logs to app. That is still the best idea for me.

[2016-06-30 18:33] weblancaster commented on #802
I'm just going to build something to let me know when Soundnode is close to hit the limit and change to another developer id (I'm going to create two more developer ID)

[2016-06-30 18:35] weblancaster opened #804 "As a developer I want to be able to know if SC API is near the limit"
check on every app startup

[2016-06-30 18:37] weblancaster opened #805 "As a developer I want to swap SC developer ID"
As API get close to limit usade swap to another developer ID

[2016-06-30 18:37] weblancaster commented on #802
#804 and #805

[2016-06-30 18:41] #791 closed

[2016-07-01 01:36] GENERAL-AN opened #806 "No playlists!!"
Under "Playlists," there are no playlists no matter what I do!!  No reposted or otherwise.

[2016-07-01 08:18] GrayedFox commented on #802
@weblancaster that's not a scalable solution at all my friend. Also, possibly breaks terms of service?

Why don't we just ask the kids at Soundcloud what they think is the best solution? Maybe they have workarounds

[2016-07-01 15:02] weblancaster commented on #802
You are correct not scalable but that's the only thing we can do for a short term (I also have asked someone at Soundcloud.. there is nothing we can do)

[2016-07-01 18:00] weblancaster commented on #806
@GENERAL-AN You need to make sure your playlist are public.. but for some reason some people even having them public can't see the playlists

[2016-07-01 20:09] #642 closed

[2016-07-01 20:27] #516 closed

[2016-07-02 01:00] GENERAL-AN commented on #806
They are public.  Any resolutions?

[2016-07-02 02:18] kiingkiller commented on #803
or maybe having the system delete the local file on launch so that the user can not reach the limit, im not use to this kind of code so i don't know if that will have any negative effects.

[2016-07-03 07:17] whereismytie opened #808 "Feature request: add "track added date in stream"
Love the app!

Can you add date added field in the stream

As in "track posted 2 days ago"

[2016-07-04 12:28] sllafer opened #809 "Center Mouse Click"
When u click on any User or song with the center mouse click, app turns white and crash it.

[2016-07-05 01:53] weblancaster commented on #809
yes that's because you opened a tab to that link.. the same way you can do for a browser.

We need to add something to block that

[2016-07-06 12:40] sllafer commented on #809
If u need help/support, I could help u with any issue.

Im actually IT.

Greats!

2016-07-05 3:54 GMT+02:00 Michael Lancaster <notifications@github.com>:

[2016-07-06 17:05] Bluscream commented on #262
Any news on this?
I would like to route it into VirtualDJ through VAC.

[2016-07-06 17:20] Pitros commented on #262
We're still on old nw.js, so nothing changed.

I tried updating nw.js to latest version which would allow that, but there's some kind of minor `window` bug and authentication won't work.

[2016-07-06 20:48] devaerial opened #811 "How to update Soundnode v.0.62 to v 0.64?"
How can I update app to latest version 0.64?

[2016-07-06 20:55] Pitros commented on #811
Just download new version from website: http://www.soundnodeapp.com/

[2016-07-06 20:55] #811 closed

[2016-07-06 22:53] Pitros commented on #808
I've made small filter to get nice date info and here's preview.

But we're running out of space a bit, so I tried to make it fit, but I'm not sure if it's okay without something like "track posted".

![image](https://cloud.githubusercontent.com/assets/6910670/16637114/ed6914dc-43dc-11e6-837b-920994ca2f16.png)

@whereismytie @weblancaster

[2016-07-07 15:40] weblancaster commented on #808
@Pitros I would put on top of the thumbnail left align. the font style is perfect. thanks

[2016-07-08 05:33] ratchet132 opened #812 "Can we get a list of a user's playlists?"
It'd be awesome if I could see other user's playlists.

[2016-07-08 07:09] jakejarrett commented on #803
If the api returns an error on profile hits, we could ping a profile on startup and to verify we hit the rate limit?

[2016-07-08 18:13] Legitgamer264 opened #813 "Keeps telling me there is an update"
I downloaded the zip file and ran soundnode. On the top it says "Update available" so I re-did the download, and I got the same thing. Keeps having "Update available" in the top right of the app