[2014-05-02 15:22] weblancaster opened #1 "[FEATURE] Add/Remove to favorites button"
When the song list (view) isn't the favorite view and there's the possibility to add the favorite feature to the song

[2014-05-02 17:19] weblancaster opened #2 "[FEATURE] Playlist (add/remove song - create/remove playlist)"
- This issue is related to add/remove songs to playlists.
- Create and remove playlists

[2014-05-05 19:34] weblancaster opened #3 "[FEATURE] Add infinite scroll."

[2014-05-06 20:31] weblancaster opened #4 "Links references"
This issue is a list of links/references that helped me to get some hard issues working on Node-Webkit.

https://github.com/rogerwang/node-webkit/issues/1423 (audio/video issue)
https://github.com/nwjs/nw.js/wiki/Using-MP3-%26-MP4-%28H.264%29-using-the--video--%26--audio--tags. (audio/video issue)
https://github.com/rogerwang/node-webkit/wiki/Security (Iframe security issue)

[2014-05-06 20:50] weblancaster opened #5 "[FEATURE] Add native keyboard shortcuts"
In development.
https://github.com/rogerwang/node-webkit/pull/1670

Or should I built?!
http://www.daniweb.com/software-development/cpp/code/216732/reading-scan-codes-from-the-keyboard
http://en.wikipedia.org/wiki/Conio.h
http://stackoverflow.com/questions/7798242/keyboard-mouse-input-in-c

[2014-05-06 20:54] weblancaster opened #6 "Add search feature"
This feature should work searching for the "keyword" entered on the search field on Soundcloud.

[2014-05-06 21:04] weblancaster opened #7 "[FEATURE] Add keyboard shortcuts (not native)"
Add support to handle keyboard shortcuts (not native).

[2014-05-07 15:38] weblancaster opened #8 "[FEATURE] Add desktop notification"
Add desktop notification when song change

[2014-05-08 03:52] weblancaster opened #9 "[FEATURE] Add check for update"
Add feature to check for updates automatically.

[2014-05-08 20:29] weblancaster opened #10 "Remove the waveForm on the list?!"
This is just an idea since the waveforms are not being used perhaps remove it and display as something as Pinterest?

![screen shot 2014-05-08 at 2 52 26 pm](https://cloud.githubusercontent.com/assets/549394/2921128/94a868e0-d6ef-11e3-9b5a-8605c0e6d21f.png)

[2014-05-09 06:19] #10 closed, assigned to nobody

[2014-05-09 20:28] weblancaster opened #14 "Add on iframe fully loaded"
Adding on iframe fully loaded.

[2014-05-10 14:14] weblancaster opened #15 "[FEATURE] Add "play randomly""

[2014-05-11 23:43] #14 closed, assigned to nobody

[2014-05-12 21:56] weblancaster opened #18 "Add images placeholder"
Add image placeholder for those empty image spaces

[2014-05-13 03:18] #6 closed, assigned to nobody

[2014-05-13 09:56] weblancaster opened #26 "[BUG] Display and play playlist song"
Doesn't matter which section the user is (Stream, Likes, Tracks..etc) if the song come as a playlist it should be able to display and play all the songs on that particular playlist.

[2014-05-13 09:59] weblancaster opened #27 "Logo/Icon is under development"
Logo/Icon is currently being design by a friend of mine..

[2014-05-13 10:06] weblancaster opened #28 "[BUG] Fix/improve player UI"
The current player if damn ugly and default.. this should be fix/improve soon with a new UI.

[2014-05-13 16:47] weblancaster opened #29 "[BUG] Song title are too big for the size of the container"
The title size of most songs are too big for the size of the container so cutting off part of the title.

[2014-05-13 19:39] weblancaster opened #30 "[BUG] External link doesn't work"
Permalink don't open on a default external browser.

[2014-05-13 21:25] weblancaster opened #31 "Add tests"

[2014-05-14 19:57] weblancaster opened #36 "Improve Gruntfile with all major tasks"
Gather all the major tasks (SASS, NW, build) on Gruntfile to make the development process easy for all.

[2014-05-14 22:11] #36 closed, assigned to nobody

[2014-05-17 00:10] #26 closed, assigned to weblancaster

[2014-05-17 11:53] weblancaster opened #41 "[Feature] Apple Airplay"
Perhaps add Airplay to after 0.1.0 release.

[2014-05-19 18:51] #30 closed, assigned to nobody

[2014-05-20 20:51] weblancaster opened #43 "[FEATURE] Add navigation arrows to go back/forward"

[2014-05-22 17:09] #28 closed, assigned to nobody

[2014-05-29 07:25] #15 closed, assigned to nobody

[2014-05-29 23:03] #43 closed, assigned to nobody

[2014-05-31 14:55] #9 closed, assigned to nobody

[2014-06-01 01:10] #7 closed, assigned to weblancaster

[2014-06-02 18:48] #3 closed, assigned to nobody

[2014-06-02 20:48] #29 closed, assigned to nobody

[2014-06-02 21:17] weblancaster opened #56 "[BUG] on shortcuts cheat-sheet "view""

[2014-06-03 21:49] weblancaster opened #59 "[BUG] Song not playing prev/next when view is changed"

[2014-06-03 21:54] weblancaster opened #60 "Add cursor "pointer" to buttons"

[2014-06-03 22:02] weblancaster opened #61 "Soundcloud API doesn't provide next_page for search. try workaround."
Seems like Soundcloud doesn't provide next_page url for search results.
Try some workarounds.

[2014-06-17 04:59] #27 closed, assigned to nobody

[2014-06-17 04:59] #18 closed, assigned to nobody

[2014-06-19 04:52] cirocosta opened #69 "Linux Support"
Seems like everything is ok for running this on ubuntu-based linux distros *(tested on Linux Mint 16 - MATE desktop)*.

**It would be great if more people could test this**. I've been so happy by seing spotify supporting linux :P An opensource soundcloud client implementation supporting it as well would be awesome!

For making it happen i just had to enable the build for linux64 at the `Gruntfile.

[2014-06-19 16:11] weblancaster opened #70 "[BUG] Not showing image placeholder on player"
When the playing song don't have original image.. the player don't show image placeholder.

[2014-06-19 20:10] weblancaster opened #71 "Add make active "playing song" visible all the time"

[2014-06-19 20:26] weblancaster opened #72 "Add spinning gif "loading" when searching"

[2014-06-20 02:54] #70 closed, assigned to nobody

[2014-06-20 03:22] #71 closed, assigned to nobody

[2014-06-30 19:34] weblancaster opened #75 "[FEATURE] display song length"

[2014-07-11 21:44] #75 closed, assigned to nobody

[2014-07-11 22:28] #59 closed, assigned to nobody

[2014-07-15 16:35] weblancaster opened #79 "[FEATURE] Add back/forward navigation button"

[2014-07-16 17:46] weblancaster opened #80 "[FEATURE] Add ability to download and and choose where to save song locally..."
Add ability to download and and choose where to save song locally without leave the App

[2014-07-16 22:10] weblancaster opened #81 "Add scroll bar"

[2014-07-18 03:03] #81 closed, assigned to nobody

[2014-07-18 04:06] #79 closed, assigned to nobody

[2014-07-21 23:14] #60 closed, assigned to nobody

[2014-07-21 23:15] #1 closed, assigned to nobody

[2014-07-22 07:18] #56 closed, assigned to nobody

[2014-07-22 08:12] frdmn opened #87 "Support scrubbing"
Would be nice to be able to scrub into the Audio tracks.

[2014-07-28 19:15] #72 closed, assigned to nobody

[2014-07-28 19:17] #87 closed, assigned to nobody

[2014-07-29 17:41] cirocosta opened #91 "Use proper download_url at Gruntfile and/or upload linux32/64 nw build"
There is a reason for using `download_url: 'http://www.soundnodeapp.com/build/'` for the node-webkit-builder instead of the default `http://dl.node-webkit.org/` ? As it is there is no linux32 && linux64 nw builds there (as we can see here https://github.com/Soundnode/soundnode-app-site/tree/master/public/build/v0.9.2).

[2014-07-30 04:46] weblancaster opened #92 "[BUG] When change to about view"
Not able to play next/prev song when on about view.

[2014-08-01 15:54] dirtshell opened #93 "[FEATURE SUGGESTION] Collapsible Playlists"
Allow users to collapse the playlist. For users with large playlists, it is very difficult to scroll through a ton of different songs. A simple dropdown arrow would be adequate.

[2014-08-04 20:46] weblancaster opened #94 "Upgrade to Nodewebkit 0.10.1"
This upgrade comes with support for Desktop notification #8 and also support to native keyboard #5

[2014-08-05 16:32] weblancaster opened #95 "[FEATURE] Implement "following" flow"
Following flow will work as:
- Access profiles you user follows
- Access songs of profiles user follows
- Follow/Unfollow profile

[2014-08-07 15:56] firminochangani opened #96 "Soundnode stop on popup after login."
I ran the Soundnode on ubuntu 13:04 and after the login screen it says "This Should popup close automatically in a few seconds" does not disappear.

Node version: v0.10.25
Ubuntu 13.04 (Yes, version 14 is available)

[2014-08-13 15:47] weblancaster opened #97 "[ STATUS ] development"
In case you are developing/working on something please notify here.

[2014-08-19 21:34] weblancaster opened #99 "Like/Favorite feature not working on Search state"

[2014-08-26 21:13] theaccordance opened #100 "[FEATURE SUGGESTION] Stay Logged in"
Enhance the login feature to store the necessary information so if the app is closed and relaunched at a later time, the user is not presented with the login screen again.

[2014-09-03 18:54] #91 closed, assigned to nobody

[2014-09-03 18:55] #5 closed, assigned to weblancaster

[2014-09-05 05:49] #99 closed, assigned to nobody

[2014-09-05 06:14] #94 closed, assigned to nobody

[2014-09-05 06:15] #96 closed, assigned to nobody

[2014-09-05 22:26] #92 closed, assigned to nobody

[2014-09-05 22:55] #8 closed, assigned to nobody

[2014-09-05 22:55] weblancaster opened #108 "[BUG] Not removing from favorites list"

[2014-09-10 21:59] #93 closed, assigned to nobody

[2014-09-10 21:59] #108 closed, assigned to nobody

[2014-09-25 21:40] weblancaster opened #119 "[BUG] Remove not streamable songs from search view/page"

[2014-10-22 14:58] weblancaster opened #120 "[BUG] Sometimes crash on start up."
One work around could be catch the error and start over the App.

[2014-10-24 03:04] jakejarrett opened #121 "UI Update"
A small UI Update (Just changing the location of a few things)

Here is what i've quickly mocked up
![soundnode-ui](https://cloud.githubusercontent.com/assets/5661105/4764657/f7edb126-5b29-11e4-844d-802ebe54af5c.png)
![soundnode-uicurrent](https://cloud.githubusercontent.com/assets/5661105/4764658/f7f63cba-5b29-11e4-8d24-ee4aadaad49a.png)

At the moment the Close & Back/Forward buttons are too clo

[2014-11-05 16:55] edbizarro opened #122 "[Feature] Volume control slider"
Quem sabe implementar um controle pro volume?

[2014-11-06 10:54] cesarBere opened #123 "[Bug] Crash when re-connecting to wifi"
I had the following screen when waking up my computer and re-connecting to wifi :

![capture d ecran 2014-11-06 a 11 49 35](https://cloud.githubusercontent.com/assets/4449609/4934620/3f1b0962-65a3-11e4-9771-40805d9ee760.png)

I had to force-quit the app

[2014-11-20 17:14] #95 closed, assigned to nobody

[2014-11-24 17:58] weblancaster opened #126 "Re-write everything with React.js and ES6"
Hey @pedronauck what do you think we re-write everything in React.js?

I'm going to release the next version using the same framework it's already been used but after that I'm going to start to re-write everything in React.js

[2014-11-25 02:03] weblancaster opened #128 "[BUG] Infinite scroll stop to populate view when back button a couple of times"

[2014-11-25 22:53] weblancaster opened #129 "[BUG] App crash when on page following"
This bug is causde because on the following page there's no songs to play

[2014-11-25 23:07] #120 closed, assigned to nobody

[2014-11-26 15:00] #129 closed, assigned to nobody

[2014-11-26 15:02] #119 closed, assigned to nobody

[2014-11-26 15:03] weblancaster opened #131 "[Feature] Add ability to access not followed user profile (as per following)"

[2014-11-26 15:04] weblancaster opened #132 "[Feature] Add ability to follow not followed user"

[2014-12-01 23:11] weblancaster opened #134 "[Improvement] Add I10n and/or I18n (Localization and Internationalization)"
The translation should leave on a json file under the country "flag" e.g en_us, pt_br.

[2014-12-02 13:00] johannessjoberg opened #135 "[Improvement] Re factoring listing tracks"
Everywhere across the application tracks are listed in the same fashion, with a lot of duplicate code in the html files. A directive would increase maintainability and remove a lot of the duplication.

[2014-12-02 15:51] #126 closed, assigned to nobody

[2014-12-02 16:56] weblancaster opened #138 "Re-write how the player list/Queue works"
Right now the player needs the DOM to keep track of songs being played and next/prev track.
But the problem is when the view is changed we lost the DOM state and the Player state is updated with the new view.

My point here is:
Let's say we are in Streams view, here a song is playing and there is a DOM state (.currentSong) where prev/next uses it.

My idea is to use some Data Structure (e.g Lists)

[2014-12-02 16:57] #131 closed, assigned to nobody

[2014-12-02 16:59] #135 closed, assigned to nobody

[2014-12-02 22:27] weblancaster opened #139 "[Feature] Add Analytics (tracking)"

[2014-12-03 19:50] Mozhan opened #141 "Remove playlist"
It should be possible to remove a created playlist.

[2014-12-03 19:52] Mozhan opened #142 "Create Playlist"
It should be possible for the user to create a new playlist.

[2014-12-03 20:12] #141 closed, assigned to nobody

[2014-12-03 20:12] #142 closed, assigned to nobody

[2014-12-09 21:17] #61 closed, assigned to nobody

[2014-12-11 05:04] #132 closed, assigned to nobody

[2014-12-12 22:24] weblancaster opened #153 "[Improvement] Add Shortcut to open Devtools"

[2014-12-12 22:26] #153 closed, assigned to nobody

[2014-12-13 02:53] danjesus opened #156 "Uncaught node js error"
Hello,

I downloaded the app for mac, but when I tried to run showed the error below.

![screenshot 2014-12-13 00 49 00](https://cloud.githubusercontent.com/assets/393961/5422263/fa263fda-8261-11e4-9081-2d86261a2258.png)

Node version: 0.10.33
OSX Yosemite

[2014-12-13 21:59] Mozhan opened #157 "Add refresh"
Add refresh for when the user adds/removes a song to a playlist, as well as when the user adds/removes a playlist.

[2014-12-14 00:24] jasonscholefield opened #158 "[Windows Desktop App] Volume Control"
Ctrl+Up / Ctrl+Down are not changing volume at all in the Windows desktop app.

Is there another shortcut I'm missing? Or is it possible to just add in a volume slider somewhere?

[2014-12-15 03:24] #156 closed, assigned to nobody

[2014-12-15 04:49] #158 closed, assigned to nobody

[2014-12-15 16:34] weblancaster opened #159 "[Improvement] Add settings navigation"
Add settings navigation button where `about` button is located currently.
`about` `help` and related links will be under settings button.

Options are shown on `click`.

[2014-12-15 21:33] weblancaster opened #160 "UI Redesign"
For anyone interested contribute to the redesign of Soundnode App for it's version 0.6.0 (currently at 0.4.0) here's a blog post you can use as a reference https://medium.com/adventures-in-consumer-technology/redesigning-soundcloud-d52b4baf17a4

You can share your redesign (screenshot/png/image) in this issue timeline.

[2014-12-15 22:21] weblancaster opened #161 "[Improvement] Scroll to song"
Every time a new song starts to play the view should scroll to the top of the song.

[2014-12-15 23:33] Mozhan opened #162 "Increase maintainability of SCapiservice.js"
You can provide separation of concerns in terms of having separate functions for making the http requests, and also you can reduce the redundant url values that are assigned in every request by providing a function that returns this value, instead.

[2014-12-16 02:52] jonkri opened #165 "JSLint conformance"
JSLint is a static code analysis tool used to check if JavaScript source code complies with coding rules. JSLint identifies various areas of potential problems. By using JSLint, the project could conform to an established and tested coding standard.

[2014-12-16 22:06] weblancaster opened #168 "[Bug] big song title overlaps on playlist view"
![screen shot 2014-12-16 at 4 05 47 pm](https://cloud.githubusercontent.com/assets/549394/5462869/69793b20-853d-11e4-815a-8534b390f415.png)

[2014-12-17 21:42] #159 closed, assigned to weblancaster

[2014-12-17 22:07] #165 closed, assigned to nobody

[2014-12-26 23:22] #2 closed, assigned to nobody

[2014-12-26 23:22] #168 closed, assigned to nobody

[2014-12-26 23:50] #162 closed, assigned to nobody

[2014-12-26 23:52] #157 closed, assigned to nobody

[2014-12-27 08:58] weblancaster opened #174 "[Feature] Add display action notification"
Display notification on important user action e.g favorite song, remove/add song from playlist, add/remove playlist, etc.

[2014-12-27 10:30] #174 closed, assigned to nobody

[2014-12-27 23:38] weblancaster opened #177 "[Bug] Like button not working on some views"
Include:
- Search view
- User profile view

[2014-12-27 23:47] #122 closed, assigned to nobody

[2014-12-28 01:39] weblancaster opened #183 "[0.5.0 release] Q&A"
This is a list of things I want to fix before release version 0.5.0
- Typo on `display notification` when removing song from likes/favorites.
- Remove not in use file request

[2014-12-29 19:16] #183 closed, assigned to nobody

[2014-12-29 20:17] weblancaster opened #192 "[Feature] auto download and install new versions."

[2015-01-06 09:47] xbenjii commented on #192
Very interested on how you're going to implement this.

Will it be something along the lines of

1. Check github version to app version
2. If github > app download zip release from github
3. Unzip and overwrite current files?

[2015-01-06 14:47] weblancaster commented on #192
@xbenjii Yep.. that's kinda what I'm thinking to do. I haven't stop to think much about it yet.

But the user will need to click on `update available` which instead of redirect the user to the website will download the new version rename the old version folder as `old_soundnode-app` delete the old and open the new.

Also. I might use this module https://github.com/kevva/download

[2015-01-06 14:58] xbenjii commented on #192
@weblancaster I've just finished writing an updater for one of my apps. It's very messy, but it works. And since the files are read into memory when node-webkit is launched, you can overwrite files as it's running then restart the app with:
[code]

Also there's a lot of dependencies on that module, don't forget that you will have to distribute those too.

[2015-01-06 14:59] weblancaster commented on #192
@xbenjii where is the code? can I see it.

[2015-01-06 15:03] xbenjii commented on #192
@weblancaster https://gist.github.com/xbenjii/349c5961aa0085da94b9

[2015-01-06 15:14] weblancaster commented on #192
Nice @xbenjii thanks for sharing.

Yeah I want to use something similar.. that feels smooth for the use but I also want to keep it simple for future contributions.

[2015-01-06 15:20] xbenjii commented on #192
@weblancaster If you packed the app using a `package.nw` file, this could be hugely simplified. (Download package.nw, overwrite, restart)

[2015-01-06 15:25] xbenjii commented on #192
@weblancaster If you go ahead with this, you'll probably have to re-think how you distribute your main releases, since you won't be able to update the exe file.

[2015-01-06 15:50] weblancaster commented on #192
@xbenjii I will keep it simple.. download the new version (extract and open) remove/delete the old one.

[2015-01-08 23:44] jakehh opened #195 "Keyboard Shortcuts for Volume don't change the volume scroller itself"
Using keyboard shortcuts to control the volume doesn't move the Volume slider, which doesn't provide any visual information that the volume even changed.

This could be handled via some Javascript EG/
[code]
Maybe also controlling it at runtime would help (Setting it to 100% if that is the default value) that way users know what exactly the value is instead of it sitting at 50% and then jumping st

[2015-01-12 06:26] DeckardPain opened #197 "App closing randomly"
Click play on a track and it plays until the end and then closes immediately. No error message at all or anything.

Click play on a different track and it closes without playing.

[2015-01-12 15:26] weblancaster commented on #197
Thanks for the input @DeckardPain I will take a look on that but can you tell me which platform are you? Win/Mac/Linux? and are you using the latest version of Soundnode?

[2015-01-12 16:39] jasonscholefield commented on #197
No problem.

I'm on Windows 7 with what I'm guessing is the most recent version (0.5). When I was having the problem I checked the version number to make sure I was up to date but didn't see a current version number on the http://www.soundnodeapp.com/ page so I checked here and it said 0.5 was the current version.

[2015-01-15 15:59] weblancaster opened #198 "Update Node-webkit to NW.js"
Update Node-webkit to nw.js.
https://groups.google.com/forum/#!msg/nwjs-general/V1FhvfaFIzQ/720xKVd0jNkJ

Also. Find and update the codec libs making sure the songs are playing when updated to the new nw.js version.
https://github.com/Soundnode/soundnode-app/tree/master/assets/codecs-libs

[2015-01-17 11:23] jakehh commented on #197
If you can run this in console (ctrl + /), it should output an error and prevent it from instantly closing & output what caused the error.

[code]

[2015-01-20 16:12] #177 closed

[2015-01-20 16:49] #97 closed

[2015-01-20 16:53] weblancaster opened #204 "[Improvement] about view should have the current installed version"
`Installed` App on about view should have the version of that current App and not the latest release.

[2015-01-21 22:48] psyclip-r commented on #192
Popcorn Time is a nw app, they have implemented auto update feature.

[2015-01-21 23:06] weblancaster commented on #192
Thanks @psyclip-r I'm aware of that I also saw some other Apps using auto update.. but each does the way they feel like/ suits the App.

This is also another chance for me to code something cool from scratch ;)

[2015-01-21 23:07] psyclip-r commented on #134
node-gettext / gnu-gettext ?

[2015-01-21 23:45] xbenjii commented on #192
I guess you didn't like my implementation :(

[2015-01-22 01:29] PEPZ commented on #197
I have the same issue. I am on Windows 8.1, app version 0.5.1 (same issue existed on 0.5.0). I tried jakehh's suggestion, but the app closes also closing the console window.

Here are a few tracks that instantly close the app:
https://soundcloud.com/mixmag-1/exclusive-gina-turner-b2b-laidback-luke-holy-ship-mix
https://soundcloud.com/redbullmusicacademy/haioka-laura-j-martin-summer-1
https://sound

[2015-01-22 01:36] PEPZ opened #205 "[Feature] Hotkeys to jump to different location within a track (like number buttons on soundcloud website)"
It is only a request that I would love to have, as I am not a developer. Really loving this app. Great work and big thanks to Weblancaster and others developing!

[2015-01-22 01:52] weblancaster commented on #205
thanks @PEPZ it will be implemented in the next version

[2015-01-22 01:55] weblancaster commented on #192
@xbenjii your PR had way too much files in the commit.

[2015-01-22 09:05] xbenjii commented on #192
@weblancaster They were just dependencies, and were the only way to unzip the file. Unless you implemented a back-end download service from which the app would download the update files from.

The only other way I can think of is to proc the native zip application from the OS and setup a file watcher to check if the files had been unzipped.

[2015-01-22 09:11] jakehh commented on #197
Hey Pepz,

Try this one (It will prevent the app from closing so you will need task manager open)

[code]

Sorry, i can't test this code atm, It *should* work.

[2015-01-22 11:01] PEPZ commented on #197
Thanks for the input @jakehh. Sadly this code also doesn't help. The app closes on the tracks previously mentioned and the app also closes when I press the exit button (no need to use task manager for closing)

[2015-01-22 15:26] weblancaster commented on #197
Hey @PEPZ and @jakehh I'm going to do some tests this weekend and see if I can come up with something to fix it.

Let me know if you guys figured out something.

Thanks for the help.

[2015-01-27 16:58] #195 closed

[2015-01-28 18:28] weblancaster opened #206 "[Bug] Like view not displaying all likes"

[2015-01-29 14:11] jakehh commented on #192
You could do a method that during Minor/Patch Updates, You provide a .nw, On major updates you provide an entire Node-webkit stack?

This would follow the Semantic Versioning & Would probably be the easiest to implement (unless windows supports node's glib & you can use glib to extract all the archives)

[2015-01-31 23:39] PEPZ commented on #197
Hi, @weblancaster did you manage to trace what's causing the bug? Thanks

[2015-02-02 17:35] weblancaster commented on #197
Hey @PEPZ I still trying to figure out what is happening because I can't replicate on my Mac.. I was able to listen to all those songs without any problem.

[2015-02-02 17:46] DeckardPain commented on #197
I'll test it out later when I'm off work with what was posted above and get back do you.

[2015-02-02 18:41] weblancaster commented on #197
Sounds good @DeckardPain

[2015-02-03 09:25] nofont opened #207 "[FEATURE] Minor UI change"
I've been using Soundnode for a while now and I love it. One suggestion that I have is to provide a track-listiong with smaller covers for better overview.

![track_listing](https://cloud.githubusercontent.com/assets/164717/6017513/c79f992a-ab8e-11e4-8615-fcc775ea53fd.jpg)

[2015-02-03 09:46] xbenjii commented on #207
Possibly in the form of a slider in the top right, which allows you to change the size?

[2015-02-03 11:14] nofont commented on #207
Yes, that would be lovely. Or simpler; toggle between two versions "Large"/"Small"

[2015-02-03 15:30] weblancaster commented on #207
thanks for the feedback @nofont @xbenjii

And yeah I think a toggle button to change between the versions is a good idea.. I will work on this as soon I get q chance.

[2015-02-03 17:32] weblancaster opened #208 "[Improvement] Improve scrollbar"
Improve scroll bar by width and adding cursor pointer to it.

[2015-02-03 20:33] GetKoolaid opened #209 "[FEATURE REQUEST] - Mini Player"
I would LOVE a mini-player released. For example the Zune player goes from this

http://i.imgur.com/TYPDVBC.jpg

to this

http://i.imgur.com/sot6dp6.jpg

with it's mini player.

I'd love to have this function because not only is it nice to just not have it take up all of my monitor, but I can also screengrab it to show music playing information to my stream.

It's actually pretty close to having a

[2015-02-03 20:46] weblancaster commented on #209
@GetKoolaid this is a great idea/feedback.. it will be done for sure.

But since this is a relatively big timing effort.. this will take a while to be released.

Thanks.

[2015-02-04 04:23] DeckardPain commented on #197
Didn't fix it for me.

First track in the window plays, but when I try to choose another track to play it just crashes immediately.

[2015-02-04 12:33] jakehh commented on #197
If you listed the information in a gist that would be great, i can give it a look tomorrow.

[2015-02-04 15:34] weblancaster commented on #197
I'm going to update to the latest version of nw.js this weekend to see if solves the issue.

Untill then.. thanks for the help everybody.

[2015-02-04 18:31] davidcornu opened #210 "Uncaught node.js error when switching through tracks"
While switching through a few tracks using the next/previous buttons on the bottom left, I was presented with the following error message:

![screen shot 2015-02-04 at 1 31 07 pm](https://cloud.githubusercontent.com/assets/325821/6046646/15b2ab00-ac72-11e4-991b-541c0ce57bba.png)

[2015-02-04 18:34] davidcornu opened #211 "Window can't be moved or resized when in SoundCloud OAuth flow"
When launching the app, it opens SoundCloud's OAuth page so the user can log in. However, in that state the window can't be moved or resized.

[2015-02-04 18:37] davidcornu opened #212 "Minimum window size is too big"
I'd love the ability to make the window smaller than the current minimum size of [1152&times;755px](https://github.com/Soundnode/soundnode-app/blob/16cc3ebc155f5b50005f7c151b7f0de7e336ba21/app/package.json#L18-L19) (which is quite large on a laptop).

[2015-02-04 19:12] weblancaster commented on #212
I agree. This will be addressed @davidcornu

[2015-02-04 19:13] weblancaster commented on #211
I'm aware on that "issue" but no solution yet..

[2015-02-04 19:14] weblancaster commented on #210
@davidcornu I'm going to take a look on that.

[2015-02-04 19:37] davidcornu commented on #211
Are you open to pull-requests? I believe node-webkit's [`gui.Window.open`](https://github.com/nwjs/nw.js/wiki/Window#openurl-options) will let you give the new window a native top bar and set it's size.

[2015-02-04 19:46] weblancaster commented on #211
Of course @davidcornu :)

Just take a look at https://github.com/Soundnode/soundnode-app/blob/master/CONTRIBUTING.md you don't need to follow everything but just make sure to test and follow a good software design

[2015-02-06 15:39] weblancaster commented on #211
Hey @davidcornu I have a quick idea I can work on.. if you are not working on this I can try fix it this weekend.

[2015-02-06 16:06] davidcornu commented on #211
@weblancaster I've started messing around with it but haven't quite figured out how to do the [verification ](https://github.com/Soundnode/soundnode-app/blob/master/app/public/js/system/core.js#L336-L367).

[2015-02-06 18:54] weblancaster commented on #197
This seems like a Windows issue.. so I will focus on that.

[2015-02-06 18:57] weblancaster opened #213 "[Feature] Add help/notification/news/ wiki"

[2015-02-07 23:43] runofthemill opened #214 "[BUG] Stream Only Loads 2 Tracks"
After authorizing via Facebook, Soundnode successfully logs me in. Following, Likes, and Playlists tabs pull in correct information, but the stream only pulls in 2 tracks.

OSX 10.10.2
Beta 0.5.1

Uninstalling the app, redownloading, reinstalling, then reauthorizing leads to the same result.

[2015-02-08 02:08] jakehh commented on #214
I am unable to listen to any tracks at all (I was able to when the update was released)

If i try to skip forward into the song it will just say "Failed to set 'currentTime'" as the players readyState is HAVE_NOTHING

In the console, it says "Not allowed to load local resource" & uses a file:// url which could be causing the error.

[2015-02-08 02:18] jakehh commented on #214
Is there any console logs? (Help -> DevTools in the Application Menu)

[2015-02-12 17:47] #206 closed

[2015-02-12 17:57] weblancaster commented on #214
Hey @runofthemill this could be related to your Soundcloud account because it's Soundcloud sending all the tracks you should be receiving but for that you need to be following people that actually post tracks to Soundcloud.

This is not a bug because other parts would break since they share the same method to pull the songs.

try follow more people or access Soundnode with another Soundcloud accou

[2015-02-12 17:57] #214 closed

[2015-02-12 18:09] #212 closed

[2015-02-12 18:10] weblancaster commented on #212
Hey @davidcornu enable to make the window smaller although I'm working on a feature to actually support a very small view of the App. thanks.

[2015-02-12 18:11] weblancaster commented on #211
@davidcornu can you let me know how you are doing this? you could clone and push to your clone repo the fix and then I would take a look to see if I can help you with anything.

[2015-02-12 18:19] #208 closed

[2015-02-12 18:21] davidcornu commented on #212
:tada:

[2015-02-12 18:47] #204 closed

[2015-02-12 20:56] pepperfreez opened #219 "app closing on song (Globally)"
https://soundcloud.com/toneshifterzofficial/havana-brown-better-not-said-toneshifterz-remix-radio-edit?in=pepperfreez/sets/favs-1

it crashes trying to play this song. it does it globally

[2015-02-17 17:50] weblancaster opened #220 "[Bug] like button not saving on likes views"

[2015-02-17 18:24] #213 closed

[2015-02-17 18:24] #220 closed

[2015-02-20 09:34] PEPZ commented on #197
Hi, @weblancaster @jakejarrett are You finding any lead on the issue? I did the latest update and sadly the issue still persists. I'm not much of a programmer, but I can do some testing if You don't have access to a Windows PC.

[2015-02-20 15:03] weblancaster commented on #197
Hey @PEPZ I haven't had the chance to test and update the audio codec and test to see if this will fix it..
And find the right audio codecs version it's sort of a pain besides the regression test I need to do.

I'm planning to do this very soon.

[2015-03-12 00:12] jakejarrett commented on #209
You could do this by making a design for when it's smaller than 768px?

EG/

[code]

This would allow it to be done in less time.

[2015-03-12 14:16] weblancaster commented on #209
Yes I can do that @jakejarrett but we don't want to hide things but adapt and make responsive for smaller view.

[2015-03-12 16:49] bsara opened #223 "Add to Chocolatey.org"
Have you thought of adding this to Chocolatey.org for Windows installations?

https://chocolatey.org/

[2015-03-19 01:46] RainbowDashDC commented on #209
I can see where you coming from from a responsive view @weblancaster but it seems like it would make more sense to use @media in this scenario as your targeting a specific size in a specific case.

[2015-03-19 01:51] RainbowDashDC opened #224 "Remove binaries and catched version of nw from git"
I love the project, and the use of nw.js (my favourite to ever exist), but I'm not a huge fan of having nw binaries and ffmpeg be included statically in the repo. Then again binaries in a source repo have always bugged me, might I suggest you use a grunt task to fetch nw.js much like what atom-editor does with their nw like system. NW.js ships the ffmpeg version so it would be feasible to have a g

[2015-03-19 13:57] weblancaster commented on #224
Thanks for the feedback @RainbowDashDC I appreciate that.

I might work on that soon to clean up the binaries from the repo.

[2015-03-19 13:59] weblancaster commented on #209
That's the idea @RainbowDashDC I'm going to try start work on this in the next days and I might have something by next week.

[2015-03-22 18:43] niftylettuce opened #225 "Mac - Window goes white/blank and nothing loads once signed into Google"

[2015-03-23 01:53] jakejarrett commented on #225
What version of OSX are you using?

If you can open the console (CMD+/ i think?), are there any errors?

Also, it could be that the window didn't disappear, After logging in Try pressing Control + Down Arrow and you might see 2 open windows, Go to the dark window.

[2015-03-27 15:49] MrProtagonist opened #226 "[FEATURE SUGGESTION] Shuffle"
Title says it all. This app would be PERFECT if you could shuffle a playlist.

Great work by the way guys!

[2015-03-27 16:55] weblancaster commented on #225
I have seen this before and it looks like is something related to the user account and Soundcloud not being able to authenticate.

Can you try again @niftylettuce or even with Facebook please.

thanks

[2015-03-27 16:55] weblancaster commented on #223
No, but thank you though.

[2015-03-27 16:55] #223 closed

[2015-03-28 12:37] MichielDeMey commented on #225
I had the same issue.

Tried logging in through Google, gave me a white screen.
Then restarted and logged in through Facebook, that worked for me.

[2015-03-28 12:46] MichielDeMey commented on #192
I partially implemented the auto-updater feature for the Popcorn-Time app back when it was still on GitHub, it was pretty well implemented an even had a basic hash check to make sure malicious users couldn't distribute spyware versions in case the servers got hacked.

Feel free to reply in this thread if you need some help or if you're unsure of your implementation.

[2015-03-31 17:27] weblancaster commented on #225
So yeah this is probably a issue with Soundcloud connecting with Google accounts.

[2015-04-10 09:32] PEPZ commented on #197
@weblancaster Nothing on this yet?

[2015-04-10 10:49] jakejarrett commented on #197
@PEPZ @weblancaster It doesn't fully close, the process continues in powershell, Not too sure what's causing it since it's not outputting any errors. Could be an issue with the Node-webkit libraries?

[2015-04-10 16:52] weblancaster commented on #197
Yes it could be something related to nw.js

It never happened to me to be honest, but multiple people complained that this happened to them a couple of times with specific tracks.

I tried those tracks they had issues but nothing happened here.

I'm updating the core nw.js at this moment.. let's hope this is going to fix it @PEPZ @jakejarrett

[2015-04-10 17:39] #121 closed

[2015-04-10 17:51] #224 closed

[2015-04-14 03:28] weblancaster opened #230 "Adding new core team members"
@MichielDeMey and @jakejarrett I invited you guys to be part of Soundnode app core team..

This will be valid until you guys continue to contribute to the project (no need to work on everyday/crazy stuff)

I started the project with two very clear goals.

**1. Soundnode app must be simple to use (as a user standpoint)**
**2. Soundnode app must be easy to understand and contribute (as a developer/c

[2015-04-14 13:02] MichielDeMey commented on #230
Thanks @weblancaster, I'll do my best to continue to contribute to this fine project.
I'll be eagerly awaiting the invitation.

[2015-04-14 16:04] MichielDeMey commented on #230
Don't forget to add the Core Team group to the relevant repos as well, otherwise we won't be able to contribute to the repos. ;)

[2015-04-15 01:19] jakejarrett commented on #230
Thank you @weblancaster!

I will contribute as much as possible.

[2015-04-15 14:55] weblancaster commented on #230
Guys @MichielDeMey @jakejarrett no need to spend all day working on this.. just when you feel like.

[2015-04-16 13:49] #230 closed

[2015-04-18 13:18] PEPZ commented on #197
Thrilled to hear about the fixes! Thanks a lot for having a look into this @Pitros! @weblancaster , when is the planned update with the fix integrated? Thanks!

[2015-04-19 03:51] ianstrasser opened #233 "Album Art Doesn't Display in Notification Window"
Instead, the icon for the app I downloaded before this appears.

[2015-04-19 04:27] jakejarrett commented on #233
Which OS are you using?

[2015-04-19 04:29] ianstrasser commented on #233
OSX 10.10.2

[2015-04-19 04:43] jakejarrett commented on #233
From my testing (10.10.3) I can see the notifications fine.

Can you see any errors in the console log (In the Application menu, Go to ```Help -> Developer Tools ``` then There should be a Console tab on the far right. Paste any errors)

[2015-04-19 04:56] ianstrasser commented on #233
No error's related to the notifications. I deleted, and then downloaded the latest stable build (I probably should have tried that first).

It's working now. Thanks for confirming that it was working with you.

[2015-04-19 04:56] #233 closed

[2015-04-20 00:37] jakejarrett commented on #226
I'll look into how to implement shuffle. I would personally use this feature. (Playlist, Stream & Profile)

[2015-04-20 03:53] weblancaster commented on #226
Hey @jakejarrett I'm changing how Soundnode play songs/works and this is going to be implemented with that change.

[2015-04-20 04:08] jakejarrett commented on #226
@weblancaster Haha no worries, i had concerns it would require changes to how the playback is handled.

[2015-04-20 14:06] weblancaster opened #234 "Add code analysis"
Add code analysis to the repo and make available through www.soundnodeapp.com/code-analysis

[2015-04-26 07:30] jakejarrett opened #235 "[Feature] Add Support for Gamepads"
With an updated version of nwjs, We should be able to support gamepads pretty easily.

The feature is still a draft, But Simple support (Bumper to skip Song, trigger to skip forward/back in the song?) should be fairly easy.

From my testing, It seems to work good enough for what we could do with it (I can't say non-xbox 360 controllers are well supported.)

# References
* [W3C Draft](https://w3c.g

[2015-04-29 14:29] weblancaster opened #236 "Update screenshot in readme"

[2015-04-29 15:35] #211 closed

[2015-05-01 16:39] weblancaster commented on #235
@jakejarrett not sure if this is going to be useful/helpful for the users.

[2015-05-01 16:56] #139 closed

[2015-05-03 05:04] jakejarrett commented on #235
@weblancaster The main benefit would be where someone would be using their controller primarily (EG/ Sitting in the lounge with the laptop plugged in?) for interaction.

Although, I agree it may not be very useful/helpful in most circumstances, It is a fairly niche use case.

[2015-05-04 06:08] anselmh opened #238 "Copy & Paste not working?"
Hey, I tested the app yesterday but figured that copy & paste is not possible (at least during login)? This is essential to me as I’m not going to type my password manually when characters are hidden as well, usually using my password manager to handle all that.
Would it be possible to enable this? I’m on OS X 10.10 (latest).

[2015-05-04 10:42] jakejarrett commented on #238
I noticed this on OS X along with some other bugs with the menu bar, I should be able to have a fix by this weekend.

[2015-05-04 10:48] anselmh commented on #238
Ah, cool! :)

[2015-05-05 15:12] weblancaster commented on #238
#239 closes this issue.

Thanks @jakejarrett for fixing and thanks @anselmh for reporting.

[2015-05-05 15:12] #238 closed

[2015-05-09 06:36] jakejarrett opened #240 "[BUG] Missing "universal-analytics" Module after relaunching app"
After quitting app & then relaunching app on OSX, I get an error of a missing module
[code]

This error appears after authorising with Soundcloud.

[2015-05-09 09:02] #240 closed

[2015-05-12 13:48] veridicis opened #241 "Media Keyboard support"
Hi,
I see that media keys are supported but they do not work with my Logitech K520.
Any idea?

PS: love the app

[2015-05-14 09:49] jakejarrett commented on #241
Which OS are you using & do the keys work normally on all other apps?

[2015-05-14 20:28] #235 closed

[2015-05-15 18:13] veridicis commented on #241
Running on 8.1, media keys work with Media Player, Spotify...

Sent from Outlook

    _____________________________
From: Jake Jarrett <notifications@github.com>
Sent: Thursday, May 14, 2015 11:49
Subject: Re: [soundnode-app] Media Keyboard support (#241)
To: Soundnode/soundnode-app <soundnode-app@noreply.github.com>
Cc: Andrei <solaris_rom@yahoo.com>

Which OS are you using & do the keys work nor

[2015-05-15 19:23] weblancaster commented on #241
Yeah Windows are having issues with the NW.js on media keys.. I'm waiting for an update so I can update the core and hopefully fix the issue @veridicis @jakejarrett

[2015-05-15 23:58] Scarwolf commented on #241
SoundNode Media-Keys are working perfectly fine on both, my Logitech G15 Keyboard aswell as my Logitech G700S Mouse. Are you sure you had no other application running which could block the media keys for other applications?

[2015-05-16 00:04] Scarwolf opened #242 "What about Soundnode in Material Design?"
Hi folks!

I am very interested in SoundNode and as I am currently working on some projects using www.materializecss.com Framework, I would like to know your opinion on whether Soundnode would look good in Material Design.

I am interested in contributing this, but since I have not worked with Node.JS etc pp. yet I need to look this up first.

[2015-05-18 03:41] weblancaster commented on #241
@Scarwolf good catch.. I forgot to mention that :/ @veridicis

[2015-05-18 03:46] weblancaster commented on #242
Hey @Scarwolf feel free to change something and send as a new branch and send something so we can check how it's starting to look.. take a look at  #160

[2015-05-18 03:50] weblancaster commented on #242
I'm up for to see a new face for Soundnode app.

[2015-05-18 06:41] veridicis commented on #241
Just tested, nothing hidden in the background that might capture the keys.

From: Michael Lancaster [mailto:notifications@github.com]
Sent: 18. mai 2015 05:41
To: Soundnode/soundnode-app
Cc: Andrei
Subject: Re: [soundnode-app] Media Keyboard support (#241)

@Scarwolf <https://github.com/Scarwolf>  good catch.. I forgot to mention that :/ @veridicis <https://github.com/veridicis>

—
Reply to this e

[2015-05-18 16:02] Scarwolf commented on #242
I am not familiar with Node.js and so on, I tried compiling the actual source of soundnode to an exe using Web2Exe, but It seems like there aren't any stylesheets included in the Exe, aswell as the file is up to 240MB big, do you have a tutorial for compiling this how it should be compiled?

[2015-05-18 18:07] weblancaster commented on #242
@Scarwolf https://github.com/Soundnode/soundnode-app/wiki/Development

To build the executables you just need to run `grunt build` everything will be generated automatically and saved inside the dist folder

[2015-05-20 05:04] jakejarrett commented on #242
@Scarwolf If you have nodejs installed, cd into the soundnode-app folder & run this command
``` npm install ``` *and (i think)* ```npm install -g grunt```

[2015-05-21 14:34] #219 closed

[2015-05-21 14:34] #225 closed

[2015-05-21 16:33] weblancaster opened #244 "Add ability to share songs on FB, Twitter"
Add the feature below each track where permalink, like and add to playlist is.

[2015-05-21 19:54] #236 closed

[2015-05-21 19:54] #234 closed

[2015-05-21 19:56] weblancaster commented on #197
Sorry the delay.. but I released the new version finally!

@DeckardPain  @jasonscholefield @jakejarrett @PEPZ @jasonscholefield

[2015-05-21 19:56] #197 closed

[2015-05-21 19:57] #31 closed

[2015-05-22 12:53] Scarwolf commented on #242
Sorry guys, but have some problems, can anyone help me? http://i.imgur.com/hN5Pk1C.png

[2015-05-22 15:13] weblancaster commented on #242
Hey @Scarwolf

Now you have `node` and `grunt` installed

You won't need to run node. Ever.. just `grunt watch` to watch your changes in the SASS files.

In your case though you will need to run in development mode.. so take a look at this page https://github.com/nwjs/nw.js/wiki/Debugging-with-Sublime-Text-2-and-3

You will add the command for windows on your sublime text.. then after added the co

[2015-05-23 19:56] Scarwolf commented on #242
Uhm, do I need ST for this in general? I am using JetBrains PHPStorm as my main IDE.

[2015-05-24 06:52] jakejarrett commented on #242
You don't need st for it, but it's an easier overall flow.

You should be fine using any IDE, I use atom & simply ran ```npm install nw``` along with appending this to the package.json (after main, but it should be fine anywhere)
[code]

and that allows me to run it from terminal/command prompt with ```npm start```

<b>NOTE: Don't use this if you have low bandwidth, The nw package is 123MB on linu

[2015-05-24 20:41] weblancaster commented on #242
@Scarwolf since you are using PHPStorm.. check if you have node or NW.js (Node-Webkit) support..
I use IntelliJ and has support for NW.js (Node-webkit)

[2015-05-26 17:30] Pitros opened #246 "UI redesign"
I'm currently playing with Soundnode design, change list is getting longer and longer.
It contains many UI changes as well as couple fixes.

* Changed font to Open Sans;
* Link color made a bit lighter for better contrast;
* Changed size of aside elements;
* Aside links have now 5px padding instead of 10px margin (easier to click);
* All font awesome icons have the same color as links;
* Font awes

[2015-05-27 01:00] jakejarrett commented on #246
The Control buttons for close/min/max could have some improvements to stand out more (EG/ the OS X Traffic Lights.)
![screen shot 2015-05-27 at 10 59 52 am](https://cloud.githubusercontent.com/assets/5661105/7826590/8a442b70-045f-11e5-9dbb-06daabdcd456.png)

[2015-05-27 03:55] weblancaster commented on #246
@Pitros Awesome! I really appreciate this work.

Just some points to go through.

- Why did you remove transitions in the elements?
- Can you split the work between your `re-design` and the `Updated infinite-scroll` please?

Thanks a lot.

[2015-05-27 09:39] Pitros commented on #246
Transitions on <a> tags looked really "heavy" for me, faster transition probably will be good as well but I haven't tried that yet.

I've splitted changes into two branches in my fork.

[soundnode-app/redesign](https://github.com/Pitros/soundnode-app/tree/redesign)
[soundnode-app/updated-infinite-scroll](https://github.com/Pitros/soundnode-app/tree/updated-infinite-scroll)

[2015-05-28 04:22] weblancaster commented on #246
That's great thanks @Pitros

Looks good to me.. let just keep the transitions though.. you can speed up the transition delay to look lighter.

[2015-06-03 20:29] dntrkv opened #248 "[FEATURE SUGGESTION] Alternative to infinite scroll"
First I wanted to say thanks for starting this project, I've been considering building something like this for a while now but was worried Soundcloud would shut it down like they did with Soundflake (https://medium.com/@padschneider/r-i-p-soundflake-79f7cf5f9d61) but that was an iPhone app so this may slide.

Now for my actual feature request, one thing that really annoys me about Soundcloud is th

[2015-06-03 20:43] weblancaster commented on #248
Hey @dntrkv thanks for your feedback.. there's some good points on it.

I haven't considered this approach before..Change from infinite scroll to pagination can introduce some complexity (AKA problems) because of the way the playlist works right now.

Although, I started to work on a new way the playlist works to make this sort of change easier to happen..for now I will work on reduce the thumbnai

[2015-06-03 20:44] weblancaster commented on #246
Hey @Pitros any chance to know when we can get this improvements? I'm going to release a new version soon and would be nice to have your changes on it.

[2015-06-03 20:52] weblancaster opened #249 "Soundtracks UI improvement"
As per #248 we do need to find a better way for users to go through the soundtracks, need to keep in mind how player works for any change in the UI.

Ideas:
- Reduce soundtracks thumbnails/info
- Add pagination (this would need work on the player to update)

[2015-06-03 21:06] weblancaster opened #250 "Add forum platform"
Add forum platform to make easier to users to contribute with ideas, suggestions and questions.

Options:
- https://www.nodebb.org/
- http://www.discourse.org/

[2015-06-03 21:26] Pitros commented on #246
I had some other things to do this week, and I'm going to work on it right now. Some other small improvements and I will make pull request today/tommorow (depends on changes and timezone)

[2015-06-03 21:30] weblancaster commented on #246
No problems @Pitros I thought you were done but no PR.. No rush then.

[2015-06-04 00:46] Pitros commented on #246
Two pull requests are ready to review.

About that window buttons for windows... I came up with new directive and got weird problem.
[code]
Angular ng-if doesn't work as it should - `process.platform == 'win32` returns true however it doesn't work. I dont know what would happen on Mac, so I'll be glad if you would check which buttons will be displayed.

https://github.com/Pitros/soundnode-app/tree

[2015-06-04 14:21] dntrkv commented on #249
(assuming I should continue discussion in this issue)

I just tried the playlist functionality and the way you have the track list display there is much better in my opinion. I think it would be useful to add a button that switched from the tile view that we currently see in the likes to a list view like in the playlists, kind of how the Soundcloud web app does it.

[2015-06-04 18:00] #100 closed

[2015-06-05 10:04] gerardvcruz commented on #207
I'm going to try and take this on over the weekend. I'm thinking of having a large album art, small album art and list view buttons for displaying tracks. This is my first time working with an NW.js project and I'm loving it so far.

[2015-06-05 16:22] weblancaster commented on #207
Cool.. feel free @gerardvcruz

Thanks

[2015-06-13 08:55] Scarwolf opened #255 "Some Ideas + 1 Bug"
1. Double Click Navigation Bar to maximize
2. Double click playlist or "Likes" to automatically play the first song
3. Instead of the Node-logo, generate a picture containing the artist and the name of a song if a track doesn't have a custom cover
4. Ability tho chose whether the player itself should be shown in the sidebar or in the footer. (like this: http://i.pottii.de/4c9l50i.png)

-----
Bug:

[2015-06-13 09:12] jakejarrett commented on #255
I've messed around with the idea of double clicking to maximize, it's fairly easy to implement. Some example code below if you wanted to implement it.

[code]

[2015-06-17 19:18] rafaell-lycan commented on #250
I think Discourse it's much better in this case. We need to review other possibilities but, I've used this platform in my last job and for my is really good.

[2015-06-17 19:22] rafaell-lycan commented on #246
@Pitros if you want some help in this new UI, I could help without problem. =)

[2015-06-17 19:29] weblancaster commented on #250
Yeah Discourse seem the go to choice.. but I'm leaning towards nodebb to keep the whole Soundnode "eco-system" in Javascript.

[2015-06-17 19:32] weblancaster commented on #246
@rafaell-lycan this work was separated in PR which some was merged in master already..

Now I just need to get some time to review #254 on Windows (which is a bit more work for me since I use Mac)

[2015-06-17 20:29] Pitros commented on #250
Any of these will be ok, but nodebb looks really nice for me.

Anyway something like trello.com would be good as well. Currently there's no TODO list and there are many open issues. It seems to be a good way to organise whole thing, and let people know if someone is fixing something or trying to add another feature.

[2015-06-17 20:42] weblancaster commented on #250
@Pitros the issues are used as TODO's although the core team can add labels to find easier to organize.

[2015-06-18 02:07] jakejarrett commented on #250
+1 for NodeBB.

Also, with TODO/FIXME's we could look at using something like [grunt-todo](https://www.npmjs.com/package/grunt-todo) script during the dev process to find a todo/fixme comment?

[2015-06-20 14:14] jakejarrett commented on #69
:+1: on supporting linux, I can start on bringing more native features to Linux. (Most of the native features are implemented in [MPRIS](https://www.npmjs.com/package/mpris-service)).

Latest version of nw.js w/ the ffmpeg from Chrome 43 works flawlessly after ~1 hour of testing

[2015-06-21 19:30] Chriz007 opened #256 "On start Soundnode window resize (keep in cache)"
I have been a long time user of soundnode and I love it. One minor annoyance everytime I open it up is that it looks like this:

![screen shot 2015-06-21 at 12 20 04 pm](https://cloud.githubusercontent.com/assets/12990919/8273037/b5b53014-1810-11e5-90d5-ec2e782aa612.png)

As you can see the dock is covering up the sound controls, which happens happens everytime I open the app, regardless whether I

[2015-06-21 19:38] Pitros commented on #256
There are two possible solutions: resize it for everyone (pakage.json file) or use localStorage to store user width and height of resized window. At [nw.js wiki](https://github.com/nwjs/nw.js/wiki/Preserve-window-state-between-sessions) there is already a worth looking solution.

I'm glad you like changed interface :)

[2015-06-21 19:45] Chriz007 commented on #256
I'm sorry haha, but I'd rather leave it up to someone with more knowledge on how to do this. I definitely would though! Trust me. But I'm an absolute noob when it comes to this.

[2015-06-21 23:27] Chriz007 commented on #80
^ Waiting for this feature so bad. I always go to http://www.clipconverter.cc/ to download my songs from either youtube or soundcloud. Hope this can be added in the next version or something

[2015-06-22 01:44] Pitros commented on #80
It's against API terms of use, so it might be bad idea.
https://developers.soundcloud.com/docs/api/terms-of-use#caching

[2015-06-22 03:38] jakejarrett opened #257 "[FEATURE] View Queue / What's playing next"
Personally, I'd like the ability to click the current Song/Artwork in the bottom and have a Menu show up with what songs are currently Queued.

So if I were to navigate away from the current page, I could see what's queued & skip forward in the queue without navigating back to that page.

iTunes & Gnome Music have this feature & would be a great addition to Soundnode.
![iTunes](https://support.app

[2015-06-22 05:43] jakejarrett commented on #256
:+1: for saving to localStorage. Maybe use sessionStorage instead of variables and then save sessionStorage to localStorage on exit?

[2015-06-22 13:45] weblancaster commented on #80
Oh that's a bummer.. thanks for sending @Pitros

For that reason this is not a future feature.

[2015-06-22 13:45] #80 closed

[2015-06-22 13:52] weblancaster commented on #257
Hey @jakejarrett yeah this would be much better.

We can work on this after I start/finish how the new queue will work.. I'm planing to work on this in the next days.

[2015-06-22 13:55] weblancaster commented on #256
Thanks for the feedback @Chriz007 we appreciate that.

I like the idea @jakejarrett let's implement that as new enhancement.

[2015-06-22 14:12] Pitros commented on #256
@jakejarrett saving on exit will not work when app crashes or system shuts down as well it requires more work (both sessionStorage and localStorage while there's no difference in performance).

[2015-06-22 14:21] #249 closed

[2015-06-22 14:23] weblancaster commented on #248
This was done in #251

[2015-06-22 14:23] #248 closed

[2015-06-22 14:26] weblancaster commented on #209
As per initial goals of Soundnode in supporting desktop with major features.. that being said mini player won't be supported.

[2015-06-22 14:27] #209 closed

[2015-06-22 14:27] #207 closed

[2015-06-22 14:36] #246 closed

[2015-06-22 14:36] #242 closed

[2015-06-22 14:36] #210 closed

[2015-06-22 14:37] #128 closed

[2015-06-22 14:37] #123 closed

[2015-06-22 16:49] Chriz007 commented on #192
I'm not complaining for manually having to download/redownload soundnode again everytime it updates, but still, it would be a great feature that I look forward to. Page subscribed.

[2015-06-22 18:02] weblancaster opened #259 "Add ability to like track from Player controls bar"

[2015-06-22 18:03] weblancaster opened #260 "Add option to see current Queue in Player Controls"

[2015-06-22 18:03] Chriz007 commented on #259
Cool, but where exactly would you put it?

[2015-06-22 18:04] weblancaster commented on #260
This feature will be implemented after #138 is done

[2015-06-22 18:06] weblancaster commented on #259
@Chriz007  This will work the same way when clicked in the `heart` icon.. will add the song to your `likes` view that way if you don't need to know nor find where the song is playing in the current view.

[2015-06-24 16:41] Collussus opened #261 "Seems to be no support for speaker fill / surround"
Hey there,

Running soundnode with a 5.1 surround set, I'm getting 0 sound from my rear speakers.

I know this is likely a html5 issue, as with chrome i had to specifically add "--disable-audio-output-resampler --try-supported-channel-layouts" to the target of the application to disable upfiltering.

I suspect the same issue is the case here, is there any way to fix this?

Edit: Noticed that creat

[2015-06-24 17:18] Pitros commented on #261
It's probably some kind of chromium (nw.js) bug and we probably won't be able do anything with it. Only way to fix it can be adding [chromium arguments](https://github.com/nwjs/nw.js/wiki/Manifest-format#chromium-args) to package.json.

Anyway, right solution for you might be turning on `speaker fill` in speaker settings, which should fix this problem in every application.

[2015-06-24 17:40] Collussus commented on #261
That's the thing. Speaker fill IS on. As i stated above, the only way for me to fix it currently is by adding the launch arguments.

[2015-06-24 21:37] QlimaXia opened #262 "Change Sound Device Output"
Is there a way to change Sound Device Output?
If not then just delete or tell me why

[2015-06-24 21:46] weblancaster commented on #262
So far there no way yet @QlimaXia

Any suggestion?

[2015-06-24 21:58] Pitros commented on #262
There's an API in development, current status: https://www.chromestatus.com/feature/4621603249848320.
Meanwhile latest version of chromium in nw.js is 43.

[2015-06-29 06:48] Chriz007 opened #263 "Tooltip for long song titles"
The song titles you see in this picture are longer than what the app shows/allows, so I'm suggesting an implementation of a tooltip or something so we can see the entire title when we hover over it.

![soundnode](https://cloud.githubusercontent.com/assets/12990919/8402338/abed22d2-1def-11e5-8f11-5d804ca2d062.png)

[2015-06-29 22:23] #263 closed

[2015-06-29 22:24] weblancaster commented on #263
@Chriz007 this is done. thanks for the feedback

[2015-07-02 05:24] Chriz007 opened #266 "I got this error. Help?"
Um.. what does this error mean? The app wouldn't let me play my music so when I tried to click  anywhere on the track, this popped up
![screen shot 2015-07-01 at 10 22 14 pm](https://cloud.githubusercontent.com/assets/12990919/8470412/bafb9db0-203f-11e5-864d-bd93a14839d9.png)

[2015-07-02 07:28] corvus commented on #266
same here :/

[2015-07-02 10:24] Pitros commented on #266
We've hit daily limit.
[code]

SoundCloud devs implemented [Rate Limits](https://developers.soundcloud.com/docs/api/rate-limits) on June 16th, and it affects Soundnode directly. Currently there's no way to increase this limit, and many 3rd party SC apps are literally dying.
https://developers.soundcloud.com/blog/limits

[2015-07-02 12:21] corvus commented on #266
i think the best would be to be able to use own api credentials. so a user can have his own limit and new users can use the app directly with "included" one. the php script for authentication is not that complicated to install and free hosters are everywhere :)

[2015-07-02 14:09] weblancaster commented on #266
Thanks for reporting that @Chriz007 and thanks for answering why that happen @Pitros

For now we pretty much depend on Soundcloud so we need to figure out a way or just leave it be.

[2015-07-02 14:14] weblancaster opened #267 "Display message when SC rate limit is reached."
This is directly related to the #266

The App should display a modal with information regarding the `rate limit`
Also add status where displays how long till the App will be able to play songs again.

https://developers.soundcloud.com/docs/api/rate-limits#play-requests

[2015-07-02 17:58] Chriz007 commented on #266
Ah.. makes sense. I tried logging into soundcloud and playing one of the song and it worked. Hopefully it doesn't happen again soon. So does that mean all the users combined using this app have a collective limit (15K) before the app basically shuts off on them until the reset? ..Do you have any statistics on how many people downloaded this app and how many songs are being played?

[2015-07-02 18:13] weblancaster commented on #266
@Chriz007 more than 13k downloaded the app.. not everybody use though.

The rate limit is due in 24hs.. so if Soundnode users (combined) hit 15k plays.. the App is disable to play songs until 24hs later.

[2015-07-02 21:30] Pitros commented on #266
We can bypass it in two ways:
One, we might give user an option to enter their own app client ID to play songs - that would be really easy and all problems will be gone for now.
Two - do something like a database with couple client IDs (10 accs gives us ability to play 150k songs per day which is enough).
IMHO the best way to do it would be implementing both options - new users will use client IDs

[2015-07-03 06:21] jakejarrett opened #268 "[FEATURE] Typeahead / Autocomplete Search"
Basic support for a Autocomplete/Typeahead system when searching could be beneficial.

It could have a system where it shows an artist you're following as the first listing, Similar to Soundcloud's website?

![screenshot from 2015-07-03 16-19-11](https://cloud.githubusercontent.com/assets/5661105/8493562/521418e8-219f-11e5-97c4-c4a8388f3b17.png)

[2015-07-03 16:45] weblancaster commented on #266
I like the second idea a lot @Pitros let sit on it for while

[2015-07-03 16:58] weblancaster commented on #268
@jakejarrett that would be very cool

[2015-07-04 03:40] sumyunggui opened #269 "Uncaught node.js Error when playing specific song"
App crashes when playing specific song

App Version: 0.5.5
downloaded from website:  "http://www.soundnodeapp.com"  (downloaded 7/3/2015)
OS: Windows 7 64-bit

To reproduce:
- Open app
- Click to play song titled "Yellow Claw - #8"
- App appears to be loading for about 10 seconds,  then crashes with the error displayed below.

Possibly helpful items:
- song permanent link:  https://soundcloud.com/

[2015-07-04 04:40] jakejarrett commented on #269
I can confirm this error does occur (Along with a few other tracks), Not sure why it responds with a 404
[code]

[2015-07-05 05:24] weblancaster commented on #269
@sumyunggui @jakejarrett  This is related to Soundcloud rate limit

[2015-07-05 06:24] Chriz007 opened #270 "[Option to view & post comments] & [Recommended tracks] feature"

[2015-07-05 06:26] Chriz007 opened #271 "Support for artists (Submitting music & viewing notifications/messages)"

[2015-07-06 20:55] robertcapasso opened #273 "[FEATURE] Allow users to choose between displaying time elapsed and time remaining; also display track duration"
Currently the player only displays the time remaining for the playing track.  This is not very informative when you are listening to a long track and don't know the total duration offhand.  Either an option to flip the time display to time elapsed or a simple fixed display of total duration somewhere in the player area would be a really nice improvement on the current display.

[2015-07-06 21:49] Chriz007 opened #274 "[FEATURE] Recommended tracks page"
Categories like "Hot", "Trending", "New"..
And Genres such as:
<img width="186" alt="screen shot 2015-07-06 at 2 47 23 pm" src="https://cloud.githubusercontent.com/assets/12990919/8534066/fa0e0be4-23ed-11e5-90ea-b6bec0aaaa38.png"><img width="187" alt="screen shot 2015-07-06 at 2 48 38 pm" src="https://cloud.githubusercontent.com/assets/12990919/8534098/22d658ce-23ee-11e5-8dde-ccdb9c803508.png">

A

[2015-07-06 22:43] #269 closed

[2015-07-06 22:44] weblancaster commented on #269
@sumyunggui @jakejarrett this was actually a bug when the can't play the track for some reason..

Should be fixed now. thanks.

[2015-07-07 05:08] #267 closed

[2015-07-08 04:07] Chriz007 opened #276 "[FEATURE] Play/pause support for earbuds"
To play/pause music with apple earphones or any earbuds that have a button to control music.

[2015-07-08 05:10] Chriz007 commented on #273
Well, the track *does* show the duration of the song when you click on the track beneath the title..

[2015-07-08 16:25] #276 closed

[2015-07-08 19:24] robertcapasso commented on #273
Sorry, I think I'm missing this..  Clicking on the track name in the player bar doesn't do anything for me.  I see duration in the grid of tracks but not on the player bar.  If I scroll away from the current track in the grid, there's no way to know how long the track is without scrolling back.  I've attached a screenshot.

![image](https://cloud.githubusercontent.com/assets/4967386/8579899/50170a

[2015-07-08 19:25] Chriz007 commented on #273
Oh ok. I see. You have a fair point

[2015-07-09 04:04] Chriz007 commented on #271
@weblancaster @Pitros

[2015-07-09 14:49] weblancaster commented on #271
@Chriz007 this is a pretty good and big feature we can implement in the next versions, Will definitely make to Soundnode..

Also thanks for the design ideas I appreciate your help.

[2015-07-09 14:57] weblancaster commented on #161
This is not necessary this there's a plan to re-write the queue

[2015-07-09 14:57] #161 closed

[2015-07-09 14:59] weblancaster commented on #270
Haha this is cool @Chriz007 it will also make to the Soundnode as feature (if Soundcloud give third party apps support for comments)

[2015-07-09 15:07] weblancaster opened #277 "Improve build process to make dist lighter"

[2015-07-09 15:26] weblancaster commented on #244
This is not necessary..

[2015-07-09 15:26] #244 closed

[2015-07-09 15:30] weblancaster commented on #266
This should be fixed with #275

[2015-07-09 15:30] #266 closed

[2015-07-09 15:38] jakejarrett commented on #270
@weblancaster in the current api spec, Comments are supported.

[code]

[2015-07-09 15:40] weblancaster commented on #270
Great! thanks @jakejarrett

[2015-07-09 15:43] weblancaster commented on #138
Use http://tidal.com/ queue list as example.

[2015-07-09 15:43] weblancaster commented on #160
This is not how we will proceed

[2015-07-09 15:43] #160 closed

[2015-07-09 18:58] Chriz007 commented on #271
Thanks! Does soundcloud actually have an api that allows for submitting tracks? I hope they do.

[2015-07-09 19:57] Pitros commented on #271
SC API allows for file upload so can be done.

[2015-07-09 23:47] jakejarrett commented on #271
The Javascript API doesn't document upload, but it should support it if we just POST an mp3 with title & asset_data. (Here's the ruby API for uploading a track for comparison)

[code]

[2015-07-10 00:30] Chriz007 commented on #138
Can you post a picture of the Queue list? I don't want to register for Tidal to see it.

[2015-07-10 00:32] Chriz007 commented on #138
Do you mean this?

<img width="401" alt="screen shot 2015-07-09 at 5 31 04 pm" src="https://cloud.githubusercontent.com/assets/12990919/8609914/575844f8-2660-11e5-913f-3ada8bb88529.png">

[2015-07-10 00:38] jakejarrett commented on #138
There is a queue button on the bottom left on desktop, Which brings out this sidebar. I believe this is what @weblancaster is referring to
![screenshot from 2015-07-10 10-36-47](https://cloud.githubusercontent.com/assets/5661105/8609982/98249b64-26ef-11e5-8b34-b1bf4ddf89fc.png)

[2015-07-10 00:43] Chriz007 commented on #138
Oh I see

[2015-07-10 06:55] jakejarrett commented on #277
We could integrate grunt-uncss into the build process to remove any unused CSS when we build the app?

[addyosmani/grunt-uncss](https://github.com/addyosmani/grunt-uncss)

[2015-07-10 10:26] eigenstil opened #278 "[FEATURE] Switch for disabling/enabling auto play (continous play)"
I really would like to see a button which disables the auto play of the next song. Or can anyone tell me, where I can edit this in the code?

[2015-07-10 14:01] weblancaster commented on #278
@eigenstil I'm working on some improvements on the Queue list when that's done.. your request will also be added.

[2015-07-10 14:04] weblancaster commented on #277
@jakejarrett I will work on some build improvements which will help.. I don't think uncss will help that much..

what I'm planning to do is to bundle things in 1 file because at the moment the built contains event the sass files.

[2015-07-10 14:08] weblancaster commented on #138
Both are right @Chriz007 and @jakejarrett that's exactly what I want/plan to do.

I also want to change the change the track timeline/progress to be how Tidal have theirs.. looks pretty good and is left a bunch of space for the buttons play/pause, previous, next, repeat, shuffle.

[2015-07-10 14:21] eigenstil commented on #278
Great – thanks for your feedback! really looking forward

[2015-07-10 18:01] Chriz007 commented on #138
hmm. I'm quite fond of the current layout to be honest. But, if you think thats the best plan, then go ahead. But can you keep the current look of the controls? I like it better than tidals. Also, as I'm playing around with tidal's control bar, I notice some problems. When I want to scrub through the track or click anywhere on the track, I have to make sure I do it correctly, otherwise I end up cl

[2015-07-10 18:19] weblancaster commented on #138
@Chriz007 good points.. let's keep the track progress/bar the way it is.

thanks

[2015-07-10 21:44] Chriz007 commented on #138
If you *really* want to change it though, just use spotify's layout. This also solves issue #273, #260, and #226. Although for issue #260, I think you should use tidal's queue.
<img width="1263" alt="screen shot 2015-07-10 at 2 40 40 pm" src="https://cloud.githubusercontent.com/assets/12990919/8629645/d859f360-2711-11e5-9ae0-3f3023775cf2.png">

[2015-07-10 22:05] Pitros commented on #138
@Chriz007 current player layout is a combination of Spotify and SoundCloud (web) player.

Anyway that tidal's progress bar looks really nice, and my first thought was to bring it to Soundnode. As @Chriz007 said it's sometimes hard to click on it, but YouTube uses familiar solution and that problem doesn't exist there, because area where you click is bigger.

So it should be easy to implement tidia

[2015-07-10 22:12] Chriz007 commented on #138
Okay, I trust you guys. You guys worked together to make an already amazing app, so I'm confident that you will do your best to make it look good and functional.

[2015-07-10 23:29] Pitros commented on #138
Got it working for preview, already looks nice for me, but usability is more important. As well added time elapsed - #273. If someone want to try: [source files](https://github.com/Pitros/soundnode-app/tree/progressbar).

With hover:
![image](https://cloud.githubusercontent.com/assets/6910670/8630749/03b8e068-276a-11e5-9194-5b680939c5f9.png)

Without:
![image](https://cloud.githubusercontent.com/a

[2015-07-11 00:01] Chriz007 commented on #138
Very cool. But whats the time next to the 1:03/3:27?

[2015-07-11 00:03] Chriz007 commented on #138
Very cool! I like it.

[2015-07-13 03:02] weblancaster commented on #138
That's great @Pitros I really liked.. thanks for working on that so fast.

I just don't know about the decreasing time.. I think you can remove that. Just open a PR so we can checkout locally and test.

[2015-07-13 03:06] weblancaster commented on #138
@Chriz007 Those issues you pointed out here https://github.com/Soundnode/soundnode-app/issues/138#issuecomment-120536684

Will actually be resolver when I start/finish how the new Queue will work.. I'm going to use some real data structures to help the future development of new features. e.g shuffle, repeat, etc

[2015-07-13 12:56] taaem commented on #69
Any update on this?

[2015-07-13 14:24] jakejarrett commented on #69
@taaem I've been working on linux support. I'll be doing a pull request once the application runs 100% smoothly for my testing (Pretty much there, Multimedia keys won't work)

[2015-07-14 01:02] weblancaster opened #281 "Add ability to like current playing song from player bar"

[2015-07-14 01:10] #256 closed

[2015-07-18 17:57] fidelisrafael commented on #69
@jakejarrett Good to know, keep us updated ;)

[2015-07-18 18:02] cirocosta commented on #69
@jakejarrett @fidelisrafael  :+1:

[2015-07-19 17:03] anubiann00b commented on #225
I'm having the same issue on Windows.

[2015-07-20 09:44] jillesme commented on #281
I think this is an awesome idea and I'd like to implement this if that's okay?

[2015-07-20 14:00] weblancaster commented on #281
Please feel free to work on this @jillesme and thanks for the interest.

[2015-07-23 17:45] MarkArranz opened #288 "[FEATURE SUGGESTION] Clicking on artist/user name in playlist opens artist/user's profile page in app"
It would be nice if clicking on an artist's name in a playlist would take me to their profile so I can find more songs by him/her/them.

[2015-07-23 22:50] RampageJack21 commented on #225
also having this issue on windows.  Soundcloud has no problem signing into my google account while using Chrome or Firefox.  Any plans to get this working?  I created my soundcloud account via google and i dont have facebook...is there any work-a-round given my situation?

[2015-07-24 01:57] anubiann00b commented on #225
Also, you don't need an account to listen to music on the site. I don't know if the APIs allow for unregistered music access (I'm guessing they don't), but if they do, login probably shouldn't be mandatory.

[2015-07-24 02:56] weblancaster commented on #288
Hey @MarkArranz you can send the PR to master.. I need to update that.

Thanks.

[2015-07-25 00:24] Chriz007 opened #291 "[FEATURE] Option to repost tracks & show other reposted tracks from artists"
Just a little icon to distinguish between reposted tracks, and tracks from artists you have followed.

Also, an option to repost a track that you like, so you can share with others

[2015-07-25 09:27] jakejarrett commented on #244
@weblancaster I can implement this feature over the weekend, I think it would make a great addition to Soundnode.

[2015-07-26 04:12] Chriz007 opened #292 "[FEATURE] Repeat button for tracks"

[2015-07-28 18:03] RampageJack21 commented on #225
got around it by changing my password on soundcloud.com while I was signed in with my google account.  Now I use my gmail address explicitly (before it was a click of a button) and the new unique password to login via browser and the soundnode app.  Works fine and no awful facebook needed :)

[2015-07-28 18:42] weblancaster commented on #225
Great thanks for posting your workaround @RampageJack21

[2015-07-30 01:52] jakejarrett commented on #274
Recommended tracks is available, but undocumented. [Which would not be in line with the terms of use](http://stackoverflow.com/questions/26388089/retrieving-the-recommended-playlist-via-api-call#comment41450304_26390142)

[2015-08-02 17:04] jvtrigueros opened #293 "App opens where the cursor is"
This is a problem if the application is started and the cursor ends up at the bottom of the screen. Then I'm not able to press the `connect` button on the SoundCloud prompt.

[2015-08-05 08:17] verpixelt opened #294 "Sign in with Google Account doesn't work"
After hitting the "Sign in with Google" button the app keeps stuck with a white screen. If I tab out of it and back in I get the login screen like nothing ever happened. This basically makes the app unusable.

[2015-08-06 06:38] Chriz007 commented on #294
I think someone else had this issue before and it may be fixed in the next update.

[2015-08-06 19:53] weblancaster commented on #294
@verpixelt can you check https://github.com/Soundnode/soundnode-app/issues/225#issuecomment-125697361

[2015-08-07 00:19] Chriz007 commented on #294
@weblancaster Hooray, you're back! I've been anxiously waiting for you to return. I've been checking the website for activity like 3x a day. Morning, Afternoon, and Night.

[2015-08-07 06:44] Chriz007 opened #295 "[SUGGESTION] Change the Soundnode Icon to make it stand out more"
Take a quick look at this screeny below.

![screen shot 2015-08-06 at 11 17 55 pm](https://cloud.githubusercontent.com/assets/12990919/9129837/6b61a6d2-3c91-11e5-9673-e8b8e098f613.png)

You see the dock right? Right. Now find the soundnode app.

...

It took you longer than you expected to find it right?

You see where I'm going? I think changing the look of the icon would make it stand out more i

[2015-08-07 07:38] weblancaster commented on #295
@Chriz007 I agree. Going to add to the roadmap.

[2015-08-07 13:14] darvid opened #296 "[FEATURE SUGGESTION] Scrobbling"
Would be awesome to have scrobbling to Last.fm and other services.

[2015-08-07 15:44] weblancaster commented on #296
Sorry @darvid but that's out of the scope/goal which was/is to support just Soundcloud.

[2015-08-07 17:29] Chriz007 opened #297 "[FEATURE] Auto-refresh Stream"
It would be cool to either have:
1) A refresh button to refresh the stream page
2) Have a notification on the top indicating whether or not a new track has been posted, therefore giving you the option you to refresh it.

For example:
![iconnode](https://cloud.githubusercontent.com/assets/12990919/9141636/114469ce-3cef-11e5-8d72-a30e3fdfafbe.jpg)

[2015-08-07 18:48] weblancaster commented on #297
Hm this is good idea.. thanks @Chriz007

[2015-08-07 18:57] Chriz007 commented on #274
Hold up, what exactly are you talking about @jakejarrett ?
["which would not be in line with the terms of use"] <-- What exactly does this mean?

[2015-08-07 19:15] Pitros commented on #274
As one of SoundCloud alumnus (profile desc) said it might somehow violate terms of use of soundcloud API.
Anyway I haven't found anything about using not documented api calls, as well it's working for nearly a year so I think we can use it.
BTW those api calls are probably for official mobile apps - recommended tracks were added recently, at least for Android so that's probably why it's not public

[2015-08-07 20:28] #288 closed

[2015-08-07 21:20] Chriz007 opened #298 "[BUG] "No tracks on your account" When in fact, there are tracks"
Wanted to report this issue a while ago, but I thought it was a very minor problem that didn't really matter. I decided to report it anyway.

Example shown down below:
<img width="1293" alt="cb7b2763a7" src="https://cloud.githubusercontent.com/assets/12990919/9146162/4008564c-3d0f-11e5-8844-1c32bca22b8e.png">

[2015-08-07 21:34] #298 closed

[2015-08-07 21:36] Chriz007 commented on #298
Wow, you worked on this really fast! Great job.

[2015-08-07 21:37] weblancaster commented on #298
easy peasy this one @Chriz007

[2015-08-07 22:05] Chriz007 commented on #295
So I made these two icons really quick. Tell me what you think. Its ok if you don't like it. I'm just trying to help out every bit I can! :)

![soundnode icon orange](https://cloud.githubusercontent.com/assets/12990919/9146900/9ed955a8-3d15-11e5-99a1-11fd79ac5d34.png)
![soundnode icon blue](https://cloud.githubusercontent.com/assets/12990919/9146901/a25d987e-3d15-11e5-9f03-ef8c3702767f.png)

[2015-08-08 04:34] jakejarrett commented on #274
@Pitros @Chriz007 I'm not a lawyer, but i assume this snippet from xii. would prohibit us from using undocumented code.
`You must not, and must not permit any third party to, copy or adapt the object code, or reverse engineer, reverse assemble, decompile, modify or attempt to discover any source or object code of the SoundCloud® API`

[2015-08-08 08:29] thimohagen commented on #41
Any updates on this?

[2015-08-08 08:30] THMOH opened #300 "Airplay"
Hey,

Is there still going to be support for Apple Airplay? I don't prefer streaming system sound or my desktop.

Thanks.

[2015-08-08 22:55] Chriz007 opened #302 "[IMPROVEMENT] Allow scrubbing through track"
For better accuracy when looking for that perfect spot during the song

Click here to see example:
http://sendvid.com/x5bwpwcq

[2015-08-09 23:21] weblancaster commented on #300
It isn't a priority right now but we can make some effort to implement/squeeze soon @thimohagen

[2015-08-09 23:24] weblancaster commented on #295
Cool! thanks @Chriz007

I also like the third option.. is there any meaning for those logos? why you chose that format/color etc

[2015-08-09 23:56] Chriz007 commented on #295
Meaning? No. I just thought it looked cool to me. I also wanted to put a node design in the middle, so I spent 2 hours trying to make it. Like a colorful kind of node with it connecting to other dots. But it didn't end up looking good at the end. Maybe I'll try again when I get back home. If you'd like to try to make an icon, you can go to the website I used to make it. https://freeiconmaker.com

[2015-08-10 14:45] weblancaster commented on #295
Got it @Chriz007

A friend of mine designed the logo I have some version on white and black backgrounds.. I'm going to try them out

[2015-08-10 19:28] Chriz007 commented on #295
Cool @weblancaster

If you wouldn't mind, be sure to post them here. I'd like to see how they look too.

[2015-08-12 17:42] #293 closed

[2015-08-12 17:42] #294 closed

[2015-08-12 18:14] #268 closed

[2015-08-13 14:33] weblancaster commented on #273
Latest update added improvements fixing this.

[2015-08-13 14:34] #273 closed

[2015-08-13 14:40] #198 closed

[2015-08-13 19:02] DamageESP opened #305 "[Bug] Liked Playlists listing"
You can't see your liked playlists in the Playlists tab.

[2015-08-13 21:24] Chriz007 commented on #305
You should write [BUG] in the front of the title so people know

[2015-08-14 18:30] MarkArranz opened #306 "User hability to toggle notification alert/sound when track changes"
As a user, I would like the option of turning off the notification sound or desktop alert when the soundnode app changes tracks.

[2015-08-14 18:43] weblancaster commented on #306
Thanks for the feedback @MarkArranz

I have been thinking to add user settings to enable/disable some features, so this will make it.

[2015-08-14 20:58] MarkArranz commented on #306
Awesome. I am available to help you work on this if you'd like.

[2015-08-14 21:06] MarkArranz opened #307 ""Maximize Window" button doesn't switch to "Restore Down" when maximized"
Running Soundnode on Windows 10, when I maximize the app to take up the full screen, the maximize button doesn't switch to the restore down button.

[2015-08-15 01:22] Chriz007 opened #308 "[BUG] Graphical Glitch when adjusting volume"
Never noticed it before because I always used my keyboard or earphones to adjust the volume.

Example:
http://sendvid.com/k40t3pyy

[2015-08-17 07:04] Chriz007 opened #309 "[FEATURE] Info about songs + concept ideas"
Ex:
• Date uploaded
• Views gotten
• Likes gotten
• Comments gotten

Dunno how you're gonna fit all this in if you plan to, but good luck :+1:

EDIT: Actually I have an awesome concept I'll work on that I think will work great! BRB

EDIT 2: Here's some concept ideas, I know I didn't get the date on there, thats going to have to be decided later. Down below I'll walk you through the stuff. Also, on

[2015-08-17 09:56] jakejarrett commented on #309
The second concept with transparency looks best, The opaque bar looks a bit odd.

[2015-08-17 14:54] weblancaster commented on #309
@Chriz007 pretty cool concept.. We should work on something around that idea.

thanks!

[2015-08-17 16:06] Pitros commented on #308
When running Soundnode on nw.js (0.12.3) this bug seems to be fixed (probably that was Chrome issue).

[2015-08-17 16:18] weblancaster commented on #308
Yep, that's just a rendering/re-paint issue

[2015-08-18 16:26] Pitros commented on #266
@weblancaster meanwhile app still works, but there's a form for higher API usage.

Source: https://twitter.com/SoundCloudDev/status/628582517889728512
https://docs.google.com/forms/d/16Vs0Ikv2HqH8UJPGmX5kF2Wy4Rx_qMpgDrL39ACJKyE/viewform

You might want to look at this one.

[2015-08-18 18:39] Chriz007 commented on #266
Wow, this should be useful.

[2015-08-18 21:44] weblancaster opened #310 "Re-write Soundnode"
Time to move Soundnode from Angular to React (React router) and ES6/ES2015.

A branch called `soundnode-react` was created with the goal to move Soundnode forward to React.. this work will be in parallel with the work on master branch (nothing changes there).

I'm going to setup React in the project (soundnode-react branch) and we go from there.
The ideal is to start replacing Angular routes/views

[2015-08-18 22:36] Pitros commented on #310
May I know why you want to re-write almost whole app?

[2015-08-19 05:54] weblancaster commented on #310
I have a lot of reasons @Pitros

Apply my React knowledge in a medium size App and learn more about it at the same time.
Make the App faster, more modular, easier to understand as a dev point of view.

[2015-08-19 22:32] #302 closed

[2015-08-19 22:41] weblancaster opened #312 "Improve search dropdown design"
Although the feature is pretty cool, the design isn't that appealing.

![screen shot 2015-08-19 at 5 34 48 pm](https://cloud.githubusercontent.com/assets/549394/9370884/75bff8ba-4699-11e5-8768-88af4b588d83.png)

[2015-08-19 22:57] Chriz007 commented on #312
What about making the dropdown menu a dark color, making the letters white, and decreasing the space between the artists?

[2015-08-19 23:11] Chriz007 commented on #312
Or you could do it how spotify does it where they put the song on top and the artist on the bottom
<img width="245" alt="screen shot 2015-08-19 at 4 10 43 pm" src="https://cloud.githubusercontent.com/assets/12990919/9371808/e379c622-468c-11e5-9a44-48c9ab48c7e7.png">

[2015-08-19 23:59] Pitros commented on #312
In last days I've been playing with Soundnode look (yes, again). I've already made few tweaks including search bar, dropdown, profile look and player progress bar and some under the hood improvements.

**Here's how it currently looks:**

![image](https://cloud.githubusercontent.com/assets/6910670/9372367/14b2f488-46de-11e5-87cf-96b3d7637e8d.png)

![image](https://cloud.githubusercontent.com/assets

[2015-08-20 00:13] Chriz007 commented on #312
@Pitros That looks absolutely sick man!

[2015-08-20 01:45] weblancaster commented on #312
Hey @Pitros thanks for working on it again.

First screenshot:
I liked the idea of having `show more` button for the profile.. but I want to use orange as little as possible just in a few small places e.g track progress bar so I wouldn't go with that color in the border for the button.

Second screenshot (dropdown):
everything looks pretty good I would just remove the orang from the top border (I

[2015-08-20 02:13] Chriz007 commented on #312
For the Following button, you should probably make it change colors so we can tell right away that we have followed them

[2015-08-20 14:43] weblancaster commented on #312
Yeah I think the `hover` state and `following` can be orange but the button at default state should be something light white/gray.

[2015-08-20 15:26] #69 closed

[2015-08-20 15:34] weblancaster commented on #312
@Pitros don't forget to open a PR for each feature/redesign please.

Also, if possible having the PR for the search dropdown first would be great.. just waiting for that to release next version of Soundnode.

[2015-08-20 16:21] #241 closed

[2015-08-20 16:22] #205 closed

[2015-08-20 16:23] #4 closed

[2015-08-20 16:27] weblancaster commented on #260
This is duplicated #257 closing

[2015-08-20 16:27] #260 closed

[2015-08-21 09:29] fortytw2 opened #314 "Unplayable Track"
Trying to play -> https://soundcloud.com/zedd/bn-greyremix inside Soundnode doesn't seem to work, but it also had some issues on Soundcloud itself - so I'm not sure if this is a Soundnode issue or if Soundcloud is doing something weird.

Great work though, using soundnode every day now :+1:

[2015-08-21 09:54] Chriz007 commented on #314
Yeah, how odd! I tried playing that same music but it didn't work. I don't think its part of soundclouds api limit usage, but maybe @weblancaster can look into the logs or something

[2015-08-21 10:18] fortytw2 commented on #314
Could soundcloud be rolling out a different format of some sort? There was a period of time yesterday that the track wouldn't play on web either. Really quite odd

[2015-08-21 10:23] Chriz007 commented on #314
I don't think so.. and plus the song still works on soundcloud. Just not soundnode.

[2015-08-21 10:27] Chriz007 opened #315 "[IMPROVEMENT SUGGESTION] New Alphabetical order layout for artists in the "Following" page"
The artists are already in alphabetical order, I know already. But with many artists I follow, its hard to keep track of them. Thats why I've come up with an idea to make navigation through the page easier. (p.s I would do a concept art thing, but photoshop is messing up with me right now)

1) Put the artist's name on top/bottom of their profile picture. (some of them have designs, but you wouldn'

[2015-08-21 10:47] Pitros commented on #314
It's soundcloud issue, API does not return mp3 file, it returns blank page.

[2015-08-21 15:22] weblancaster commented on #307
PR #316 fixed this issue.

[2015-08-21 15:22] #307 closed

[2015-08-23 04:46] Chriz007 opened #322 "Apple earpod support?"
For playing/pausing/changing tracks

[2015-08-24 04:01] weblancaster commented on #312
close with #320

[2015-08-24 04:01] #312 closed

[2015-08-24 05:58] weblancaster opened #324 "[Bug] Fix track info repost overlap"
in the image attached we can see that the activated/playing song has the infos comments, likes and reposts, where reposts is the one overlapping.

![screen shot 2015-08-24 at 12 55 39 am](https://cloud.githubusercontent.com/assets/549394/9433626/2902ebb2-49fb-11e5-964e-d5a36118bbb8.png)

[2015-08-24 06:02] Chriz007 commented on #324
To fix this, are you going to make the numbers scroll sideways like a Marquee? Or are you going to estimate the number of tracks played by writing 6K, 60K etc?

[2015-08-24 06:23] weblancaster commented on #324
@Chriz007 second options most likely, but definitely not a marquee like haha.

[2015-08-24 06:24] Chriz007 commented on #324
Ah. And completely awesome update! just downloaded it!

[2015-08-24 06:27] weblancaster commented on #324
and @jakejarrett

[2015-08-24 15:57] jakejarrett opened #325 "[Discussion] Error logging"
I think an error logging function could be beneficial for bug reports, It could log errors that otherwise might not be seen by a user (Unless they look at the console) and help bug reports, The user can just copy the contents of the error.log even if they've closed the application.

It wouldn't be too hard to implement, Below is an example of how we could approach it
[code]

[2015-08-24 16:04] PEPZ commented on #205
@weblancaster @jakejarrett How does the feature work now? Numbers do not seem to work.The app is amazing, guys! Using it all the time! :))

[2015-08-24 16:08] weblancaster commented on #205
@PEPZ this was not implemented or added to the roadmap.. we will need to wait to see.

[2015-08-24 16:08] Pitros commented on #205
As far as I know it's not implemented.

[2015-08-24 18:35] Pitros commented on #324
We could stick with soundcloud format - round to 1K or 1M etc.

Using small custom angular filter it looks like that:
![image](https://cloud.githubusercontent.com/assets/6910670/9448658/20ef18bc-4a9e-11e5-92b9-e5278b6bab6c.png)

[2015-08-24 19:23] weblancaster commented on #324
@Pitros yes that is good.

[2015-08-24 20:55] Chriz007 opened #327 "Add checkmark for verified artists"
There are many posers out there on soundcloud with the same names/profile pictures as artists. I'd like to request a feature to add verified checkmarks to the end of an artist like this

![bsd](https://cloud.githubusercontent.com/assets/12990919/9452185/bd43aba6-4a67-11e5-9d5b-ab6e526bdb58.jpg)

[2015-08-24 21:04] #324 closed

[2015-08-24 21:44] RampageJack21 commented on #292
Mr. Lancaster,

will this feature (much like shuffle feature https://github.com/Soundnode/soundnode-app/issues/226) also depend on https://github.com/Soundnode/soundnode-app/issues/138 being finished first?

P.S. I've told every single one of my friends who use soundcloud about this app.  Everyone loves it! Keep up the great work!!  :+1:

[2015-08-24 21:51] weblancaster commented on #292
@RampageJack21 I started to work on this while ago but I haven't had long hours to work on it so I have a working progress (https://github.com/Soundnode/soundnode-app/commits/queue-rework) on #138 which will make easier and better for some planned features like this one and #226 and #257

[2015-08-25 02:18] Chriz007 commented on #308
You can close this issue now @weblancaster or @Pitros. Its fixed in the newest update

[2015-08-25 02:19] weblancaster commented on #308
great.

[2015-08-25 02:19] #308 closed

[2015-08-25 04:40] jakejarrett opened #328 "[Bug] Download link for linux is disabled"
When you visit soundnodeapp.com and try to download the linux build, it redirects you to a page stating that the URL has been disabled.

![screenshot from 2015-08-25 14-39-50](https://cloud.githubusercontent.com/assets/5661105/9458860/2f39a556-4b37-11e5-8f91-f18c837b0fe8.png)

[2015-08-25 04:51] weblancaster commented on #328
It's fixed.
Thanks for letting me know @jakejarrett .. they must have updated the policy.

[2015-08-25 04:51] #328 closed

[2015-08-25 06:06] jakejarrett opened #329 "[Bug] Search not always returning the correct artists"
I believe this bug is introduced by searching users via the tracks api.

The change occured in commit 4495f6280563060bd20e0caf41bf566af6841f6c

How to reproduce-

Search for skrillex, Click any of the returned results, none of them are the artist i was searching for.

![screenshot from 2015-08-25 16-05-59](https://cloud.githubusercontent.com/assets/5661105/9459828/3286aa22-4b43-11e5-87a3-0fe1a6d50

[2015-08-25 06:08] Chriz007 commented on #329
Yeah thats kind of what I was referring to in issue #327 because they would only show random users, so putting a verified mark would help identify the right artist

[2015-08-25 14:46] weblancaster commented on #329
I agree with @Chriz007 let's add that to the improvements.

[2015-08-25 15:10] Pitros commented on #329
Every of those skrillex would point to official skrillex account, but this line is messed up:
https://github.com/Soundnode/soundnode-app/blob/master/app/public/js/search/searchInputCtrl.js#L39
Should be:
`$state.go('profile', {id: this.user.id});`

@weblancaster @Chriz007 soundcloud does not have verified profiles at all, all we can do is to prioritize profiles with higher subscription plan.
As we

[2015-08-26 02:51] jakejarrett commented on #329
I can write a fix tonight, the error is that were using song ID as the artist ID

[2015-08-26 03:08] Chriz007 commented on #329
@jakejarrett hey, I just have a quick question. For the info bar for the songs, does it refresh once you've clicked the play button for that track?

[2015-08-26 04:51] jakejarrett commented on #329
@Chriz007 i'm not 100% sure, it looks like it pulls the data once you play the song.

[2015-08-26 05:06] Chriz007 commented on #329
I'm asking this because when I went to check back on my track I posted, It hadn't updated to show more stats

[2015-08-26 10:59] nmsadsfadsf opened #331 "[Question] App not working"
![unbenannt](https://cloud.githubusercontent.com/assets/13980049/9491749/a48cc4ae-4bf1-11e5-80f5-d03ca70fdd75.PNG)
When I try to open the latest version of the soundnode app (0.5.7) it gets hung up on this screen.
I am running win 7 enterprise inside a company-network. could the problem be the firewall blocking soundcloud?

[2015-08-26 11:05] Pitros commented on #331
You're launching it for first time or it stopped working after update? Did login window show on screen?
And press `Ctrl + /` and check if in console tab something showed up.
It should work fine on Win 7, but it might be firewall blocking something.

[2015-08-26 18:08] Chriz007 commented on #331
That has happened to me when connecting to a school/company network. It just hangs up on me and won't connect. It's just the network

[2015-08-26 18:39] weblancaster commented on #331
I can use Soundnode without problem on my company so that issue could be something else missed although haven't seem or nobody reported that issue before.

@nmsadsfadsf would be able to try to use in another network? and tell us if that work please.
Also, did you try connect with Facebook orGoogle?

Thanks.

[2015-08-27 18:34] CrystalMare opened #332 "Sound not in surround on a Xonar D1"
I'm using a Xonar D1 audiocard to playback my music on a home cinema setup.

I was hoping that the app would playback on all 6 of my speakers but it does not.

[2015-08-27 18:39] Pitros commented on #332
It's the same issue as #261, try adding `--disable-audio-output-resampler --try-supported-channel-layouts`. It's chromium issue.

[2015-08-29 23:54] #138 closed

[2015-08-30 00:05] weblancaster opened #334 "[Improvement] Add loadMore/next Page data to Queue"
When scrolling to bottom and the viewing updating with new data, Queue must be updated with the new data (added to the Queue).

[2015-08-30 21:51] Pitros opened #335 "[Feature] Track page"
I'm currently working on track page, it still need some polish, but overall it works.

And I completely rewrote `show more` button behavior, now it's based on max height not text length.

Here's small preview.
![image](https://cloud.githubusercontent.com/assets/6910670/9569661/b7261718-4f71-11e5-8193-ca91634d244b.png)

[2015-08-30 21:56] Pitros opened #336 "[IMPROVEMENT] Tracks view simplification, like button behavior"
I've been working on tracks view (see pic), looks simpler - less text etc. as well I made changes to likes directive - you can like and unlike tracks without reloading, as well you can see which tracks you already marked as liked. Let me know if you like those changes or not.

Here's preview:
![image](https://cloud.githubusercontent.com/assets/6910670/9569693/92ea00de-4f72-11e5-88be-7b7fe0df2de4.p

[2015-08-30 22:00] Chriz007 commented on #336
Pitros, awesome work! Much more simplified and better looking. Do you plan to make groups for the different genres? For example you type in 'Bounce' in the search bar and it loads up a page of bounce songs ranging from Trending to Popular?

[2015-08-30 22:01] Chriz007 commented on #335
Great work Pitros!

[2015-08-30 22:03] Pitros commented on #336
@Chriz007 you mean genre/tag view? Like that one on Soundcloud: https://soundcloud.com/tags/tropical%20house ?

[2015-08-30 22:06] Chriz007 commented on #336
Yup! Thats what I meant

[2015-08-31 15:04] wb9688 opened #337 "32-bit linux download?"
Why isn't there a 32-bit linux download?

[2015-09-01 05:12] jakejarrett commented on #337
I just tested a 32-bit build on ubuntu. There just needs to be a few adjustments to have both 32bit & 64bit working together, Mainly Audio & UI code.

[2015-09-01 16:04] nmsadsfadsf commented on #331
I wasnt able to get to the login screen.. But i checked if i even could use souncloud with my browser and it said, that audio streaming is blocked by the network admin, which makes sooo much sense -.-
Does anyone know if i can change the adress where the app gets the music/account data from, so that it uses a proxy?

[2015-09-01 16:31] weblancaster commented on #331
Oh ok so that's a Soundcloud "issue" @nmsadsfadsf (if you don't want to login automatically you need to log out)..

Soundcloud manages the music/account data.. nothing we can do.. sorry.

[2015-09-01 16:31] #331 closed

[2015-09-01 20:32] weblancaster commented on #281
Closing as duplicate to #259

[2015-09-01 20:32] #281 closed

[2015-09-01 20:35] #257 closed

[2015-09-01 20:38] weblancaster opened #339 "Queue list sidebar doesn't show active track playing."
Display active track playing on Queue list sidebar.

[2015-09-02 13:35] Pitros opened #341 "[DISCUSSION] Using SoundCloud API V2"
According to reply from @SoundCloudDev on [Twitter](https://twitter.com/SoundCloudDev/status/639017606264016896), we can use API V2.

We could improve dropdown results:
`https://api-v2.soundcloud.com/search/autocomplete`
We could show recommended tracks #274
As well Show who reposed track on stream view:
`https://api-v2.soundcloud.com/stream`

[2015-09-02 16:28] weblancaster opened #342 "Add options to track in Queue list sidebar"
Some options:

- remove (from Queue)
- like
- add to playlist
- goto song (in the main view)
- banish ?!

[2015-09-02 16:59] microvolt52 opened #343 "Playlist search?"
I think it would be great if you guys would add the ability to search for playlists. Also, I can't view people's playlists. Thanks and best of luck!

[2015-09-03 01:46] Chriz007 opened #344 "Move stream view down when next song plays"
Sometimes I like to keep the songs on continuous play, but when I come back to the app to check the song, I have trouble finding where the song is located.

![screen shot 2015-09-02 at 6 37 34 pm](https://cloud.githubusercontent.com/assets/12990919/9648941/d2a5593a-51a2-11e5-8416-c6181e6adbf1.png)

[2015-09-04 17:44] #339 closed

[2015-09-04 19:55] #329 closed

[2015-09-05 03:54] jakejarrett opened #346 "[Issue] Performance issues over prolonged use / Memory Leak"
There appears to be a memory leak in Soundnode, The sudden drops in memory usage are garbage collection.

This is just listening to the stream
![screen shot 2015-09-05 at 1 46 09 pm](https://cloud.githubusercontent.com/assets/5661105/9697570/d15d3ea6-53d4-11e5-8fcc-41379ea1eb57.png)

This is switching pages & coming back to the stream while songs are playing
![screen shot 2015-09-05 at 1 52 27 pm]

[2015-09-07 11:39] jakejarrett commented on #346
I've been testing a way to handle the memory leak in this [memory-management](https://github.com/jakejarrett/soundnode-app/tree/memory-management) branch, Current tests seem to show a decrease in memory usage.

(Note- Calling gc() is very hacky, this is only in there to see how much the memory is affected by cleaning up unused variables etc)

[2015-09-07 21:17] thefabulousdev opened #347 "[FEATURE SUGGESTION] Explore"
I personally use [Soundcloud Explore](https://soundcloud.com/explore)
 90% of the time that I'm listening to music.

It would be cool to have something like that on the application.

[2015-09-07 21:33] Chriz007 commented on #347
Yes, they already know about this.

[2015-09-08 20:27] jackquack opened #349 "[Feature] Filtering"
I would kill for filtering of Soundcloud tracks. Ideally their API would support this, but I haven't investigated. Though even if it isn't possible through their API, it could be client-side

Example use cases
- Filter to only show tracks longer than 20 minutes
- Filter to only show uploads, not re-posted tracks
- Only show tracks w/ more than 10,000 listens

[2015-09-08 20:36] weblancaster commented on #349
We can definitely implement that..I will add to the roadmap although we have a bunch of work to do before start this one.
Thanks for the feedback @jackquack

[2015-09-08 20:54] #335 closed

[2015-09-08 21:51] jackquack commented on #349
I have more faith in you implementing this feature than Soundcloud. They haven't innovated on anything in years. I have emailed them multiple times requesting this feature.

[2015-09-08 21:53] weblancaster commented on #349
Haha thanks @jackquack

[2015-09-08 22:40] DidUknowiPwn commented on #341
Hope it would fix this: http://i.imgur.com/8oO5aQw.png

(None of them are right & none of them load either: http://i.imgur.com/GyDcB8w.png)

[2015-09-08 22:52] #226 closed

[2015-09-08 23:00] Pitros commented on #341
It was fixed already.

[2015-09-09 04:11] weblancaster commented on #292
#278 is a duplicated of this issue

[2015-09-09 04:14] Chriz007 commented on #292
@weblancaster A repeat button for tracks and a switch for disabling/enabling autoplay isn't the same thing..

[2015-09-09 05:38] weblancaster commented on #292
@Chriz007 I think he is actually referring to a repeat button.. same thing because in both cases you won't be able to play next automatically.

[2015-09-09 13:28] Pitros commented on #341
I reall don't know why you closed this one, which is unrelated to @DidUknowiPwn comment.

It's a proposition to use API V2 which is still undocumented and that's the only information on the web that we can use it without breaking TOS. As well I wanted to hear your opinions on rewriting search dropdown methods or adding info who reposted track etc.

[2015-09-09 13:31] Pitros commented on #292
@weblancaster but it's still something much different - like disable autoplay for youtube - you just want to play one video not whole list or repeat one infinitely.

[2015-09-09 13:33] #336 closed

[2015-09-09 22:20] #292 closed

[2015-09-09 22:28] weblancaster commented on #278
Hey @eigenstil can you explain a bit better what do you want please.. Isn't this just a repeat track feature? if so it's added #292

[2015-09-09 22:50] Chriz007 commented on #278
@weblancaster I made a video explaining that http://sendvid.com/r6uqd9dd

[2015-09-09 22:56] Chriz007 commented on #278
This video is ALSO a perfect example. Pretend the link I sent you for the video is a track being played. Once its over, there is an option to have a repeat button on the bottom left corner. But in this case, we want it to be played automatically. Just like on another music player like iTunes.
<img width="75" alt="screen shot 2015-09-09 at 3 51 48 pm" src="https://cloud.githubusercontent.com/assets

[2015-09-09 23:33] jakejarrett commented on #341
I'd like to mess around with some of the undocumented API's, Should we write some basic documentation on the API for later use?

[2015-09-09 23:55] weblancaster commented on #278
Let's see what @eigenstil has to say @Chriz007

[2015-09-10 00:04] Pitros commented on #278
He doesn't want repeat function, the option he wants looks like that:
He clicks on track A, track is being played and when it's finished next one let's say B is not being played automatically. As well track A is not being repeated, no sound is being played at all.
Obviously he want to have an ability to enable or disable that option.
There's no hidden magic. Really.

[2015-09-10 00:50] Wferr opened #353 "How to compile section"
Would be awesome if the readme file had a section on how to build the app.

[2015-09-10 00:52] weblancaster commented on #353
@Wferr theres a link in the README to https://github.com/Soundnode/soundnode-app/wiki/Development

[2015-09-10 00:53] Wferr commented on #353
I'm not very observant. Whoops

[2015-09-10 00:53] #353 closed

[2015-09-10 01:01] Chriz007 opened #354 "[Bug] Having trouble Authenticating account with new version"
![screen shot 2015-09-09 at 6 01 05 pm](https://cloud.githubusercontent.com/assets/12990919/9777764/cd462300-571c-11e5-88bc-bc0d566f374c.png)

[2015-09-10 01:12] weblancaster commented on #354
Trying to fix it now @Chriz007

[2015-09-10 01:14] weblancaster commented on #354
Are you on windows or mac @Chriz007

[2015-09-10 01:15] Chriz007 commented on #354
I ran it both on my mac and using my virtual machine, I ran it on windows. Both did not work

[2015-09-10 01:15] weblancaster commented on #354
This is weird I tried here and worked

[2015-09-10 01:16] Chriz007 commented on #354
Strange. Is there some sort of console I can activate to copy/paste it on to here?

[2015-09-10 01:16] Chriz007 commented on #354
I wonder if anyone else is having that problem.

[2015-09-10 01:25] weblancaster commented on #354
@Chriz007 I uploaded a new version.. can you check again please

[2015-09-10 01:25] Chriz007 commented on #354
Sure thing.

[2015-09-10 01:27] weblancaster commented on #354
Didn't fix.. I just tried the download and did no work.. and there's no log of error or nothing

[2015-09-10 01:27] Chriz007 commented on #354
Yeah, was just about to say that.

[2015-09-10 02:32] RampageJack21 commented on #344
Not sure if this is related or just me being forgetful but often i just hit play when i launch the app.  It will play songs from artists i follow and allows me to discover music.
After some time, I cannot tell where the current track is being played.  I had scrolled 10 pages and couldn't find the album (only 2 hours had gone by so its not like hundreds of songs have played)

I was  going to sugges

[2015-09-10 02:43] weblancaster commented on #344
@RampageJack21 I introduced Queue list in the new version.. you will never get lost again.

Although, it's a good point.

[2015-09-10 02:52] Chriz007 commented on #354
Any luck in fixing it yet @weblancaster?

[2015-09-10 05:42] jakejarrett commented on #354
This happened with the latest build for me due to universal-analytics missing.

[2015-09-10 05:49] eigenstil commented on #278
Yes, @Pitros and @Chriz007 this is exactly what I mean! If a track has played to the und, I dont want anything to happen: neither repeat nor the next track. Actually this is the standard behaviour of ALL music playing apps (iTunes, windows media player, VLC player, winamp etc. etc.).

SoundCloud built this feature into their site and I find this very annoying. Thus, I was searching for an alternat

[2015-09-10 09:02] HypeHenry commented on #354
same here o/

[2015-09-10 10:21] Pitros commented on #354
[code]

@weblancaster you havent included `universal-analytics` files with release.
To include those, `node_modules` directory containing `universal-analytics` must be placed in the same directory where package.json is located (that means `app/` ).

But the thing is, if we attach analytics, app size will increase by 3MB (4.5MB on hard drive), I don't think that's worth it. If you want to track whi

[2015-09-10 15:12] weblancaster commented on #278
Ok @eigenstil we will implement that and release soon.

[2015-09-10 15:13] weblancaster commented on #354
I had found why last night (Chicago time) and committed.. I will keep the GA.

Thanks for the help all.

[2015-09-10 15:13] #354 closed

[2015-09-10 15:26] weblancaster commented on #334
This feature is discontinued.

[2015-09-10 15:26] #334 closed

[2015-09-10 15:27] #314 closed

[2015-09-10 17:14] #278 closed

[2015-09-10 17:15] weblancaster commented on #278
This was added. Will be available in the next release. thanks @eigenstil

[2015-09-10 19:05] RampageJack21 opened #356 "[FEATURE SUGGESTION] Add a "never play this again" functionality"
I often use soundcloud/node for music discovery.  A particular artist might have uploaded or re-posted an awful track that figuratively makes me ears bleed.  I know Soundcloud doesn't have the functionality to 'hide' or "dislike" tracks but i really wish they did.

Is this something that could be done client side? I use soundnode on my work computer and home computer, if a text file can be stored

[2015-09-10 19:43] weblancaster commented on #356
This would be a good feature to have.. is definitely doable but I still need to look in to the syncing part because I don't want costs (e.g database) with Soundnode since it's free and open source.

[2015-09-10 19:44] weblancaster commented on #356
also, update to version 0.5.8 is stable and working.. with a bunch of new feats.

[2015-09-10 20:05] eigenstil commented on #278
Great, thanks! Really looking forward for the release
+4915771895665
von unterwegs gesendet
Am 10.09.2015 7:15 nachm. schrieb Michael Lancaster <notifications@github.com>:This was added. Will be available in the next release. thanks @eigenstil

—Reply to this email directly or view it on GitHub.

[2015-09-10 22:25] Chriz007 commented on #356
@RampageJack21 Dude I hear ya! Sometimes I just absolutely hate a song and never want to hear again so I wish this was a thing soundcloud had.

[2015-09-10 23:38] Chriz007 opened #357 "[Discussion] What do you think of Soundnode going mobile?"
I'm so grateful this app exists, but what do you think of having an Android/IOS (preferably android) version of soundnode for on-the-go listening in the future?

[2015-09-11 00:31] Chriz007 commented on #344
@weblancaster Good implementation of the Queue feature. Although.. How about improving it a little better? Some suggestions:
• Moving the stream view to show the song being played, when it is not in view
• Not resetting the song when it is already playing, when moving stream view to show the song when clicked from the queue.

But overall, I'd still like this feature to be implemented. Its true I w

[2015-09-11 00:32] Mecharon1 opened #358 "[Feature suggestion] Move song times to the right"
Like so:

![soundnode](https://cloud.githubusercontent.com/assets/14226721/9804362/87b609b4-57f2-11e5-8a7a-5d1dd5b9c32c.png)

This would allow more space for long song titles.

[2015-09-11 00:45] Chriz007 commented on #358
Hmmm. I'm not sure it looks good moved to the right.. I may be wrong, but I don't know if I want to read the *whole* song's title because of over-excessive words. (I'm going to use the example above):

Nutronic - Steps Descend (MDK Remix) (Original mix) *FREE DOWNLOAD* = Click Buy

Plus you can always just hover over the title name if you really want to know what it is. But you may need more opini

[2015-09-11 01:03] Mecharon1 commented on #358
Sometimes the actual song's title is really long. For example, Excision & Pegboard Nerds - Bring The Madness (Noisestorm Remix) is the whole name of the song, and it gets cut off. On the flip side, when you have a song with a really short name, it looks weird with the times out in the middle of nowhere. Also, what about Twitch streams that overlay the currently playing song? If someone watching li

[2015-09-11 01:06] Chriz007 commented on #358
Did you photoshop the time to right or did you modify the code? If so, can you post another picture onto here to see an example of a song with a long title?

[2015-09-11 02:05] Mecharon1 commented on #358
I photoshopped it. I can't imagine moving it would be hard to code though.

[2015-09-11 03:34] DidUknowiPwn commented on #357
Well SoundCloud already has applications for them but for me it's broken. It freezes about 60% into the song and plays the next one.

Galaxy S3

[2015-09-11 05:06] RampageJack21 commented on #358
seeing as the title of the song is what gets cut off and not the artist line,  would moving it down a bit make enough clearance for the long titles in larger font?  It seems to me that the 'song time' font is the same size/height as the artist string.  An alternate to moving it to the right would be aligning it with the artist line.  Just a thought, i don't know what i would like better.

[2015-09-11 05:39] iashraful opened #359 "Not starting, stuck at Authenticating Account - Latest Version"
I received update notification yesterday(Sept. 10th, 2015).
Downloaded the latest version from main-website.
I followed these steps to install.

01. Delete everything from previous installation in Soundnoe-App folder
02. _Extract new version_ downloaded
03. Copy & Paste all files from extracted folder(from Step. 02) to old Soundnode-App folder
04. Double-click 'Soundnode-App.exe' to run

ISSUE: Th

[2015-09-11 05:42] RampageJack21 commented on #356
@weblancaster yeah i updated.  Excellent job with the queue structure, repeat, and shuffle all work really well.  I love how the "all rights reserved" disappeared from the bottom of each track; an aesthetic bonus.

Yeah i know this would take time, and i'm very patient.  I find I can mostly focus on work and music is just background noise, unless a track comes on that give me goosebumps .. catches

[2015-09-11 05:45] iashraful commented on #359
Solved!
Sorry, I renamed the installation folder to Soundnode-App. Previously it was 'soundcloud-app'.

[2015-09-11 05:45] #359 closed

[2015-09-11 06:08] RampageJack21 commented on #295
![sounnode_options](https://cloud.githubusercontent.com/assets/9271427/9807962/1330ae24-580f-11e5-8a2d-9b6e44e9b021.png)
Above was a screen shot, taken on Aug 4th, i uploaded to a now deleted non-issue i had filed where i couldn't pin the app.  i don't recall what i did for the pin option to show up but after "pinning"  to the task bar it changed to this type
![soundnode_app_icon](https://cloud.gi

[2015-09-11 10:01] RampageJack21 commented on #344
the queue is 20 songs deep,  but in stream mode, i might be scrolling down more than 20 songs, and while the current song finishes, since the next one is out of view, it would make me loose my place when it snaps the view to the next song.

example scenario:
I really like the current song that is playing and I can see in the queue that the next one is awful.
I want to wait until the track i like i

[2015-09-11 10:21] jakejarrett commented on #344
Forcing something to scroll doesn't seem ideal (Personally, i wouldn't like it if i was looking for another song in the stream view and it just scrolled back up / down), Maybe if you clicked the album art in the bottom view it could scroll down to the current playing?

[2015-09-11 10:28] Pitros commented on #357
@DidUknowiPwn that's something wrong with your phone, not the app itself. You should try wiping app data or reinstalling it. If it wont help only way seems to me is factory reset of whole phone.

Building an Android/iOS app is in my opinion pointless, there are at least two apps for Soundcloud: official one and My Cloud Player which offers different features compared to official app.

[2015-09-11 10:41] HypeHenry opened #360 "[Feature suggestion] Miniplayer"
Maybe it's a very good to have aan mini player for the soundnode app.

like what iTunes have.
<img width="295" alt="schermafbeelding 2015-09-11 om 12 42 36" src="https://cloud.githubusercontent.com/assets/10399325/9813136/5423ea30-5883-11e5-9be6-2914f5dd988d.png">

[2015-09-11 10:43] Pitros commented on #358
I've been trying couple layouts yesterday but I didn't get anything that satisffied me. Here are all your ideas how it might look in app (screenshots from app not photoshop).

Here's preview with really long title and time moved to right
![image](https://cloud.githubusercontent.com/assets/6910670/9812924/5981253a-5881-11e5-9bc8-311e7304a1a7.png)

Time moved to right, but there's min. ~100px margin

[2015-09-11 10:47] Pitros commented on #360
It has been discussed last time - #209 but @weblancaster closed that issue.
So probably wont happen but it might be good idea to create small draggable window with just track title and control buttons.

[2015-09-11 10:51] HypeHenry commented on #360
like this ?  ->  <img width="295" alt="schermafbeelding 2015-09-11 om 12 50 30" src="https://cloud.githubusercontent.com/assets/10399325/9813188/c26ac702-5883-11e5-9b2a-9dd8f844eb5c.png">

[2015-09-11 10:53] Pitros commented on #360
For me it might or even should be even simplier :) But yeah something like that.

[2015-09-11 14:07] Chriz007 commented on #358
Now that I have more visual options, I think I like the last one the best @Pitros. Although.. what about one where the time is directly in the middle?

[2015-09-11 14:11] Pitros commented on #358
Like that?

![image](https://cloud.githubusercontent.com/assets/6910670/9816836/ab9835b6-589f-11e5-89f3-3e1888ea207c.png)

![image](https://cloud.githubusercontent.com/assets/6910670/9816849/bef4a6da-589f-11e5-9a56-b67650e4dc50.png)

[2015-09-11 14:14] weblancaster commented on #360
@HypeHenry Soundnode App has no plan to support a mini player.. for that you can check out http://gillesdemey.github.io/Cumulus/ one of their contributors was actually a Soundnode core team member.

[2015-09-11 14:19] weblancaster commented on #358
yeah I haven't being happy with the "song time" at the middle too, but we had more important features to release so was fine..

Now.. I really liked the third suggestion on by @Pitros https://github.com/Soundnode/soundnode-app/issues/358#issuecomment-139513730

[2015-09-11 14:20] weblancaster commented on #358
I don't want to much overload in the right side.. that would draw a lot of attention.

[2015-09-11 14:35] weblancaster commented on #359
@iashraful I actually had released with a bug that was making the app get stuck in the part.. sorry and thanks.

[2015-09-11 14:36] weblancaster commented on #360
maybe down the road..but for now closing this issue as this was discussed before.

[2015-09-11 14:36] #360 closed

[2015-09-11 14:38] weblancaster commented on #357
Agree with @Pitros

Develop and maintain a mobile version besides the Desktop would be a lot of work..We all have "real jobs" outside the Open Source world so that would be hard.

Closing the issue. Thanks for the suggestion though.

[2015-09-11 14:38] #357 closed

[2015-09-11 14:46] weblancaster commented on #344
Thanks all for the suggestions..

I like the idea of clicking the the player bar icon/logo and scroll to the current song playing
I agree with @jakejarrett to not have a "always" scroll to song when not in view.

There's also something I'm starting to work on which is options on each track in the Queue, here's the issue number for discussion #342

[2015-09-11 20:02] Chriz007 commented on #342
lol *banish* good improvements though!

[2015-09-11 20:10] Chriz007 commented on #358
Oh ok so I think I may have an idea. So lets say that we go with the very last picture that @Pitros shared with us. If we decide to see the song title, we can have the cursor hover over the title, so the title can have a 'marquee' effect and scroll through revealing the rest of the words. Then once you've finished, you take your cursor off the title, and the title resumes its static position.

[2015-09-11 20:24] Pitros commented on #358
Already when you hover you get an tooltip, marquee is a bad idea - you waste time to wait till it finally reach desired point. It might just revall all the title in one or two lines on hover and hide anything beneath it.

[2015-09-11 21:22] weblancaster commented on #358
No need to show the entire title, the user can just hover the title to have the entire name or go to the song view.

[2015-09-12 00:18] TheNerdJedi opened #361 "Widget near Notification Area/System Tray"
When app gets minimized, we can implement a widget that is located in the System Tray, this can help move on to the next song without, reopening the app.

Or if we hover over the minimized app, we get a play and transistion buttons, similar to what Spotify does.

[2015-09-13 07:13] Chriz007 opened #362 "[Enhancement] Hotkeys for different toggles"
Such as:
'Q' - toggle queue
'S' - toggle shuffle on/off
'R' - toggle repeat on/off

Also, if we can implement the 'Hotkeys to jump to different location within a track' on the closed issue of  #205 that could be useful too!

[2015-09-13 13:33] apvanzanten commented on #343
Would love this too. I listen to a lot of albums this way.

[2015-09-14 21:19] totalKraze opened #363 "Playlist syncing and Genre searching"
I dont know if its just me having this problem but my Playlists, arent syncing and refreshing to my soundcloud account. Im a frequent SoundCloud user and have added new songs to my faves and Likes playlists recently, but though I am logged into SoundCloud through Soundnode, none of my most recent additions have been synced on soundnode. I have tried relogging, but that aswell didnt work. So I dont

[2015-09-14 22:12] weblancaster commented on #363
@totalKraze I will take a look in to this but I remember I had issues to not being alowed to display playlists..

[2015-09-14 22:38] mistydemeo opened #364 "Duplicate reposts aren't deduplicated, cause playback bugs"
Soundnode doesn't deduplicate duplicate reposts. If you're following more than one user who reposts the same song, the song will appear multiple times in your stream. (The official Soundcloud webapp, by comparison, only includes the most recent repost of the song in the stream and clears out all duplicates.)

There is also some unexpected behaviour if the user tries to interact with extra occurren

[2015-09-14 22:46] mistydemeo commented on #364
I wondered if it would loop the tracks infinitely, but it doesn't look like that's the case. While clicking play on the second track counts as clicking play on the first, it will only play as many times as there are reposts. e.g. when clicking on the second repost, it will play the song twice, then continue on through my stream.

[2015-09-15 01:11] totalKraze commented on #363
Its not that big of a deal on my opinion, but it would be nice lol take your time with it, I know coding is complicated, so no real rush. Just enjoying the app and would like to help improve any way I can. Thanks.

[2015-09-15 07:07] Chriz007 opened #365 "[Bug] Pressing back from a page doesn't save the track's position from the stream"
Say I'm playing this song from the stream..
![screen shot 2015-09-15 at 12 02 56 am](https://cloud.githubusercontent.com/assets/12990919/9870004/2e10c428-5b3d-11e5-84d0-579866928097.png)
When I click the song's name that redirects me to the description/comments page, it doesn't save the track's position when I click the back button.
![screen shot 2015-09-15 at 12 03 17 am](https://cloud.githubuser

[2015-09-15 15:35] apvanzanten opened #366 "[bug] "Following" page does not display more than 50 artists."
I have around 200 artists in my "Following" list, but the app only shows 50 of them (consistently).

[2015-09-15 15:43] floriangosse opened #367 "No windows controls on linux"
I use GNOME Shell 3.10.4 on Ubuntu 14.04

![Screenshot - Linux no window controls](https://cloud.githubusercontent.com/assets/3819038/9881628/173a979e-5bd1-11e5-93e4-7093088d2bc4.png)

[2015-09-15 15:45] Pitros commented on #367
It's x64 or x86?
Could you press `CTRL + /` it should open dev tools window, then go to console and type `navigator.platform` and please write what it returns.

[2015-09-15 16:01] floriangosse commented on #367
[code]

[2015-09-15 16:16] weblancaster commented on #367
@floriangosse can you actually do the same steps but console `process.platform` please?

[2015-09-15 16:20] floriangosse commented on #367
@weblancaster:
[code]

[2015-09-15 16:25] floriangosse commented on #367
@weblancaster We need an additional check for simple `linux` at line https://github.com/Soundnode/soundnode-app/blob/ebf617204e34f83b192495d4396592ef75e31dbf/app/public/js/common/appCtrl.js#L9

[2015-09-15 16:53] weblancaster commented on #367
yep.

[2015-09-15 16:54] weblancaster commented on #367
I fixed.. and going to push with another fix soon.

[2015-09-15 16:55] floriangosse commented on #367
Thx

[2015-09-15 17:06] #366 closed

[2015-09-15 17:08] weblancaster commented on #367
resolved on #368 merge

[2015-09-15 17:08] #367 closed

[2015-09-15 18:07] #342 closed

[2015-09-16 01:47] DidUknowiPwn opened #371 "[Bug] Continuous seeking"
Video: http://www.youtube.com/watch?v=pVfpdO7GGtk

Issue:
Song seeks to wherever mouse is hovering.

Steps:
Play any song
Press and hold onto the scrubber, drag it outside the form then let go while outside of it.

[2015-09-16 01:55] Chriz007 commented on #371
Not really sure this is an issue.. I think all applications have this. All you have to do is click once to return it back to normal..

[2015-09-16 03:12] weblancaster commented on #371
This is not a bug, it's a feature.. that's how it suppose to work.

[2015-09-16 03:12] #371 closed

[2015-09-16 19:04] weblancaster commented on #192
Yesterday I worked on it https://github.com/Soundnode/soundnode-app/commits/auto-update

I have the code working but I'm indecisive on rather use the node module download or not.

any feedback on that @jakejarrett @Pitros @Chriz007

[2015-09-16 19:27] mradionov opened #372 "[Bug] Window buttons are not displayed (Ubuntu 14.04 Gnome)"
Actual:

![image](https://cloud.githubusercontent.com/assets/2007370/9915737/63f6f122-5cc1-11e5-8196-7628910ec5ab.png)

Expected:

![image](https://cloud.githubusercontent.com/assets/2007370/9915869/34a953fa-5cc2-11e5-981a-a0bc3999b7f0.png)

Version: Release 0.5.8 for Linux
Downloaded from: soundnodeapp.com
OS: Ubuntu 14.04 x64, Gnome Desktop

Console output:

[code]

[2015-09-16 19:31] Pitros commented on #372
This is already fixed by #368 - it was reported 2 days ago #367.

@weblancaster keep this alive untill new release, so no more issues like that will be made.

[2015-09-16 19:39] mradionov commented on #372
I can confirm it works for me with master build. Sorry for duplicate though, should have checked the master version first. Thanks.

[2015-09-16 19:41] #192 closed

[2015-09-16 19:41] Pitros commented on #192
To update whole app in most times we just need to replace `nw.pak` file (which is protected while nw.js is running) leaving nw.js runtime files untouched. Only next releases with nw.js updated will require full download. So that would bring down update filesize by ~40MB (current nw.pak is 7MB but with updater files that would change)
While I was reading about auto-updater I remember that someone h

[2015-09-16 19:44] weblancaster commented on #192
Let's work to improve that.. for now I will release this way.

[2015-09-16 21:06] Chriz007 commented on #192
I'm a very visual person, so I would have to see a mockup version of this.

[2015-09-17 01:08] jakejarrett commented on #192
@weblancaster would Node's inbuilt Zlib be good enough for unzipping the downloaded files?

[Reference](https://nodejs.org/api/zlib.html#zlib_class_zlib_unzip)

[2015-09-17 09:36] ninjaonsafari commented on #241
Im running in the same issue...
When the focus is set to chrome it works perfectly but not when i focused visual studio or internet explorer.
It works with spotify and i dont think someone else is catching the events...
Do you need more info?

thanks for the app!!

[2015-09-17 17:14] weblancaster commented on #278
Published the new version containing this issue

[2015-09-17 17:15] weblancaster commented on #366
Published the new version containing this issue

[2015-09-17 17:34] eigenstil commented on #278
I just downloaded the newest windows-Version from the homepage via this link: http://goo.gl/Y46Hn8

But I'm not able to find the switch for disabling "auto-play of the next track". Where do I find this option? I clicked on the settings icon in the upper right, but this shows me only the "About" information.

Am I missing something or do I have to download something else?

[2015-09-17 18:53] weblancaster commented on #278
it's the same repeat button.. one click for `repeat` then another click to `lock` (you will see the number 1) when enabled to not play next or prev

[2015-09-17 19:02] eigenstil commented on #278
But then, this track is played over and over again - this is not what I was asking for.

I want the player to *STOP playing*, when the song is over! This is what @Pitros already stated in his comment: https://github.com/Soundnode/soundnode-app/issues/278#issuecomment-139076923

[2015-09-17 19:07] weblancaster commented on #278
Yes, that's what is happening.. the song stop playing.

take a look at the screenshot.. look the icons with number 1 ( which says that it's going to play one time)..also look that the song is done.. no song is played or over again.

I said one click on the icon for `repeat` then if you click again you enter in the `lock` mode which doesn't play next or over.

<img width="1252" alt="screen shot 201

[2015-09-17 19:22] eigenstil commented on #278
Well – you are totally right. It stopps playing when the "1" is activated - I'm sorry.

*BUT:* I did not try this because the UI is totally confusing. In all other players that I know (VLC, winamp, itunes, windows media player), the small "1" next to the button means, that repeat is activated, and only one song (e.g. the already playing song) is repeating.

The better solution for the UI would be

[2015-09-17 19:44] Pitros commented on #278
@weblancaster Yep that's true, that small 1 from UI/UX side is totally bad. I only know what it mean because I'm checking all issues and PRs. But in most players it would mean
a) track is going to repeated once then playback continues
b) every track is being repeated before next track will be played
IMHO that needs to be changed.

[2015-09-17 20:08] weblancaster opened #374 "Change "play once" icon to a proper icon."
As mentioned in #278 the icon being use right now isn't the right one.

[2015-09-17 20:09] weblancaster commented on #278
I opened a issue #374

[2015-09-17 20:14] eigenstil commented on #374
I would suggest moving this "option" to the upper right in the options. and just adding a switch/toggle button, which disables or enables this function

[2015-09-18 19:42] #374 closed

[2015-09-19 16:11] Chriz007 opened #380 "Dropdown menu doesn't disappear once you've hit enter"

[2015-09-19 17:01] jakejarrett commented on #380
@Chriz007 which dropdown menu are you referring to?

[2015-09-19 18:58] Chriz007 commented on #380
Its the bar where you search up songs

[2015-09-19 18:59] Chriz007 commented on #380
<img width="503" alt="screen shot 2015-09-19 at 11 59 42 am" src="https://cloud.githubusercontent.com/assets/12990919/9977716/f1beeac2-5ec5-11e5-9f18-27479f34d329.png">

[2015-09-19 20:39] Scarwolf opened #381 "Option to hide Windows 10 Notification on changing Song"
I am using Windows 10 and a Mouse with Media Keys. If I press the "Next Song" button for example 5 times, it shows me every song between as a notification, so the last one disappears after approx. 15 Secs (3 Sec/Song)

[2015-09-20 01:52] jakejarrett commented on #380
@Chriz007 this doesn't appear to be occuring for me [video](https://sendvid.com/t52b011i), could you show what you did to encounter this bug?

[2015-09-20 02:18] jakejarrett commented on #381
Duplicate of #306, this feature is being looked into currently.

[2015-09-20 03:43] Chriz007 commented on #380
This is what it does http://sendvid.com/7msabe5l

[2015-09-20 03:47] Chriz007 commented on #380
I think it reproduces when you try to type something in there already and click out of it.

[2015-09-20 04:18] jakejarrett opened #382 "[Feature] Settings Page"
I've been working on a basic settings page where users could change settings that are built into the app.

This should allow users to make soundnode change its behavior to their liking. This uses localStorage for the settings.

![screenshot from 2015-09-20 14-10-08](https://cloud.githubusercontent.com/assets/5661105/9979184/83ee63ba-5fa1-11e5-8bfa-1a1f714ad570.png)

[2015-09-20 04:40] Chriz007 commented on #382
Cool. What other settings do you plan on implementing?

[2015-09-20 05:09] jakejarrett commented on #382
@Chriz007 I'd love to make it so you could enable features from the settings page (like beta testing / unstable features) but this depends on what everyone else would like too.

[2015-09-20 05:23] Chriz007 commented on #382
Oh and if you don't mind, I have a settings page I designed really quick inspired by popcorn time's toggle-able buttons. Tell me what you think.
![settings beta](https://cloud.githubusercontent.com/assets/12990919/9979351/13a4a864-5f1d-11e5-8be2-e1430abf4e1e.jpg)

[2015-09-20 06:18] jakejarrett commented on #382
Here's what i have so far.

![screenshot from 2015-09-20 16-15-47](https://cloud.githubusercontent.com/assets/5661105/9979484/eaceaaf2-5fb2-11e5-8a0f-6acfd8e56b7a.png)

[2015-09-20 06:19] Chriz007 commented on #382
@jakejarrett Sweet! Looks even better!

[2015-09-20 06:31] Chriz007 commented on #382
I have more ideas for the settings..
• Reposts (hide/unhide)
• Option to reset stream (blacklisted tracks that you want to bring back)
• Blacklist podcasts; longer than 10+ minutes. There can also be a slider to choose the limit

[2015-09-20 07:43] jakejarrett commented on #382
[Here](http://sendvid.com/xujrn7a1) is a video of the settings page.

@Chriz007 I think it's best to implement settings for features currently implemented and then implement newer features later

[2015-09-20 08:51] Chriz007 commented on #382
The setting page looks good so far! And I completely understand.

[2015-09-20 08:57] Chriz007 commented on #382
Also, are any of the toggles functional yet?

[2015-09-20 09:07] jakejarrett commented on #382
Notification toggling works. repost toggling just breaks the entire stream view (Either nothing shows or things are just missing)

[2015-09-20 09:09] #325 closed

[2015-09-21 18:06] RampageJack21 commented on #382
subscribing to this.  this seems interesting

[2015-09-21 18:13] RampageJack21 commented on #382
For issue #344, a toggle to "always scroll to song when not in view" seems like it would belong in this settings page.  If it ends up being implemented.

[2015-09-21 19:18] weblancaster commented on #344
Closing this issue since the feature `go to track` was implemented.

[2015-09-21 19:18] #344 closed

[2015-09-21 19:19] weblancaster commented on #382
@jakejarrett please do not add the feature to `auto scroll` to track, this was implemented to tracks in Queue list

[2015-09-21 20:14] 17inginos commented on #382
Cool

[2015-09-22 15:47] #382 closed

[2015-09-22 16:26] weblancaster opened #385 "[Feature] Add option in settings to clean localStorage"
Add option in settings to clean localStorage.

[2015-09-22 16:26] weblancaster commented on #306
This was added on #383 and will be available in the next release.

[2015-09-22 16:26] #306 closed

[2015-09-22 16:28] #255 closed

[2015-09-22 16:31] #309 closed

[2015-09-22 16:31] #358 closed

[2015-09-22 18:04] jllodra opened #386 "[Enhancement] Songs that do not appear"
Hi,

please take a look at this artist (app/index.html#/profile/25028100 - or just search for "XeviaN - STUDIO EVIL"). There are a lot of songs from the artist that do not appear, but the request (as seen in the Network dev tab) is returning more songs:

![image](https://cloud.githubusercontent.com/assets/273590/10026957/c6f82686-6164-11e5-8f87-f61df75e139c.png)

and the artist page shows 8 tracks

[2015-09-22 18:09] Pitros commented on #386
Please check if track which don't appear on the list have in returned json data streamable: true.

[2015-09-22 18:28] jllodra commented on #386
yes, streamable: false.

I googled about it but couldn't find anything, do you know why is that?
Those unstreamable songs are available for purchasing, could this be the reason?

[2015-09-22 18:51] weblancaster commented on #386
@jllodra yes, tracks with streamable false can't be playable/streamed therefore we shouldn't display the track in the App

[2015-09-22 18:59] Pitros commented on #386
Using API V2 we can access stream urls, but I don't know if it is right to do that if streamable is false for unknown reason.

[2015-09-22 19:15] jllodra commented on #386
When the unstreamable song is in a playlist, it shows up, but it cannot be played back, so the playback stops and you have to manually restart it *sigh*.
FIX: the track could be hidden within the playlist as well, but hey, what if I want to know what songs are on my playlist? A setting like "Show unstreamable songs grayed out", as spotify does, is interesting.

No idea about the API V2 and the str

[2015-09-22 19:19] Pitros commented on #386
Scripts on SC website access to that api call which returns json with mp3 links, but reaching SC Devs to ask them can we use that is almost imposible. After a month and three tries they answered me in using API V2 with simple yes.

`https://api.soundcloud.com/i1/tracks/67579991/streams?client_id=02gUJC0hH2ct1EGOcYXQIzRFU91c72Ea&app_version=fb374fe`

[2015-09-22 19:34] weblancaster commented on #386
That makes sense @jllodra changing from bug to enhancement.

[2015-09-22 20:35] #385 closed

[2015-09-22 21:14] jllodra commented on #386
Do you accept PRs for that (the playlist issue)? I might have a look at it...

[2015-09-22 21:16] Pitros commented on #386
@jllodra Everyone can post PRs, if PR will be fine it will be merged.

[2015-09-22 21:49] #362 closed

[2015-09-22 22:09] #381 closed

[2015-09-22 22:10] #372 closed

[2015-09-22 22:13] weblancaster commented on #365
That's the default behavior @Chriz007 and not a bug.

[2015-09-22 22:13] #365 closed

[2015-09-22 22:37] jllodra commented on #386
Great, pull request #391 solves the problem with unstreamable songs appearing in playlists.
I'll try to add a new setting to show those tracks grayed out, now that I see there's a new place in soundnode for settings.

[2015-09-22 22:40] weblancaster commented on #386
cool @jllodra

Now I will close this issue and you start a new one related to disable tracks not streamable.

[2015-09-22 22:40] #386 closed

[2015-09-23 17:40] Pitros commented on #259
I'll probably make that in next days. Two days of using Soundnode (I'm still mostly SC web for playing songs ;D) and that really annoys me.

[2015-09-24 00:24] Chriz007 opened #393 "[Enhancement] Make people's comments clickable (to go to their profile)"

[2015-09-24 19:04] codeanpeace opened #394 "[UI Bug/Enhancement] "Liked" Tracks in Stream aren't highlighted"
Tracks that you had previously liked that are still on the Stream page don't display an orange heart icon.

Version: 0.5.7
Downloaded from: soundnodeapp.com
OS: Mac OS X Yosemite 10.10.5

How to reproduce:
 - Open Soundnode App
 - Click on "Stream" under "MAIN"
 - Like a song
 - Click on "Likes" under "MAIN"
 - Click on "Stream" under "MAIN"

Actual result:
 - Song that was liked does not have an

[2015-09-24 19:43] weblancaster commented on #394
This was fixed/added and will be release on next version @codeanpeace

[2015-09-24 19:43] #394 closed

[2015-09-25 17:10] theaccordance commented on #291
Looks like the call is a PUT to endpoint /me/track_reposts/{{songId}}

Header URL from the repost event I triggered in their web app:
[code]

hopefully soundcloud has exposed the endpoint to external apps?

[2015-09-25 17:23] weblancaster commented on #291
@Chriz007 and @theaccordance I'm going to take a look on it this weekend.. thanks.

[2015-09-26 05:03] Chriz007 opened #395 "[Enchancement] Allow copy/paste to work on the search bar"
Just realized there was no option to copy/paste to the song's search bar ._.

[2015-09-26 05:50] jakejarrett commented on #395
Which OS? Mac requires edit to be enabled in menubar for copy paste.

[2015-09-26 06:19] Chriz007 commented on #395
This is mac that I'm referring to

[2015-09-28 03:59] Chriz007 opened #396 "Option to drag tracks from the 'likes' page to group them"
Add an option to drag tracks from the 'likes' page to self group them. I'm not sure if this is possible or not, but its just an idea!
![option to drag tracks](https://cloud.githubusercontent.com/assets/12990919/10127660/89396fb8-655a-11e5-921e-7e179d1bf6bd.jpg)

[2015-09-28 04:39] weblancaster commented on #396
This is called playlist @Chriz007

[2015-09-28 05:09] Chriz007 commented on #396
Well.. I know that.. but this is something different. Let me see if I can explain this..
So, I have some tracks by [Artist 1] that I've 'liked'. But I also 'liked' other songs by other [artist 2] as well. Since the songs from [Artist 2,3,4 ect] occupy that space by [Artist 1], once I've liked other tracks that have come out by [Artist 1], they are no longer next to each other. So in other words, I

[2015-09-28 15:37] weblancaster commented on #396
@Chriz007 No reason to have an feature to organized them that way.. it's much easier and more organized if a playlist is created instead.

What can turn into a new feature is filters (artist name, songs, date, etc)

[2015-09-28 15:44] codeanpeace commented on #394
Awesome!
How does updating work with Soundnode? Thanks

[2015-09-28 16:50] weblancaster commented on #394
@codeanpeace you will get the notification when the next version is available. thanks.

[2015-09-29 05:36] jakejarrett commented on #395
I'll make a pull request tonight with a fix.

[2015-09-29 05:39] Chriz007 commented on #395
^ thanks

[2015-09-30 21:19] chrismessina opened #398 "[FEATURE SUGGESTION] Support right-click playback control"
SoundCleod happily supports [dock icon right-click playback control](https://github.com/salomvary/soundcleod/issues/62); since SkipTunes doesn't integrate w/ Soundnode-app (I'll file that separately), it'd be super handy if it were easier to control playback by right-clicking on the icon. Additionally, I think this would open up UI scripting so I could use an Alfred.app Workflow to setup globabl k

[2015-09-30 21:23] chrismessina opened #399 "[FEATURE SUGGESTION] Support SkipTunes playback control"
I love using [SkipTunes](http://skiptunes.com/) as my universal playback controller. It'd be sweet if it could support Soundnode too. I'm not sure who needs to do what, but I reached out to SkipTunes's developer @gregdougherty to see.

Wanted to file this issue here to track this request.

![image](https://cloud.githubusercontent.com/assets/22610/10207010/c64e0e7e-677e-11e5-81d4-fa443da89532.png)

[2015-09-30 22:19] Chriz007 commented on #399
This seems pretty interesting..

[2015-09-30 22:20] Chriz007 commented on #398
Don't know about this.. to be honest, I think changing tracks with the keyboard is easier.

[2015-10-01 01:41] chrismessina commented on #398
Right — but how do you do that if the app isn't in focus?

[2015-10-01 02:10] AustinAbel opened #400 "[FEATURE] Change song in toolbar."
The user should be able to: Go back a song, Go forward a song, Pause the song, See title and author of song from the lower toolbar in Windows.

[2015-10-01 02:33] weblancaster commented on #398
Don't your keyboard has media player shortcuts @chrismessina

[2015-10-01 13:40] Pitros commented on #400
Lower toolbar? What's that?

[2015-10-02 01:11] AustinAbel commented on #400
Taskbar or toolbar. Its the area which displays open applications and time. It can be used to operate Soundnode if implemented correctly.

[2015-10-02 22:06] Chriz007 opened #401 "Add an Equalizer?"
I've told 4 of friends about this app, and they really enjoy it. One of them suggested if I could ask the developer and the other coders if they can implement an equalizer, so I'm asking you guys if this is possible or not. I know for sure MyCloudPlayer has one though, so I guess it is possible.

[2015-10-03 07:54] fibric opened #403 "OSX 10.11 - The application “Soundnode-App.app” can’t be opened."
OSX 10.11.1 Beta (15B22c)
Soundnote 0.5.9 (http://www.soundnodeapp.com/downloads/mac/Soundnode-App.zip) - enclosed info.plist says its 0.5.7 SCM:4997442d98d80e4cacb1d81ce90d0a45ccd4b185

![screen shot 2015-10-03 at 09 50 40](https://cloud.githubusercontent.com/assets/623932/10261966/1d57e2bc-69b4-11e5-9268-f8bd3b521d60.png)

[code]
Error message in Console.app says it tries to execute node-webkit

[2015-10-04 00:32] jakejarrett commented on #403
I'm not sure if this is related to El Capitan, I'll update tonight and check.

[2015-10-04 06:28] fibric commented on #403
I have deleted Soundnode completely before extracting .app into ~/Applications folder. And now it works, even though the Contents/MacOS folder still has no node-webkit.

Not sure what causes this issue. Because I downloaded always the zip file and directly extracted it into ~/Applications.

[2015-10-05 01:26] jakejarrett commented on #401
This *is* possible. I can create an EQ plugin for soundnode. I'll look into how it affects overall performance.

[2015-10-05 15:24] taaem opened #404 "Use MPRIS for Linux"
On Linux you can use an interface called MPRIS2 for controlling music its a freedesktop.org (http://www.freedesktop.org/wiki/Specifications/mpris-spec/metadata/) standard and used in all major desktop enviroments (Unity, Gnome, Plasma).
A NodeWebkit App which uses MPRIS2 is here https://github.com/twolfson/google-music-electron/ That would be nice for all linux users since it would also enable key

[2015-10-06 06:12] chrismessina commented on #295
I started tweaking the basic icon design to see if I could get something that would stand out a little more, but it'd be helpful to have the Soundnode icon/default album art source. Is that available? Otherwise, I'm stuck with something like this for a first draft:

![image](https://cloud.githubusercontent.com/assets/22610/10301359/7eb1d50a-6bb6-11e5-80cd-9ae32eefae13.png)

[2015-10-06 23:51] Chriz007 commented on #295
I think the design looks pretty cool @chrismessina. Would love a higher res icon, if @weblancaster has any from the previous design.

[2015-10-07 01:56] Chriz007 opened #405 "[Bug] Tracks shuffle even though the option is turned off"
Songs don't play the next track automatically. Instead they indefinitely shuffle forever, even if the shuffle feature is turned off

[2015-10-07 09:40] jakejarrett commented on #404
@taaem I can give this a shot over the weekend. I've been interested in implementing this feature

[2015-10-07 14:44] weblancaster commented on #405
@Chriz007 I'm going to take a look on it

[2015-10-07 14:45] weblancaster commented on #295
@chrismessina I have the comps.. let me find them and make available for anyone.

[2015-10-07 23:25] Skkiz commented on #315
I would also like this feature too @weblancaster. I think it would be a good way to categorize the artists a little better.

[2015-10-07 23:28] Skkiz commented on #315
Either that or have an option to resize the following page's artists. But I think I would like what something along the lines around the concept that @Chriz007 has come up with.

[2015-10-07 23:33] Skkiz commented on #405
I also encounter the bug @Chriz007 has pointed out. Although it happens infrequently, I still get it sometimes.

[2015-10-07 23:46] Skkiz commented on #291
This is such a good idea @Chriz007! I hope either @weblancaster or @jakejarrett or can look into getting this implementing soon! I hate not knowing who reposted what, and it often annoys the living hell out of me when I see a whole buttload of reposts by many of the artists I follow. But that's a different issue!

Oh and do you guys think its possible to detect duplicate reposts on the stream and

[2015-10-07 23:51] Skkiz commented on #405
I also believe its because the Queue lists the songs differently than what it shows on the stream, therefore it shuffles it

[2015-10-08 00:01] Skkiz commented on #401
Though an equalizer would be cool to play around with.. I don't think that is what we should implement just yet. I would like for the soundnode development "team" to work on the following first.

#291  Option to repost tracks & show other reposted tracks from artists
#297  Auto-refresh stream
#347  "Explore" feature

[2015-10-08 18:29] btjones commented on #403
I am having this same issue with my own node-webkit / nwjs app on El Capitan after upgrading from node-webkit (0.11.5) to nwjs (0.12.3). If I copy the app to a new location it works fine but in the original location I get the exact error as above.

It almost seems like El Capitan is caching something and looking for the wrong executable. Still trying to figure out the cause…

[2015-10-08 18:33] fibric commented on #403
i worked around this by changing a value in plist.info. started soundnode and osx told me soundnode is damage and needs to be put into trash. i reverted my change in plist.info and started soundnode again, since then it worked.

its the same like deleting it, then downloading it again. not sure whats happening in el capitanes internals.

[2015-10-08 20:02] jakejarrett commented on #403
Are you launching from spotlight / expose (I think that's what the app launcher is called)?

[2015-10-08 20:03] fibric commented on #403
yes, but calling from alfred not spotlight/expose

[2015-10-08 20:07] btjones commented on #403
For my particular app, it fails silently (except for the Console log) when attempting to run with Alfred. When I launch by double clicking in finder I get the alert identical to the screen shot above (except for app name).

[2015-10-08 20:08] jakejarrett commented on #403
Can you try launching by double clicking the app itself, if it reproduces it could be a change in el capitan

[2015-10-08 20:20] btjones commented on #403
If I move or rename the app, it runs fine. If I restart my machine it also works fine. I'm assuming the issues I'm seeing with my app are identical to yours since they are both node-webkit / nwjs apps.

[2015-10-11 18:28] Moppko opened #407 "Logging in with Google doesn't work"
I can't log in using Google. When I click the sign in with google button a new empty window opens up but nothing happens. This is really unfortunate because I'd love to try out the app and don't want to make a new soundcloud account that doesn't use google. I am on Windows 10.

![image](https://cloud.githubusercontent.com/assets/9677311/10418253/37a5069c-7056-11e5-858b-8f5e253fbcbd.png)

[2015-10-11 18:30] Chriz007 commented on #407
hmm. Thats odd. What OS are you using? Have you tried deleting the entire app along with the folders that come with it?

[2015-10-11 18:32] Moppko commented on #407
I'll try that right now.

[2015-10-11 18:36] Moppko commented on #407
Ok, it's working. That was to easy, thank you ^^

[2015-10-11 18:37] Chriz007 commented on #407
No problem! You can close this issue now

[2015-10-11 18:37] #407 closed

[2015-10-12 22:03] #395 closed

[2015-10-13 04:42] weblancaster commented on #295
Here's the PSD for anyone interested on play with https://drive.google.com/file/d/0B-BiaVWuDohiT2h6NmVhcnV2QTJMemhSdHljN1k2dklvaDZN/view?usp=sharing

[2015-10-13 05:09] Chriz007 commented on #295
Very cool! Thanks Michael!

[2015-10-13 13:17] Scarwolf opened #409 "Please add clickable links"
A few months ago I added clickable links, but it hasn't been merged since the links opened in soundnode itself. Could someone please add this feature?

With clickable means I mean clickable for both, the about section and profile descriptions.

[2015-10-13 14:04] weblancaster commented on #409
I remember that.. but that solution was too hacky @Scarwolf and would impact in rendering performance.

[2015-10-13 14:06] Scarwolf commented on #409
Is there any other good solution you could think of? I'am to unexperienced with node, to come up with something by myself.

[2015-10-13 14:14] weblancaster commented on #409
Let me think about it. @jakejarrett and @Pitros

[2015-10-14 17:33] wb9688 opened #411 "Add like button in bottom bar"
Please add a like button in the bottom bar, so it's easier to like a song.

[2015-10-14 17:37] Pitros commented on #411
This issue reffers #259, so I'm closing this one.

[2015-10-14 17:37] #411 closed

[2015-10-14 17:37] wb9688 commented on #337
Thanks @jakejarrett!

[2015-10-14 17:37] #337 closed

[2015-10-14 21:46] weblancaster opened #412 "[Bug] cmd + click open new blank tab"
A friend discovered that when cmd + click just like in the browser, Soundnode App actually opens a new blank tab that is because it's a single page app (running on a browser) and the path is the local user.

Anyway.. to fix just "preventDefault" on cmd + click.

[2015-10-15 02:34] jakejarrett commented on #412
Also affects linux if you control + click. Should affect windows too.

[2015-10-15 03:09] weblancaster commented on #412
Yep

[2015-10-16 16:42] weblancaster opened #413 "[Feature] Add news view"
The news button should be on the settings dropdown.

The code should check on github to highlight/activate the button so the user know there's new news.

[2015-10-16 20:49] Chriz007 commented on #413
This sounds like a good idea ^.^

[2015-10-16 21:44] Chriz007 opened #414 "[Discussion-Feature] Visualizer for Soundnode"
I'm going to leave a link here to show what I mean: http://sendvid.com/kxhjo7de

I'd was thinking a visualizer would be perfect for soundnode. I wonder if this is possible and if anyone has experience with this. I was thinking you could track how many BPMs a song has to give it various colors to change along with the beat. Of course, it doesn't have to be like the example I showed above, but it co

[2015-10-17 23:54] chrismessina commented on #295
@weblancaster thanks! Do you happen to have the source vector artwork?

[2015-10-18 02:46] chrismessina commented on #295
Here's what I was able to come up with, redrawing the icon myself. Here's the [.icns file](https://www.dropbox.com/s/yr3mtwkyg263ff7/Soundnode-App.icns?dl=0).

![icon_512x512](https://cloud.githubusercontent.com/assets/22610/10562261/ab03895a-7507-11e5-81bc-dd80c8d67d1c.png)

[2015-10-19 17:22] gaaliche opened #415 "[Feature] Custom keyboard shortcut support in Linux"

[2015-10-20 17:47] btjones commented on #403
Just (selfishly) curious if you've had any luck with this issue?

[2015-10-22 18:33] RampageJack21 opened #416 "[MINOR BUG] Liking a song from tracklist does not update the (heart symbol) in streamview"
Windows 7 x64 Enterprise
Official release 0.6.0

Steps to reproduce:

1. hit play on stream view
2. wait for a song which hasn't been liked to come on and click the track list button
3. hover over the 'i'
4. hit like
[green popup message appears indicating the song was successfully saved to likes]
[heart is still grey]

heart becomes red when you switch to "likes" tab and switch back to "stream" t

[2015-10-22 21:40] jakejarrett commented on #403
I upgraded to El Capitan last night & did not encounter this issue.

[2015-10-23 10:08] eigenstil opened #417 "[Enhancement] Open currently playing track in a browser"
It would be good, if we could open the currently playing track in a browser.

In the stream view, there are buttons for liking, adding to playlist and opening the track in a browser:
![open track in browser](https://cloud.githubusercontent.com/assets/13272281/10689819/1b47168a-797e-11e5-8716-134c2b40a118.PNG)

this should also be added to the currently playing bottom bar, probably beneath the arti

[2015-10-23 10:20] eigenstil commented on #259
@Chriz007 I would suggest to put it beneath the artist name to make it consistent with the stream view, as mentioned in issue #417 (this is just a mockup):
![mockup-icon-bar](https://cloud.githubusercontent.com/assets/13272281/10690199/74af2d46-7980-11e5-9b68-fed4bc6c7cf1.jpg)

[2015-10-23 10:28] eigenstil commented on #412
@jakejarrett yes, affects windows too, just verified that ;-)

[2015-10-23 10:32] eigenstil commented on #400
I think @AustinAbel means this option/possibility, which you can see in the VLC Screenshot: if you hover over the application icon in then windows taskbar, it shows these 3 icons, which are clickable and do what you expect:
![windows-taskbar-icons](https://cloud.githubusercontent.com/assets/13272281/10690425/2176383e-7982-11e5-8fbb-6dcecbf4a8c9.jpg)

[2015-10-23 10:50] Pitros commented on #259
Three icons? That's too much, like button only will be enough. Other buttons are visible in playlist view or on track page.

[2015-10-23 11:00] eigenstil commented on #259
Well, if I want to perform an action on the currently playing song, there is no reason to pull the UI into pieces and make it incosistent with what the user is already used to from the stream view.

From a UX/UI design persepective I would highly recommend to re-use the appearence of these buttons.

[2015-10-23 11:00] eigenstil opened #418 "[Enhancement] Improve the players now playing bottom bar"
Referencing issues #417 and #259 there are some more improvements to make in the "now playing" bottom bar:

* clicking on the **track name** should take the user to the track view in soundnode (just like clicking on a trackname in the stream view)
* clicking on the **cover** should take the user to the track view in soundnode (just like clicking on a trackname in the stream view)
* clicking on the

[2015-10-23 16:14] #412 closed

[2015-10-23 19:37] weblancaster commented on #418
#410 closes this one. Thanks for the feedback @eigenstil

[2015-10-23 19:37] #418 closed

[2015-10-23 19:47] weblancaster commented on #414
I vote as a no.. visualizer have been outdated for a while now.. nobody will keep watching it specially because it's a Desktop App.

[2015-10-23 19:47] #414 closed

[2015-10-23 19:49] #401 closed

[2015-10-24 00:37] Skkiz commented on #414
@weblancaster What do you mean visualizer has been outdated for a while? The code for it? I'm utterly disappointed you said "no" to this. @Chriz007 idea sounded pretty darn awesome if it was implemented.
I was imagining some kind of visualizer similar to a game called "Beat Hazard". The best/most accurate visualizer that plays any music you play. If this is a code kind of problem, maybe you can co

[2015-10-24 00:42] Skkiz commented on #414
By the way @Chriz007 I like your design of the second one. Hopefully, if this topic can be picked back up again, I'd vote for some kind of design like that! Sorry this idea didn't go through! I would have loved to have it. I'm sure others would love this too.

[2015-10-24 00:46] Chriz007 commented on #414
Thanks @Skkiz for your input. I'm disappointed @weblancaster isn't planning on adding this. I've had this idea for a while, but really thought this should be added since the visualizers I see on some channels look sick when playing a really good song. Especially on Monstercat. *sigh*

[2015-10-24 00:52] MindCntrl commented on #414
Oh, that's a bummer. However, I think you are generalizing a bit there @weblancaster how
"Nobody will keep watching it specially because it's a Desktop App"

[2015-10-24 05:07] jakejarrett commented on #404
Just an update on this, Spent some time on it today & got pretty decent support on it so far (Need to work on passing through soundnode functions to mpris)

Should have something ready shortly :+1:

[2015-10-24 10:15] mradionov commented on #305
Playlists tab shows playlists you've created as a SoundCloud user.

On SoundCloud website there is a separate section with liked tracks, playlists and artists

![selection_021](https://cloud.githubusercontent.com/assets/2007370/10710086/28904fe6-7a50-11e5-9556-eac077ca7fff.jpg)

I think it is a good idea to re-create "Collection". In order to do that it will make sense to separate "your" stuff wit

[2015-10-24 11:56] mradionov commented on #417
Does adding a "Add to playlist" make sense though? If track is currently playing it is already in the playlist.

[2015-10-24 17:17] eigenstil commented on #417
Yes, this makes perfect sense. The "Add to playlist" button doesn't add the song to the current playlist. It opens my personal playlists and then I can choose, to which playlist I want to add the selected song.

[2015-10-26 01:39] weblancaster commented on #414
Sorry disappoint you guys @Chriz007  @Skkiz @MindCntrl but this feature isn't a "must have" or anything close to that level.. when I say it's a desktop app I meant by it's an music desktop app..

Most people are listening to songs and doing something else.

@Skkiz the code isn't a problem.. I can code that any time but I'm concern about the quality of the App in the long run.

Still a no.

[2015-10-26 01:41] weblancaster commented on #305
@mradionov I liked the idea.. can you move this to a new "issue" as improvement please. thanks.

[2015-10-26 01:41] weblancaster commented on #305
@DamageESP yes this is a bug..We will work on it to fix for the next release.

Thank for reporting

[2015-10-26 08:23] mradionov opened #423 "[Enhancement] "Collection" section"
Origin: https://github.com/Soundnode/soundnode-app/issues/305

The goal is to re-create "Collection" section from SoundCloud website, which will allow to see liked artists, tracks and playlists.

![](https://cloud.githubusercontent.com/assets/2007370/10710086/28904fe6-7a50-11e5-9556-eac077ca7fff.jpg)

To be more consistent with SoundCloud website global navigation, it will be nice to separate glob

[2015-10-26 08:25] mradionov commented on #305
@weblancaster , I've created a new issue here https://github.com/Soundnode/soundnode-app/issues/423

In order to fix current issue I think it would be nice to provide descriptive error messages, when there is nothing one the page. For this case it could be: "You have not created any playlists yet"

[2015-10-26 13:14] taaem commented on #404
Great just tested your changes on plasma 5 and it works! Now it just need to be merged

[2015-10-26 15:13] #393 closed

[2015-10-26 19:03] weblancaster commented on #416
#424 closes this one.

[2015-10-26 19:03] #416 closed

[2015-10-26 22:06] #364 closed

[2015-10-27 08:52] jakejarrett opened #426 "[BUG] Liking song(s) from stream and then Playing from Likes does not play correct queue"
Steps to reproduce-
1) Like a song on stream
2) Go to likes view/page
3) Play the song you just liked
4) Press next

It should play the next song in likes, but plays the next song from stream.

[2015-10-27 10:45] mradionov commented on #291
@weblancaster , are you working on this issue or I could take it?

@Skkiz , fix for duplicate tracks in stream has been merged in master recently, but without an options on the settings page for now. See related issue: https://github.com/Soundnode/soundnode-app/issues/364

[2015-10-27 14:46] weblancaster commented on #426
Yes.. if the song you liked in stream is playing and then you go to likes view that is expected because the queue doesn't know the user wants a new queue list from likes..

[2015-10-27 14:47] weblancaster commented on #291
@mradionov you can take it... I haven't look at this one yet. thanks

[2015-10-27 16:09] #413 closed

[2015-10-27 19:40] mradionov commented on #291
After a bit of research seems that reposts are not supported by public API yet. Issue https://github.com/Soundnode/soundnode-app/pull/340 has some discussion about it. I guess it is not desirable to use undocumented API for Soundnode app and it actually makes sense.

[2015-10-27 19:45] Pitros commented on #291
@mradionov we can use API V2 for that (after few tries got short answer - `Yes

[2015-10-27 19:47] mradionov commented on #291
@Pitros , cool, I'm gonna make a try then. Thanks!

[2015-10-27 19:47] Pitros commented on #291
@mradionov just updated my answer.

[2015-10-28 07:17] timhswede opened #428 "[FEATURE SUGGESTION] Confirmation when deleting a playlist. (Very possible to accidentally hit the "delete playlist" button.)"
Confirmation when deleting a playlist. (Very possible to accidentally hit the "delete playlist" button.)

[2015-10-28 17:05] weblancaster commented on #310
This won't happen.. we will re-write in Angular 2 @Pitros

[2015-10-28 17:20] Pitros commented on #310
When you posted that issue, I wondered why would you like to rewrite whole app. But after a while i found out that there are some things that would be nice if those would be rewritten. As well i found out that Angular is bit tricky and it's sometimes hard to stick with doing things in "angular" way so if you feel better in react, there's no need to stick to Angular (when Angular 2 is much differen

[2015-10-28 17:34] weblancaster commented on #310
@Pitros Yeah I haven't really make up my mind.. I like the structure Angular framework give out-of-the-box now in React lib we will need to come up with a nice and easy architecture (although I would use the same architecture we have in place right now).

What makes Angular 2 appealing is that they now use RxJS which I'm interested to apply on a project like Soundnode.

[2015-10-30 08:59] nm4d opened #431 "Stuck in authentication"
I just cloned the git repository and executed the installation steps in your Development wiki, yet when I open the app/index.html file I seem to be stuck in "Authenticating your Soundcloud account" even though I never entered my username or password. What am I doing wrong?

I am using Firefox on Ubuntu Gnome 14.04 LTS.

[2015-10-30 09:02] Pitros commented on #431
Please set `toolbar` to `true` in `app/package.json`, and run app once again but now check if in dev tools  are there any errors in console.

[2015-10-30 20:57] weblancaster commented on #310
@jakejarrett @Pitros after analyze React and Angular 2, although I would go to Angular 2 because of RxJS/Observables style.. That's not ready or beta yet.

For that reason I started to re-write some small components in React I'm doing some refactoring in the grunt file to accommodate React.

[2015-10-31 17:48] chrismessina commented on #295
Bump?

[2015-10-31 19:09] weblancaster commented on #295
Hey @chrismessina I haven't try yet, I will plan to do that once I'm done with what I'm working on.

[2015-11-01 20:11] chrismessina commented on #295
@weblancaster cool, just wanted to make sure it didn't get lost! :)

[2015-11-02 08:27] eigenstil opened #432 "[BUG] the play single track button doesn't save the state we restarting the app"
The button to only play one song ( #374 ) doesn't save its state, when the app is closed and reopened. This is very unhandy, when you rely on it.

[2015-11-02 15:06] weblancaster commented on #432
@eigenstil this not a bug.. we don't have this as a feature yet.

If you want you can change the issue title to feature request.

[2015-11-02 17:46] weblancaster commented on #310
Closing this issue since #433 is a start of the re-write in React + ES2015

[2015-11-03 00:20] weblancaster opened #435 "Replace jshint with eslint"
Since we started to use ES2015 with React we need to replace jshint with eslint

[2015-11-04 18:58] mradionov opened #437 "[BUG] Private tracks from "Tracks" section are not playable"
I have some private tracks I've uploaded manually to my SoundCloud account along with public tracks. All of them are displayed (both public and private) in "Tracks" section (go from sidebar) of Soundnode app, but only public tracks can be played. When I hit play for a private tracks nothing happens.
Expected behavior would be making private tracks playable or just hiding them.

[2015-11-06 11:55] sergeylaptev commented on #435
@weblancaster Hi! When are you planning fully migrate to React? What is your tech stack?

[2015-11-06 15:40] weblancaster commented on #435
@sergeylaptev that will take some time, because one so far I'm the only one that pushed React code so far.. two I have a bunch of todo's for work.

But at this time I'm working on setup React Stack starter kit at work, so I'm just going to use the same ESlint I put in the project there

[2015-11-06 17:19] #435 closed

[2015-11-08 03:09] ryanvade opened #439 "Keyboard function keys do not control playback"
I grabbed the latest version from http://www.soundnodeapp.com/ (64bit) and my laptops function keys do not control playback. Everything else is fine.  I'm on Manjaro Linux with GNOME 3.18.

[2015-11-08 04:04] jakejarrett commented on #439
This is related to #422 Linux needs mpris support for keyboard shortcuts

[2015-11-09 20:33] pwittchen commented on #439
I am not sure, if it's the same issue, but playback controls via Gnome Pie app also doesn't work on Ubuntu Linux.

[2015-11-09 20:46] jakejarrett commented on #439
This is a duplicate of #404

mpris integration should resolve the issue (closing as its a duplicate, continue discussion in #404)

[2015-11-09 20:46] #439 closed

[2015-11-10 21:11] weblancaster opened #440 "[Bug] Queue list dropdown nav is overlapped"
Bottom right side, the dropdown nav in Queue list is overlapped.

![screen shot 2015-11-10 at 3 08 31 pm](https://cloud.githubusercontent.com/assets/549394/11075859/24b782b6-87bd-11e5-8356-1c0c562e3d80.png)

[2015-11-11 22:19] PachowStudios opened #442 "Media keys don't work on Windows 10"
I'm using SoundNode on Windows 10 with a Razer BlackWidow Chroma keyboard, and none of the media keys work.

They work perfectly on for any other app that uses media keys, so the issue must be SoundNode.

[2015-11-11 22:22] weblancaster commented on #442
@PachowStudios do you have any App open that uses the media keys?

[2015-11-14 05:23] jakejarrett commented on #440
This should be fixed by setting the z-index higher than everything else?

[2015-11-14 08:41] weblancaster commented on #440
@jakejarrett will work for the items a bit farther from the bottom but let's say for the latest item in the list although the z-index might fix the layer issue won't fix the height

[2015-11-14 20:38] PachowStudios commented on #442
No, but it shouldn't matter. If I ever do have multiple apps open that support media keys, they both respond.

[2015-11-17 17:32] Kuenstler commented on #442
I partly can confirm this issue.
I'm on W10, too and had this issue as I first tried soundnode (a few weeks ago)

Yesterday I downloaded the latest version and the media keys are working!

[2015-11-17 20:11] thinking-sc opened #443 "[Feature] Highlight & copy text, any text"
I think it'd be useful to have the ability to highlight text anywhere within the SoundNode window to copy to the Windows clipboard.  I often find myself copying tracks from tracklists for later and find it frustrating to have to open the permalink to a mix, copy, close the tab, and go back to SoundNode.  Is it possible to make this a simple add within the SoundNode app window?

[2015-11-17 21:01] thinking-sc opened #444 "[Feature] Play button in track details"
Would it be possible to have a play button within the track details window?  For example, we can click the track's icon to play it in the stream/playlist view.  But if I click the title to open the track's page, there appears to be no way to play the track without backing out and clicking the icon.  Can the same play functionality be implemented, for example, as shown below, by clicking on the tra

[2015-11-17 22:14] edobry opened #445 "Media Keys not working in Linux Mint 17"
They work with other applications, but not Soundnode.

[2015-11-18 05:11] PachowStudios commented on #442
Currently on v0.6.0 and I still have this issue.

[2015-11-19 17:57] dikiaap opened #446 "how about the 32bit soundnode in linux?"

[2015-11-19 20:15] robertcapasso opened #447 "[FEATURE] Sort / filter options for search results"
It would be great to be able to sort search results by various criteria (track name, posting user's name, track length) and also to be able to filter results like is done on the website (track length: normal/long/epic/etc).  This filtering exists in the API already (https://developers.soundcloud.com/docs/api/reference#tracks) so it should hopefully be straightforward to implement

[2015-11-19 20:30] jakejarrett commented on #446
This has already been fixed with #406 :smile:

[2015-11-19 20:32] #380 closed

[2015-11-19 20:37] dikiaap commented on #446
@jakejarrett nice. one time I checked, doesn't support for 32 bit. good work. :smiley:

[2015-11-19 20:47] #446 closed

[2015-11-19 22:31] Kuenstler commented on #442
It matters, if an app, which already use media keys, is already running
Tried it with chrome (with media keys addon) and soundnode:
The app which is started first, (only) grants media keys access.

[2015-11-19 23:39] Chriz007 opened #448 "Back button actually goes back to last position"
I know I've stated this problem before, but maybe you can think about it carefully again and see what you think of it? It gets quite annoying when you have to scroll down all the way to the last position. I suggest having the back button taking you back to the last position, but also having a "Go to the top of the page" button on the left corner

![screen shot 2015-11-19 at 3 28 06 pm](https://clo

[2015-11-20 01:23] Chriz007 opened #449 "Can't play this track for some reason"
Zedd - Papercut

![screen shot 2015-11-19 at 5 23 08 pm](https://cloud.githubusercontent.com/assets/12990919/11289490/4315c73c-8ee2-11e5-9720-78d3dae8f0eb.png)

[2015-11-20 11:30] Pitros commented on #449
That's SoundCloud issue, api call does not return anything.

[2015-11-20 11:30] #449 closed

[2015-11-20 21:48] weblancaster opened #450 "[Migration] replace nwjs grunt task to gulp task"

[2015-11-22 12:08] aimanbaharum commented on #428
This. Happened to me just now. Fortunately, the playlist isn't big enough for me to recover.

[2015-11-26 06:23] sergeylaptev commented on #450
Actually, we can exclude any task runner dependency by adding this technique https://github.com/kriasoft/react-starter-kit/tree/master/tools

[2015-11-28 06:59] jakejarrett opened #451 "Sanitize User/Song title"
Not sure if angular is ignoring the name entirely or angular has written it to the document (Which i believe is more likely) but users such as https://soundcloud.com/scriptlol / ```</script>``` will have their names not rendered on soundnode (And not visible in the object either)

A possible exploit would be if someone had a song name with js that interacted with node (They could read the localSto

[2015-12-01 20:37] #291 closed

[2015-12-04 07:20] wb9688 commented on #134
Or [i18next-node](http://i18next.com/node/)? I will look into it when I have time...

[2015-12-04 12:28] ninjaonsafari opened #454 "Media Buttons not working"
Windows 8.1 64bit
Soundnode App 0.6.0

When i have the focus on chrome it works.
On Ie and Visual Studio it doesnt.

[2015-12-04 16:47] weblancaster commented on #134
@wb9688 i18next-node looks pretty good.

[2015-12-05 10:58] wb9688 commented on #347
We can use `https://api-v2.soundcloud.com/explore/categories?limit=10&offset=0&linked_partitioning=1` to get a list of categories and `https://api-v2.soundcloud.com/explore/Popular+Music?limit=10&offset=0&linked_partitioning=1` to get the tracks in that category (in that example the category is `Popular Music`)...

[2015-12-05 13:24] mradionov opened #457 "[BUG] Playlist stays in the list after removal"
When I remove a playlist, it tells me that playlist is removed, but it is still in the list after that. Even if I reload the page or go to another page and come back - it is still here. If I go to SoundCloud website - playlist is removed in there. But API still returns it as existing playlist. It happens for multiple deletions too - if I remove two or three, they are still present. They disappear

[2015-12-05 17:10] RubenGijbels opened #458 "[Feature] Related songs"
I mainly use SoundCloud to discover new music by using the related songs feature. "/recommended" in the hyperlink after the song URL. Would it be possible to click a button to play the related songs of the song you're currently listening to?

[2015-12-07 17:45] #428 closed

[2015-12-07 18:04] weblancaster commented on #457
I noticed this too.. I'm going to fix it.

[2015-12-07 18:42] weblancaster commented on #457
Ok, after dig more on this bug I found out it's actually a Soundcloud bug.

Even if I try to remove using the Soundcloud website doesn't work.. we are good then (I'm just going to let the users know).

[2015-12-07 18:42] #457 closed

[2015-12-07 18:52] weblancaster opened #460 "[Feature] Add clean window scale to settings"
add clean from localStorage window scale

[2015-12-07 21:33] Chriz007 opened #461 "Quick Question about the application"
Hey to all who can help me. I want to put soundnode on my hotbar for windows, but there seems to be no way to do so. I know that if you install applications with a setup.exe file, you can put those apps in the hotbar.

Also, I would also like to change the icon for the soundnode application, but there seems no way to do so. I searched online for answers, but to no avail. What kind of files does wi

[2015-12-07 22:57] weblancaster opened #462 "Migrate from NW.js to Electron.js"
Electron doesn't need audio codec/lib (this is HUGE!) that way we won't depend on matching the codec version with nw.js version like at the moment, will be easier to update.

Seems like has some pretty good support.

@jakejarrett @Pitros what you guys think?

[2015-12-07 23:26] Pitros commented on #462
I've played with electron for a while already, but just a little.

Electron provides precompiled version even for ARM (that means eg. Raspberry Pi), some kind of updater (dunno how it works), better MS Windows integration, as well it's constantly updated - every few days there's a new version (because GitHub owns it) - so in next month's it might be much better than nw.js.

But it will might take

[2015-12-07 23:29] weblancaster commented on #462
My only problem with nw.js is the having to include the audio codecs/libs in the build, also the built file for windows and linux are ungly with a bunch of files.. everything compiled in one single exe is the ideal.

[2015-12-08 08:03] zestyr opened #463 "Linux build won't open on Linux Mint 17.2 XFCE"
Nothing happens when I try launching the program. If I try running it via the terminal, I get the following message.

The previous version works fine.

[2015-12-08 09:13] wb9688 commented on #463
You must install libnotify with something like `sudo apt-get install
libnotify`
Op 8 dec. 2015 09:03 schreef "Zestyr" <notifications@github.com>:

[2015-12-08 09:23] zer09 opened #464 "Add explore menu"
Add explore menu with categories, like the explore menu in soundcloud beside the stream menu.

[2015-12-08 09:38] zestyr commented on #463
I tried that, but it isn't in the package repositories.

[2015-12-08 09:40] mradionov commented on #440
I've picked it up and will provide a fix soon.

[2015-12-08 10:15] jakejarrett commented on #463
I think it's called libnotify-bin on mint

[2015-12-08 10:20] zestyr commented on #463
Well..

[2015-12-08 10:24] jakejarrett commented on #463
Are you using 64bit or 32bit?

[2015-12-08 10:25] zestyr commented on #463
64bit

[2015-12-08 10:29] jakejarrett commented on #463
can you run this command to test if you do have libnotify.so.4

[code]

[2015-12-08 10:37] zestyr commented on #463
~/.local/share/Steam/ubuntu12_32/steam-runtime/amd64/usr/lib/x86_64-linux-gnu/libnotify.so.4.0.0
~/.local/share/Steam/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/libnotify.so.4
~/.local/share/Steam/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/libnotify.so.4.0.0
/usr/lib/x86_64-linux-gnu/libnotify.so.4
/usr/lib/x86_64-linux-gnu/libnotify.so.4.0.0

[2015-12-08 10:41] Pitros commented on #461
All you need is just proeper `.ico` file and it should work. But i'll make pull request with added icon so with new relase Windows version will have it's own icon too.

Here's working ico: https://dl.dropboxusercontent.com/u/25785523/ShareX/2015/12/soundnode.ico

[2015-12-08 13:02] Pitros commented on #464
@zer09 there's already open issue with that #347.

[2015-12-08 13:02] #464 closed

[2015-12-08 18:05] jakejarrett commented on #463
Hm odd. it should be running fine. I'll check this out when i have some free time this week.

[2015-12-08 18:16] wb9688 commented on #463
Does it works after you do `sudo ln
/usr/lib/x86_64-linux-gnu/libnotify.so.4 /usr/lib/libnotify.so.4`?
Op 8 dec. 2015 19:05 schreef "Jake Jarrett" <notifications@github.com>:

[2015-12-08 21:26] zestyr commented on #463
Nope, still same error.

[2015-12-09 05:49] jakejarrett commented on #463
Are you using the latest version of mint?

On Wed, 9 Dec 2015, 8:26 AM Zestyr <notifications@github.com> wrote:

[2015-12-09 06:27] wb9688 commented on #463
@jakejerett No, he says he is using Mint 17.2, and a few days ago 17.3 came
out.

@zestyr What if you go to the dir where Soundnode is installed and run `cp
/usr/lib/x86_64-linux-gnu/libnotify.so.4 .`? Does it works then? Else,
what's the output of `export`?
Op 9 dec. 2015 06:49 schreef "Jake Jarrett" <notifications@github.com>:

[2015-12-09 07:52] zestyr commented on #463
Tried it, still same error.

Here's my export: http://pastebin.com/6BYZdMnk

[2015-12-09 09:23] ohericcc opened #467 "[FEATURE REQUEST] Profile Interactions"
Not really an issue, but would it be possible to add features that allow for interactions with the user profile? This would be allowing user to repost the song currently playing to their profile in addition to playing music from my own reposts.

Thank you!

[2015-12-09 09:31] wb9688 commented on #463
Are you using the 64 bit version? Does it work after you do `ldconfig` (with sudo???)? Else try executing `export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/`...

[2015-12-09 09:39] zestyr commented on #463
Oh, it seems I accidentally downloaded the 32-bit version. Sorry!
(the new scaling works perfectly by the way, it was terrible before)

[2015-12-09 09:39] #463 closed

[2015-12-09 10:46] Pitros commented on #467
You can already repost tracks - just update to latest version, but playing your reposted tracks is still not yet possible.

[2015-12-09 19:12] jakejarrett commented on #462
I'm pretty sure electron is a smaller file size too

It'd be worth trying a build with it to see how they perform in comparison to each other

[2015-12-10 14:09] #440 closed

[2015-12-11 00:04] RampageJack21 opened #468 "[Bug] Stream view empty with latest release 0.6.1"
![win7_enterprise_soundnode_ver0 6 1](https://cloud.githubusercontent.com/assets/9271427/11732215/e23723b8-9f56-11e5-9f44-ff0bded04ef9.JPG)

Has anyone run into this issue?  After updating to the latest version, upon first opening the app, stream view had items (i distinctly remember album artwork that was not there yesterday).

Tracks in the "Likes" tab still show up.

I had paused the app a coup

[2015-12-11 00:20] jakejarrett commented on #468
To get an output of errors, Press control+/ and it will bring up chrome dev tools, Switch over to console and it should have the errors

[2015-12-11 08:42] jakejarrett commented on #468
@RampageJack21 Can you check on  soundcloud.com if this is also occuring? There was an issue on soundcloud for me where i would only see my own tracks / reposts

[2015-12-11 09:52] mradionov commented on #468
I thought it might be the issue with SoundCloud V2 api, but I've downloaded latest version from the website and also checked master build - I get the results for stream in both cases.

[2015-12-11 10:30] jakejarrett commented on #468
There was an issue with soundcloud today, It should be fixed now.

http://status.soundcloud.com/

[2015-12-11 20:27] RampageJack21 commented on #468
no longer seeing this today.  Havent rebooted.  I think it was the issue @jakejarrett mentioned.

[2015-12-11 20:27] #468 closed

[2015-12-12 06:26] Chriz007 opened #469 "[Bug] Reset size parameters on launch"
<img width="1314" alt="screen shot 2015-12-11 at 10 25 06 pm" src="https://cloud.githubusercontent.com/assets/12990919/11760609/1fbd0ab8-a056-11e5-8e26-9366ceb5dc57.png">

[2015-12-12 06:30] Chriz007 opened #470 "Toggling on/off reposts for individual artists?"
I love when my favorite artists repost the songs they like. HOWEVER, there are particular artists who repost too frequently (more than I would like), but I don't want to unfollow them because I like their music. Can you have a toggling option to turn on/off reposts for individual artists?

[2015-12-12 15:21] weblancaster commented on #469
We have that as a feature to remember the window size when the user come back.. you can disable that on settings.

[2015-12-12 18:35] Chriz007 commented on #469
No what I mean is whenever I open the application back up, it resets the window size to that. I set it back to what it was originally, but it still does that

[2015-12-12 20:10] mradionov opened #471 "[Feature] Compact view"
Some of the audio players I've used have a so called compact view, where only the most important action buttons and information is displayed. The window itself can be displayed on top of other windows on the desktop to be always accessible. Also the window can be moved around the desktop. It gives fast GUI access to app features.

Sample illustration:

![image](https://cloud.githubusercontent.com/

[2015-12-12 21:21] weblancaster commented on #469
It's working fine here.. when I close the app saves the state (width) and when I open again I have the old state when I closed.

[2015-12-12 21:30] Chriz007 commented on #469
Ah, I forgot to mention that this only happens when I reboot my computer. It works fine after I open/close it again. But if I turn off my computer and turn it back on, and open the application, it changes its size

[2015-12-14 13:26] Pitros commented on #471
#209, as @weblancaster said, he doesn't want to support that.

[2015-12-14 15:48] wb9688 commented on #134
@weblancaster I tried implementing localization using [l20n](http://l20n.org), but the console gives the error `l20n.min.js:1 Uncaught (in promise) TypeError: undefined is not a function ` :disappointed_relieved:

[2015-12-14 17:23] weblancaster commented on #471
#360 is the particular one.. #209 is more about the adaptive part when resizing.

[2015-12-14 17:23] #471 closed

[2015-12-15 00:00] Chriz007 commented on #469
I'm going to close this issue. I think it may just be my computer itself

[2015-12-15 18:48] Pitros commented on #469
@Chriz007 this also happens to me, so that's not an issue with your computer. I'll check that later, because that's really annoying, and it probably ony happens on Windows.

[2015-12-15 19:57] weblancaster commented on #469
Thanks @Pitros

[2015-12-15 21:01] toocool commented on #462
Good idea

[2015-12-15 21:09] weblancaster commented on #462
This will happen! I need to clear some time on my agenda to migrate a test case..

[2015-12-16 20:29] mradionov commented on #443
@weblancaster , is there any reason behind disabling test selection? I see that there is a CSS prop `-webkit-user-select: none; ` set for `body`.

[2015-12-16 20:39] weblancaster commented on #443
Ha I did that because I wanted to give a more native app experience.. very often you can select text in native apps.

[2015-12-16 20:47] mradionov commented on #409
Here is an issue for nw.js https://github.com/nwjs/nw.js/issues/1162, where it is suggested to use [node-open](https://github.com/pwnall/node-open).
It can be used in conjunction with AngularJS built-in filter [linky](https://code.angularjs.org/1.2.14/docs/api/ngSanitize/filter/linky), which extracts most commonly used types of the links from the text and wraps them in `<a>` tag.

Quick example:

[2015-12-16 21:13] jakejarrett commented on #409
I don't think linky would be necessary, as this issue relates to links that exist but open inside of soundnode instead of chrome/Firefox etc.

[2015-12-16 21:17] mradionov commented on #443
Yeah, it's true. Maybe selection can be enabled only for text content like artist names, track names, descriptions, tags, comments, etc?

For example, if you drag cursor across the application window (trying to select everything), only text content will be selected.

![image](https://cloud.githubusercontent.com/assets/2007370/11854212/7a80efae-a453-11e5-8e10-22729a6c6501.png)
![image](https://clou

[2015-12-16 21:44] mradionov commented on #409
I thought that @Scarwolf was talking about "in text" links like here, which now are rendered as text:

![image](https://cloud.githubusercontent.com/assets/2007370/11854754/12484b5e-a457-11e5-81ae-eee78893c5b4.png)

@jakejarrett , could you please tell me what links are addressed in the issue then?

[2015-12-16 22:34] Pitros commented on #443
Imho text select still should be disabled at least for most part of the app.
Profile, description might be selectable, as well track name, comments but only on track/artist page, that will be compromise between native app experience and giving possibility to copy something eg track title.
Accidently selected track view would he hard to deselect as well that would look as crap.

To toggle ability t

[2015-12-16 22:40] weblancaster commented on #409
@Scarwolf is talking about the links in description for example.

[2015-12-16 22:46] Pitros commented on #409
As far as I remember that was the case @mradionov.

[2015-12-17 12:08] Scarwolf commented on #409
In fact I was talking about every link you can find (Profile Description of Artists, Song-descriptions,...)

[2015-12-17 18:21] ecupaio commented on #343
Indeed. I noticed only artist tracks are available. There's no clickthrough or tab to playlists.

[2015-12-21 12:44] wb9688 opened #474 "It doesn't work anymore :-("
I only get this:

![Soundnode](http://i.imgur.com/FfLEVGi.png)

[2015-12-21 12:48] Pitros commented on #474
Please go to settings and clear local storage, then run app one more time and post results.

[2015-12-21 15:53] wb9688 commented on #474
It works now. Thanks, Piotr Cholewa!
Op 21 dec. 2015 13:48 schreef "Piotr Cholewa" <notifications@github.com>:

[2015-12-21 16:21] #474 closed

[2015-12-21 16:22] weblancaster commented on #461
closed by #465

[2015-12-21 16:22] #461 closed

[2015-12-21 16:27] #469 closed

[2015-12-21 16:34] weblancaster opened #475 "[Bug] logout user button doesn't logout"

[2015-12-23 00:56] PatriqDesigns opened #476 "State of playing/paused only changes when I hover other song"
For example the music is now paused and I according to the playbar it's playing (because I can pause).
![2015-12-23_00-55-41](https://cloud.githubusercontent.com/assets/3120671/11969334/f1ce1490-a90f-11e5-8b52-a650209028b8.jpg)

Upon hovering other song the bar updates to the current state, in this cause with the song paused because I paused it in the beggining.
![2015-12-23_00-54-39](https://clou

[2015-12-23 15:54] eigenstil commented on #444
+1

[2015-12-23 18:18] Chriz007 commented on #444
good idea

[2015-12-30 16:32] shortlad opened #477 "[FEATURE SUGGESTION] Show liked playlists in Playlist tab"
Only playlists you create show up in the playlist tab. On the soundcloud website, the playlist tab shows playlists you have liked as well as ones you create. Possibly make a setting to determine if liked playlists show up.

[2015-12-31 16:59] Pitros commented on #477
Issue related to PR #455

[2016-01-02 00:37] user741981 commented on #462
I came here to suggest that too and fortunately found this post so I'm not the only one thinking that way...

The main reason IMHO is that electron is already very mature and will only get better since there's a lot of buzz around it right now.

Maybe a good start for the migration agenda could be a lookup for all node.js dependencies in the project?!

[2016-01-03 14:18] yash3x opened #478 "[FEATURE SUGGESTION] Real time update of the sound level icon same as SoundCloud"
Steps:
1. Keep the sound level to all the way down and observe the speaker icon
2. Increase the volume slider in steps and observe the speaker icon

Actual Result:
Speaker icon doesn't show the real time update of the current level

Expected Result:
Speaker icon must be updated with the current sound level
Case 1: Mute: Speaker icon must be indicated with 'x' indicating that audio is muted e.g."Sp

[2016-01-05 17:22] weblancaster commented on #475
closed by #479

[2016-01-05 17:22] #475 closed

[2016-01-06 20:54] Himijimmy opened #480 "[Feature] Option to choose audio device"
Please create an option to configure the audio device which I want to use, so it would be easy to use the player for music bots.

[2016-01-07 17:22] theaccordance opened #481 "Update Brew Cask"
The current brew cask listing for the app is at v 0.5.7, if one of you guys initially added it to the registry, can you update it to the current version?

If not, I can dive into the docs and pitch in, figured I'd ask the question first to save time.

[2016-01-07 18:04] weblancaster commented on #481
@theaccordance I didn't even know we had Soundnode up there and I don't think none of us (core team) had uploaded that.

[2016-01-07 18:28] theaccordance commented on #481
Okay, I'll look into it.  It's not an upload from what I understand, just a listing for the package

[2016-01-08 03:31] #443 closed

[2016-01-08 03:32] weblancaster commented on #443
I added this feature.

[2016-01-10 21:43] SLiX69 opened #483 "[Feature] Auto load next tracks if last loaded element is playing"
Hi, if I start playing and the last track in 'Stream' ends (not scrolling down), no further tracks are loaded and the music stops. I have to scroll down to the bottom to load new tracks. I'm using 0.6.1 on Windows.

So it would be great if there are only a few songs left to hear, the next/older tracks will be loaded automatically (in the background), so the music doesn't stop.

[2016-01-10 22:20] weblancaster commented on #483
I agree that feature need to be implemented.

[2016-01-11 09:17] LoreGas opened #484 "[Feature] Resume last played song"
In my opinion it would be cool to save the song and minute that you are playing so that when you open the app again it will resume from where you left

[2016-01-11 17:40] #349 closed

[2016-01-11 17:40] weblancaster commented on #349
@jackquack this is implemented and will be release in the next version.

[2016-01-11 18:06] Pitros commented on #349
@weblancaster, are you going to style those buttons or you want someone else to do it? As well it would be nice to add inputs/sliders for more filter control.

Another thing could be API filtering, becasue it's possible, and that would be much better in search and tag view (as far I remember, even api-v1 gives ability to filter tracks).

[2016-01-11 18:17] weblancaster opened #487 "[ENHANCEMENT] Improve tracks filter to use Soundcloud API"

[2016-01-11 18:18] weblancaster commented on #349
@Pitros I wasn't going to style the buttons.

And yeah filter tracks using the api would be the ideal case.. I just created a issue for that #487

[2016-01-11 18:40] Pitros commented on #262
Quick update: On latest NW.js (0.13-beta2) and Electron.js it could be done - I've tested demo page and it works fine, but still it's hidden behind flag.

[2016-01-11 20:14] Nightshaxx commented on #442
Can confirm this is an issue. Chrome with media keys is not the issue. I have turned off the extension, and it still doesn't work. Additionally, I can run music bee and chrome w/ media keys , and as long as I am not playing music on chrome music bee still gets the media key input.  Using Logitech G105 keyboard and Logitech G502 mouse. Windows 10

[2016-01-12 04:12] jackquack commented on #349
@weblancaster thanks so much! I'll be using Soundnode full time now!

[2016-01-12 22:30] ronaldoats opened #488 "Failed [Native media keyboard shortcuts] Linux"
Failed in Linux.
Manjaro
Linux lnxSMJ 4.2.8-1-MANJARO #1 SMP PREEMPT Tue Dec 15 08:34:13 UTC 2015 x86_64 GNU/Linux
Desktop --> Cinnamon 2.8.6