[2016-07-08 18:23] Pitros commented on #813
Which Soundnode version you've downloaded?

[2016-07-08 18:24] Legitgamer264 commented on #813
The one from the website - http://www.soundnodeapp.com/

[2016-07-08 18:56] Legitgamer264 commented on #813
0.6.2 is what I have but on the website it says "What's new in 0.6.4". So I assuming I am supposed to be getting 0.6.4, but it shows 0.6.2 in the app

[2016-07-08 18:57] Pitros commented on #813
What OS are you using, because that build must be outdated for some reason.

[2016-07-08 18:58] Legitgamer264 commented on #813
I am on Windows 10 insider preview 14383

[2016-07-08 19:06] Pitros commented on #813
Ok, that's weird. Latest version on webpage is 0.6.2 for some reason.
@weblancaster

[2016-07-08 19:18] wb9688 commented on #813
I think that @weblancaster hasn't pushed version 0.6.4 to the repo of the
website and that since my new website is online it stores the old version…

[2016-07-08 19:21] Pitros commented on #813
Last commit is from 7 Jan, but I'm sure he pushed newer versions. Or he forced old commit for some reason.

[2016-07-08 19:21] Legitgamer264 commented on #813
is there a place I can get the latest version? Or do I have to wait for it to be updated on the site?

[2016-07-08 19:22] Pitros commented on #813
You can download repo and run it from there, but you also need to install node.js

[2016-07-08 19:22] Legitgamer264 commented on #813
I have node.js and all the dependencies for Soundnode  installed

[2016-07-08 19:22] wb9688 commented on #813
Piotr, he has pushed it to the website before merging the new website, but
not to the GitHub repo of the website, so the version 0.6.4 is lost.

[2016-07-08 19:55] wb9688 commented on #813
If you've installed Node.js and Git, you can compile it yourself with:

git clone https://github.com/Soundnode/soundnode-app.git
cd soundnode-app
npm i -g grunt-cli webpack
npm i --legacy-bundling
grunt build

Then you can open it in the `build` folder.

[2016-07-09 06:55] shxdow opened #814 "[FEATURE SUGGESTION] Display related tracks for a given song"
Hello, as much as I like the app, I can't stand the fact that I'm unable to listen to related tracks. I haven't used SoundCloud much up until recently so all my playlists are pretty short so having related tracks would be very helpful.

[2016-07-09 08:33] wb9688 commented on #814
@Soundnode Found the API call: `https://api-v2.soundcloud.com/tracks/$TRACK_ID/related`, output is something like [this](https://gist.github.com/wb9688/ad65b7b0c09d0c75f50b6c9ffa0b81bc)

[2016-07-09 21:04] mikeboy91 commented on #521
Just cloned the repo and tried to build the app. I'm sitting on a relatively new installation of Kubuntu 16.04 (64 Bit). I just wanted to say that I had to install pkg-config and libdconf-dbus-1-dev and the node package nw-gyp to complete the build without errors.

`sudo apt-get install pkg-config libdconf-dbus-1-dev`
`sudo npm install -g nw-gyp`

Wanted to share this information. Might be helpful

[2016-07-10 21:25] weblancaster commented on #813
Looks like when I updated the website merging latest PR and added automated deploy I overwrote the latest App build.. going to release a new version today @Pitros @jakejarrett any objection? if you have seen anything too broken to release please let me know.

take a look here to see what's going to be released https://github.com/Soundnode/soundnode-app/compare/0.6.4...master

[2016-07-10 22:54] Pitros commented on #813
@weblancaster, everything works fine. Also #810 can be merged because that's simple fix.

Uh, and #740  was tested for other platforms and works fine, also I've changed what you asked.

[2016-07-11 04:26] weblancaster commented on #813
#740 I still think there is better way to do so let's hold on that one.

[2016-07-11 08:42] feddena commented on #806
+1 can't see playlists
can do some steps to provide logs

[2016-07-11 10:23] tolgraven opened #815 "Media keys seem to aggressively steal focus"
Maybe it's just an issue on my system, dunno, but whereas all other media apps (except for, occasionally, Eternal Village Asshole iTunes) seem to respect that the currently foregrounded/last used app has priority, Soundnode appears to just completely steal focus so that even if I've paused Soundnode and started playing something in Spotify, if I press the play/pause key then instead of pausing Spo

[2016-07-11 20:35] noelbush opened #816 ""It seems the App source is not there" when trying to install via homebrew"
Hi there — When I try installing via homebrew, I get the following error:

[code]

[2016-07-12 11:53] feddena opened #817 "Settings isn't close on click on the UI"
Settings isn't close on click on the UI, only on click on settings button.

[2016-07-12 11:56] feddena opened #818 "Songs duplication"
Some tracks in album is duplicated, in app they are in same row near each other. Clicks on them is processing like clicks on same song.

[2016-07-12 15:07] weblancaster commented on #813
I reverted the website back to what was and you should be able to download the correct version now @Legitgamer264

I was going to release but then decided to hold a bit because I want to merge some of the PRs open.

[2016-07-12 15:07] #813 closed

[2016-07-12 15:18] wb9688 commented on #813
@weblancaster Can't you replace the download of the new Soundnode website with the latest version?

[2016-07-13 03:11] #809 closed

[2016-07-13 05:47] weblancaster opened #819 "As a developer I want to be able to know on GA what version user is using"
Add to google analytics the version users are using.

[2016-07-13 09:38] wb9688 commented on #806
@GENERAL-AN to see if it's Soundcloud or Soundnode can you do the following steps:

1. Open Soundnode and press <kbd>Ctrl+/</kbd>
2. Go to the console tab and execute `localStorage.scAccessToken`, just copy the code without the `"`'s
3. Open Firefox and go to `http://api.soundcloud.com/users/me/playlists.json?oauth_token=` after that paste the code
4. Press `Raw Data`, then press `Pretty Print` an

[2016-07-13 09:45] feddena commented on #818
All songs are duplicated in likes now.

[2016-07-13 10:37] wb9688 commented on #818
It's an already known bug.

[2016-07-13 15:33] GENERAL-AN commented on #806
I am on Windows 10.

    On Wednesday, July 13, 2016 4:38 AM, wb9688 <notifications@github.com> wrote:

 @GENERAL-AN to see if it's Soundcloud or Soundnode can you do the following steps:
   - Open Soundnode and press Ctrl+/
   - Go to the console tab and execute localStorage.scAccessToken, just copy the code without the "'s
   - Open Firefox and go to http://api.soundcloud.com/users/me/playlists.

[2016-07-13 15:34] GENERAL-AN commented on #806
Never mind

    On Wednesday, July 13, 2016 10:33 AM, Noah Woodlee <anw_general@yahoo.com> wrote:

 I am on Windows 10.

    On Wednesday, July 13, 2016 4:38 AM, wb9688 <notifications@github.com> wrote:

 @GENERAL-AN to see if it's Soundcloud or Soundnode can you do the following steps:
   - Open Soundnode and press Ctrl+/
   - Go to the console tab and execute localStorage.scAccessToken, just cop

[2016-07-13 15:43] weblancaster opened #820 "As a user I want to copy to clipboard from the options in Queue list"

[2016-07-13 15:43] weblancaster opened #821 "As a user I want to go-to track page on the browser from options in Queue list"

[2016-07-13 15:46] weblancaster commented on #818
This is a intermittent bug because most of the times it's fine and others for some reason duplicate songs

[2016-07-13 15:55] weblancaster opened #822 "As a user I want to be able to clean Queue list"

[2016-07-13 16:07] weblancaster opened #823 "Error when choosing first track after choosing another track on Queue list"
Once tracks are added to Queue list.
- track number 1 is playing
- choose any other track on queue (let's say track number 4)
- track number 4 is playing
- choose track number 1 (an error is logged on dev tools but track plays)
- try choosing another (track doesn't play and more errors are logged on dev tools)

I would guess the index number is messed up

[2016-07-14 06:41] Zwerge opened #824 "[FEATURE SUGGESTION] - keep track of unplayed tracks"
A very nice feature IMO would be to be able to filter out tracks from your stream that you have already listened to.

[2016-07-16 02:52] MuhammadHewedy opened #825 "[FEATURE SUGGESTION] - As an end user, I want to be able to download the media file I am listening to."
First, I'd like to thank you for your great effort, I like to mention that I did an effort before to create a click when I couldn't find one.

The link for the client I created is: https://github.com/MuhammadHewedy/sooty

Actually I like yours, thought it is much rich than mine, but still I think it need extra work.

I just opened this ticket to ask you to add to your plan the ability to download

[2016-07-16 04:55] wb9688 commented on #825
It's against the SoundCloud ToS to allow users to download the stream. But
we could add a button for downloading the download which isn't available on
every track.

[2016-07-16 12:23] Pitros commented on #825
If author posts download/buy link, it's visible on track page (you need to click on track title). Other download methods violate ToS.

[2016-07-16 12:23] #825 closed

[2016-07-16 13:57] rmf34 opened #826 "[FEATURE SUGGESTION] speed up loading of playlists from like's panel with representation=compact"
### quick win
In the likes panel, when you click the "add to playlist" bookmark icon

![01_likes_add_to_playlist](https://cloud.githubusercontent.com/assets/1283265/16895177/066c66d6-4b3b-11e6-9324-812d4fe2c189.png) there is a delay as it is fetches /playlists.json. Once the call comes back, the initially empty playlist div expands and fills with playlist data

![02_playlist_panel_showing_request]

[2016-07-16 14:05] wb9688 commented on #826
Last thing could possibly be done using web workers, but then we need to
update nwjs to the latest version.

[2016-07-17 03:17] whereismytie commented on #808
@Pitros either position would be fine. Thanks, use this app daily

[2016-07-17 12:28] Pitros commented on #808
@whereismytie, I forgot that I still haven't make PR for that, while I was using it. I'll try other positions and  in next Soundnode version it will be most likely avaliable (If I woudnt forgot about it, it might be in current release).

[2016-07-17 20:14] weblancaster commented on #808
@Pitros you can add to all views that contain tracks e.g likes/top 50 etc

[2016-07-18 21:30] FallenKN opened #827 "[FEATURE SUGGESTION] Song/Artist Information in Window Title"
Would make it possible for other Apps to access the **Window Title.**

[2016-07-20 08:51] throny opened #828 "Scrolling down in "Stream" skips a lot of tracks"
By scrolling down in my stream, it skips a load of songs while its loading the new covers and song infos.

Version: 0.6.4

[2016-07-21 15:07] bportnoy commented on #826
+1 to this.
I think it would make sense to cache a user's playlists; you could still submit a request for the most recent data, but that could then be merged into the cached playlists. This would allow you to display the last seen data immediately and then update if necessary.

[2016-07-21 15:20] rmf34 commented on #826
@bportnoy yes, and if we don't fetch tracks when pulling playlist data the json returned is way smaller. that would be a quick fix :) I don't know the code well enough though to know the impact but I can't imagine it being too much as we're making requests on each tab (playlists, likes, tracks) change

[2016-07-24 07:23] wb9688 opened #829 "Soundnode v0.6.5 on Packagecloud"
@JonasGroeger: Can you add the new Soundnode v0.6.5 release to the Packagecloud repository?

[2016-07-24 10:37] Mar-tin-W opened #830 "Bad 0.6.5 build on linux, missing mpris."
Package: soundnode 64bit linux

[2016-07-24 10:44] Mar-tin-W commented on #830
![screenshot from 2016-07-24 12 44 03](https://cloud.githubusercontent.com/assets/20623262/17083313/5c02414e-519c-11e6-92b5-f6845629fbdd.png)

[2016-07-24 10:47] Mar-tin-W commented on #830
same thing with likes, tracks, playlists and top 50
(newest version)

[2016-07-24 10:49] Mar-tin-W commented on #829
There's a repo but it doesn't work :(

[2016-07-24 13:49] JonasGroeger opened #831 "Error: Cannot find module 'request'"
I have no idea what causes this.

[code]

[2016-07-24 13:51] Pitros commented on #831
More details? You're running built app or launching from git?

[2016-07-24 13:52] Pitros commented on #830
It looks like tracks aren't loading at all. Please open dev tools (ctrl/cmd + /) and show us console tab.

[2016-07-24 17:10] JonasGroeger commented on #831
I'm using the git version

[2016-07-24 17:11] Pitros commented on #831
Did you use npm install etc.?

[2016-07-24 17:25] wb9688 commented on #829
It works, but v0.6.5 hasn't been packaged yet (only v0.6.4)…

[2016-07-24 17:46] Mar-tin-W commented on #830
Sorry I'm new to github.
What is dev tools and where can I get it?

[2016-07-24 17:47] Pitros commented on #830
Press ctrl + / on Soundnode.

[2016-07-24 17:51] Mar-tin-W commented on #830
![screenshot from 2016-07-24 19 51 08](https://cloud.githubusercontent.com/assets/20623262/17085430/027a0436-51d8-11e6-869f-3f7ea0e24ab1.png)

[2016-07-24 17:53] Pitros commented on #830
Can you expand those, and show bit more info. As well please try clearing data (from settings menu) and login once again to soundnode.

[2016-07-24 17:58] Mar-tin-W commented on #830
![screenshot from 2016-07-24 19 58 34](https://cloud.githubusercontent.com/assets/20623262/17085468/08dbfe1e-51d9-11e6-830b-2d5604e36d2b.png)

[2016-07-24 18:00] Pitros commented on #830
Ok, so it looks like there's problem with mpris @jakejarrett or linux build has problems.

[2016-07-24 18:01] Mar-tin-W commented on #830
the last version worked just fine.

[2016-07-24 20:16] JonasGroeger commented on #829
@wb9688 I didn't yet update it because I'm having problems with the build.

See #831

[2016-07-24 20:16] JonasGroeger commented on #831
@Pitros Yes, ofc. I used the Makefile

[2016-07-24 20:22] Keepco opened #832 "Soundnode doesn't load on OpenSuse"
Hello,
I'm currently trying to get Soundnode working on OpenSuse, but I can't get it to load my stream. My Soundnode client looks like this after logging in:
![screenshot from 2016-07-24 22-16-33](https://cloud.githubusercontent.com/assets/8766773/17086211/de06243a-51ec-11e6-9479-3c7897ae4984.png)

I get the following Warnings/Errors from Soundnode:[571:0724/221112:ERROR:browser_main_loop.cc(170)]

[2016-07-24 20:23] wb9688 commented on #832
What's in the console of the devtools (Ctrl+/)?

[2016-07-24 20:36] Pitros commented on #832
Same as here - #830, problem with `mpris-service` package, probably not included in build somehow (uh, probably while @weblancaster didn't install that npm package on his machine).

[2016-07-24 20:37] Pitros commented on #831
@JonasGroeger try installing it manually - `npm install request`, that should help.

[2016-07-24 21:28] JonasGroeger commented on #831
I did. You can check my branch at https://github.com/JonasGroeger/soundnode-app/tree/feature/fix-webpack-cmd

[2016-07-24 21:40] #832 closed

[2016-07-25 02:50] weblancaster commented on #706
@SW1FT do you have latest? I released a new version last night which contain some fixes for issues related to that on windows.. so I would give it a try and thanks for the feedback

[2016-07-25 05:25] weblancaster commented on #831
what's your node and npm version @JonasGroeger ?

[2016-07-25 05:26] weblancaster commented on #831
although that log looks like it's a NW.js issue.

[2016-07-25 05:33] weblancaster commented on #832
I think I installed the package correctly if we have on `package.json`. Going to dig more to see if I find why the build is bad for linux

[2016-07-25 07:18] JonasGroeger commented on #831
$ npm -v
    3.10.3

    $node -v
    v6.3.0

[2016-07-25 07:53] jakejarrett commented on #830
I'm guessing this is due to the build process being different on Windows/Mac as they actually can not build dbus unless we include the headers.

I'll look into this more and get a solution ready asap.

[2016-07-25 09:47] Mar-tin-W opened #833 "Repo does not work Linux"
![screenshot from 2016-07-25 11 47 19](https://cloud.githubusercontent.com/assets/20623262/17097303/99625850-525d-11e6-888b-f1bd098c8a38.png)

[2016-07-25 09:55] wb9688 commented on #833
There is no Eementary OS package. You should add it manually with the
instructions at https://packagecloud.io/JonasGroeger/soundnode/install and
use ubuntu trusty…

[2016-07-25 10:07] Mar-tin-W commented on #833
Which lines do I  need to change?

[2016-07-25 10:50] Mar-tin-W commented on #833
just make a deb file to download, it easier.

[2016-07-25 10:56] wb9688 commented on #833
Go to /etc/apt/sources.list.d/, change the content to `deb
https://packagecloud.io/JonasGroeger/soundnode/ubuntu/ trusty main` and
finally run `apt-get update`.
Alternatively go to https://packagecloud.io/JonasGroeger/soundnode and grab
the .deb for `ubuntu/trusty` for i386 (32 bit) or amd64 (64 bit), but you
won't get updates that way…

[2016-07-25 14:19] weblancaster commented on #831
I don't think will help with this particular issue but the current version to run locally you need to have npm < 3 and which requires node < 5

[2016-07-25 20:36] SirCmpwn commented on #830
Can reproduce.

[2016-07-25 23:24] SW1FT commented on #706
@weblancaster I have the latest version and it has a couple of problems with the icon and symbol kerning (regarding some of the player's buttons). See this screenshot:
![soundnode](https://cloud.githubusercontent.com/assets/6627739/17120885/58806682-52c7-11e6-9d8c-0bd5b6657344.png)

[2016-07-26 08:35] airpoint opened #834 "Missing tracks"
Is it just me or some tracks simply don't appear in the app?
Like this example: https://soundcloud.com/ferry-corsten/ferry-corsten-tomorrowland-daybreak-session

Tried to Like it, add to Playlist—no help—simply doesn't appear in the app. Hmmm…

[2016-07-26 08:50] SW1FT commented on #834
This has also happened to me in 0.6.4 with other track: https://soundcloud.com/miguel/come-through-and-chill-prod-by-salaam-remi

[2016-07-26 12:26] Charlesbjerg opened #835 "[FEATURE SUGGESTION] Auto Update on startup"
Make the application run an update check when its launched. Then download and install any updates if there are any. Saves users having to redownload after each update.

[2016-07-26 12:31] Yoshi2889 opened #836 "Do not require wine as build dependency for linux"
Right now Wine is required to generate an icon for the win32 version. Except there is no way to either skip win32 or not generate that icon with wine, so on Linux wine is a build dependency.

Unless I'm missing something and the variant you want  can be specified.

[2016-07-26 14:19] Pitros commented on #834
Those tracks cannot be played - just are simply blocked so we're not displaying it.

[2016-07-26 14:26] airpoint commented on #834
@Pitros what you mean cannot be played? They both play just fine in the browser…

[2016-07-26 14:28] Pitros commented on #834
@airpoint from soundcloud website every track can be played, but api sometimes returns `playable: false` and even if you try to play that track, you wont get `mp3` for it.

[2016-07-26 14:31] #834 closed

[2016-07-26 18:40] tnorthcutt opened #837 "[FEATURE SUGGESTION] OS X app should be signed with a Developer ID"
This would avoid the pesky `'can't be opened because it is from an unidentified developer` error on OS X. There is a workaround, but it's still pesky.

[2016-07-26 19:11] Dclyde747 commented on #656
Darn, I was really hoping to be able to do this.

[2016-07-27 20:48] Gurkengewuerz commented on #262
Still working on this feature?

[2016-07-27 20:59] Pitros commented on #262
@Gurkengewuerz I still cant get authentication working so no progress at this point (cant upgrade to newer version of nw.js), but I also want that feature, so someday it will be avaliable.

[2016-07-28 05:04] wb9688 commented on #835
That isn't really possible with nw.js. It'll be possible when we switch to
Electron…

[2016-07-28 10:15] Pitros commented on #835
It is possible - we can run other script which will download new app version unzip it and replace original app.

[2016-07-28 18:20] doctorcolossus opened #838 "SoundNode opens, but is unresponsive"
SoundNode stopped working for me a few days ago. The application loads and authenticates. However, for some reason the volume adjuster is initially open:
![20160728115408](https://cloud.githubusercontent.com/assets/731937/17223768/48ef904e-54bb-11e6-87f1-ac0f68fe3838.png)

Clicking on 'following', 'followers' 'top 50', 'stream', 'likes', 'tracks', or 'playlists' has no effect, except that the butt

[2016-07-28 18:24] Pitros commented on #838
Thanks for such detailed issue, but it's already known.
Please follow #830 for more info.

[2016-07-28 18:24] #838 closed

[2016-07-28 18:36] doctorcolossus commented on #838
Great, thanks.

[2016-07-28 22:23] doctorcolossus commented on #830
Ditto. Please let me know if I can assist with further information.

[2016-07-29 14:49] onlymejosh commented on #496
+1 for ordering by time in track. Happy to help out with the build

[2016-07-29 18:31] cheekygit commented on #837
I see this so frequently that I wonder if it is forgetfulness or refusal to pay the nominal fee to sign up for an Apple developer ID.

[2016-07-29 19:01] weblancaster commented on #837
I did not know about this nor looked to solve because wasn't something people complained.. I do have the apple developer ID I will take a look.

[2016-07-29 19:16] weblancaster commented on #496
We will be adding that eventually.

[2016-07-30 09:20] sanketdsanghavi commented on #821
Hi @weblancaster . I am a first time open source contributor. Liked this project and wanted to contribute. Is there a chat group or some place where someone can guide me with the installation locally? I followed the grunt build instructions on the dev page. But dont know how to actually see the app in the browser and start experimenting.

Regards,
Sanket.

[2016-07-31 03:07] CodyMKW commented on #830
same for me on Ubuntu MATE 16.04.1 LTS

[2016-07-31 13:56] rafirafirafi opened #839 "[FEATURE SUGGESTION] hide reposts from stream"

[2016-07-31 13:58] #761 closed

[2016-08-01 01:47] CoCoNO commented on #705
When you say "Uninstalled the keyboard " do you mean The driver?

[2016-08-01 14:30] weblancaster commented on #705
The media shortcuts won't work if you have any other application open that uses the media shortcuts

[2016-08-02 11:19] Mar-tin-W opened #840 "[FEATURE SUGGESTION] Shuffle play"
Would be nice to have :)

[2016-08-02 11:22] #833 closed

[2016-08-02 11:26] #840 closed

[2016-08-02 14:14] weblancaster commented on #840
we do have shuffle but isn't the best solution. something better might be implemented soon.

[2016-08-03 01:19] tripleducke commented on #840
Shuffle in Likes only shuffle what is being displayed/rendered, instead of my entire list. Has been like this since I started using soundnode awhile back. :cry:

[2016-08-03 09:17] wb9688 opened #841 "Make it possible to use Windows-like close buttons on Linux"
Make it possible to use Windows-like close buttons on Linux, because that'll fit more in some configurations:

![Screenshot](https://cloud.githubusercontent.com/assets/9780201/17360399/b36db694-596b-11e6-8fd2-537ad7c4c8bb.png)

[2016-08-03 10:46] Mar-tin-W commented on #841
you mean include the gtk?

[2016-08-03 11:23] Pitros commented on #841
You can download repo and change it if you want.

[2016-08-03 11:38] wb9688 commented on #841
@Mar-tin-W That'd be better, but just an option in the settings to use the Windows close buttons would be good enough for me…

[2016-08-03 14:38] weblancaster commented on #840
yes just what is on Queue list is shuffled

[2016-08-03 14:40] weblancaster commented on #841
Let's keep how the OS native works, which is differently.

[2016-08-03 14:40] #841 closed

[2016-08-03 18:03] wb9688 commented on #841
@weblancaster If you want it how it native works, then you've to:

1. Detect what window manager a user is using
2. Parse the config of that WM to see in what order the close buttons should appear and what theme the user is using
3. Parse the theme and load the images of the close buttons

[2016-08-03 18:07] wb9688 commented on #841
@weblancaster On my Linux the close buttons are at the right. So that's not
a valid point IMHO…

[2016-08-06 02:03] Trismirite opened #843 "FEA"

[2016-08-06 02:03] Trismirite opened #844 "FEAT"

[2016-08-06 02:04] Trismirite opened #845 "[FEATURE SUGGESTION] Allow Mac OS X playback control buttons on keyboard (pause/play/next/previous)"
It would be nice to see this addition since the shortcut controls on the menubar doesnt work on multiple applications, also resets the size of the screen. I'd much rather use the playback controls on the keyboard (f7, f8, f9)

[2016-08-06 02:04] #844 closed

[2016-08-06 02:05] #843 closed

[2016-08-06 08:35] wb9688 commented on #845
Soundnode already has support for the media keys…

[2016-08-09 08:10] SKUndef commented on #830
I'm experiencing the same bug. In the meantime, where we can get a build of the previous version 0.6.4? Thanks for your work.

[2016-08-09 09:35] UdoKifferbrehl commented on #773
When I send Soundnode to my desktop as shortcut it looks like this. In the taskbar it looks right.  Can someone help?
![sn_tb](https://cloud.githubusercontent.com/assets/16610908/17511889/67a82bae-5e25-11e6-9bc6-21c9e72cec36.PNG)
![sn_ds](https://cloud.githubusercontent.com/assets/16610908/17511888/679dd58c-5e25-11e6-9a0e-5bb1836a6f08.PNG)

[2016-08-09 10:21] wb9688 commented on #773
That's a known bug. You could probably use Resource Hacker and replace the
icon, but I haven't tested it…

[2016-08-09 10:53] wb9688 commented on #773
@UdoKifferbrehl That's a known bug (#706). For now you could probably use Resource Hacker and replace the icon, but I haven't tested it…
@weblancaster It's showing the wrong icon because there's no 48x48 icon in `soundnode.ico`, that can be fixed by replacing it with [this](https://wb9688.stackstorage.com/index.php/s/SjqEYRqmlMJdOOM)…

[2016-08-09 12:40] CodyMKW commented on #830
@SKUndef https://github.com/Soundnode/soundnode-app/releases/tag/0.6.4

[2016-08-09 12:59] SKUndef commented on #830
@CodyMKW Thanks, but souce code needs to be compiled. I could do it of couse, but what i'm looking for is a runnable archive like the 0.6.5 one downloadable at http://www.soundnodeapp.com/downloads/linux64/Soundnode.zip. Thanks!

[2016-08-09 13:08] wb9688 commented on #830
@SKUndef you can download from the PPA…

[2016-08-09 13:19] SKUndef commented on #830
@wb9688 I'm not a Debian based distro user. No problem, I will either compile the source or wait for next release. Thanks

[2016-08-09 14:58] CodyMKW commented on #830
@SKUndef try this might work https://web.archive.org/web/20160609101205/http://www.soundnodeapp.com/downloads/linux64/Soundnode-App.zip

[2016-08-09 15:10] SKUndef commented on #830
@CodyMKW Nice resource, thank you very much! It's 0.6.2 version indeed, but it's enough for now ;)

[2016-08-10 00:47] weblancaster commented on #773
Great.. will do @wb9688

[2016-08-10 11:45] melanholly opened #846 "Repository add failed on Linux Mint 17"
I am was trying to install this app on Mint 17 and got some unexpected results. After the install script has been run the `apt` could not find `soundnode` on the sources. I've checked out the `/etc/apt/sources.list.d/JonasGroeger_soundnode.list` file and found there was a problem. The distribution should point to the debian package instead of mint package since there is no one premade for mint.

[

[2016-08-11 21:14] jakejarrett commented on #830
@weblancaster the only interim fix I can think of is building on Linux. I was unable to find a solution that would work across all platforms

[2016-08-11 21:23] wb9688 commented on #830
@jakejerett But then you couldn't build 32-bit Linux version on 64-bit
Linux, so that's add more complexity…

[2016-08-11 21:53] jakejarrett commented on #830
@wb9688 from memory, you should be able to build 32bit from 64bit, you just wouldn't be able to run it.

[2016-08-12 06:31] wb9688 commented on #830
@jakejerett You can indeed build it on a 64-bit machine, but not run it on
a 32-bit machine. Maybe we could just drop the 32-bit Linux build if it
isn't used much (@weblancaster ???), you made a 32-bit Linux build because
I was using 32-bit machines at that time…

[2016-08-12 09:38] SKUndef commented on #830
If the bug is entirely about the MPRIS support, why not drop it while seeking for a solution?

[2016-08-12 10:17] Pitros commented on #830
So there are two ways to solve it - drop MPRIS support or build linux releases on linux machines - we can use 32/64bit VMs for 32 and 64 bit versions or if someone is able to cross-compile for 32 bits on 64bit machine only 64 bit machine would be needed.

[2016-08-12 10:22] wb9688 commented on #830
@pjotr My idea would be to set up Vagrant to compile for 32- and 64-bit
Linux…

[2016-08-13 00:12] swrobel opened #847 "[Feature Suggestion] Arbitrary seek by clicking on seekbar"
On the Soundcloud website, you can click on any arbitrary spot on the seekbar and it will skip to that part of the track. Soundnode requires you to click & drag the progress indicator. This is much less convenient than just being able to click anywhere to seek.

https://sendvid.com/ghoqupev

Version: Release 0.6.5 for MacOS
Downloaded from: homebrew-cask
OS: MacOS 10.12 PB4

[2016-08-13 10:39] Pitros commented on #847
That's just a bug and it needs to be fixed.

[2016-08-14 13:20] Sine1040 commented on #343
Viewing users playlists would be a big plus indeed, that is the main way I use soundcloud.

[2016-08-14 17:12] weblancaster commented on #847
Not a bug @Pitros that's how I coded to be at the beginning.

We can add this feat though.

[2016-08-15 07:27] rijnhard commented on #846
linking to related
https://github.com/Soundnode/soundnode-app/issues/775#issuecomment-225809833

[2016-08-15 15:57] thevoid265 opened #848 "[Feature Request] Option to change view of playlists"
It would be nice to be able to select _individual_ playlists rather than just selecting "show" and still seeing all other playlists. This would make it easier to access frequently used playlists.

[2016-08-15 23:57] glowdemon1 opened #849 "[FEATURE SUGGESTION]Allow app to be ran on background"
Would be nice if we could run Soundnode on the background, meaning that I can close to GUI and keep listening. I don't mean minimizing it only, but removing the button from the taskbar as well.

[2016-08-16 03:04] ErraticFox opened #850 "[Feature Request] Play from 'Related Tracks' instead of next song in artist page or current playlist"
If you play a song on it's page, it'll start playing from 'Related Tracks'. I use to hate this feature, but it's introduced me to a lot of new songs that I enjoy. This should be a feature in my opinion.

[2016-08-16 14:45] weblancaster commented on #849
@glowdemon1 what OS are you? if MAC OS you should be able to do that otherwise Windows can't do

[2016-08-16 14:47] glowdemon1 commented on #849
@weblancaster I'm indeed on W10. If it's impossible, I'll close this.

[2016-08-16 14:47] #849 closed

[2016-08-16 14:53] Pitros commented on #849
It could be possible, I made PR so you could minimize it to tray but it's still not merged.

[2016-08-16 14:54] weblancaster commented on #849
@Pitros he mentioned close (just like we do on Mac) not minimize, is that what the PR is for?

[2016-08-16 14:55] Pitros commented on #849
For windows minimizing to tray is the way to do that.

[2016-08-16 15:07] weblancaster commented on #849
@Pitros I believe we have that at least last time I checked minimize was working fine.

[2016-08-16 15:44] glowdemon1 commented on #849
@weblancaster Clicking the minimize button only minimizes it, the close button closes it completely.

[2016-08-16 18:07] s0me-1 opened #851 "Windows is empty [ Linux ]"
My build is from AUR, but it also happens with the one provided in the download section

Here's a screenshot
![Screenshot_1123](http://i.imgur.com/Agt1FaO.png)

ANd here's the log :

[code]

[2016-08-16 18:52] weblancaster commented on #851
Yes this is a duplicated of #830

[2016-08-16 18:52] #851 closed

[2016-08-17 09:27] jakejarrett commented on #830
@Soundnode/core-team there's currently work being done on porting mpris-service over to purely JS interface, I think the best bet would be to remove/disable the functionality and reinstate it once it's ready to be used.

Related-
emersion/mpris-service#6

[2016-08-18 19:16] jeexzee opened #852 "Suggestion for animation."
When you hover over tracks the animation looks wierd. Instead of the black beeing flown in it would be better if it faded in.

Also animations on play/pause on the track would be awesome!

[2016-08-18 19:21] jeexzee opened #853 "Icon fragmentation."
Installed from the website. Downloaded twice and both of the up-zipped soundnode apps had fragementation. Also its different from the programs tab to normal view and icon tray.

Im not an expert but I really want to learn this github thing.

[2016-08-18 19:34] jeexzee commented on #853
Workaround :
Download picture from /apps/soundnote.png and convert it to an .ico file.
(Or be lazy and download mine: www.dropbox.com/s/wq9lmdluqssif6m/soundnode_TeI_icon.ico?dl=1 )

Make a new shortcut, and choose the new downloaded picture.
Now launch the program trough the shortcut and it should work fine.

[2016-08-19 17:56] SW1FT commented on #853
Doesn't fix it when you pin Soundnode to the taskbar (Windows 10).

[2016-08-22 21:11] mas0n17 opened #854 "Feature Request"
Add support for artist stations as well as "Discover more tracks"

[2016-08-23 11:30] swapnas commented on #758
It doesn't work because the behavior of the function is changed. Its Window.open(url, [options], [callback]).
where the window is passed as the argument in the callback.

[2016-08-24 03:04] idksomethingedgy opened #855 "[BUG] Shuffle Feature"
The shuffle feature, whether it be in a playlist or in liked videos doesn't work correctly.

- Shuffling is limited to a certain amount of your songs, meaning it will replay the same songs without pulling new ones

- Shuffling can cause the same song to replay after 2-3 new songs

- Going to the previous song while shuffling picks a completely new song, It would be nice to have it go to the previo

[2016-08-24 03:09] #855 closed

[2016-08-24 03:11] idksomethingedgy opened #856 "Shuffle Features"
The shuffle feature, whether it be in a playlist or in liked videos doesn't work correctly.

- Shuffling is limited to a certain amount of your songs, meaning it will replay the same songs without pulling new ones

- Shuffling can cause the same song to replay after 2-3 new songs

- Going to the previous song while shuffling picks a completely new song, It would be nice to have it go to the previo

[2016-08-24 13:43] tsiiiboho commented on #608
This issue is back with the current version.

[2016-08-24 15:49] weblancaster commented on #856
Yes the shuffle algorithm need to be improved, what Soundnode have right now is just a placeholder and not really a shuffle.

[2016-08-24 15:56] weblancaster commented on #758
You need to have the exactly version we are using.. so use the nwjs from cache folder https://github.com/Soundnode/soundnode-app/tree/master/cache/0.12.3 instead downloading an updated version

[2016-08-24 16:02] wb9688 commented on #758
@weblancaster: Shouldn't we upgrade to the latest nw.js or even the latest
Electron?

[2016-08-24 16:06] Pitros commented on #758
@wb9688 on latest nw.js soundcloud login window does not show - probably because nw.js blocks popups (or that is just a bug, and that's why we're still running 0.12). Electron would require rewriting whole window management.

[2016-08-24 16:08] wb9688 commented on #758
@pjotr: I know, but I'm willing to write the code for moving to Electron
when I get home… (I'm at vacation rn)

[2016-08-24 17:38] Pitros commented on #847
@swrobel, @weblancaster on Windows click to seek track always worked, and still works fine.

https://dl.dropboxusercontent.com/s/z0jwbtww3retsik/2016-08-24_19-35-28.mp4

[2016-08-24 18:02] wb9688 commented on #847
It works fine on both my Windows and Linux machine…

[2016-08-24 19:24] weblancaster commented on #758
Haha so do it @wb9688

[2016-08-24 20:09] mikeymurph77 commented on #828
This seems to be related to bug issue #666 :: **Slight static/skipping of currently playing track while scrolling and loading new information.**"

[2016-08-24 22:32] mas0n17 opened #857 "[Feature Suggestion] Support for uploaded playlists"
I know the "playlists" section is already a thing, but this is only for playlists you've created. It would be nice to have support for playlists uploaded by artists.

[2016-08-24 23:21] ZeeCoder commented on #852
I definitely agree, I was just thinking about doing something about it.
Not sure how hard it is to work on an electron app, but from what I heard it should be simple enough.

[2016-08-25 06:01] wb9688 commented on #852
@ZeeCoder: This is a nwjs app and not an Electron app. Btw this could be
fixed by adding a CSS animation, but I'm not 100% sure that this old
version of nwjs (0.12.3) has support for CSS animations…

[2016-08-25 06:14] Ajeey commented on #852
What is the suggested animation? I could send in a PR right away.

[2016-08-25 06:22] tsiiiboho commented on #608
This issue can be solved by simply restarting the client.

[2016-08-25 09:11] ZeeCoder commented on #852
@wb9688 you should contact the electron guys then, it's listed here: http://electron.atom.io/apps/

[2016-08-25 10:15] wb9688 commented on #852
@ZeeCoder: I won't contact the Electron guys as I'm going to port it to
Electron next week. Btw I've no idea why it's on that list…

[2016-08-25 10:53] ZeeCoder commented on #852
@wb9688 awesome, I'll look into it once you did that then.
Could you relate the MR and this issue so that I get a notification?
Cheers!

[2016-08-25 12:17] tsiiiboho commented on #608
The issue persists shortly after restart.

[2016-08-25 15:33] weblancaster commented on #608
@tsiiiboho I'm going to try take a look during the weekend, thanks.

[2016-08-25 16:31] wb9688 commented on #852
@ZeeCoder: You could start now; the change to Electron will only affect the
build scripts and the SoundCloud login part…

[2016-08-25 16:39] ZeeCoder commented on #852
Ah cool, thought they were less compatible for some reason 👍

[2016-08-27 11:54] ZeeCoder commented on #852
Tried to fire up the app, got the following:

<details>
<summary>Output</summary>
chrome-extension://homeedcegkeacgfpkinccjdhmgehmgif/app/public/js/system/authentication.js:31
    if (popUp.window.document.body !== null) {
             ^

TypeError: Cannot read property 'window' of undefined
    at Object.authentication.verification (chrome-extension://homeedcegkeacgfpkinccjdhmgehmgif/app/public/j

[2016-08-28 13:25] Sine1040 commented on #857
See: https://github.com/Soundnode/soundnode-app/issues/343

[2016-08-28 19:42] Pitros commented on #852
You need to use NW.js versions from cache folder, not the latest ones (0.13 was rewritten and many things changed)

[2016-08-28 19:44] wb9688 commented on #852
Yeah, look at the wiki…

Op 28 aug. 2016 21:42 schreef "Piotr Cholewa" <notifications@github.com>:

[2016-08-29 08:12] ignusvermaak opened #858 "Too many redirects or file not found"
Hi

Soundnode is not playing this morning, pasted the error logs from the dev tool.

`User is saved
bundle.js:16 Download the React DevTools for a better development experience: https://fb.me/react-devtools
https://i1.sndcdn.com/artworks-000179163540-e7hjt2-t300x300.jpg Failed to load resource: the server responded with a status of 404 (Not Found)
https://api.soundcloud.com/tracks/269032795/stream

[2016-08-29 08:13] danielvesper commented on #504
Just bought a couple of Chromecast Audios and the first thing I launched from my desktop was SoundNode. D'oh.

[2016-08-29 11:29] onedrawingperday commented on #802
Clearing local storage and restarting Soundnode does not work for me.

Here are the contents of the JSON

Maybe there should be an option in the settings for the end-user to enter a developer id, if they wish.

I'm on Soundnode 0.6.4, since 0.6.5 is broken on Ubuntu 16.04 and I am in no mood to compile it from source (have better things to do with my time).

[2016-08-29 13:11] Flukky opened #859 "[Feature request] Possibility to specify minimal track length to play/display in the Stream"
It would be nice to have a possibility to specify minimal track length to play/display in the Stream using Soundnode (turned off by default). In this case the application should skip tracks that are shorter than length specified. Using this feature it would be possible to do at least 2 things:
-	Skip track snippets and similar junk;
-	Skip single tracks and play only podcasts, mixes, DJ sets and

[2016-08-29 15:40] ZeeCoder commented on #852
Changed the animation in the above referenced PR.

btw @wb9688 where is this in the wiki? For the life of me I can't find it.
I only found this in the wiki: https://github.com/Soundnode/soundnode-app/wiki/Development
And this in the readme file: https://github.com/nwjs/nw.js/wiki/How-to-run-apps

If your intention with the latter was to point out that the project uses v0.13,
then it's not obvious:

[2016-08-29 17:54] Keepco commented on #858
Same error. AFAIK this is caused because Soundcloud doesn't allow unlimited playback for clients other than their own. When I visit one of the links it says:
{"errors":[{"meta":{"rate_limit":{"bucket":"by-client","max_nr_of_requests":65000,"time_window":"PT24H","name":"plays"},"remaining_requests":0,"reset_time":"2016/08/30 05:08:57 +0000"}}]}
So I guess that playback should work once the counter

[2016-08-29 18:18] wb9688 commented on #858
This is the second time we hit the rate limit. We should really implement
caching. We should also make it possible to use you own API key…

[2016-08-29 20:33] bryguy commented on #858
An enterprising user could always [register](http://soundcloud.com/you/apps) their "own" soundcloud app, then fire up developer tools, head to the console tab, and set `window.scClientId` to the "Client ID" for that new app. Obviously this is a short term solution as it won't persist when opening/closing the SoundNode. But hey, it got the tunes streaming again for me right now. :)

Longer term, yo

[2016-08-29 21:04] Pitros commented on #858
@wb9688 using own API key is good idea, but if we just had serval API keys which would be randomly assigned on login, rate limits would not bother us for a long time. And that would just took few minutes to make (small change on sc-redirect.herokuapp.com)

[2016-08-30 01:43] GENERAL-AN commented on #806
https://gist.github.com/GENERAL-AN/8be635c3730141c69715b9d4cfb74b3d

[2016-08-30 01:44] GENERAL-AN opened #861 "No playlists"
Here:
https://gist.github.com/GENERAL-AN/8be635c3730141c69715b9d4cfb74b3d

[2016-08-30 03:52] weblancaster commented on #861
duplicated #806

[2016-08-30 03:52] #861 closed

[2016-08-30 09:59] benheymink opened #862 "Every 5th liked track missing"
I'm seeing every 5th track I've liked not showing in the 'Likes' view. This isn't just not showing tracks that can't be played, but every 5th track, without fail, is not shown.

[2016-08-30 14:21] weblancaster commented on #862
We are going to take a look at it

[2016-08-31 02:48] SolarLune commented on #862
I think I'm having a similar problem; tracks I liked on SC after starting using SoundNode aren't showing up. It doesn't seem like logging out or clearing user data in the settings menu helps.

I'll subscribe to this and monitor progress.

[2016-08-31 10:37] StiekemeHenk opened #863 "MiniPlayer"
A MiniPlayer that shows the media controlls, see pictures (concept comming)

[2016-08-31 20:04] wb9688 commented on #858
@bryguy I know, there's also a setting in window.localStorage if I remember
correctly…

---

@pjotr Yeah, but then we still have the same problem with the users from
before the change unless you're going to remove the current API key…

[2016-08-31 21:30] bryguy commented on #858
@wb9688 Of course, I should have thought of that/looked a little closer. Silly me!

[code]

Now it persists across app launches. Thanks!

[2016-09-01 16:01] bryguy commented on #802
@onedrawingperday While not as friendly as a field in settings, you can open up `Help > Developer Tools > Console`, then run the following command:

[code]

It should persist across app relaunches so that you can keep rocking out even in the rare event that Soundnode's client id has been rate limited. See #858.

Hope that helps if this hasn't been resolved more directly by an app update before the

[2016-09-02 09:47] frenko opened #864 "Visualization of "special chars""
if i listen a track with special chars like "<" i see "&lt" in place of normal chars.
![screenshot from 2016-09-02 11 46 22](https://cloud.githubusercontent.com/assets/6986802/18199963/f07977ea-7102-11e6-9e71-70123ddbbd24.png)
 The title in top right corner is wrong but same title in bottom left corner is right

[2016-09-02 10:41] onedrawingperday commented on #802
Thanks @bryguy will check this out as soon as time permits.

[2016-09-02 11:53] StiekemeHenk commented on #864
First Update and then check again, could be already fixed. ^-^

[2016-09-02 13:24] frenko commented on #864
ah ok, how do I upgrade?
I've installed on a machine running Linux Debian Jessie via repository but if I get
`sudo apt-get update && apt-get upgrade`
in the list of upgradeable packages I do not see soundnode.

[2016-09-02 15:02] weblancaster commented on #864
The latest version on Linux isn't displaying songs because of a recent feat we tried to introduce.

[2016-09-02 15:30] wb9688 commented on #864
@weblancaster: Not entirely true: you can compile from source and it'll
work fine…

[2016-09-04 16:04] pwittchen opened #866 "Blank application screen in the newest release (0.6.5) on Linux"
Hi,

I downloaded the newest release of Soundnode app for Linux (64-bit) from http://www.soundnodeapp.com/ website and it seems it doesn't work.

When I started app and authorized my account, it looked like that:

![soundnode](https://cloud.githubusercontent.com/assets/695319/18232139/d988d9ae-72c9-11e6-85e8-7e53df35a090.png)

When I tried to choose different options the main window was still blan

[2016-09-04 22:24] bduman opened #867 "Drag and drop media bug"
When i drag and drop media onto soundnode, it accepts media and doesn't work anymore.

![pxjjuwr2rt](https://cloud.githubusercontent.com/assets/5374623/18234252/ede7c396-7306-11e6-931f-6e6451e6263e.gif)

[2016-09-05 05:34] weblancaster commented on #867
that's not really a bug that's just how it works.. If you want to work, don drag and drop things on the app ;)

[2016-09-05 05:34] #867 closed

[2016-09-05 17:13] weblancaster commented on #866
this a known issue and duplicated of #830

[2016-09-05 17:13] #866 closed

[2016-09-06 17:44] jacobysuh opened #868 "Stuck on "Authenticating Your Soundcloud Account.""
As title says, it gets stuck on boot on the authentication page for me. What do I need to provide to help?

Mac OS X 10.11.6

EDIT: Just got the Soundcloud sign-in page now after reopening after a few hours. But upon open, I got "nwjs Helper EH quit unexpectedly" message, which I recall getting after the first time as well. I could login just fine now though.

[2016-09-07 04:37] wb9688 commented on #868
Are you using v0.6.5 on Linux? If so, that build is broken…

[2016-09-08 09:19] nickjbyrne commented on #830
Any ETA on a fix for this?

[2016-09-08 18:10] royalaid commented on #783
I am also experiencing this problem

[2016-09-08 18:27] jacobysuh commented on #868
Nope, on v0.6.5 on Mac.

[2016-09-10 22:38] JayyWalker opened #869 "Chocolatey install receives 404 when attempting to download the zip file"
Chocolatey failed to install on my desktop so I checked the logs to find this:

[code]

I checked the download link for Windows on the website and it looks like Chocolatey uses the wrong link.

[2016-09-11 02:41] abel-creative commented on #341
Hello, I'm new to git hub so please forgive and correct me if i make a mistake by posting here, But will there be any official documentation for the api-v2 any time soon?

What end point is used to repost a track to a users channel via PHP or JS (as I've only seen a JS SDK for this api so far).

I've been searching all over the internet for a way to repost tracks to your own channel and the base a

[2016-09-11 02:56] abel-creative opened #870 "Soundcloud V2 docs"
Hello, I'm new to git hub so please forgive and correct me if i make a mistake by posting here, But will there be any official documentation for the api-v2 any time soon?

What end point is used to repost a track to a users channel via PHP or JS (as I've only seen a JS SDK for this api so far).

I've been searching all over the internet for a way to repost tracks to your own channel and the base a

[2016-09-11 03:06] #870 closed

[2016-09-12 06:03] wb9688 commented on #341
1. There won't be official documentation for SoundCloud API v2 anytime soon…
2. You don't need their shitty SDK, you should just make HTTPS requests,
which is possible with almost any programming language…
3. The endpoint to repost a track is `
https://api.soundcloud.com/e1/me/track_reposts/TRACK_ID`, which you
could've seen if you looked at `app/public/js/common/SCapiService.js` of
Soundnode's so

[2016-09-12 16:39] abel-creative commented on #341
Yes thank you, I proceeded to using AJAX to make a PUT call to that end point. And it worked. If i may ask is there any way to send a proper PUT request through php? I tried using the "file_put_method" but it returned with a 102 (not sure if that's the actual error) error. and a 105 error, which both rejected my request.

[2016-09-12 16:40] abel-creative commented on #341
Thanks for reply, and being patient with me <3 best regards

[2016-09-12 19:05] wb9688 commented on #341
I've never used PHP, but I think http://php.net/manual/en/book.curl.php
would do…

[2016-09-12 19:14] abel-creative commented on #341
I've looked there actually but i couldn't really find much. Except for uploading a file to a server/directory. I'll look again in case i might've missed something.

Thanks again @wb9688

[2016-09-12 19:23] wb9688 commented on #341
I think it'd be something like the following:
[code]
But again, I've never used PHP…

[2016-09-13 17:43] abel-creative commented on #341
Thanks @wb9688 , and yeah that could work i found a salutation here on a stack overflow page [url:  http://stackoverflow.com/questions/13782198/how-to-do-a-put-request-with-curl ]; After looking and messing with the code was able to get it to work.

I'm new to php my self so i don't know allot of it. especially not curl php. haven't jumped into that puddle yet.

Thanks again bro! Hopefully someone

[2016-09-13 21:44] abel-creative commented on #341
Oh I thought I have already.

[2016-09-14 07:49] davidklsn opened #871 "[FEATURE SUGGESTION] Add discover feed"
Maybe it is already suggested, but the Discover feed would be great to have in the app!

[2016-09-14 10:29] wb9688 commented on #871
This is already suggested and someone is already working on it…

[2016-09-14 10:32] #830 closed

[2016-09-14 10:38] jakejarrett commented on #869
@JayyWalker  this is an issue for the chocolatey package [jvtrigueros/chocolatey-packages](https://github.com/jvtrigueros/chocolatey-packages/)

[2016-09-14 11:21] #871 closed

[2016-09-14 14:32] weblancaster commented on #783
This is a problem with the framework/tool we use to build the App, For now you will need to restart the application but I'm going to test something to restart automatic once that happen

[2016-09-14 15:07] weblancaster commented on #869
@JayyWalker can you install using another method.. downloading from the website.

[2016-09-14 15:07] #869 closed

[2016-09-14 15:07] weblancaster commented on #868
Weird but keep us posted

[2016-09-14 15:07] #868 closed

[2016-09-14 20:58] devaerial opened #874 "App stopped working on Ubuntu 16.04..."
Recently app stopped showing tracks at the stream. Soundnode logs in, but after logging it just does not look to work (volume control is frozen at the max and no tracks are shown) ...I've tried reinstalling application , but it didn't solve the problem. Any ideas how to fix this?

[2016-09-14 21:10] #874 closed

[2016-09-16 19:34] weblancaster opened #875 "[Feature] display the playlist names under playlists"
display the playlists names under playlists and link them to a page that is similar to likes/stream/top 50

[2016-09-17 19:00] #831 closed

[2016-09-17 19:00] JonasGroeger commented on #503
Same here. I'm getting this error after having built the debian package.

[2016-09-17 19:03] JonasGroeger opened #876 "nw_shell.cc(336) Error: Cannot find module 'inherits'"
I'm getting the error after building the debian package from master with `make deb`.

[code]

[code]

[2016-09-17 21:53] weblancaster commented on #876
you got use npm version  < 3

[2016-09-17 21:53] #876 closed

[2016-09-17 21:57] weblancaster commented on #503
make sure you have the correct environment npm version < 3

[2016-09-18 10:24] JonasGroeger commented on #876
@weblancaster I dont get what you are trying to say

[2016-09-19 16:15] wb9688 commented on #876
@weblancaster: Not if you use the parameter I listed at the wiki. I can
build the latest commit (and every commit since I started reacting at the
GitHub issues of this project) fine on my Debian machine…

[2016-09-19 18:49] JonasGroeger commented on #876
@wb9688 can you link the page?

[2016-09-19 19:12] wb9688 commented on #876
@JonasGroeger: `rm -rf node_modules/ && npm i --legacy-bundling` would fix
the problem you're having if I'm right…

[2016-09-20 09:07] isaachinman commented on #825
@MuhammadHewedy Do you have any interest in maintaining a fork that breaks ToS?

[2016-09-20 22:27] MuhammadHewedy commented on #825
@isaachinman actually no, I wanted this feature as I see this is a very famous sound cloud client, moreover I created a simple [client](https://github.com/MuhammadHewedy/sooty) couple of years ago with this feature (download any sort of media I like) and I am very comfortable with it :) .

[2016-09-21 14:04] betabite commented on #458
I second this, as I believe most people use Soundcloud as a means for music discovery! I love this app so much, but still find myself needing to switch between desktop and browser.

[2016-09-22 03:03] DrewParsons opened #878 "(Bug) Playlists on Soundnode and Soundcloud are different"
Soundnode is missing songs on my playlist that I have on Soundcloud.  Some time in June I was adding/subtracting songs from my playlist using Soundnode and It deleted about 20 of my songs on my large playlist and some on my other playlists.  Super weird.  I've uninstalled/reinstalled a couple of times and also cleaned local storage within the app's settings in hopes that Soundnode and my Soundclou

[2016-09-22 03:17] DrewParsons commented on #878
(UPDATE:)
After further inspection, it seems that Soundnode doesn't like some Artists. (I know that sounds crazy) I looked at some of the songs that were missing in one of my playlists, and started adding other songs from the same artist to the end of the playlist.  After adding a few songs, I compared.

This is my playlist on Soundcloud, and I added the last 3 songs as a test.
<img width="1252" a

[2016-09-22 04:33] wb9688 commented on #878
Are that songs `streamable`? If not, you can't play them in Soundnode…

[2016-09-22 15:52] weblancaster commented on #878
@DrewParsons some playlists and/or tracks aren't streamable through third party apps

[2016-09-22 17:25] rjdlee commented on #839
+1

[2016-09-22 18:38] weblancaster commented on #839
We should add a toggle option to do that.

[2016-09-22 21:11] doctorcolossus commented on #742
I'm having a similar problem here... Not sure whether to file a new bug. I'm also on Arch with i3, but it's the first time I've installed soundnode on this machine and ha-ven't even been prompted yet to enter my username and password.

    [11648:0922/145657:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment fo

[2016-09-26 18:33] #770 closed

[2016-09-26 21:01] #878 closed

[2016-09-29 09:52] abhigenie92 commented on #775
[code]
Can you provide a .deb file please.

[2016-09-29 17:39] Ucodia commented on #845
I can also confirm that these keys work fine on OSX 10.11.

[2016-09-30 02:31] #845 closed

[2016-09-30 19:56] aerickson opened #879 "[feature] play indicator that doesn't block album art"
I enjoy looking at album art and it's really hard to see with the current way the app indicates the track is being played. Maybe a smaller icon or perhaps the bottom bar is enough of an indicator. Example included below.

![soundnode](https://cloud.githubusercontent.com/assets/47889/19004967/27901fca-870d-11e6-9f7c-097f8659b5a2.png)

Thanks for making Soundnode! It's awesome. :)

[2016-09-30 20:18] weblancaster commented on #879
@Pitros I believe you added this while ago.. I also agree with @aerickson we don't need to display if the song is playing or not on the album.. I'm going to remove.

[2016-09-30 20:22] Pitros commented on #879
@weblancaster no, that wasn't me. But I agree and you can remove it, or just move it somewhere.

[2016-10-01 01:36] weblancaster commented on #879
Oh ok my bad @Pitros

yes I'm just going to remove it

[2016-10-01 12:06] Fabi1080 opened #880 "[FEATURE SUGGESTION] make tracks sortable"
When I visit an artist page, playlist or even my stream I want to sort the songs by most plays / likes / reposts.

Would be awesome if there was a button to do this.

I know that not all tracks are loaded at once, but it would be cool if I could sort what is already loaded. Or is it possible to load basic information in the background, do the sorting and then load more complex stuff for the tracks

[2016-10-01 19:03] Fabi1080 opened #881 "[Enhancement] Credit Soundcloud with their logo"
As stated on their [website](https://developers.soundcloud.com/docs/api/buttons-logos), SoundCloud would like to get credit when their API is used with a "powered by SoundCloud" logo.

I think this app should implement this for good manners.

Also the link to the song symbol could be replaced with the small cloud symbol.

[2016-10-01 19:22] Fabi1080 opened #882 "[Bug] Play Control Buttons are not clickable evereywhere where displayed"
The song controls are only clickable in the bottom half. Roughly marked with the red area in the screenshot.

![image](https://cloud.githubusercontent.com/assets/5824384/19016505/5b9fabea-881c-11e6-81fa-04aebcfa48a4.png)

Version: Release 0.6.5 for Windows
Downloaded from: soundnodeapp.com
OS: Windows 10 64bits

How to reproduce:
 - Open Soundnode App
 - Move courser to upper half of control butto

[2016-10-01 21:02] #882 closed

[2016-10-02 00:11] cyphunk opened #884 ""Cannont find module 'mpris-service'""
Latest verions is broken on linux 64bit build. I get the error in the subject via the developer console. On the command line console I get:

[code]

[2016-10-02 17:28] wowwood opened #885 "Play/Pause buttons out of alignment"
The Play/Pause buttons are not under the mouse when you go near them.
![image](https://cloud.githubusercontent.com/assets/6392165/19022335/06b64faa-88ce-11e6-961a-721bd86ee97c.png)

[2016-10-02 17:48] 1percent commented on #885
This is the case for me whenever I reach Play/Pause down from the top or going left from right.
To be honest, I didn't notice this until you posted, I use the space bind almost always.

[2016-10-02 17:52] 1percent commented on #885
![detect](https://cloud.githubusercontent.com/assets/22567658/19022465/31900954-888e-11e6-8f53-050b99614ff8.png)
This green right angle looks like its the trigger.

[2016-10-02 19:04] weblancaster commented on #885
this was fixed and will be released on the next version

[2016-10-02 19:04] #885 closed

[2016-10-02 19:11] wowwood commented on #885
Great!

[2016-10-02 19:14] wowwood commented on #881
I second this, you don't want them to so something because proper credit was not given.

[2016-10-05 14:29] 1percent opened #887 "[FEATURE SUGGESTION]Add a Liking Shortcut"

[2016-10-05 14:54] weblancaster commented on #887
@1percent can you explain please?

[2016-10-05 18:45] Martin3zo opened #888 "The window Soundnode doesnt display anything."
Hello. When I'm opening application from ./soundnode I get a message in terminal: `[7738:1005/203857:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
ATTENTION: default value of option force_s3tc_enable overridden by environment.
[7738:1005/203857:INFO:C

[2016-10-05 20:31] jakejarrett commented on #612
@weblancaster is this functionality still present or has it been removed?

[2016-10-07 11:14] orzechow commented on #888
The same for me. Using KDE neon (which is build on top Ubuntu 16.04 with KDE Plasma Desktop), the window is empty and none of the buttons, except "about" react.

[code]

[2016-10-07 11:45] wb9688 commented on #888
What does the console show? I don't mean your terminal, but I mean
Chromium's one…

[2016-10-07 14:19] weblancaster commented on #888
can you get latest and start with a clean slate please @Martin3zo @orzechow ? we were having issues on Linux because we had a dependency on mpris.. and I believe we merged a fix.

[2016-10-07 14:48] zestyr commented on #887
Duplicate #752

[2016-10-07 15:07] orzechow commented on #888
@wb9688 So, how do I invoke the chromium console?
@weblancaster I'm using the current Linux 64bit release 0.6.5 (http://www.soundnodeapp.com/downloads/linux64/Soundnode.zip). I won't setup the dev environment to use Soundnode from source, sorry.

[2016-10-08 11:54] bardiharborow commented on #462
@weblancaster why was this closed? I'd be highly in favour of a Electron.js implementation, as this will clean up a lot of issues, e.g. not being able to fullscreen correctly on Mac. I'm happy to put in most of the work for this if you'd be interested.

[2016-10-09 06:49] thebitbrine opened #889 "Artist Restrictions?"
Is there any restrictions about artists and tracks to not show up?
tracks of some of the artists like "Flume" and "Disclosure" doesn't show up in the search results and also it shows no tracks in their profile? Bug or Restriction?

![capture](https://cloud.githubusercontent.com/assets/10282676/19218566/685e54e2-8e0e-11e6-9f35-1b1086c849c8.PNG)

[2016-10-09 14:27] nazikus opened #890 "timeline clicks are ignored in osx"
cannot skip track to certain time by clicking on the timeline. Clicks are simply ignored and nothing happens.

OSX 10.11.6 x64
soundnode 0.6.5 build

[2016-10-09 16:52] wb9688 commented on #889
Some artists make their tracks not streamable by third party Soundcloud
clients like Soundnode, so Soundnode just hides them…

[2016-10-10 15:10] weblancaster commented on #462
@bardiharborow if you want you can start the work on a new branch https://github.com/Soundnode/soundnode-app/tree/electron-migration and we can go from there.

The bigger reason this did not happen was time and priorities.

[2016-10-10 15:11] #887 closed

[2016-10-10 15:14] weblancaster commented on #888
@orzechow no problem, you shouldn't have to it's just because our latest release had a bug when building for linux.. I need to release a new version I'm going to release in the next couple of days.

[2016-10-10 15:14] weblancaster commented on #890
@nazikus correct, this is no a feature yet.

[2016-10-10 15:15] #889 closed

[2016-10-11 09:33] vladjerca opened #891 "[FEATURE SUGGESTION] Chocolatey Package"
Hey there.

I don't know about most of people, but I personally use Chocolatey for managing all my Windows apps.
I found soundnode in the package list.

https://github.com/jvtrigueros/soundnode-app

Above is the github repository for the chocolatey installer.

I wanted to see if this could be integrated in the official repository, this way when a release is made, the new binaries can also be publi

[2016-10-13 21:33] #716 closed

[2016-10-13 21:46] weblancaster opened #892 "Electron.js migration work"
This issue will serve to keep contributors and interested people aware of where I'm at migrating from NW.js to Electron.js (related to #462)

**FOLLOW** #894

[2016-10-13 21:48] weblancaster commented on #462
@bardiharborow I'm starting to migrate to Electron and will keep updating here #892

[2016-10-14 08:09] jakejarrett commented on #310
@Pitros @weblancaster Would it be worth the time to consider react/angular2 again now? The app has a lot of unnecessary complexity in parts (eg/ It's not super clear to someone wanting to contribute how they would alter the UI for the stream page)

[2016-10-14 15:34] weblancaster commented on #310
@Pitros @jakejarrett I have been thinking about now almost every day but with work, another side projects and hobby my time is very limited.. so this would take a while.

Here's what I have been thinking to use React stack (react-router, redux), webpack, CSS modules, flow type

[2016-10-14 15:46] weblancaster commented on #310
@Pitros @jakejarrett oh and a couple of designers are interested in redesign too which would be pretty cool for the re-write.. I'm going to setup a chat system so conversations can be easier to maintain.

[2016-10-14 15:47] wb9688 commented on #310
@weblancaster: Can you explain why you choose for React instead of
alternatives (eg. Vue or Angular 2)?

[2016-10-14 15:48] wb9688 commented on #310
@weblancaster: Nice! How will you do the chat? With Slack, Gitter, IRC or
what?

[2016-10-14 16:48] Pitros commented on #310
@weblancaster @jakejarrett @wb9688 getting rid of that angular/react/jquery weird pack would be nice, but re-write would require some time.
But still it's better to do it now than later when more features would be added.

Also Angular 2 stable was finally released, and it might be worth to reconsider.

[2016-10-14 17:03] wb9688 commented on #310
If we're going to rewrite Soundnode with React and Electron, I'd be
interested in contributing…

@Pitros: Soundnode's current source code is really messy indeed…

@weblancaster: Can you please create a separate repository for the complete
rewrite?

[2016-10-14 18:57] weblancaster commented on #462
follow PR #894

[2016-10-14 18:57] #462 closed

[2016-10-14 23:57] jakejarrett commented on #310
@weblancaster @wb9688 I've started work on this, I can push to a new branch on this repo instead of a fork if necessary.

We should utilize the new github projects utility to split this process up until small bits so anyone can jump in and help out whenever.

if you're interested in what i've implemented, check out the [Fork](https://github.com/jakejarrett/soundnode-app/tree/react)

[2016-10-15 07:33] wb9688 commented on #310
@jakejarrett: I tried to build your fork, but I got some errors that `node-sass` is missing, so I ran `npm install node-sass`, but now I'm getting the following error:
[code]

[2016-10-15 07:58] jakejarrett commented on #310
@wb9688 I haven't ported over the grunt build process, I'm working on putting each piece of soundnode into components atm.

You can run `webpack -d` and just view the HTML file for the view to show atm. (Will have to pull)

[2016-10-15 08:10] wb9688 commented on #310
@jakejarrett: Ah, OK! Couldn't you just start with a boilerplate like [this one](https://github.com/chentsulin/electron-react-boilerplate)?

[2016-10-15 13:44] weblancaster commented on #310
@wb9688 React because it's easier to understand and to move quickly, also because of other advantages like speed and developer adoption this days.

I also have been working with React now for two years so I believe I have a strong opinion on how to use and what to do moving Soundnode forward.

I considered at first Angular 2 but after learning more about it I decided that React will be better opti

[2016-10-15 13:46] weblancaster commented on #310
@jakejarrett hold on re-writing things because I'm going to setup the base work before it gets messy.. we won't follow what is in place right now, we want new and better architecture.

also everything will be componentized meaning css will leave on the js, new patterns will be introduced.

[2016-10-15 15:09] wb9688 commented on #310
@weblancaster: Thanks for your explaination about why you chose React! Are you going to set up the base work in a new repository or in a new branch? Btw when will you set up the chat?

[2016-10-18 09:43] ferassobh opened #895 "Can't get beyond the "Authenticating" window"
It seems that there are two windows back to back. One is black with the message "Authenticating your Soundcloud account" and another white one with no info at all. I have left it for hours but I still can't get a response.

[2016-10-19 11:31] peterklijn opened #896 "OSX keyboard media buttons not working"
Hi,

I'm using Soundnode version 0.6.5, running OSX 10.11.6, and for some reason the keyboard media buttons don't work correctly with Soundnode.

Pressing play/pause triggers OSX to start another audio player (iTunes, Spotify, Vox) instead of pausing the currently playing music in Soundnode. Also the next/previous buttons don't work.
Same goes for using the audio buttons on my headphone.

Not sure

[2016-10-19 15:04] weblancaster commented on #896
@peterklijn if you have any application open that makes use of the keyboard media that will disable Soundnode from using them.

Otherwise I would try quitting and opening again because should work normally.

[2016-10-19 22:15] saikatbsk commented on #833
'deb https://packagecloud.io/JonasGroeger/soundnode/ubuntu/ trusty main' does not work.

[2016-10-20 05:48] wb9688 commented on #833
The repo works 100% fine, but you should run either:

    curl -s
https://packagecloud.io/install/repositories/JonasGroeger/soundnode/script.deb.sh
| sudo bash
    sudo apt-get install soundnode

Or manually install `apt-transport-https` and add the PGP key of the repo
to your trust store…

[2016-10-20 14:04] peterklijn commented on #896
Thanks for the reply @weblancaster.

I had no other programs running and had restarted SoundNode several times. The problem was somewhere else, I also have Vox installed together with the 'Vox Media Buttons' plugin, which had a checkbox 'Launch VOX Player on pressing Play/Pause' turned on. Disabling that seems to fix it.

<img width="780" alt="screen shot 2016-10-20 at 15 55 40" src="https://cloud

[2016-10-20 15:20] weblancaster commented on #896
@peterklijn when i said running I was also counting any background software that uses the media keyboard.

This happens because Soundnode media keyboard give away power to OS when something else is using it (not every App does that).

since this is fixed I'm closing the issue. thanks.

[2016-10-20 15:20] #896 closed

[2016-10-20 22:06] garfbargle commented on #895
Same issue.

[2016-10-20 22:09] weblancaster commented on #895
@ferassobh what OS are you using? can you quit and restart the app please? (same for you @garfbargle )

[2016-10-20 22:12] garfbargle commented on #895
@weblancaster Hey, I'm using mac os x sierra. I was having the same issue on both of my computers (both running macOS sierra) and it started the day that soundcloud was having the SSL certificates problem. I've since been able to get the app out of the weird state on my other computer by deleting the app and re downloading a new version. However I've not be able to have the same success on this co

[2016-10-20 22:14] garfbargle commented on #895
Note: The reason I was able to get out of the weird state on my other computer was because when I returned to my computer, the app was still open and although no data was loaded I could click the 'logout' button. Once I logged out and tried to login it failed and gave me the black/white screens. However, after deleting the app and redownloading it worked.

[2016-10-21 01:30] weblancaster commented on #895
yeah that's odd.. I'm re-writing how the core of the app works so in the next couple of days I'm going to have migrated everything and hoping that will be much better.

[2016-10-25 15:15] wb9688 commented on #310
@weblancaster: Have you set up the base work in the mean time?

[2016-10-25 20:31] Superjo149 commented on #888
@weblancaster Is there going to be a new release for linux any time soon? Or will it just be rebuilt first?

[2016-10-26 07:12] z11k commented on #726
+1 for tray minimizing in Windows 10. (Thanks devs)

[2016-10-26 20:20] zimme commented on #847
I have this problem too on my MBP, macOS Sierra, installed with homebrew.

[2016-10-26 20:45] zimme commented on #847
I had a look at the code, and can see that this is taken care of in [here](https://github.com/Soundnode/soundnode-app/blob/72580b8f871ca05132e04a2c872de9c36c1f2a36/app/public/js/common/playerService.js#L352).
I can't really say I'm familiar with angular and the way you're using the events here,
but if I get some time over this weekend I'll try and see if I can't add support for click to seek.

[2016-10-27 14:57] weblancaster commented on #310
@wb9688

Note on the developer adoption.. very few people use vue.

I haven't because I still working on migrating everything from NW.js to Electron.js (https://github.com/Soundnode/soundnode-app/pull/894)

[2016-10-28 06:41] GerardRodes opened #897 "It keeps failing while playing song"
But works great from soundcloud web, looks like a connection problem, could be from the api or the app, just wanted to report it because it's not the first time it happens to me.

Great app btw

![captura](https://cloud.githubusercontent.com/assets/16310380/19797246/385594f0-9cea-11e6-9211-a300b77b2a76.PNG)

[2016-10-28 06:43] wb9688 commented on #897
Does this happen with every song? If so, could you please post a screenshot
of the console (Ctrl+/)?

[2016-10-28 06:52] GerardRodes commented on #897
Yeah, it does, it looks like api is rejecting connection due to many requests
![captura](https://cloud.githubusercontent.com/assets/16310380/19797521/e12f50c4-9ceb-11e6-8880-fa9ae4bbcaf1.PNG)

[2016-10-28 07:10] wb9688 commented on #897
Appearantly we're hitting the API limit again, see eg. #802. For now, you
could try setting `window.localStorage.scClientId` and
`window.localStorage.scAccesToken` to your own ones…

[2016-10-28 15:32] weblancaster commented on #897
correct the rate limit was reached.

[2016-10-28 15:32] #897 closed

[2016-10-28 19:32] weblancaster commented on #310
Just a few more things to get in place before another release having everything migrated.. hoping to make some time this weekend.

[2016-10-28 22:12] poltergeistG commented on #802
resetting localstorage did'nt solve the issue for me, nor did re downloading, help would be apreciated :)

[2016-10-30 09:10] Chinney opened #898 "[Bug] soundnode doesn't play anything"
On Ubuntu 16.04 I can't get soundnode to play anything.

When I press on the play button, it turns into the pause button as if it was playing the song. Except it doesn't. Trying to forward it manually by scrolling through the track triggers the error message:

[code]

[2016-10-30 09:52] Chinney commented on #898
Alrite, turning in off and on again did it for me :)

[2016-10-30 20:09] #898 closed

[2016-10-30 23:14] Racer500 commented on #802
It seems we hit the rate limit again...

[2016-10-30 23:23] weblancaster commented on #802
yes we did @Racer500 .. I'm going to figure out something about it.

[2016-10-31 06:09] PouyaJavadzadeh opened #899 "Soundnode stopped working"
Couple of days ago Soundnode client stopped working and it cannot play any track. I am using version 0.6.5 on Windows 10. It shows the following error message
![error_message](https://cloud.githubusercontent.com/assets/2132840/19845637/97bacaec-9f73-11e6-8266-594a004fcf39.png)

.

[2016-10-31 15:23] weblancaster commented on #899
@PouyaJavadzadeh we have been hitting the API rate limit Soundcloud give to us.

[2016-10-31 15:24] #899 closed

[2016-11-01 05:43] 719Ben commented on #899
@weblancaster Might wan't to keep this issue open. I was about to file another before looking in closed.

[2016-11-01 06:20] wb9688 commented on #899
@719Ben: #802, the first one, is still open…

[2016-11-01 22:28] OfficialCloudee opened #900 "Soundnode songs wont play or load."
I love this app, but recently I've been starting to have problems with it. Sometimes, the app will work just fine, but most of the time, songs fail to load or play, and every time i try and load a song, it does nothing, and when I try to skip forward in the song to see if that works, it gives me an error. I've tried cleaning local storage, redownloading, every thing. Nothing works. I'm not sure if

[2016-11-02 02:18] weblancaster commented on #900
@OfficialCloudee that's because Soundcloud give us a limit of 15 thousand plays per 24hs and we have been having a lot of users daily so for that reason we are reaching the limit and being blocked.

[2016-11-02 02:18] #900 closed

[2016-11-03 11:32] easterwood opened #901 "Current version 0.6.5 isn't available via PackageCloud"
You announced the release 0.6.5 and this version is available via the webpage but if you try to update via package manager in ubuntu there is no version 0.6.5 available.

Please provide the deb package on the webpage.

[2016-11-03 15:17] MohanL opened #902 "Explanation about Soundcloud API limit in the Readme.md"
It seems like hitting the limit of the Soundcloud api is a common thing, so I am thinking creating a common_question/future_fix section in the Read me to clarify these problems.

I am not sure how the ongoing electron implementation is going to change the situation ?

[2016-11-03 15:25] weblancaster commented on #902
Agree 100% @MohanL I'm going to add to README today.

[2016-11-03 15:25] MohanL commented on #902
@weblancaster  Thank you ! 💯

[2016-11-04 22:17] poltergeistG commented on #802
any updates? i run a really weak computer and the only way for me to listen to music and multi - task w/o google taking all my resources is with this :)

[2016-11-05 00:09] weblancaster commented on #802
@poltergeistG nothing yet.. I have contacted Soundcloud to ask for more bandwidth but they never replied to me.

[2016-11-05 00:39] bryguy commented on #802
@poltergeistG

I was going to provide step-by-step instructions for setting up a soundcloud app and using that as your personal client id for Soundnode, but apparently that's become far more difficult process fairly recently:

![screen shot 2016-11-04 at 4 25 09 pm](https://cloud.githubusercontent.com/assets/1933777/20026258/7b0fbfca-a2b5-11e6-9cf4-a198c73300bc.png)

[2016-11-05 02:07] dequeues commented on #900
@weblancaster is there a way you could find out whether SoundNode is being blocked and then notify us within the app?

[2016-11-05 11:33] skyfalir opened #903 "Changing of output device."
Hello i have been using this for a week now and its an absolute beauty.

i prefer the look and navigation in this over the website so i'd prefer using this in the longrun,
however im using multiple sound devices (i have my reasons) and was wondering if there was a way to change the output device?

I use musicbee as my main mediaplayer and have the output set to my secondary sound device and would

[2016-11-05 15:45] MislavPeric opened #904 "Playlists not showing up."
0.6.5. I can't get any playlists to show up.
![13e33e1ee3e747b5b73dc8c80f7bcede](https://cloud.githubusercontent.com/assets/23200555/20031412/463221ea-a377-11e6-86f8-ea9ce3107cff.png)

[2016-11-06 16:46] phoen1x74 opened #905 "Can't see anything, on Ubuntu 16.10."
![image](https://cloud.githubusercontent.com/assets/23296494/20039714/8d440310-a416-11e6-813e-90238bc98f2b.png)

I can search songs, but not play them. Everywhere I click nothing happens, and I can't even go to settings.

[2016-11-06 19:24] StevenTheEVILZ commented on #905
Same here! This is my output from running from console.
`[steventheevilz@Steven-PC ~]$ soundnode
[1245:1106/131843:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
[1245:1106/131843:ERROR:browser_main_loop.cc(216)] Gtk: Locale not supported by C library.

[2016-11-06 20:49] jakejarrett commented on #905
Can you confirm this still occurs with the Electron build [here](https://github.com/Soundnode/soundnode-app/pull/894#issuecomment-257184836)?

[2016-11-07 00:31] phoen1x74 commented on #905
Works perfectly with the Electron build. Thanks for your hard word, glad to have this program running.

[2016-11-07 04:17] simpleidiot opened #906 "How long until we get a refreshed API Limit?"
Title. Loved this application and soundcloud essentially shutting it down to save money is a dick move

[2016-11-07 14:01] kennywest commented on #906
although a bit tedious, setting my clientId solved this issue for me, please see:
https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-244126882

[2016-11-07 15:38] weblancaster commented on #905
great @phoen1x74

what is the icon that displays on your OS? can you share a screenshot please?

I'm closing this issue since the new build fixes it.

[2016-11-07 15:38] #905 closed

[2016-11-09 01:17] phoen1x74 commented on #802
@bryguy where is that menu? Late comment, but still. Would like to know a fix for this.

[2016-11-09 01:26] Redix12x opened #907 "Tracks won't load or play"
Soundnode worked fine this afternoon but after closing it and opening no tracks will play and I just get an error message saying "Oh no. Something went wrong. I can't play this track" if I try to skip ahead. I tried cleaning the local storage and redownloading/rebooting but nothing worked.

[2016-11-09 02:00] bryguy commented on #802
@phoen1x74

On OS X:

![os x soundnode devtools](https://cloud.githubusercontent.com/assets/1933777/20124690/2b12ab92-a5dd-11e6-9e39-b97d8ccf3c17.png)
![os x soundnode clientid](https://cloud.githubusercontent.com/assets/1933777/20124691/2e990d2e-a5dd-11e6-87e1-1d42f02d3862.png)

[2016-11-09 02:02] phoen1x74 commented on #802
@bryguy Yeah, looks like on the electron-build devtools isn't present for some reason. Guess I'll have to downgrade to 0.64 as 65 is broken for me.

[2016-11-09 02:03] bryguy commented on #802
@phoen1x74 Interesting, I'm running version 0.6.5.

[2016-11-09 02:34] weblancaster commented on #802
@phoen1x74 download the latest version here and you will be able to see the devtools https://github.com/Soundnode/soundnode-app/pull/894

[2016-11-09 02:34] phoen1x74 commented on #802
Thanks @weblancaster

[2016-11-09 02:36] weblancaster commented on #907
@Redix12x unfortunately Soundcloud impose a limit of 15k play tracks daily and since Soundnode has being used a lot we reached the limit and need to wait for the next day. more here #802

[2016-11-09 02:36] #907 closed

[2016-11-09 02:36] phoen1x74 commented on #802
Mind compiling it for me @weblancaster; grunt seems to be buggy for me. I get an error when trying to build.

[2016-11-09 02:39] weblancaster commented on #802
All unfortunately Soundcloud made harder to create more apps making impossible for me to request more tokens to swap when the limit is reached.

any ideas besides each user create a new app and use the token on Soundnode?

[2016-11-09 02:41] phoen1x74 commented on #802
@weblancaster When compiling with `grunt build`, I get an error `>> Error: Cannot find module 'load-grunt-config'
`. I can continue with --force, but it doesn't compile successfully. Latest build.

[2016-11-09 02:45] weblancaster commented on #802
@phoen1x74  did you download from the dropbox or pull locally the PR from #894

if you pull locally, remove the node_modules folder then install again `npm i` then you can use `NODE_ENV=development npm start` to start Soundnode on Electron

[2016-11-09 03:04] phoen1x74 commented on #802
Alright, so that worked to compile it, but now it is stuck on "Authenticating your Soundcloud Account," and not doing anything.

[2016-11-09 03:48] weblancaster commented on #802
@phoen1x74 yeah that's the part that I'm working on trying to figure out since electron windows works differently than nw.js

[2016-11-09 07:54] simpleidiot commented on #906
Thanks, anyway to do it on windows? Only saw examples for OSX

[2016-11-09 07:55] simpleidiot commented on #906
nvm lol

[2016-11-09 15:53] weblancaster commented on #906
@simpleidiot it depends what time of the day the limit was reached because it's 15 thousand tracks in 24hs therefore every new day is a fresh start.

[2016-11-09 15:53] #906 closed

[2016-11-09 16:48] bryguy commented on #890
Dupe of #847, no?

[2016-11-09 20:55] JPRuehmann opened #908 "no Login possible on 2 of 3 PCs"
Hello
I have three PCs with Ubuntu 16.04 LTS but soundnode only work with one of them
on the other two I can´t login
If I enter my credentials directly it says they´re wrong, if I push login via Faceboo I only get an empty Window and if I push login via Google nothing happens at all.
If I start soundnode on the Terminal they say the same on all three PCs but only one works.
How can I make them wor

[2016-11-09 22:13] weblancaster commented on #908
@JPRuehmann we are having issues with the current build on Linux, Although it's fix on #894 but haven't been released yet.

[2016-11-09 22:13] #908 closed

[2016-11-09 22:17] weblancaster commented on #847
This is implemented but not released yet.. closing down to keep the issues clean

[2016-11-09 22:17] #847 closed

[2016-11-09 22:17] weblancaster commented on #890
yep, it's a dupe.. thanks @bryguy and this can be closed now.

[2016-11-09 22:17] #890 closed

[2016-11-10 09:43] xbonio commented on #901
I confirm, an info about update available is shown, however there's no possible update in the package manager. Please spread the new version into Ubuntu repository.

[2016-11-11 11:29] kemes commented on #902
Is there something that could be done about this limit? Soundnode has quite a few users and the API limit is reached often.

[2016-11-11 16:13] weblancaster commented on #902
@kemes I have submitted a request to have another access token if granted I can swap them once the limit is reached.. it can take up to two weeks for Soundcloud reply.

closing this issue since I have added this to readme

[2016-11-11 16:13] #902 closed

[2016-11-13 03:38] Danco1 commented on #802
I'm having the same issue from a month ago, i deletes my localstorage and reinstalled the app, but having the same response on my console "Failed to load resource: the server responded with a status of 429 (Too Many Requests)". There's a short term solution for this issue while the Devs solve it?

[2016-11-14 00:45] Alchemisto opened #909 "Unable to play any track someimes"
Ola,
I face this problem occasionally when I try to use the app and I don't know what causes it?
v 0.6.5
![image](https://cloud.githubusercontent.com/assets/3075860/20250196/07fd5c20-aa14-11e6-99fc-bcb97ef9c561.png)

[2016-11-14 02:40] weblancaster commented on #909
@Alchemisto unfortunately we have been reaching the rate limit Soundcloud imposed third-party apps. you can find more here #802

[2016-11-14 02:40] #909 closed

[2016-11-15 08:47] gauthamzz commented on #862
if this is still open,can i pick this up ?

[2016-11-15 16:23] weblancaster commented on #862
Be aware that not every track is streamable because of copyrights therefore Soundnode won't display them.

[2016-11-15 17:11] gauthamzz commented on #862
ok , can you tell me where the associated files are ?

[2016-11-15 19:53] weblancaster commented on #862
@gauthamzz what associated files?

[2016-11-16 01:41] Akimixu opened #910 "Error "Something went wrong. I can't play this track :(""
Hello everyone. I've got this error since I downloaded the app. It is the first time I use it and my web SoundCloud still works. Can someone help me please?

![screenshot_1](https://cloud.githubusercontent.com/assets/23489778/20331554/130913f0-ab74-11e6-82af-a9e1ea9f392b.png)

[2016-11-16 02:49] weblancaster commented on #910
@Akimixu what operating system are you using? if linux we are having some issues with the new version but the next version (pre-release) is fixed.

Now it may be that we reached the Soundcloud API rate limit. you can open the devtools and check on console what message you get to make sure.

[2016-11-16 02:51] berickson21 commented on #910
It's been doing this to me too for a couple weeks now. I have no idea what the problem is because it worked fine until one day it randomly just decided not to play :/ I try it every now and then and one time it played one song and then stopped working on the second so that makes it even more confusing.
I'm on Windows 10 64-bit and I'm pretty sure the only thing I changed on my computer the day it

[2016-11-16 03:01] berickson21 commented on #910
I went to the twitter page and saw that the new build is on dropbox so I downloaded it and it's stuck on the "Authenticating" screen with two white popups. One says "This popup should automatically close in a few seconds" and the other is blank.

[2016-11-16 05:33] weblancaster commented on #910
@berickson21 yeah that's the last thing I need to fix before releasing the next version.. that will work only for those logged in before. sorry.

[2016-11-16 19:08] bryannsi commented on #901
It right, please provide the .deb  0.6.5  file on packagecloud. I want to try the new features.

[2016-11-17 00:00] berickson21 commented on #910
No worries! Thanks for all the work you're putting in! Does that mean that in the meantime if I sign in with the old app the new app will work?

[2016-11-17 06:11] weblancaster commented on #910
@berickson21 yes the current version on the website is working fine.. but we still have rate limit imposed by Soundcloud API

[2016-11-17 16:36] demsking commented on #794
Yes, please add hdpi screens support

[2016-11-18 05:04] sadanand-garikapati commented on #910
This is observed on my mac as well.

[2016-11-18 08:09] oligu commented on #678
Would also like to have this feature.
Ctrl+R does not work for me, neither on linux nor on windows.

[2016-11-18 08:10] oligu commented on #678
Would also like to have this feature.
Ctrl+R does not work for me, neither on linux nor on windows.

[2016-11-19 10:29] wb9688 commented on #802
@weblancaster: I found a way to get around the API limit: just use SoundCloud's `client_id`. I've made a quick Python implementation of it, but that only works with username/password auth and if a captcha isn't required:

[code]

[2016-11-24 17:00] #850 closed

[2016-11-24 21:07] dsisconeto opened #911 "I can not sign in at all"
I'm using ubuntu 16.04, I installed it by apt, but it does not work, I try to log in and it just does not, I put my data righ

[2016-11-25 19:32] SebastianBoldt opened #912 "Track statistics are wrong"
Hey guys, i developed an iOS Soundcloud client called Soundrocket and as it seems you have the same problem as me. Statistics are completly wrong on all the Tracks. Playback count etc.
Is there any solution you found for this problem. I thought about connecting my App to the new V2 API, but there is basically no good documentation out there so i did not get it running.

https://itunes.apple.com/ap

[2016-11-25 20:24] wb9688 commented on #912
Getting the API v2 endpoints isn't that hard IMHO. Some time ago I was
working on some unofficial SoundCloud API v2 documentation, if you want I
can continue that. Btw I'll take a look tomorrow at how SoundCloud.com gets
it playback and like counts.

[2016-11-26 18:04] Legitgamer264 opened #913 "Shuffle Playlist button"
Instead of having to play a song then click the shuffle button could there be a Shuffle Playlist button so that it automatically starts at a random song without having to start a song first then clicking the button?

[2016-11-26 20:20] Legitgamer264 opened #914 "Rename plalists feture?"
At some point, its not a critical wanted feature for me, but I would like the option to rename and edit playlists within the app. Like rename a playlist to something different. I know you can do it on the soundcloud website but I think it would be easier to be able to edit it within the app itself

[2016-11-26 23:14] Legitgamer264 opened #915 "Cannot play any track"
whenever I try to play a track I get "Something went wrong. I can't play this track".

[2016-11-26 23:15] Legitgamer264 commented on #910
I am getting this right now too

[2016-11-27 10:57] wb9688 commented on #915
If you've Python 2 installed and use SoundCloud with username/password login, you could try running the script in [my comment](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999), copy the Client ID and Access Token it returns, open Soundnode, press Ctrl+/, type `localStorage.scClientId = 'insert_client_id'; localStorage.scAccessToken = 'insert_access_token'` and restart

[2016-11-27 18:39] Legitgamer264 commented on #915
I will give that a try. Thank you! Do you know where I could get access to pre-release versions of soundnode?

[2016-11-27 21:04] Legitgamer264 commented on #802
@wb9688 I am getting "Import requests, no such module named requests"

[2016-11-27 21:05] Legitgamer264 commented on #915
I am getting "import requests, no such module named requests"

[2016-11-27 21:07] wb9688 commented on #802
@Legitgamer264: Then you haven't installed the commonly used `requests`
Python module, you can install it with `pip install requests` (might need
`sudo`) or your distro's package manager if you're using Linux (eg. `sudo
apt install python-requests`)…

[2016-11-27 21:11] Legitgamer264 commented on #802
@wb9688 Invalid syntax? - http://i.imgur.com/aNkrCl0.png

[2016-11-27 21:14] wb9688 commented on #802
@Legitgamer264: What Python version are you using? It works fine in the
latest version of Python 2.7…

[2016-11-27 21:15] Legitgamer264 commented on #802
@wb9688 I am using 3.5.2
Should I try python 2.7?

[2016-11-27 21:17] wb9688 commented on #802
@Legitgamer264: Nope, it should work if you replace the space after every
`print` statement with a `(` and add a `)` at the end of that line…

[2016-11-27 21:19] wb9688 commented on #802
@Legitgamer264: Btw `raw_input` is renamed to `input` in Python 3, so you
should also change that…

[2016-11-27 21:20] Legitgamer264 commented on #802
@wb9688 I just uninstalled python 3.5.2 then reinstalled the requests module. It worked now

[2016-11-28 08:10] c1n1k commented on #915
a have problem like this after installation on my PC (win10, x64) it works but next day it don' work

[2016-11-28 09:20] ChristopherNeuwirth commented on #910
+1

[2016-11-28 09:21] ChristopherNeuwirth commented on #910
Console logs: the server responded with a status of 429 (Too Many Requests)

[2016-11-28 09:24] ChristopherNeuwirth commented on #915
Guess it's the same issue as here: https://github.com/Soundnode/soundnode-app/issues/910

[2016-11-28 12:45] ChristopherNeuwirth commented on #910
It's working again. Thanks!

[2016-11-28 15:58] Akimixu commented on #910
Yup, It is working! Thanks for your efforts!

[2016-11-28 16:15] weblancaster commented on #910
We have a limit of 15 plays daily so when you see `status of 429 (Too Many Requests)` that's because we reached the limit and Soundcloud block the streaming to Soundnode.

[2016-11-29 17:41] The-Unnamed-Engineer opened #916 "[possible solution] Soundcloud API being used up"
I really like using Soundnode but after about an hour of playing music it stops playing. I am not getting an error message yet my current suspect is the SoundCloud API being used up. My initial plan was to apply for an API key of my own to use but quickly realized this wasn't possible. I did however learn of a set of audio grabbing libraries with Soundcloud capability called [Youtube-dl](https://r

[2016-11-29 23:46] itsWeller commented on #875
Hacked together a quick version. Something similar to this?

http://recordit.co/cm6LfxOoZw

[2016-11-30 05:23] weblancaster commented on #875
Hey @itsWeller this is cool.. thanks for taking the time.

what I'm thinking is something more like what Spotify have where all playlists are below the `playlist` section on the left side then when the user click on the list the view would be just like all the other views.

<img width="203" alt="screen shot 2016-11-29 at 11 20 38 pm" src="https://cloud.githubusercontent.com/assets/549394/20740673/

[2016-12-01 06:06] itsWeller commented on #875
Sounds good @weblancaster! So after clicking on the playlist on the left it'd take you to a view similar to Likes, with all the squares in a grid representing the songs? I'll take a stab at this tonight or tomorrow.

[2016-12-01 07:31] weblancaster commented on #875
@itsWeller yep, that's exactly how I picture.

And yes the playlists can me all visible. For styling we can add some padding-right a bit the list.

Thanks!

[2016-12-01 20:21] valevalorin commented on #530
I personally wanted this feature so I made a fork and finished it:  https://github.com/valevalorin/soundnode-app

But I don't know if there's interest in merging it into the primary repo. If there is I'll put in a PR and we can get a code review going.

[2016-12-01 21:19] weblancaster commented on #530
@valevalorin you need to open a PR and then the team can take a look and test your work.

[2016-12-02 09:36] g0to commented on #910
Any workarounds to fix this issue would be appreciated. Thanks!

[2016-12-03 19:25] Babissimo opened #919 "Uninstallation"
Hello, I have recently lost purpose in keeping Soundnode. I went to uninstall it but there seemed to be no intuitive way. I tried deleting as many files as possible manually but I do not think I have covered them all. Does anyone know what the standard file directories are, or even better, if there is an "uninstall" button? In advance, thank you!

[2016-12-03 20:10] ldexterldesign opened #920 "#Enhancement #Feature #Suggestion As a user, when I shuffle my likes, I want it to shuffle *all* likes not just the initial set of paged items"
Hey,

Thanks for app'

As a user[0], when I shuffle my likes, I want it to shuffle *all* likes not just the initial set of paged items

I read many disparate issues, so took the liberty of pulling them together - much easier to keep track of in one place[1]

If anyone else reading this agrees, then please up-vote or reply "+1"

Please let me know if there's a more suitable place to leave issues?

[2016-12-04 20:05] wb9688 commented on #919
Assuming you're using Windows, it should only leave data in
`%appdata%\..\Local\Soundnode` (or `%appdata%\..\Local\Soundnode-App` for
older versions of Soundnode)…

[2016-12-05 18:28] valevalorin commented on #916
I think having users apply for their own API key is a pretty good solution. It is possible to do, but could require some changes to redirect-sc.herokuapp.com.

One way to do this would be that users are forced to host their own redirect/callback. This is technically possible now if your fork the app and change the authentication code to point to your service instead of the soundnode one, and could

[2016-12-06 15:25] Martan404 commented on #910
Wouldn't this be bypassed if every user could manually input their own Client ID/API key?

[2016-12-06 15:52] Legitgamer264 commented on #910
Go here and look at @web9688 comment https://github.com/Soundnode/soundnode-app/issues/802
He made a version of soundnode that does the fix automatically. Give it a try. Just look through the comments in that thread until you see him and his fix

[2016-12-06 16:27] weblancaster commented on #910
If there is a need for that I can make it easy to any user enter it's own token.

[2016-12-06 16:44] Legitgamer264 commented on #910
I think that's a good idea if you can do that. But finish migrating the core first

[2016-12-07 16:50] The-Unnamed-Engineer commented on #916
I did apply for an API key. it took them 8 days to approve it. I think if they just set it up to rotate maybe 5 API keys we would be able to work with that...

[2016-12-07 18:11] weblancaster commented on #916
Luck you @The-Unnamed-Engineer because they did not approve my new request.

[2016-12-07 19:01] valevalorin commented on #916
Why were you applying for a new key?

[2016-12-07 20:07] weblancaster commented on #916
@valevalorin so I can switch them when one hit the API limit.

[2016-12-10 01:35] JPRuehmann opened #921 "Still no Login"
I´ve just Installed the new Version but The Login is still not working on Ubuntu 16.04.
When will it work*

[2016-12-10 01:37] JPRuehmann opened #922 "No Sound"
On the one Computer I have that Soundnode is working on I get no sound anymore the application want show at the Mixer to. Kubuntu 16.04

[2016-12-10 01:50] JPRuehmann commented on #911
I am having thesame trouble with two of three of my Computers.

[2016-12-11 14:28] HiTechRabbit commented on #922
got the same problem :/

[2016-12-12 06:38] weblancaster opened #923 "Display notification when too many requests (code 429)"
Display notification letting the user know when Soundnode hit the API limit we get a `too many requests` response (code 429).

[2016-12-12 07:18] weblancaster opened #924 "Logout/restart user based on authentication expiration date"
When authenticating to Soundcloud the response also returns the `expire_in`, therefore can be used to logout/restart the user automatically.

[2016-12-12 18:21] dagolinuxoid commented on #775
Hey there! Yeah, having a .deb file would be awesome.  I prophesy it :-)
sudo gdebi soundnode_amd64.deb

[2016-12-12 19:01] weblancaster commented on #775
There is a PR for that https://github.com/Soundnode/soundnode-app/pull/793

can anyone take a look please and check if works for you?

[2016-12-12 19:03] JonasGroeger commented on #775
#793 Has nothing to do with that.

[2016-12-12 19:06] weblancaster commented on #775
haha pardon my ignorance.. not familiar with many Linux terms.

[2016-12-12 20:05] weblancaster commented on #921
@JPRuehmann I have been working on a new core for the application which will make more stable and easy to use. At the moment the linux distro aren't stable. sorry.

You can follow the migration here #894 which is close to finish.

[2016-12-12 20:05] #921 closed

[2016-12-12 20:06] weblancaster commented on #895
closing this issue.. you can follow the migration here #894

[2016-12-12 20:06] #895 closed

[2016-12-12 20:13] weblancaster commented on #888
@Superjo149 yes you can follow the migration to a more stable framework here #894 which is close to finish.

Another option is building from source code for now. Just let me know if you want this route.

Sorry for the wait.

[2016-12-12 20:13] #888 closed

[2016-12-12 20:14] weblancaster commented on #911
the latest version we release for Linux was broken because of a new feat we have added to help users control with media shortcuts and for some reason wasn't built correctly.

Please follow #894 for the next release which come with a bunch of fixes and improvements to the core framework. thanks.

[2016-12-12 20:14] #911 closed

[2016-12-12 20:15] weblancaster commented on #922
To know more about this issue take a look here https://github.com/Soundnode/soundnode-app/issues/910

We have a daily limit of 15 thousand plays and when we hit this number Soundcloud block Soundnode from streaming songs. Sorry.

[2016-12-12 20:15] #922 closed

[2016-12-12 20:15] #919 closed

[2016-12-12 20:59] Legitgamer264 opened #925 "How do I use the source?"
which branch would i pull from to get the latest version, beta wise? I don't mind bugs, I enjoy beta testing. Would I pull/clone the electron-migration branch? I know how to do the rest I just don't know which version to clone.

[2016-12-12 21:06] weblancaster commented on #925
@Legitgamer264 after cloning the repository you can run `git fetch --all` then `git checkout electron-migration` now you should be able to see the "new" code for the migration.

start with `npm i` to install the required modules then you can build to your platform.
`npm run package:osx` for mac, `npm run package:win32` for windows which you need to have wine installed https://www.winehq.org/ and `

[2016-12-12 21:08] Legitgamer264 commented on #925
alrighty. I will be home in an hour and a half. Will give the new update a try

[2016-12-12 21:45] weblancaster commented on #925
@Legitgamer264 No worries and no rush. thanks a lot!

[2016-12-12 21:46] Legitgamer264 commented on #925
@weblancaster you're welcome. If you need anything, just let me know. I would love to help in any way I can

[2016-12-13 00:20] Legitgamer264 commented on #925
@weblancaster about how long should it take to package the app that I got from the source? For win32

[2016-12-13 01:56] Legitgamer264 commented on #925
@weblancaster is there a reason why it takes awhile to package the app using `npm run package:win32`

[2016-12-13 02:04] weblancaster commented on #925
@Legitgamer264 yes, need to compile the code and package everything.. but should take perhaps a 1 min.

[2016-12-13 02:53] Legitgamer264 commented on #925
@weblancaster I just deleted the app and re-cloned it. I did it wrong the first time. Now it packaged much faster

[2016-12-13 03:05] Legitgamer264 commented on #925
I had the previous version, non electron, and I thought just putting electron-migration over that would work. That is why it took so long to package. it was like a 1GB folder

[2016-12-13 03:08] Legitgamer264 opened #926 "This doesn't look right"
Why when I log in after installing and packaging the electron build does the program look like this? http://i.imgur.com/1OzbC46.png

[2016-12-13 03:16] weblancaster commented on #926
@Legitgamer264 you need to run `npm run sass:dev`.

keep this conversation on the migration issue.

[2016-12-13 03:16] #926 closed

[2016-12-13 05:34] wb9688 commented on #925
@weblancaster: With npm 3+ it should be `npm i --legacy-bundling`…

[2016-12-13 08:38] dagolinuxoid commented on #775
JonasGroeger (or anybody) , I would appreciate if you help me install soundnode.
I've launched  ./Soundnode  through terminal - after that I successfully authenticated but no tracks appears whatsoever.
I decided use a curl method as you've mentioned below, here is my input:
[code]
What should I do in order to install this app  properly? Can you grab my hand and walk me  through  the process step b

[2016-12-13 10:07] JonasGroeger commented on #775
@dagolinuxoid Can you give me the output of `cat /varr/lib/apt/lists/packagecloud.io_JonasGroeger_*` ?

[2016-12-13 11:56] dagolinuxoid commented on #775
@JonasGroeger that's pretty huge:
[code]
(packagecloud.io_JonasGroeger_soundnode_elementaryos_dists_freya_)

[2016-12-13 12:13] JonasGroeger commented on #775
@dagolinuxoid I see, you're using elementaryOS. I did not build the package for that yet. Currently I'm waiting for #894 to create a ppa afterwards.

[2016-12-13 12:18] dagolinuxoid commented on #775
@JonasGroeger , thx - it's gonna be cool.

[2016-12-13 20:38] JonasGroeger commented on #846
I added Linux Mint to packaging, see: https://github.com/JonasGroeger/soundnode-app-debian/blob/master/push-deb#L47

[2016-12-13 20:39] JonasGroeger commented on #775
I have done packaging at https://github.com/JonasGroeger/soundnode-app-debian/ The CI builds are at circleci.com/gh/JonasGroeger/soundnode-app-debian/

[2016-12-13 20:39] JonasGroeger commented on #775
This can be closed then?

[2016-12-13 21:22] JonasGroeger commented on #901
Package updated.

Packaging is now done for

    ubuntu/trusty # 14.04 LTS
    ubuntu/xenial # 16.04 LTS
    ubuntu/yakkety # 16.10
    debian/jessie # 8
    elementaryos/jupiter # 0.1
    elementaryos/luna # 0.2
    elementaryos/freya # 0.3
    linuxmint/qiana # 17
    linuxmint/rebecca # 17.1
    linuxmint/rafaela # 17.2
    linuxmint/rosa # 17.3
    linuxmint/sarah # 18

via https://github.com/

[2016-12-13 21:22] JonasGroeger commented on #901
This can be closed then.

[2016-12-13 21:23] JonasGroeger commented on #829
Package updated.

Packaging is now done for

    ubuntu/trusty # 14.04 LTS
    ubuntu/xenial # 16.04 LTS
    ubuntu/yakkety # 16.10
    debian/jessie # 8
    elementaryos/jupiter # 0.1
    elementaryos/luna # 0.2
    elementaryos/freya # 0.3
    linuxmint/qiana # 17
    linuxmint/rebecca # 17.1
    linuxmint/rafaela # 17.2
    linuxmint/rosa # 17.3
    linuxmint/sarah # 18

via https://github.com/

[2016-12-13 21:23] JonasGroeger commented on #829
This can be closed.

[2016-12-13 21:24] JonasGroeger commented on #796
I guess #892

[2016-12-13 21:25] #796 closed

[2016-12-13 21:25] #829 closed

[2016-12-13 21:26] JonasGroeger commented on #638
For Debian, Ubuntu, Elementary and Mint you can use

    curl -s https://packagecloud.io/install/repositories/JonasGroeger/soundnode/script.deb.sh | sudo bash
    sudo apt-get install soundnode

This is automatically updated whenever a new release is available.

[2016-12-14 00:54] Ebrahimandher opened #928 "Install file dont work in Windows, help file, text included from the invalid zip.file."
C: \ Users \ MartinEbrahimEbby \ Desktop \ Sound Node (1) .zip: checksum error in the C: \ Users \ MartinEbrahimEbby \ Desktop \ d3dcompiler_47.dll. The file is corrupted
     C: \ Users \ MartinEbrahimEbby \ Desktop \ Sound Node (1) .zip: checksum error in the C: \ Users \ MartinEbrahimEbby \ Desktop \ icudtl.dat. The file is corrupted
     C: \ Users \ MartinEbrahimEbby \ Desktop \ Sound Node (1

[2016-12-14 02:31] weblancaster commented on #846
thanks @JonasGroeger

[2016-12-14 02:31] #846 closed

[2016-12-14 02:37] weblancaster commented on #928
@Ebrahimandher You don't need to install because its just a executable. just unzip and then open the exe file.

[2016-12-14 02:51] 719Ben commented on #925
I am trying to do `npm run package:osx`  @weblancaster and I get the following:

[code]

and the following in the debug file:

[code]

Any ideas what I am doing wrong?

[2016-12-14 03:01] weblancaster commented on #925
@719Ben this is for the new migration work which isn't in master yet.

To be able to run what you tried you need to checkout to branch `https://github.com/Soundnode/soundnode-app/tree/electron-migration`

[2016-12-14 03:02] 719Ben commented on #925
@weblancaster I am on the electron-migration branch

[2016-12-14 03:38] 719Ben commented on #925
@weblancaster okay I have the app building but can't figure out how to build any of the css/js files. Any ideas? Thanks for all the help!

[2016-12-14 03:49] weblancaster commented on #925
to build the css `npm run sass:dev` to build js `npm run webpack:dev` (note that `webpack:dev` will watch for changes in the jsx files).

If you want to build for development purpose I suggest using `npm run watch` this is going to start the css and js tasks and watch for any changes in them.

[2016-12-14 14:03] dagolinuxoid commented on #775
@JonasGroeger I can't thank you enough! It's absoLuteLy massive!! Soundnode works, has no issues so far and it so damn fast. Kudos ^^

[2016-12-14 14:17] Ebrahimandher commented on #928
No the zip file is corrupted, my mistake so I can't extract brother!

Skickat från min iPhone

[2016-12-14 15:41] weblancaster commented on #928
@Ebrahimandher  Delete what you have and download again from soundnodeapp.com

[2016-12-14 15:42] weblancaster commented on #775
Great work @JonasGroeger thanks a lot.

[2016-12-14 22:07] Ebrahimandher commented on #928
Nope doesn't work!  I'll send you a pic of the zip failure. I've tried 7zip and winrar.

Skickat från min iPhone

[2016-12-14 22:08] Ebrahimandher commented on #928
���� JFIF   H H  ��!XExif  MM *                  V       ^(              �i       f   �   H      H    �     0221�     �     0100�       �      ��      8�                                (                    0       H      H   ����  Z �" ��           
�� �   } !1

[2016-12-14 22:09] Ebrahimandher commented on #928
Can you send me a private non broken zip file  😊?interested in your work. Thnx brah!

Skickat från min iPhone

[2016-12-14 22:45] Pitros commented on #928
@Ebrahimandher you should rather fix issues with your Windows installation or with your internet.

I've just downloaded fresh `.zip` file and it works like a charm.

[2016-12-15 13:32] narc0tiq commented on #442
For Logitech keyboards, I've found that convincing SetPoint to stop touching the media keys fixes it -- [instructions on SuperUser](http://superuser.com/a/888413) (might be a bit techy)

[2016-12-15 13:34] narc0tiq commented on #705
For Logitech keyboards, I've found that convincing SetPoint to stop touching the media keys fixes it -- [instructions on SuperUser](http://superuser.com/a/888413) (might be a bit techy).

[2016-12-15 16:42] weblancaster commented on #442
@narc0tiq thanks for letting us know.

[2016-12-15 16:42] #442 closed

[2016-12-19 02:39] mani-zaeim opened #929 ""Oh no, Something went wrong, I cant play this track""
I am not sure this problem is mine or not, but I can not play anything, and I got the message **"Oh no, Something went wrong, I cant play this track"**, Im running it on _ArchLinux and in console nothing is shown_ and I dont know how can i turn on **the debuge mode**.

[2016-12-19 02:42] Legitgamer264 commented on #929
Did you build it from the source or from the .zip file from the website?

[2016-12-19 02:58] mani-zaeim commented on #929
no, I use the aur (Archlinux repository)
https://aur.archlinux.org/packages/soundnode/
but I can not get any error message on console, even when I run it on console. is there any way to debug this issue ?!

Thanks.

[2016-12-19 03:24] Legitgamer264 commented on #929
If you build it with the source, you can get around the API limit by running a python script and putting the access token and client ID that the script puts out into soundnode. But if you don't build it with the source, then you have to wait until the API limit resets. When we reach the limit of 15K tracks per day then you can't play any more until the API limit resets

[2016-12-19 06:32] weblancaster commented on #929
@mani-zaeim the current version for Linux was released with a bug that was fixed already but we haven't released a new version yet because a bunch of improvement is coming.

[2016-12-19 06:45] mani-zaeim commented on #929
@Legitgamer264 Thanks for your information regarding python script.
@weblancaster thanks for your information and great news on Linux version, that will be really exiting

[2016-12-19 06:47] Legitgamer264 commented on #929
@mani-zaeim Here is the comment with the python script - https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999. Look down a little. Hopefully running this will fix the issue

[2016-12-20 21:58] nearcbw opened #930 "No work, help pls"
I always get this message when I try to play any song "Oh, Something went wrong, I cant play this track" I'm using the Windows 10 PRO, downloaded from the site.

[2016-12-20 22:02] Legitgamer264 commented on #930
That is because we have reached the API limit of 15k tracks per day. You will have to wait until the API Resets. There is a way around that but you have to get the source of the app from github and follow [This Link](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999)

[2016-12-20 22:17] nearcbw commented on #930
ok, thanks

[2016-12-21 00:59] #930 closed

[2016-12-21 01:07] #656 closed

[2016-12-21 01:07] #928 closed

[2016-12-21 01:18] #923 closed

[2016-12-22 19:13] JonasGroeger opened #931 "Remove v5.0.0 tag"
We already have a git tag `5.0.0` and the v prefixed one is the last one thats not in a common format

[2016-12-22 22:07] fluse opened #932 "Timeline"
as a user of your app, i would select a specific time on the track timeline.

![pointing](https://cloud.githubusercontent.com/assets/6527681/21441974/5ae1d3c6-c89b-11e6-9a18-e5f3ec24f297.png)

maybe the height of line can be increase on hover, to get a better experience for selecting ;-)

[2016-12-22 22:12] fluse opened #933 "Track Buttons"
Bring all Buttons to unique size. On high resolution screens is it hard to diff these buttons.

maybe 25x25 must be a good dimension.

<img width="286" alt="screen shot 2016-12-22 at 23 10 36" src="https://cloud.githubusercontent.com/assets/6527681/21442080/ec294eae-c89b-11e6-93ac-8a84a17951b2.png">

[2016-12-22 22:16] fluse opened #934 "Top50 Genre Selection"
Hey Guys,

if i select a genre, there is no select indicator.

I would invert the selected to full white with black font color and set a new headline down the buttons.

Your Top50 list for %genre%

<img width="992" alt="screen shot 2016-12-22 at 23 14 03" src="https://cloud.githubusercontent.com/assets/6527681/21442209/ab782e42-c89c-11e6-8396-1f81690c3ef5.png">

[2016-12-22 22:23] fluse opened #935 "Grid or List View"
as a user of your app, i want to watch my stream in a list view.

![list](https://cloud.githubusercontent.com/assets/6527681/21442315/800a2430-c89d-11e6-9ed4-050084461e29.png)

[2016-12-23 05:29] wb9688 commented on #932
You can already click there, at least on Linux and Windows…

[2016-12-24 00:42] victor-lin commented on #932
Clicking and dragging the playhead works as intended, but clicking anywhere other than the playhead does not let the user jump to that point in the song.
(running macOS)

[2016-12-25 09:19] bglopez commented on #884
I see this issue too. Also building it on Linux appears successful but the dist folder copy is absolutely useless. No errors are shown during the build.

[2016-12-26 21:30] Julien81 opened #936 "Can't play : a different error?"
Hi, I can connect to my soundcloud account using either the login and password on the app or using the user id and token from the python code from wb9688.

In both ways I still can't play any music with the same error as I've read everywhere "something went wrong [...]" so maybe as Legitgamer264 say, there is a problem with the version of electron.
Note: I can't be sure that's a API limit error be

[2016-12-27 03:21] apoliveira commented on #758
Is there any update on this? pop-up still not showing/the app is still stuck on authenticating your account

[2016-12-31 15:40] Arsanios opened #937 "[FEATURE SUGGESTED] Show the repost tracks on the user's profile page"
Hi,
I was looking for an app like this for a long time
It's awesome, but i didn't find the repost tracks on the user's profile page like in the web client.
It's very useful and it will be a good feature, i suggested the app on my friends and they loved it very much but all of them have told me that they can not use it because of this feature.

[2017-01-03 19:30] quasimoju commented on #802
can't open your osx version. just getting the error that it can't open.

[2017-01-05 22:40] weblancaster opened #938 "[Bug] Can't use the progress bar (click/drag)"
This was introduced by migration to Electron.js

[2017-01-06 09:58] tbraz commented on #802
Since the beginning of 2017 that I haven't been able to play anything with the app. Getting the 429 HTTP error.
How come I keep getting above my API daily limit, even when I don't use the app for more than 24h?

[2017-01-06 16:16] weblancaster commented on #802
@tbraz the limit we have is based on all users using the app not individually. unfortunately.

[2017-01-06 16:33] tbraz commented on #802
@weblancaster that makes more sense, but it really is unfortunate, as you said. Anyway, thanks for the feedback. All that is left is to wait for Soundcloud to update their usage policy :(

[2017-01-06 18:17] weblancaster opened #940 "Chat"
I have added the chat channel back to Soundnode.

@jakejarrett @Pitros @Legitgamer264

[![Join the chat at https://gitter.im/Soundnode/soundnode-app](https://badges.gitter.im/Soundnode/soundnode-app.svg)](https://gitter.im/Soundnode/soundnode-app?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2017-01-10 07:58] ronilaukkarinen commented on #296
I don't use apps that don't provide Last.fm scrobbling support and I think for many users it's crucial. Too bad you made this decision, it's just one button/auth or user/password.

[2017-01-10 09:18] wb9688 commented on #296
@ronilaukkarinen: I can implement this, if @weblancaster finds it OK…

[2017-01-10 15:45] weblancaster commented on #296
@wb9688 @ronilaukkarinen if you want to you can implement but I have bigger priorities to work on for Soundnode.

And if you are going to work on it make sure to keep the code clean please. https://github.com/ryanmcdermott/clean-code-javascript

[2017-01-10 15:47] weblancaster commented on #936
@Julien81 are you running from source code? can you get latest from master and run `rm -rf node_modules` then `npm i` then `npm run build` then you can start `npm start`.

[2017-01-10 15:49] weblancaster commented on #884
@cyphunk yes latest version was released with a bug for linux that blocked users from using Soundnode. The latest version on master has a fixed for it but hasn't been released yet (planning to release soon).

[2017-01-10 15:49] #884 closed

[2017-01-10 15:50] weblancaster commented on #932
I have fixed in the latest version and will be released soon.

[2017-01-10 15:50] #932 closed

[2017-01-10 15:52] weblancaster commented on #933
@wb9688 is this something you are interested to work on?

[2017-01-10 19:37] lbru commented on #802
@wb9688's python script worked like a charm for me and it apparently persists between launches. It is probably against SC's TOS, but implementing that in Soundnode would fix the issue.

[2017-01-10 22:29] jacklaag commented on #802
@wb9688 cool ! your fix works :)
Seems like in 2017 Soundnode got a bit too polular for the Client ID limit..

[2017-01-11 15:58] weblancaster commented on #802
@wb9688 can you open a PR for Soundnode that contain that workaround you did please? I want to take a look and maybe start using it.

[2017-01-11 16:29] #915 closed

[2017-01-11 16:29] #910 closed

[2017-01-11 16:30] #858 closed

[2017-01-11 16:31] #803 closed

[2017-01-11 16:45] #938 closed

[2017-01-11 17:11] #892 closed

[2017-01-12 14:07] wb9688 commented on #802
@weblancaster: I'll do that when I've time, but I've to port it to the new Electron version first…

[2017-01-15 02:55] Legitgamer264 commented on #940
Thank you!

[2017-01-15 04:46] Legitgamer264 opened #944 "[Feature Request] Shuffle Playlist put in by default?"
I know there is a pull request for Shuffling Playlist. Is there an idea on when it will be implemented into the app without having to add it in manually? I don't mind doing that, I have done it in the past, but I am wondering when it will be included into the app by default

[2017-01-15 05:04] weblancaster commented on #944
@Legitgamer264 this can be discusses in the PR #917 no need for new issue.

[2017-01-15 05:04] #944 closed

[2017-01-15 16:05] JMccormick264 opened #945 "[Feature Request] Use of Pause/Play, Skip and go back buttons on my Keyboard"
On my keyboard (I am on Windows) I have Pause/Play, Skip and previous keys on the top. Is there any way that those buttons could work with the app? Like to pause I could just press the pause button on my keyboard and to play I just press it again. Same with the skip song and previous song buttons. I would like this feature

[2017-01-15 21:30] weblancaster commented on #945
@Legitgamer264 You should be able to use the media keyboard buttons, but only if you don't have any other software open that uses the media keyboard.

you also need to check if the software you use for your keyboard is supported.

[2017-01-15 21:49] Legitgamer264 commented on #945
@weblancaster I do not have any other media playing apps open that use those keys. It isn't working for me

[2017-01-19 17:31] fozzle commented on #802
@wb9688 clever workaround. I just wanted to mention here for anyone reading that if you don't want to use the modified sound node he provided, the way to use the client ID and access token that you get from that python script is as follows:

1.) Open Soundnode
2.) Open developer tools, go to tab `Resources`, under local storage open `file://`
4.) Add the Access Token under the key `scAccessToken`

[2017-01-20 08:11] 21stio commented on #945
Working fine for me too, I am on a Mac. Guess would be got to know what OS you are using^^

[2017-01-20 08:28] eigenstil commented on #802
@fozzle

How do I open the developer tools?

[2017-01-20 09:21] wb9688 commented on #802
@eigenstil: In the NW.js version of Soundnode, you can press Ctrl+/ to open
the devtools…

[2017-01-20 09:28] eigenstil commented on #802
@wb9688 I have a german keyboard layout, thus I have to press "Shift + 7" to insert a "/". So I tried to type "Ctrl + Shift + 7", but this doesn't work either.

What am I doing wrong?

[2017-01-21 19:15] pendis commented on #802
@fozzle i tried this but when i started up soundnode again everything was blank (buttons and stuff were there but no songs, icons, etc)

[2017-01-21 22:06] themanjotsingh commented on #802
@pendis using the modified version?

[2017-01-21 22:28] themanjotsingh commented on #945
On Windows, for me at least, I can use the keyboard media buttons, while doing something else like browsing the web too.
Don't know if specific drivers or other apps you have might interfere. However, I don't think the Windows 8+ pop-up thing that comes up in the top left corner of the screen is built in. Maybe something to look into, in the future? Or while hovering over Soundnode in the taskbar.

[2017-01-22 08:01] vasumalhotra commented on #802
@themanjotsingh I tried opening the modified version but it won't open

[2017-01-22 08:02] vasumalhotra commented on #802
@pendis I have the exact same issue

[2017-01-22 08:05] wb9688 commented on #802
@vasumalhotra: On what platform? I only tested my modified version on Linux
and Windows, where it works, because I've no macOS, but someone reported to
me that it doesn't work on macOS…

[2017-01-22 08:08] wb9688 commented on #802
@vasumalhotra: Ah, but what do you mean?

[2017-01-22 08:08] vasumalhotra commented on #802
@wb9688 Or do you know what I might be able to do to get Soundnode to play?

[2017-01-22 08:09] vasumalhotra commented on #802
@wb9688 like from icyarrow.com

[2017-01-22 08:11] vasumalhotra commented on #802
@wb9688 honestly I'm really new to programming, so I'm sorry but I'm not really sure, is there anyway you could give me some step-by-steps?

[2017-01-22 08:20] wb9688 commented on #802
@vasumalhotra: Yes:

1. Copy that script into a file called `sc.py` in your user's folder
2. Open a terminal and type in `python sc.py`
3. Type in your username and password
4. Open the regular Soundnode (pre-Electron) and open the devtools with
Ctrl+/ or somewhere in the top menu in macOS
5. Type `localStorage.scAccessToken = ` and paste the access token the
Python script gave you after it
6. Typ

[2017-01-22 08:25] vasumalhotra commented on #802
@wb9688 I'm trying to find the sc.py file but I'm having trouble locating it, should I just do a search through Finder?

[2017-01-22 08:27] wb9688 commented on #802
@vasumalhotra: There's no `sc.py` file, you should make a `sc.py` (plain
text) file, where you should paste in the Python code…

[2017-01-22 08:28] vasumalhotra commented on #802
@wb9688 Oh gotcha

[2017-01-22 20:41] ashlacey commented on #802
Hi @wb9688,

Thanks for the python script; I've tried running it however but it doesn't return any AcessToken or ClientID. This is what I get after entering my username and password into Terminal. Noob to programming as well here! Should I be logged into the site and or have soundnode running whilst doing this?

Traceback (most recent call last):
  File "sc.py", line 11, in <module>
    access_tok

[2017-01-22 20:47] wb9688 commented on #802
@ashlacey: That means one of the following:
1. You've mistyped your username and/or password
2. You don't have password authentication enabled in your SoundCloud account
3. You need to solve a CAPTCHA, which isn't yet supported by my Python
script, so you need to log in at SoundCloud.com, log out, wait a minute and
retry running my Python script
4. There's something wrong at SoundCloud

[2017-01-23 06:00] #901 closed

[2017-01-23 16:33] CenTdemeern1 commented on #900
yeah, by doing CTRL + /

[2017-01-23 18:32] weblancaster commented on #900
@dequeues yes, that was implemented in the current version but not released yet. Trying to fix a couple of things before releasing a new version.

[2017-01-25 05:50] Ajeey commented on #914
@weblancaster Interested to pick this up. Is there an API for renaming or more details please.

[2017-01-27 23:40] Reeftone opened #946 "Something went wrong cant play track :("
I know that this issue has been covered in previous topics but I still can't figure out how to fix it.

I have had this app for a year and about 3 or 4 months ago it started acting up with this error. I haven't been able to use it ever since. I am more of a computer user meaning, I don't understand the technicals on these types of issues.

Im running Sierra 10.12.2
Ive cleaned local storage, delet

[2017-01-28 13:48] SzAmmi commented on #946
A lot of people are facing this problem. Me too. If you try to run SoundNode on another operating system, it won't work too :|

[2017-01-28 13:51] SzAmmi commented on #946
In `about` you can find:
[code]
maybe this is something realted to SoundNode? I don't know.

[2017-01-28 19:23] weblancaster commented on #946
Unfortunately Yes, we have a limit of 15 thousand plays imposed by Soundcloud and people of heavy usage most of days we can't even get pass half of the day before Soundcloud block us.

[2017-01-28 19:23] #946 closed

[2017-01-28 20:16] SzAmmi commented on #946
Anyway, this is a great program.

[2017-01-28 23:53] weblancaster commented on #946
thank you

[2017-01-30 02:05] JMccormick264 commented on #945
I could have sworn on a popsicle that it wasn't working before. Maybe i updated something and it is now working. Its working now @weblancaster can be closed

[2017-01-30 02:05] #945 closed

[2017-01-30 15:08] weblancaster commented on #945
Haha grea @JMccormick264

[2017-01-30 22:34] smith153 commented on #802
Installed soundnode yesterday and it worked. Today it wouldn't play. Used the script trick posted by @wb9688   thanks

[2017-01-31 13:07] luntegg opened #947 "Section "Discover""
https://soundcloud.com/discover

This section doesn't exist in app now.

[2017-01-31 13:11] luntegg opened #948 ""Repost" button"
When I press repost button, the app show me error notification "Oh no", but really in soundcloud the song repost was reposted.

[2017-01-31 13:26] wb9688 commented on #947
This is a duplicate of #797

[2017-01-31 13:30] luntegg commented on #947
Sorry, I've searched but not found.

[2017-01-31 15:43] weblancaster commented on #947
you can comment over there if need anything else @luntegg

[2017-01-31 15:43] #947 closed

[2017-01-31 15:44] weblancaster commented on #948
We are going to investigate this. Thanks for letting us know.

[2017-02-01 08:03] JHelar commented on #802
@eigenstil
You can access the dev tools in v0.6.5, just change your local input language for your keyboard to en-us layout. Then press ctrl + - (the "-" key on a EU layout keyboard corresponds to US's "/" ).

The script solution seems to be working! :)

[2017-02-01 09:06] eigenstil commented on #802
@JHelar @wb9688 you guys are awesome!

[2017-02-01 13:58] jarrz commented on #802
@wb9688 sorry for asking a stupid question but I've been trying to get this fix to work for the past hour, could you tell me how to run that script in windows? I'm not a programmer at all so I have no idea what I'm doing but I did find the developer options. When I put my sc username as ClientID it didn't work anymore and I had to log in again.

[2017-02-01 14:48] eigenstil commented on #802
@jarrz I downloaded and installed the "new" version, that @wb9688 linked in his comment (https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999).

The download link is here: https://wb9688.stackstorage.com/s/7NOaUKaMP9GPXCB

I unzipped this file on my windows and launched the exe-file. After that, everything works like a charm :-)

[2017-02-01 15:13] jarrz commented on #802
@eigenstil thanks, but I tried that and it doesn't authenticate my account, even when I have sc open with my account logged in

[2017-02-01 15:30] eigenstil commented on #802
@jarrz Ok, sorry - I don't have any further knowledge about this.

[2017-02-02 16:02] SzAmmi opened #949 "How to open developer tools?"
`Ctrl + Shift + I` doesn't work. Any tips?

[2017-02-02 16:04] wb9688 commented on #949
It's Ctrl+/ in the nwjs version.

[2017-02-02 16:12] SzAmmi commented on #949
@wb9688 Thanks very much!

[2017-02-02 16:12] #949 closed

[2017-02-02 17:19] alexandrekotob commented on #929
Hello, just discover this app.
Downloaded the app mac from website. Same message when I try to play a song.

[2017-02-02 17:44] weblancaster commented on #949
just fyi @wb9688 it's not nwjs the current master version it's Electron.

[2017-02-02 18:00] wb9688 commented on #949
@weblancaster: I know we're using Electron in the current `master` branch,
but I told him what the shortcut was when we were still using nwjs…

[2017-02-02 21:40] weblancaster commented on #949
got it. thanks.

[2017-02-06 07:02] ryanbr commented on #903
This is helpful if you're using Virtual Audio cables also (so you're got a audio stream seperate to the game stream).

[2017-02-06 07:26] ryanbr opened #950 "Allow more granular volume controls"
Currently it allows only 10 levels of volume, if possible allow more fine volume levels. Even on the lowest, its too loud for background music (without needing to adjust the master volume)

[2017-02-07 05:28] startswithaj commented on #526
Is there currently any way to open a link in soundnode?

[2017-02-07 05:32] weblancaster commented on #526
@startswithaj sorry but no.. you will need to favorite the song on Soundcloud then use on Soundnode or search on Soundnode

[2017-02-07 06:58] MrJozroz commented on #802
@wb9688  Okay, a two issues. I can't seem to login, I must have mistyped my login creds, resulting in it endlessly attempting to authenticate. Deleting the folder and redownloading it still starts it up with the authentication loop. How do I reset it?

@eigenstil @JHelar Regarding accessing devtools, I can't seem to access that keyboard shortcut, even when I change to US keyboard ( "?" and "/" are

[2017-02-07 18:40] eigenstil commented on #802
@MrJozroz on my windows 10 it worked. you have to press the "-" hyphen symbol (on the german keyboard located directly next to the right Shift key):
![skizze](https://cloud.githubusercontent.com/assets/13272281/22705790/378a4858-ed6d-11e6-8d4b-0903eb2e662f.png)

[2017-02-07 18:44] MrJozroz commented on #802
@eigenstil Aha, "Ctrl" rather than "Shift". Gotcha, thanks!

[2017-02-08 10:26] wbolster opened #951 "window/app title is always "unknown""
the window/app title always says "unknown". this is what shows up in the alt-tab switcher, among other places.

![image](https://cloud.githubusercontent.com/assets/748944/22733187/27722db2-edf1-11e6-8b93-bc0da10b54a7.png)

soundnode 0.6.5 on ubuntu 16.04

[2017-02-09 18:12] Chagall commented on #951
Can you post the screenshots of those other places where you experienced this problem? Does the app continue to function properly, I mean it just an aesthetic bug?

[2017-02-09 18:19] Chagall commented on #950
How many levels of volume do you believe would be sufficient?
I am currently using OS X 10.11 and just noticed that the Operating System  implements 16 levels of volume. With that I mean, you can actually roll the native volume up (pic below) 16 times:
![captura de tela 2017-02-09 as 16 15 14](https://cloud.githubusercontent.com/assets/5427155/22796870/4bb50bd4-eee3-11e6-947e-76ee209b029c.png)

I

[2017-02-09 19:27] Chagall commented on #934
With the inverted colors do you mean something like this? In this case, suppose that I have touched the ambient music button in the app.

![group](https://cloud.githubusercontent.com/assets/5427155/22799375/b281b462-eeec-11e6-9165-c8245c3f6a00.png)

Also, I don't know if you noticed, but there is already a headline indicating the Top 50 genre that you selected. It is located above the genre's char

[2017-02-10 15:22] AddaxSoft opened #952 "not hearing any sounds on Win or Mac"
The app stopped working suddenly 2 days ago.
I tried it on my mac and windows, still the same problem.

Is there a log I can post here to trace the problem?

[2017-02-10 17:19] Chagall commented on #951
Thanks for the reply. I will try to reproduce it using Ubuntu 16.04 + Gnome, and see if I can find why it is happening.

[2017-02-11 05:30] weblancaster commented on #936
try using Node version greater than 4, I use version 7.

[2017-02-11 05:30] #936 closed

[2017-02-11 05:54] wb9688 commented on #936
The devtools can be opened with Ctrl+Shift+I in the Electron version iirc.
Btw the Electron version stores the tokens on a different place.

[2017-02-11 07:43] yayoc commented on #952
Same on my side.
Soundcloud API rate limit might cause this issue.
I saw following error message on local environment.

<img width="866" alt="screen shot 2017-02-11 at 16 34 55" src="https://cloud.githubusercontent.com/assets/6383334/22852109/e8c64852-f078-11e6-9423-dd0f0af9a252.png">

[2017-02-11 07:45] wb9688 commented on #952
It's indeed caused by SoundCloud's API rate limit, see #802, where I've
also posted a solution for this…

[2017-02-11 08:26] Zieg commented on #929
It seems like the issue is not with an app itself. This is due to Soundcloud API that has a limit of playing 15K tracks per day.

[2017-02-11 08:47] Zieg opened #953 "[Enhancement] Meaningful error messages when API limit is reached"
It would make a lot of sense if a meaningful error message is shown when the track cannot be played due to reaching the 15K plays API limit.

[2017-02-11 18:36] AddaxSoft opened #954 "not responding to global media controllers"
I have a logitech keyboard with global media controllers. Work with any other player, but not soundnode.
I'm running Windows 10 - latest version of soundnode.

[2017-02-11 20:13] jvtrigueros commented on #891
I'm the author of the Chocolatey package, I'm willing to transfer ownership of the project to the Soundnode organization. The main challenge with creating the Chocolatey package is that I'm pointing to the Soundnode App download url, which does not let me specify a version, so when there's an update on Soundnode the md5 hash breaks the Chocolatey package because it no longer matches.

Right now I

[2017-02-13 01:48] weblancaster commented on #953
I have implemented on the current version not released yet @Zieg

[2017-02-13 01:48] #953 closed

[2017-02-13 17:24] malindamiller commented on #950
is this fixed yet? If not I would like to take it

[2017-02-13 17:56] weblancaster commented on #950
@malindamiller feel free to work on it.

[2017-02-13 18:13] Chagall commented on #950
@malindamiller Since I was planning on doing it, but since this is not explicitly a bug I was waiting for suggestions on the amount of volume levels. Do you believe that 16 sounds like a good amount? Testing a few more apps I noticed that, for example:

**iTunes implements 22 volume levels**
![captura de tela 2017-02-13 as 16 10 40](https://cloud.githubusercontent.com/assets/5427155/22896411/1606e

[2017-02-13 18:45] malindamiller commented on #950
16 seems like a good number to me since it falls in the middle of most implementations

[2017-02-13 18:57] Chagall commented on #950
Cool, let it be 16 then 👍. Feel free to take this issue. :)

[2017-02-13 19:35] Chagall commented on #881
I am working on this now and wanted some opinions. Where **exactly** do you guys think are **good places** to credit them? I tought about 2.

1 - On the about page:
![captura de tela 2017-02-13 as 17 19 19](https://cloud.githubusercontent.com/assets/5427155/22899398/d724e456-f211-11e6-9608-ceaadb304505.png)
2 - Below music name, to the right of the like heart icon:
![group](https://cloud.githubuse

[2017-02-13 20:56] weblancaster commented on #881
@Chagall I think the first screenshot is good.

But the second one I think we can add the link to the title of the track playing.

[2017-02-13 22:27] weblancaster commented on #891
@jvtrigueros is the link the one on the website? does it help if I start adding versions to the download link?

[2017-02-13 23:35] jvtrigueros commented on #891
Yes, the link is from the website: http://www.soundnodeapp.com/downloads/win/Soundnode.zip
Having alternate links for the different versions would help only if it's valuable to download the older versions of Soundnode App.

It will help in that Chocolatey wont break if I haven't updated the md5 checksum, but that's about it.

[2017-02-14 04:24] jvtrigueros commented on #891
Yes, the link is from the website: http://www.soundnodeapp.com/downloads/win/Soundnode.zip
Having alternate links for the different versions would help only if it's valuable to download the older versions of Soundnode App.

It will help in that Chocolatey wont break if I haven't updated the md5 checksum, but that's about it.

[2017-02-14 07:45] jakejarrett commented on #891
Would also help with other package managers (AUR, homebrew etc)

[2017-02-14 15:26] weblancaster commented on #891
Ok then, next release I'm going to add version numbers

[2017-02-15 21:51] weblancaster opened #958 "Build not working for windows"
Unfortunately the current build/packaging isn't working for windows and I'm in need for help.

The problem:
when running `npm run build` all packages are bundled for it's specific platforms (Mac, Win, Linux) but when testing on Win it complains about not having the correct dist 32/64.

[2017-02-18 00:05] #674 closed

[2017-02-18 14:57] Martina-Neumayer commented on #504
@majksner In Mint or Ubuntu you can use this:
http://www.webupd8.org/2016/03/how-to-stream-audio-to-chromecast-or.html
https://github.com/masmu/pulseaudio-dlna
This adds an "system-wide-casting" support to nearly every app in the nstalled OS :)

[2017-02-19 06:07] ryanbr commented on #950
I was using [Audio Router](https://github.com/audiorouterdev/audio-router) for more granular controls, while 16 is nicer. Having pixel-by-pixel change in volume is nice.

[2017-02-20 04:14] elishinsk opened #959 "Add a key shortcut for liking the current song"

[2017-02-20 16:27] weblancaster commented on #959
hey @elishinsk you support that feature. `cmd+h` and/or `ctrl+h` for windows.

Let me know if that works for you.

[2017-02-21 15:17] ce0311 commented on #802
Is there any elegant way to use my own API key without manually generating my access token?
I got my own Soundcloud developer ID, added it to main.js and copied the source code from sc-redirect.herokuapp.com to my own server and changed the client ID and secret there too.

I'm just wondering where I can point the app to my own server instead of sc-redirect.herokuapp.com. Maybe I'm blind?

Is there

[2017-02-21 21:20] elishinsk commented on #959
`cmd+h` is the key command for hide on the mac.

[2017-02-21 21:31] elishinsk opened #960 "Cant play anything"
Mac Book Pro Mid-2015 macOS Siera 10.12. I can open the app, go to songs but, and hit play. The song will show up in the play bar, but it will no play and I can not skip along. If I try to I get an continuous error messages.
![screen shot 2017-02-21 at 4 28 23 pm copy](https://cloud.githubusercontent.com/assets/11395551/23185913/1fa01272-f853-11e6-86a4-603f18a52557.jpg)

[2017-02-21 21:50] davetufts commented on #960
Same thing for me except on a Mid-2015 Air (with Sierra 10.12.3). Just downloaded and installed the app. Can log in but can't play anything. Same error messages as the screenshot above.

[2017-02-22 02:27] weblancaster commented on #802
@ce0311 if you have a API key provided by soundcloud you can change the code use your key and that should do it.

[2017-02-22 02:29] weblancaster commented on #959
well I guess I forgot because I can't find the code but I'm 99% sure we had the like shortcut before I migrate to the new framework.

[2017-02-22 10:17] asessa commented on #960
Opening the developer tools I see an error on soundcloud APIs, looks like this API key reached the limit.

[2017-02-22 10:21] asessa commented on #960
Check #802 for a workaround

[2017-02-22 12:02] asessa commented on #802
If anyone have problems with python, I've ported it to bash:

https://gist.github.com/asessa/ee096da2d46a0eeb7d317ef72c3cf610

requirements: bash/zsh, curl 7.40+
tested on macOS 10.12, Debian Wheezy

[2017-02-22 12:58] ce0311 commented on #802
Any idea why webpack just stopped working for me?

`> Soundnode@0.6.5 webpack:dev /Users/user/GitHub/soundnode-app

/Users/user/GitHub/soundnode-app/webpack.dev.js:29
    new webpack.optimize.OccurenceOrderPlugin(),
    ^

TypeError: webpack.optimize.OccurenceOrderPlugin is not a constructor
    at Object.<anonymous> (/Users/user/GitHub/soundnode-app/webpack.dev.js:29:5)
    at Module._compile (mo

[2017-02-22 13:20] wb9688 commented on #802
@assessa: Your Bash script doesn't do the same thing as my Python script…

[2017-02-22 15:46] elishinsk commented on #960
That solved it.

[2017-02-22 23:06] jakejarrett commented on #802
@ce0311 Which webpack version are you using?

[2017-02-23 13:38] ce0311 commented on #802
@jakejarrett 2.2.1

[2017-02-23 17:43] jakejarrett commented on #802
Webpack 2 requires a new config, try installing webpack 1 for now.
[code]

Or, you can revert to the commit before the dependencies were updated
[code]

[2017-02-23 19:09] ce0311 commented on #802
That fixed it, got the authentication to work now and it plays tracks. Thanks! Some small things are amiss though: No 'quit Soundnode' option in the menu and playing tracks seems to be hit and miss, sometimes with a long delay or failing. Anyone seen this before or any small detail I missed before compiling?

[2017-02-23 21:20] weblancaster commented on #802
@ce0311 the long delay is because I have introduced a check before start playing any tracks, meaning before start playing any tracks request the track endpoint and make sure I can play so that depends on the Soundcloud API response time.

[2017-02-24 03:24] celvice opened #961 "Update Webpack configs"
Version: 0.6.5

I am new to the project, great app! I tried to build the app on dev environment, but it failed.

I noticed you are using Webpack 2.2.1, so you might want to upgrade the following:

- `webpack.optimize.OccurenceOrderPlugin` has been renamed `webpack.optimize.OccurrenceOrderPlugin`
- Get rid of the `''` in configuration.resolve.extensions[0].

It should work after making these change

[2017-02-24 15:46] weblancaster commented on #961
@celvice actually that was a mistake I think got updated with the latest PR and I did not noticed the Webpack was upgraded. I'm going to revert back. Thank you for letting me know.

[2017-02-25 21:10] digital-discuss opened #962 "uploads"
Are there any plans for automatic uploads?

[2017-02-27 08:56] ce0311 commented on #802
@weblancaster Ah, gotcha. If you load long mixes (1h+) it sometimes takes up to 20 seconds depending on your connection. Scrubbing works great now but not sure if it's worth the tradeoff when quickly flicking through the stream to check out new tracks.

[2017-02-27 13:10] justinkruit opened #963 "Showing liked playlists"
Hey,

Amazing program, let's get that out first. It works amazing.
I only got one small request, and that is an ability to show my liked playlists. I got 4 liked playlists, and 2 I made myself, but it it's only showing the 2 I made, and not the other 4. Which is a shame, because I actually prefer listening to those instead of my own. 😛

[2017-02-27 15:54] weblancaster commented on #963
@justinkruit Not sure if this is the case but very often some playlists/tracks can't be streamable to third party apps.

[2017-02-27 15:55] weblancaster commented on #802
@ce0311 yes a tradeoff, if anyone have a better idea how we can implement this check without blocking the player would be great.

[2017-03-02 07:27] pushpoth opened #964 "[Bug] Playback control buttons are small could use larger click areas"
Playback Controls - play, pause, repeat, shuffle etc. are very small, and could use a larger click area to be able to click them easily. It seems like for each button/icon a small portion is not clickable and nothing happens till you click on the lower portion of the button:

![soundnode - buttons too small](https://cloud.githubusercontent.com/assets/808045/23497034/54a70944-ff47-11e6-9bdc-72f636f

[2017-03-02 07:39] pushpoth opened #965 "[Bug] Hard to move the Mac App Window around"
Difficult to move the App Window around - possibly when the window is at its minimum most size:

![soundnode - hard to move window](https://cloud.githubusercontent.com/assets/808045/23497383/ce5a8ed6-ff48-11e6-841f-b4399ec3dc58.gif)

Sometimes *it is possible to click anywhere on the App Title Bar* to drag the window around* but not always - not sure when this gets activated. But it is possible to

[2017-03-02 07:44] pushpoth commented on #544
+1 on this.
![soundnode - dismissing settings menu](https://cloud.githubusercontent.com/assets/808045/23497632/1b2c61b6-ff4a-11e6-84df-618e762b1650.gif)

[2017-03-02 14:14] pushpoth opened #966 "[Bug] Can't get back to App once it is closed"
In the Mac App - the App can be closed (using the red close button on the title bar) and it would still play in the background (nicely so). But **once it is closed, there is no way to bring it back till I quit and reopen the app**.

<img width="576" alt="screen shot 2017-03-02 at 7 32 27 pm" src="https://cloud.githubusercontent.com/assets/808045/23510452/adce3744-ff7f-11e6-83e0-3281126e021e.png">

[2017-03-03 12:16] luckydays commented on #802
Hey guys, anybody has the same issue with the @wb9688 wonderful 'Soundnode-WBAuth' app?
I've got this thing rolling all the time and the app doesn't start:
![](https://d1ro8r1rbfn3jf.cloudfront.net/ms_120395/GqiOmmQdFralKmjJjptF573LqdtBf5/Soundnode%2B2017-03-03%2B13.14.45.png?Expires=1488629741&Signature=TtouN74lW3PUBh96UvII8qoWfbe36NeQ7NUJ~s7pxDExBGaBQeMTmjPyo8VjJn-3Vs1ZLKS-fatMdajgibp~~qhhz8SBhy

[2017-03-03 13:29] wb9688 commented on #802
@luckydays: What OS are you using? I've only tested it on Linux (Debian
Unstable) and Windows (10). Also try removing ~/.config/Soundnode-WBAuth
(Linux) or %appdata%/Soundnode-WBAuth iirc (Windows).

[2017-03-03 13:56] luckydays commented on #802
Hi @wb9688

Thanks for coming back so quick!
I'm on Windows 10.
So, I've deleted the 'Soundnode-WBAuth' folder from '%appdata%/Local' path.
Started the app again → it asked for login and password anew → after filling the fields the app doesn't load still.

Could you suggest something else?

And this issue started just from yesterday.

Thanks!

[2017-03-03 14:10] wb9688 commented on #802
@luckydays: Are you sure username/password authentication (and not only
Facebook or Google authentication) is enabled in your SoundCloud? If so,
are you sure you've typed your username and password correctly? If so, does
your username or password contain any weird characters? If not, does it
work when you log in with email address instead of username? If not, does
my Python script work?

[2017-03-03 15:12] luckydays commented on #802
@wb9688

Sure. I've never connected neither Facebook nor Google account authentication. Only email.

Yep. Tried multiple times.

No. Regular letter and digits, without special characters.

Actually I'm trying to login exactly with my account's email. Also tried now with the username - didn't work as well.

I hope it does. How could one check it?
(sorry, I'm not familiar with Python).

[2017-03-03 15:28] wb9688 commented on #802
@luckydays: Weird…
1. Install Python 2 (not 3!)
2. Copy-paste the script into a plain text file with .py as extension
3. Open your Terminal (or Command Prompt on Windows) and type `python
path/to/script.py`
4. Type your username and password
5. Remember the Client ID and the Access Token it prints
6. Open a normal (nw.js, not Electron) Soundnode and press Ctrl+/
7. In the console, type `localStora

[2017-03-03 15:55] luckydays commented on #802
@wb9688 Could you please clarify couple things from the list?

2. You mean [this script](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999), right?
3. I've typed the path to the Python27 folder and nothing happened.
6. Could you clarify this, please? Where could I find the normal 'nw.js' file?

[2017-03-03 16:35] wb9688 commented on #802
@luckydays:
1. Yep.
2. Type `python ` and then the path to the Python script you've saved
somewhere, for example `python C:\Users\wb9688\sc.py`.
3. I mean just the regular Soundnode, downloaded from soundnodeapp.com.
Recently Soundnode migrated from nw.js to Electron, but I haven't looked
into the new Electron version of Soundnode yet, so you need the old nw.js
version of Soundnode.

[2017-03-03 17:00] luckydays commented on #802
@wb9688

After typing 'python ...' I've got such an error:

[code]

[2017-03-03 17:06] wb9688 commented on #802
@luckydays: Did you copy it fully? It says you haven't copied at least the
`import re` line…

[2017-03-03 17:18] luckydays commented on #802
@wb9688 Yes, you're right. In the above case I've deleted first 4 lines (with 'import' in the line's start) because I got another kind of error:

[code]

and exactly this one appears now, after I've fully pasted [your python code from here](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999).

P.S.: thanks a lot for your help and assist with this thing!

[2017-03-03 17:22] wb9688 commented on #802
@luckydays: Oh, you also have to install Requests with `pip install
requests`.

[2017-03-03 17:30] luckydays commented on #802
@wb9688 OK, yeah 'requests' installation helped 😄
After running 'python C:\Users\ ... script.py' I've got this one:

[code]

And on this step you told to "Remember the Client ID and the Access Token it prints" - but have no idea where to find it now.

[2017-03-03 17:46] wb9688 commented on #802
@luckydays: Something is going wrong, remove the lines starting with
`print`, replace `access_token =` with `print` and remove
`['session']['access_token']` at the end of that line, then post it's
output.

[2017-03-03 17:52] luckydays commented on #802
The output after these actions is:

[code]

[2017-03-03 18:00] wb9688 commented on #802
@luckydays: You forgot to remove the `=`.

[2017-03-03 18:02] luckydays commented on #802
@wb9688 Oops. Sorry for that.

OK, so this time it asked again for the login and password.
After entering those I've got

[code]

[2017-03-03 18:13] wb9688 commented on #802
@luckydays: A CAPTCHA is required, but my script doesn't support that yet.
All you can do is log in on SoundCloud.com and try again with the original
version of my script. If it still doesn't work, you should wait a hour or
so. Btw if you're using a VPN/proxy/whatever, you should disable it, since
SoundCloud requires a CAPTCHA when it thinks you're suspicious.

[2017-03-07 23:19] luckydays commented on #802
@wb9688 And is there any other way how one could get client ID and access token - to put them through the original app developer tools'?

[2017-03-08 18:59] Schrammel opened #967 "[Bug] Not open in Ubuntu 14.04.05"
Ubuntu info:
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

The application crash when i try authentication....

see image...
![soundnode](https://cloud.githubusercontent.com/assets/5888609/23718628/fa64387e-0416-11e7-8dab-208bcf62e02e.png)

[2017-03-08 20:57] weblancaster commented on #967
@Schrammel the last released version is broken on Linux, I need to release a new version which fix the issue. Sorry.

[2017-03-08 20:57] #967 closed

[2017-03-09 13:41] luckydays commented on #802
@wb9688 Suddenly your Soundnode WB app started to work again 😉

[2017-03-09 13:48] Kaizerus commented on #923
I have the same problem and need a fix _**

**_

[2017-03-09 13:49] Kaizerus commented on #923
Is there a way to get rid of it and play the music? Cause i can't play any music

[2017-03-09 14:08] Kaizerus commented on #802
Idk what's wrong, I don't code, I'm just on github for the fun stuff, and I'm going to start coding soon, maybe a 1-2 years, or possibly less, all I get is **_Failed to load resource: the server responded with a status of 429_** (Unknown) is there a fix for this? Cause I can't play any music **_AT ALL_**, every track I click, the console shows that as an answer.

[2017-03-09 18:15] weblancaster commented on #923
@Kaizerus there is no way to bypass the rate limit because Soundcloud blocks us from streaming any song.

[2017-03-10 01:32] Schrammel commented on #967
In Ubuntu 16 is working

[2017-03-14 03:33] manjusr81 commented on #802
I downloaded your linux64 package.   But how do u install it.   I too have the same problem

[2017-03-14 03:34] manjusr81 commented on #802
I am using ubuntu 16.04

[2017-03-14 07:22] reganlawton commented on #966
@pushpoth does the window return if you hit the icon in the menu dock on the bottom of your screen?

[2017-03-14 08:33] pushpoth commented on #966
@reganlawton, Yup, you are right.
The window does return when you click the Dock icon.
That's on me - didn't think of that bit. Thanks!

I guess I was used to bringing App Windows back using a Menu Item or Key Shortcut.
Like for iTunes:
<img width="700" alt="itunes - window shortcut" src="https://cloud.githubusercontent.com/assets/808045/23892007/e723deb6-08be-11e7-9e0c-f1992d1cb50c.png">

Would b

[2017-03-14 10:03] reganlawton commented on #966
@pushpoth This is a known bug in Electron and the issue begins in `main.js` with the below code.

[code]

A workaround is to use the following code

[code]

This would de-focus the window while keeping it active in the background. Personally, it's not the cleanest solution and your idea of a shortcut to re-open would be ideal. A shoutcut would be possible using the below code.

[code]

[2017-03-14 10:24] pushpoth commented on #966
@reganlawton, appreciate the detailed response mate!
But I've not ventured into working under the hood of the App just yet - _infant developer_ here.
I wanted to contribute to testing and design aspects - just love the app very much! 😍

I hope the information you provided helps someone else pick this up and solve it!
Thanks a lot!
Cheers!

[2017-03-15 17:41] JMccormick264 opened #970 "Open dev console Windows?"
I for the life of my can't figure out the button combo to get the dev console up for Windows. I tried Ctrl + /. That won't work. Any help?

[2017-03-16 15:52] avoidik opened #971 "HTTP error 429 out of the box"
Unable to use SoundnodeApp out of the box. Here is short how-to to run it:
https://gist.github.com/avoidik/cf4d82411ee603768b8abe31e0939050

[2017-03-18 04:33] weblancaster commented on #970
are you building from master or the old version released? if the new version on master you need to use the same you use chrome on windows `F12, Ctrl + Shift + I`

If the old version released `ctrl + /` should work otherwise it's a bug/missing feat.

[2017-03-18 04:34] weblancaster commented on #971
@avoidik please follow on #802 since it's related. thanks.

[2017-03-18 04:34] #971 closed

[2017-03-18 18:14] JMccormick264 commented on #970
thank you! ```Ctrl + Shift + I``` worked

[2017-03-19 00:46] #970 closed

[2017-03-19 00:46] JMccormick264 opened #972 ""The version manager is depracted" message when running npm run package:win32"
Image here - https://puu.sh/uPgXf/9da7a078be.png

[2017-03-20 09:10] Shehab-Muhammad commented on #910
I have the same issue for ubuntu 14.04
this the first to use the application !!!!

[2017-03-20 18:19] safiyat commented on #923
@weblancaster Could we not add a support for people to use their own client IDs and client secret? I am not sure how it'll work (or if at all it will work), but can't it be done?

[2017-03-20 18:31] safiyat commented on #923
@weblancaster Please ignore. Just saw [#802](https://github.com/Soundnode/soundnode-app/issues/802). :)

[2017-03-21 15:33] Raster02 commented on #854
I would love to see the Stations feature implemented as well, as this is the most used feature of Soundcloud for me.

Unfortunately, as far as I can see, there is no support in their API for this function :(.

[2017-03-21 18:54] weblancaster commented on #910
If you have problems playing and you are not on Linux please follow #802

Otherwise be aware that the current version is broken for linux, we need to release the current master version which fixes the issue on linux.

[2017-03-22 15:03] merksam commented on #802
Hello guys, your app is awesome, but I have an error from **Failed to load resource: the server responded with a status of 429 (Unknown)** too :(

[2017-03-24 00:44] weblancaster commented on #972
Hey @JMccormick264 thanks for letting me know but seems like just . Closing this issue but let me know if this is actually blocking anything you trying to do.

[2017-03-24 00:44] #972 closed

[2017-03-24 00:45] weblancaster commented on #802
@merksam we have a limit of 15k plays imposed by Soundcloud, for that reason you weren't able to stream tracks.

[2017-03-25 08:55] ALoGeNo commented on #802
Hello all, I'm using the "new" version, that @wb9688 linked in his comment #802, I can login perfectly now, I can add favorites, add to playlist, also sharing and copy the song link, but I cant repost any song, I'm getting an "Oh no, something went wrong!" when I click on repost.

Thanks to all for this great software, Cheers!.

[2017-03-27 03:29] jvtrigueros commented on #958
I don't know if this is still an issue on your end, but I was able to build the application without an issue. I cloned from the current [master](https://github.com/Soundnode/soundnode-app/commit/c634435c1589fba12f362c27eca05ada3b158d4b). I'm building on Windows 10, Node 7.5.0. This is the output log:
[code]

I was able to run `Soundnode.exe`, but I wasn't able to confirm that the player was workin

[2017-03-29 15:33] mcast-ns opened #973 "Can't play anything (audio)"
When I hit any record to be played, it is showed at the bottom bar and the play/stop button changes, but it never plays the song!!!

I've a Mac mid 2015, MBPro 15

[2017-03-29 15:43] Poltergeist commented on #973
It probably has to do with this:

[2017-03-29 15:52] wb9688 commented on #973
This is yet another duplicate of #802, where I've posted a temporary
solution.

[2017-03-29 17:47] #973 closed

[2017-03-29 18:58] ninja85a commented on #802
hey ive got the latest version and im getting the same issues everyone else is getting ive tried what other people at the start have tried to fix it but it doest work any ideas?

[2017-03-29 19:30] wb9688 commented on #802
@ninja85a: Have you read my post? It contains a Python script you can use
to get a token without rate limit and a link to a modified version of
Soundnode that does that automatically. It's just a temporary workaround
until I've time to work further on it.

[2017-03-29 20:02] ninja85a commented on #802
@wb9688 ah sorry didnt see so where do i put the python file in the folder with the program?

[2017-03-29 20:07] wb9688 commented on #802
@ninja85a: For instructions on using my manual workaround, read eg. my
comment starting with "uckydays: Weird…".

[2017-03-29 20:10] ninja85a commented on #802
@wb9688 well ive installed python 2 but when i do python in the cmd it doesnt work it says 'python' is not recognized as an internal or external command,
operable program or batch file.

[2017-03-29 20:13] wb9688 commented on #802
@ninja85a: Then Python isn't in your path, so you could:
1. Add Python to your path
2. Type the full path to Python

[2017-03-29 20:48] ninja85a commented on #802
@wb9688 huh ive followed a guide on how to add it to the path and its already added

[2017-03-29 20:51] wb9688 commented on #802
@ninja85a: That's weird. Then try my second option, eg. typing something
like `C:\Python27\python.exe C:\path\to\script.py` on Windows.

[2017-03-29 20:52] ninja85a commented on #802
okay that got it sort of working this is the error i got
Traceback (most recent call last):
  File "C:\Users\ninja\Downloads\Soundnode\soundcloud.py", line 4, in <module>
    import requests
ImportError: No module named requests

[2017-03-29 20:56] wb9688 commented on #802
@ninja85a: Then you haven't installed the `requests` Python package.
There's probably some `pip.exe` in your Python folder, which could be used
to install it, by running `C:\path\to\pip.exe install requests`.

[2017-03-29 21:00] ninja85a commented on #802
@wb9688 nice got it working now hopefully all the other bits will work cheers

[2017-03-29 21:03] ninja85a commented on #802
@wb9688 it worked!!! cheers 😃

[2017-03-29 22:41] iYatsumi opened #974 "Nothing plays"
i used soundnode before and it was working great so i decided to install it on my laptop, but whenever i try to play a track it doesn't do anything, i have verify that my internet is on but that wasn't the issue.

[2017-03-29 22:44] iYatsumi commented on #974
similar to the top comment problem with the track here
https://www.youtube.com/watch?v=yvZdH6w5l58

[2017-03-30 04:35] wb9688 commented on #974
This is yet another duplicate of #802.

@weblancaster: Can we do anything against duplicate issues?

[2017-03-30 14:49] ninja85a opened #975 "pinning to taskbar screws the icon up"
![image](https://cloud.githubusercontent.com/assets/5495664/24510204/758d2326-1560-11e7-871f-1b1066ddcca9.png)
its not a massive issue just a bit annoying.

[2017-03-30 20:26] weblancaster commented on #974
@wb9688 we close duplicates and continue the discussion on the original issue, that's it.

[2017-03-30 20:26] #974 closed

[2017-03-31 04:24] killianbrackey commented on #916
Is the source for the heroku app available anywhere for those that would want to self host or work on an implementation of one of these proposed solutions?  I would definitely be willing to put some time into that, if at the very least to have a longer playing time for myself, but definitely for the community as well.

[2017-04-01 15:14] RedHope opened #976 "[Bug] Ctrl + Click opens a new window on click."
Version: Latest master (04/01/2017)
Downloaded from: Github.com
OS: Windows 7 64bits

How to reproduce:
 - Open Soundnode App
 - Hold Ctrl and click on any link.

Expected:
 - The click event is  ignored.
Actual result:
 - A new window is opened.
 - Closing the new window, closes all the open windows.

![ctrlbug](https://cloud.githubusercontent.com/assets/1368491/24579881/c063f438-16c3-11e7-883b-3

[2017-04-01 15:23] RedHope commented on #958
I was able to build on the latest master. Node v7.8.0 .

[2017-04-02 08:06] geherx opened #978 "Help me please"
http://i.imgur.com/0xzXWVB.png
Log
http://i.imgur.com/dXDUrlp.png

[2017-04-04 18:03] weblancaster commented on #958
Must be my VM then, After building the package and trying on the VM I wasn't able to open the `exe`, I'm going to give it another try this week and let you guys know.

thanks a lot @RedHope and @jvtrigueros

[2017-04-04 18:05] weblancaster commented on #978
@geherx We are having issues with the current Linux release. Although I have fixed the issue but haven't release a new version. Planning to do it this week.

[2017-04-04 19:36] Suburbanno opened #979 "ETA for new release?"

[2017-04-05 17:24] weblancaster commented on #979
@Suburbanno give me by the end of this week (this Sunday).

[2017-04-05 17:24] #979 closed

[2017-04-06 14:38] geherx commented on #978
Thanks

[2017-04-07 23:05] weblancaster commented on #976
this was fixed by #977

[2017-04-07 23:05] #976 closed

[2017-04-07 23:06] #960 closed

[2017-04-07 23:06] weblancaster commented on #929
this is a duplicated of #802

[2017-04-07 23:06] #929 closed

[2017-04-07 23:09] weblancaster commented on #802
I have made the oauth open for those that have the Soundcloud `id` and `secret` so now you are able to host yourself and not have problems with limit reached. https://github.com/Soundnode/sc-oauth

[2017-04-07 23:10] weblancaster commented on #916
@killianbrackey it's open now. https://github.com/Soundnode/sc-oauth

follow #802 to continue this conversation.

[2017-04-07 23:10] #916 closed

[2017-04-07 23:14] RedHope commented on #975
I can't reproduce this on Windows 10.

[2017-04-10 13:19] ninja85a commented on #975
werid

[2017-04-11 01:09] RedHope commented on #959
Is it OK if I pick this up? Also, what is the preferred shortcut? I was thinking `Ctrl + L` on Windows/Linux and `cmd + L` on mac ?

[2017-04-11 03:47] elishinsk commented on #959
I think thats a good choice

[2017-04-11 04:35] wb9688 commented on #959
@weblancaster: I think we had Ctrl+H…

[2017-04-11 19:06] elishinsk commented on #959
Is that not less intuitive?

[2017-04-12 18:00] weblancaster commented on #959
@RedHope Yes, and I believe `cmd/ctrl + L` is a good start.

[2017-04-14 21:33] kkarimi commented on #978
+1

[2017-04-15 17:30] oLDsPICEchmp opened #980 "Can Play Any Song"
Hello I recently found out , about sound node I download the app and I run it. Then I login and try to play any song but nothing comes out. I get the " Something went wrong. I can't play this track".
I looked at recent problems and did the developer thingy and I found this.
![5c7c0230d29ca1d4e3b0a152c6f33042](https://cloud.githubusercontent.com/assets/27571766/25065525/851de0ce-21df-11e7-910b-8adc

[2017-04-16 00:32] weblancaster commented on #980
@oLDsPICEchmp we have a 15k limit to play songs.. please follow #802 for more info.

[2017-04-16 00:32] #980 closed

[2017-04-18 22:04] thomasbnt commented on #910
too bad, for me also it does not want to read.

[2017-04-19 15:54] pitylee opened #981 "Idea"
Just an idea. Why won't you register multiple application's on Soundcloud and have an array of api keys?
Like 5 applications, if 1st api key reaches limit, than uses the second?
I know it's not nice, but this may be a workaround :1st_place_medal:

[2017-04-19 15:56] pitylee commented on #981
Or maybe add the ability to define our own api key in the settings, and we request api key, save on our profile, not locally, and we can use that on every device where Own API is enabled?

[2017-04-19 16:14] weblancaster commented on #981
Hey @pitylee thank you for sharing your ideas.. we have discussed both option in #802

1. I tried applying for more API keys but Soundcloud denied.
2. I have released the [soundnode backend](https://github.com/Soundnode/sc-oauth) where anyone can add it's own API key.

[2017-04-19 16:14] #981 closed

[2017-04-20 08:00] piotryordanov commented on #802
@wb9688 Your solution works perfectly for me. Wondering why that isn't in the Readme somewhere! :)

[2017-04-20 09:43] franciscorichter opened #982 "Tracks does not start on ubuntu 16.04"
I just installed the app on my desk computer with ubuntu 16.04. Everything goes well, but when I press play the sound does not start at all. If I try to forward it I got a small message saying that something went wrong. It happens with all songs.

[2017-04-20 10:16] wb9688 commented on #982
This is yet another duplicate of #802, where I've also posted a temporary
solution.

[2017-04-20 13:03] pitylee commented on #981
Okay, I see, well I cloned the repo, and tried it but cant npm run. Where do I clone, and how do I run?

[2017-04-20 18:05] matiaslabra commented on #802
@wb9688 thanks!! it worked like a charm

[2017-04-20 20:48] Suburbanno commented on #979
@weblancaster long time...

[2017-04-20 23:30] vladisnik commented on #978
I confirm the issue. Nothing when app started. Only the initial interface of the application.
Elementary 0.4 Loki.

[code]

[2017-04-20 23:55] weblancaster commented on #979
@Suburbanno I know :disappointed: I have been very busy to take the time for my side projects.

[2017-04-22 17:40] RedHope commented on #959
@elishinsk @weblancaster Sorry, just got around to working on this. Apparently this feature is already supported using `ctrl + l` on windows and `command  +l` on macs. The description is `Heart track`. I only tested it on Windows, let me know if it doesn't work on Mac's and I'll test it out.

[2017-04-22 17:49] elishinsk commented on #959
It does not work on Mac, just tested it.

[2017-04-23 14:40] AbramsM1A2 commented on #978
Same problem in linux mint, with version 0.6.5.

[2017-04-24 13:33] TuXbOy06 opened #983 "soundnode not working on Archlinux x64"
Hello,

After installing soundnode music search is not working...
We can search for a music but when clicking on the music to listen nothing happen...

Can you help please...

[2017-04-24 13:37] pereyrdi commented on #830
Same problem here!
I just download last version and same issue occurs. (Mint 18.1 Xfce 64bits.)

[2017-04-24 16:20] weblancaster commented on #830
@nickjbyrne @pereyrdi this was fixed around jan/feb but I haven't released a new version yet since. I just need to make time to build a pre-realese test it and then release to the users.

[2017-04-24 16:21] #982 closed

[2017-04-24 16:23] weblancaster commented on #981
@pitylee take a look in the `package.json` file and you will see the available tasks. For more info take a look here https://github.com/Soundnode/soundnode-app/wiki/Development#running-and-debugging.

[2017-04-24 16:27] wb9688 commented on #830
@weblancaster: AFAIK there was never a problem, at least not when I built
it on my machine, but there was a problem with the official builds.

[2017-04-24 16:28] weblancaster commented on #978
Take a look at my comment above @AbramsM1A2 @vladisnik

[2017-04-26 17:23] AbramsM1A2 commented on #978
@weblancaster Yeah i saw the comment,i hoping a new build soon :)

[2017-04-27 13:12] TuXbOy06 commented on #978
yep waiting to for this famous build... @weblancaster said that he fixed the issue 23 days ago

[2017-04-28 15:48] RedHope commented on #983
#802 ?

[2017-04-28 20:32] TuXbOy06 commented on #983
Hello,

Nothing to do with this issue...

[2017-04-28 21:13] pwittchen commented on #983
The same issue happens on Ubuntu 16.04 with Gnome. I cannot play any song.

[2017-04-29 11:14] jakejarrett commented on #830
@weblancaster @wb9688 The issue was that the mpris module can't be built out of the box on windows/mac osx (Making linux a hard dependency for building with mpris support).

Ideally, a Javascript only solution would be better ([referenced here](https://github.com/Soundnode/soundnode-app/issues/830#issuecomment-240360653)) but these have to be fixed in [node-dbus](https://github.com/sidorares/node-

[2017-05-01 19:20] KSXGitHub opened #984 "Use electron-builder instead of electron-packager"
[electron-builder](https://github.com/electron-userland/electron-builder#electron-builder---) provides many distribution formats.

[2017-05-04 08:35] jcvangent commented on #797
Any update on the progress?

Yesterday SoundCloud released a similar new function as well:

https://blog.soundcloud.com/2017/05/03/introducing-upload-new-soundcloud-selected/

Any plans on adding this one too?

[2017-05-09 13:27] Skaifer commented on #802
Hello! Is it working on windows 10? Just when I try to use it nothing happen, only after rewind it throws that error.
![screenshot_1](https://cloud.githubusercontent.com/assets/28566054/25852865/77608c14-34d3-11e7-9cc7-582ca7a50e9a.png)

[2017-05-09 14:20] rodrigoblz1 commented on #802
@wb9688 great, it's working for me, just two things I had to deal with:
1. (OS X Sierra) Permission to the .app after have moved it to the Applications Folder. (It was giving me an error message)
2. I mistyped my password so I had to go to resources > local storage and delete it, otherwise it was giving me some 'undefined token' error on console and never authenticating.

[2017-05-09 14:56] TuXbOy06 commented on #983
Is this project still alive?

[2017-05-09 18:17] weblancaster commented on #802
@Skaifer you are probably facing the same issue majority of us do.. Hitting the rate limit Soundclooud imposes in third party apps.

To by pass that you can use what @wb9688 mentioned here or ask soundcloud to [register a new](https://developers.soundcloud.com/docs/api/guide) third party app and you can use the key in Soundnode.

[2017-05-09 22:22] Skaifer commented on #802
@weblancaster Thank you for response! Can't guess what takes it to register an app a month. Maybe I'll try out python script later then. Why there is nothing mentioned on homepage? In terms of temporary issue or what? Maybe then there will be less idiots like me making the same question over and over. =)

[2017-05-11 15:33] ramonsmits opened #985 "Tracks often not shown when navigating to a channel"
![image](https://cloud.githubusercontent.com/assets/152998/25958001/de22ef26-366f-11e7-8a1e-3b81bbf98bf4.png)

[2017-05-11 15:33] ramonsmits opened #986 "Back/forward buttons on mouse not working"

[2017-05-11 15:57] wb9688 commented on #985
That's most likely because they aren't streamable.

[2017-05-15 15:35] weblancaster commented on #983
@TuXbOy06 Yes but not actively maintained anymore since Soundcloud hasn't removed the rate limit and users went down from 5k daily to 1k (or less some days).

I also need to try find space for this project but my other projects are more high priority at the moment so it's always in the bottom of the list.

My apologies. I will try finding time this week to do a new release because there is a lot o

[2017-05-15 15:35] #983 closed

[2017-05-15 15:38] weblancaster commented on #986
Correct @ramonsmits that was a choice I did at the beginning (years ago) to avoid problems with different devices that people use, But if you are willing to contribute and build that we appreciate.

Thanks.

[2017-05-15 15:39] weblancaster commented on #985
Correct @wb9688, a lot of tracks are "hidden" because Soundcloud don't allow them to be streamed.

[2017-05-15 15:39] #985 closed

[2017-05-15 15:42] weblancaster commented on #802
@Skaifer they just don't want to register apps anymore, only a handful.

I do need to add to the homepage in the website but we do have included in the homepage on Github.

`be aware...` section

![screen shot 2017-05-15 at 8 40 12 am](https://cloud.githubusercontent.com/assets/549394/26065967/5346d542-394a-11e7-970c-67017cbc1a21.png)

[2017-05-15 20:41] weblancaster commented on #984
Nice! I will give it a try @KSXGitHub

Thanks for the suggestion

[2017-05-16 06:36] Skaifer commented on #802
@weblancaster Ok, thanks.

[2017-05-19 12:54] usersxm commented on #802
Not a single song is being played. I don't know why, I log in (using google authentication) press play on any song, the notification is displayed "you're playing xxx" but no sound and no controls over the track, to sum up songs are not being played.

[2017-05-19 20:42] weblancaster commented on #802
@usersxm just read two comments above (or this entire tread) and you will understand why that is happening to you.

[2017-05-19 22:22] usersxm commented on #802
@weblancaster I've read that but I thought that it was another issue, because if it was an API problem I thought that there might be a warning notification of limit reached

[2017-05-23 05:21] otisscott opened #987 "Rate Limiting (Error 429)"
I just downloaded you program for windows and it is refusing to play anymusic. I have some experience with the SoundCloud API, and when I checked the dev tools console I noticed that it was throwing a 429 rate limit error. Is there any way to fix that or am I SOL?

Edit: If there isn't a global fix, I do have my own API key, I just want to know how I can replace yours with mine?

[2017-05-23 05:23] wb9688 commented on #987
This is yet another duplicate of #802, where I've posted a solution.

[2017-05-23 05:50] otisscott commented on #987
Where is the actual answer to the issue in that cluster f*ck and am I going to have to compile the project myself?

[2017-05-23 06:24] wb9688 commented on #987
https://github.com/soundnode/soundnode-app/issues/802#issuecomment-261705999

[2017-05-25 18:02] #987 closed

[2017-05-25 18:10] weblancaster commented on #987
@otisscott there is no concrete solution so far, people has explored different ways.

Solution 1: Request Soundcloud a key so you can host https://github.com/Soundnode/sc-oauth and use your own `id` and `secret`
Solution 2: try using soundcloud `id` and `secret` with @wb9688 suggestion in #802

[2017-05-25 18:10] #986 closed

[2017-05-25 19:49] Nixontira commented on #802
@weblancaster

hey !
I just read this and im trying to make this work but I have no clue how.. I downloaded the stuff from GitHub, but what do I have to do with those files? I tried to run the Procfile but then terminal gives me an error. Im using the newest Sierra version

[2017-05-26 07:22] acrox999 opened #989 "JavaScript Error when login without ROOT permissions"
The following error is produced when trying to login:

[code]

The best way to avoid this is probably by making Soundnode saves the config file in the user's `$HOME` directory.

---

**How to reproduce:**
1. Install the app from AUR (soundnode-git)
2. Run the app
3. Login

**How to work around this issue:**
1. Run the app as root

---

OS: `Arch Linux x86_64 (Kernel version: 4.11.2)`
Soundnode ver

[2017-05-26 08:15] wb9688 commented on #989
Does it work after you've done `sudo chmod a+r /opt/soundnode-git`? If so,
it's the fault of the maintainer of that AUR package and you should contact
him.

[2017-05-26 09:46] acrox999 commented on #989
I will try that. Thanks.

It seems that the maintainer has bailed out since npm is too heavy for his
computer to handle.

If your suggestion works, I will update the package myself.

On May 26, 2017 16:15, "wb9688" <notifications@github.com> wrote:

[2017-06-03 19:45] Recydywa commented on #978
So when can we expect a new release. The last one 0.6.5 was almost a year ago.

[2017-06-05 13:48] gregtshea commented on #963
Another similar suggestion, is there any way to see a user's likes? If I search a fellow users account, there account comes up as an artist account, and I am unable to see their likes the way I can on the website

[2017-06-05 21:00] DJDomni opened #990 "SoundCloud Go"
So I've used SoundNode previously but with the addition of SoundCloud go I haven't used it since some tracks are not visible

[2017-06-05 21:58] jakejarrett commented on #989
The problem is that the config file for soundnode is in a folder you don't have write permissions to, Will try & fix this by ensuring *nix systems use the proper config folders (`$HOME/.config/soundnode/` or `$XDG_CONFIG_HOME/soundnode` on linux systems)

[2017-06-06 02:21] kfroemming commented on #937
Could you give some more detail on what this feature would entail and what functionality would come with it? A sample from www.soundcloud.com would be cool.

[2017-06-06 03:03] kfroemming commented on #914
@Ajeey I believe there is in their docs. Playlists can take a title, its valid for post calls.

[2017-06-06 16:07] weblancaster commented on #990
@DJDomni Some tracks has been blocked by Soundcloud before Go because a lot of people has copyrights on them and that way soundcloud don't stream them but only directly on Soundcloud.

[2017-06-06 16:07] #990 closed

[2017-06-06 16:10] weblancaster commented on #914
@Ajeey Feel free to work on this issue.

[2017-06-07 09:28] felixfong227 opened #992 "CSS Broken"
Once I sign in with my email and password, the app redirect me to the homepage, but then the CSS look very broken

OS: OSX 10.11.6 (15G31)
App version: 0.6.5

![image](https://user-images.githubusercontent.com/13918481/26871706-ac4b8336-4ba6-11e7-90ce-ffcc36f8b696.png)

[2017-06-07 14:15] Pitros commented on #992
Since you're running from repo, you need to compile sass first. Run:
[code]

[2017-06-07 15:00] felixfong227 commented on #992
Oh ya, silly me :P
Thanks @Pitros

[2017-06-07 15:00] #992 closed

[2017-06-07 19:13] fulldecent opened #993 "Mac: Please sign your app"
I don't run unsigned apps.

![screen shot 2017-06-07 at 3 13 14 pm](https://user-images.githubusercontent.com/382183/26896734-d6c2443c-4b93-11e7-90c8-99a503c4ef0c.png)

[2017-06-09 16:41] Skaifer commented on #802
Well, they have gave me the key. But where to enter it? - Windows 10

[2017-06-10 05:59] genevera commented on #447
I use My Cloud Player on my phone solely because its sort/filter/search features are out of this world.  SoundNode is a much more solid piece of software and if it had those features from MCP, it would be the best.

[2017-06-15 21:36] weblancaster commented on #802
@Nixontira you will need to run the server somewhere where you can have a constant domain.

I have added a quick guide on how to do. https://github.com/Soundnode/sc-oauth/blob/master/README.md

[2017-06-15 21:38] weblancaster commented on #802
@usersxm I have added a notification but haven't shipped yet. sorry.

[2017-06-17 01:11] JMccormick264 opened #995 "Upgrade Electron version?"
Are there any plans to update Electron for the app? I keep seeing "using electron 1.4.4
I am not a dev so I am not up to date on the requirements and work needed to use upgrade packages, etc. But I was just curious if there will be a update for Soundnode that uses the updated Electron

[2017-06-17 07:42] weblancaster commented on #995
@JMccormick264 yes we should be able to update to latest when it's available.

Not sure what's up with `1.4.4` but we should be using the latest at the moment https://github.com/Soundnode/soundnode-app/blob/master/package.json#L35

[2017-06-17 21:32] JMccormick264 commented on #995
not sure. but I get this in cmd when building http://i.imgur.com/ietLX6A.png 1.4.4

[2017-06-17 22:22] chrismessina commented on #802
@weblancaster I wonder if it'd make sense to follow the model of [Spotificious](https://github.com/citelao/Spotify-for-Alfred), a Spotify controller for Spotify built for Alfred. It [runs a local PHP server](http://ben.stolovitz.com/Spotify-for-Alfred/download/) in which you inject your Spotify developer token to get around the rate limiting problem.

It just seems like folks are going to continue

[2017-06-18 12:51] swiftty opened #996 "Mac app doesn't play"
I tested it on 2 different mac computers. None of them was able to play anything. Not sure why. There's no error, no notification. It just doesn't start

[2017-06-18 13:17] wb9688 commented on #996
If you open the Console (Ctrl+/ in the old nw.js app), does it tell you
something about the rate limit? If so, this is a duplicate of #802, where
I've also posted a temporarily solution.

[2017-06-18 13:49] swiftty commented on #996
It says :

https://api.soundcloud.com/tracks/321408456/stream?client_id=342b8a7af638944906dcdb46f9d56d98
Failed to load resource: the server responded with a status of 429 (Unknown)

[2017-06-18 13:52] wb9688 commented on #996
OK, then this issue is a duplicate of #802, where I've posted a temporarily
solution. Btw you shouldn't share that client ID, since it'd allow anyone
to access your SoundCloud account.

[2017-06-21 00:21] ExileEditing opened #997 "cant play any tracks."
http://prntscr.com/fm7vvy
cant play any tracks. I just downloaded this

[2017-06-22 05:11] MightyRufo commented on #997
I second this and I just found out about it today.

[2017-06-22 05:13] wb9688 commented on #997
This is yet another duplicate of #802, which is also the place where I've
posted a temporarily solution.

[2017-06-22 06:10] #997 closed

[2017-06-22 06:10] #996 closed

[2017-06-22 07:17] MightyRufo commented on #997
Why is the main download link not updated with the fix?

[2017-06-22 07:32] weblancaster commented on #997
@MightyRufo You can look all the away in the bottom of #802 that I explain one of the ways around it. Another way is running @wb9688 script.

[2017-06-22 08:20] wb9688 commented on #997
@MightyRoof: Because it isn't an official build. When I've time to
correctly fix it, I'll contribute some changes and a new official build
will be released.

---

@weblancaster: Couldn't you add a comment template stating something like
the following?

Please check if your issue is already reported. If you can't play tracks,
please take a look at #802.

---

@weblancaster: Since I've no experience

[2017-06-26 09:25] trendma commented on #978
I am having the same issue on arch x64. App looks nice and i would really like to give it a try!

[2017-06-27 18:26] weblancaster commented on #802
@chrismessina correct, I have made https://github.com/Soundnode/sc-oauth available so people with more experience in development can run locally, But Soundcloud API requires to register under a domain.

[2017-06-27 19:07] ryanckulp opened #998 "Proposed fix for removing 15k daily play limit"
why not allow users to provide their own Soundcloud API keys, to bypass your master keys' 15,000 play limit?

i have several soundcloud API credentials that aren't being used.

for that matter, why not let users contribute to a shared 'pool' of keys so that the net effective daily limit is higher?

[2017-06-27 19:09] wb9688 commented on #802
@weblancaster: Could you please respond to my questions in #997? Thanks!

[2017-06-28 19:07] dblythy opened #999 "How to avoid the 15K play limit"
I am a developer and I have run into problems with soundcloud in the past. I came to soundnode to see how the API limits were dealt with here, however I realised the same issues occur.

I worked around the API limits by using the embed SoundCloud player. Here's what I did in my application:

I created an embed player with the URL requested to be played. Set the player to hidden, and used my own me

[2017-06-29 21:27] weblancaster commented on #802
@wb9688 I don't see a question there.

[2017-06-30 05:44] wb9688 commented on #802
@weblancaster: Aren't those questions?

the following?

please take a look at #802.

explain (or link to) how I can add a page (for logging in)?

[2017-06-30 06:44] pjf commented on #802
Process I used for getting this working under the new electron app:

1. Clone the git repo and change into the directory.
1. `npm i` (to install dependencies)
1. `npm start` to run soundnode. This will create the config file you'll need to edit.
1. Exit Soundnode.
1. Use @wb9688's [excellent code](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999).
1. Edit the `app/publi

[2017-06-30 08:22] pjf opened #1000 "[Feature Suggestion] 🚫 - Don't play song again option"
Many thanks for an *amazing* soundcloud player! I've only been using soundnode for a few hours, and it's been phenomenal!

I follow some great artists on soundcloud, but some of their reposts are not quite my style. I don't want to turn off reposts entirely, but I would *love* a "don't play this song again" option.

The way I envision this would be:

- An extra 🚫 icon under each song (along with l

[2017-07-01 13:01] jakejarrett commented on #802
@weblancaster It looks like the question is minimised by github (The `...` at the bottom of the comment)

[2017-07-02 07:30] Starima commented on #802
@pjf May I ask if you'd be so kind and explain this in a way more suitable for some guy with no actual clue like me? I'm trying to fix this since 1h and I don't make any kind of progress. It's pretty frustrating..
Thanks in advance. :/

[2017-07-04 11:05] sesn commented on #993
1. - Go to System Preferences > Security & Privacy.
2. - Go to general tab.
3. - Go to option 'Allow apps downloaded from' - select 'Anywhere'

<img width="666" alt="soundnode-install-issue" src="https://user-images.githubusercontent.com/1553701/27827795-b04d5212-60d6-11e7-9823-281d9d6dc72a.png">

[2017-07-05 02:22] weblancaster commented on #1000
@pjf Thanks for the feedback. I believe this is a good feat to have but at the moment I'm not putting much time on Soundnode since Soundcloud has a limit of use for the API which is blocking people from using.

I'm fixing bugs only nowadays, but let's keep this here and maybe if Soundcloud removes the limit I will come back and work on it or even better someone else wants to contribute.

[2017-07-05 02:28] weblancaster commented on #999
@dblythy thanks a lot for this feedback.. this is definitely going to be helpful and I will take a look with more detail.

[2017-07-05 02:31] weblancaster commented on #802
Everyone take a look at this issue and maybe we can have a solution soon #999.

[2017-07-05 02:32] weblancaster commented on #998
@ryanckulp I have made the Soundnode authentication service open for anyone with API keys to be able to use. https://github.com/Soundnode/sc-oauth

[2017-07-05 16:48] dblythy commented on #999
@weblancaster only thing is, as soundcloud use multiple resolve steps to get the stream_url, it takes longer to load than the native api. But still beats nothing.

[2017-07-05 20:42] #779 closed

[2017-07-05 20:44] weblancaster commented on #310
Maybe this will happen some day but closing the issue since got lost in the history.

[2017-07-05 20:44] #310 closed

[2017-07-05 22:15] fulldecent commented on #993
Please note, the new macOS does not have this option:

![screen shot 2017-07-05 at 6 14 31 pm](https://user-images.githubusercontent.com/382183/27887265-d8fad50e-61ad-11e7-956a-d690903f8da1.png)

[2017-07-10 21:28] weblancaster commented on #993
@fulldecent my Mac display the same screen like yours but I also have another button on the right bottom saying "open anyway" so I believe you don't have administrator rights to your mac.

[2017-07-11 00:50] tunnckoCore commented on #999
I'm curious why is 15k? Don't you login the user? Why not user their rate limits? Sorry but I'm not familiar with the SoundCloud limits and didn't look the code here.

[2017-07-14 04:43] GNUGradyn opened #1001 "Client starts, can sign in, nothing else"
I can sign into the client, and the client starts successfully, but thats as far as the use of this client goes. Nothing will appear in the big main pane in the middle. Clicking on buttons will navigate thru menus and such, but searching and doing anything in the big box in the middle is impossible. I am on arch linux, let me know if you need any info about my OS stack
![image](https://user-images

[2017-07-14 13:26] weblancaster commented on #1001
@GNUGradyn unfortunately there is a bug in the current Linux release the fix is in master but I haven't released yet.

[2017-07-18 08:26] SghaierFiras opened #1002 "Something went WRONG ! can't play tracks :("
Since I've installed Soundnode on my PC, it didn't play any track for me and always shows that red alert for me saying that something went wrong and it can(t play the track, and that is for all tracks.
I'm using Ubuntu 16.04 !

![screenshot from 2017-07-18 09-21-08](https://user-images.githubusercontent.com/16582284/28307522-15a853ea-6b9b-11e7-9c27-0aa0be362ef5.png)

[2017-07-18 17:51] wb9688 commented on #1002
This is yet another duplicate of #802. You can also find my temporary
solution there.

[2017-07-19 11:28] brodycas3 opened #1003 "Soundcloud API limit"
Is there no way for me to get my own API key and use it on SoundNode so I don't have to use the web version?

[2017-07-19 21:07] weblancaster commented on #1002
Besides the info @wb9688 gave, past release of Soundnode was released with a bug that is now fixed but not released yet.

[2017-07-19 21:07] #1002 closed

[2017-07-19 21:08] #1001 closed

[2017-07-19 21:44] weblancaster commented on #989
#991 was merged with that we can close this issue.

[2017-07-19 21:44] #989 closed

[2017-07-20 06:55] Sinan81 opened #1005 "not hearing any sounds on Linux (Mint) although it appears like the song is playing"
* not hearing any sounds on Linux (Mint) although it appears like the song is playing
* system:
  Linux Mint 18 Sarah, Mate desktop, 64 bit

[2017-07-20 16:22] weblancaster commented on #1005
@Sinan81 sorry but the last release for linux distro contain a bug. I'm testing the new release and will be available end of this week or so.

[2017-07-20 16:22] #1005 closed

[2017-07-25 07:47] RecNes opened #1006 "linux mint Serena package problem."
@JonasGroeger

[code]
I think this information is enough to explain the problem. Please contact with me if you have any further questions.

[2017-07-28 09:04] anthu commented on #993
use the context menu to open the App for the first time (right click -> open)

[2017-07-28 17:42] terorie opened #1007 "X11 forwarding causes log spamming."
"~/.config/lxsession/LXDE/run.log" spammed until disk full.

Version: Release 0.6.5-1 from your Ubuntu repo.
X11 Server: Ubuntu Server 16.04.2 with LXDE. (SoundNode installed here)
X11 Client: (Don't know if that even matters) XQuartz/macOS 10.12.

How to (probably) reproduce (I can't right now)
 - Launch SoundNode over SSH X11 Tunnel
 - Try to close SoundNode
 - Wait

Line in log file:
[29927:010

[2017-08-06 21:35] terorie commented on #1007
Couldn't reproduce.

[2017-08-06 21:35] #1007 closed

[2017-08-14 13:25] MathieuDebit commented on #999
What about allowing each user to enter his own Soundcloud API key? I know it doesn't sound like a good long-term idea, but for techy users or with a good tutorial, I guess it could do the trick for now

[2017-08-25 10:42] z-impi commented on #846
For Linux-Mint 18.2 Sonya:

nano /etc/apt/sources.list.d/JonasGroeger_soundnode.list

deb https://packagecloud.io/JonasGroeger/soundnode/ubuntu/ xenial main
deb-src https://packagecloud.io/JonasGroeger/soundnode/ubuntu/ xenial main

or

sudo echo "deb https://packagecloud.io/JonasGroeger/soundnode/ubuntu/ xenial main" > /etc/apt/sources.list.d/JonasGroeger_soundnode.list && echo "deb-src https://p

[2017-08-27 00:41] hasuki commented on #791
@JonasGroeger i have a trouble: "E: unable to locate package Soundnode"
please help!

[2017-08-27 21:07] jakejarrett commented on #791
@hasuki What linux distro & version are you running?

Also, can you try running `sudo apt update && sudo apt install soundnode` and paste the output?

[2017-09-02 21:34] Hunteerq opened #1008 "Can't install on Elementary 0.4.1 Loki"
Hey, I wanted to install Soundnode on my ElementaryOS but I just encountered error with running this script:
[code]
Console says that my system might not be supported. Also i downloaded Linux(64bit) zip from the Soundnode website, but I have no idea how to install it.

[2017-09-03 17:07] joguiva182 commented on #775
@JonasGroeger can you please help me to install a soundnode?! i already tried the quick install and doesnt worked with me, showing the follow message that means like E: unable to locate package soundnode. Ps: sorry about my english, i do my best typing here.. hello from brazil!!

sudo apt-get install soundnode
Lendo listas de pacotes... Pronto
Construindo árvore de dependências
Lendo informação de

[2017-09-09 12:16] fidellr opened #1009 "after installing, can't play song in windows"
after installing it wont play my liked song or searched songs, and some alert popup said "Oh no, something went wrong, i'cant play this track" in windows os

[2017-09-09 23:49] Zekken01 opened #1011 "api limit"
Is SoundNode just forever on the API limit? Every time I try it seems to never work.

[2017-09-11 15:16] wb9688 commented on #1011
See [here](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999) for a temporary workaround.

[2017-09-11 15:17] wb9688 commented on #1009
This is yet another duplicate of #802. See [here](https://github.com/Soundnode/soundnode-app/issues/802#issuecomment-261705999) for a temporary workaround.

[2017-09-11 16:32] brodycas3 commented on #1011
OMG, This is amazing. Why has no one added this to master yet?